@w480: ~"only screen and (min-width: 480px)";
@w768: ~"only screen and (min-width: 768px)";
@w992: ~"only screen and (min-width: 992px)";
@w1200: ~"only screen and (min-width: 1200px)";
//@w1400: ~"only screen and (min-width: 1400px)";
//@w1600: ~"only screen and (min-width: 1600px)";