@charset "UTF-8";
@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url("https://autosale.market/fonts/PTSans/PTSans-Bold.eot");
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("https://autosale.market/fonts/PTSans/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("https://autosale.market/fonts/PTSans/PTSans-Bold.woff") format("woff"), url("https://autosale.market/fonts/PTSans/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url("https://autosale.market/fonts/PTSans/PTSans-Italic.eot");
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("https://autosale.market/fonts/PTSans/PTSans-Italic.eot?#iefix") format("embedded-opentype"), url("https://autosale.market/fonts/PTSans/PTSans-Italic.woff") format("woff"), url("https://autosale.market/fonts/PTSans/PTSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url("https://autosale.market/fonts/PTSans/PTSans-Regular.eot");
  src: local("PT Sans"), local("PTSans-Regular"), url("https://autosale.market/fonts/PTSans/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("https://autosale.market/fonts/PTSans/PTSans-Regular.woff") format("woff"), url("https://autosale.market/fonts/PTSans/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url("https://autosale.market/fonts/PTSans/PTSans-BoldItalic.eot");
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url("https://autosale.market/fonts/PTSans/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://autosale.market/fonts/PTSans/PTSans-BoldItalic.woff") format("woff"), url("https://autosale.market/fonts/PTSans/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  src: url("https://autosale.market/fonts/Font Awesome 5/fa-brands-400.eot");
  src: url("https://autosale.market/fonts/Font Awesome 5/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://autosale.market/fonts/Font Awesome 5/fa-brands-400.woff2") format("woff2"), url("https://autosale.market/fonts/Font Awesome 5/fa-brands-400.ttf") format("truetype"), url("https://autosale.market/fonts/Font Awesome 5/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  src: url("https://autosale.market/fonts/Font Awesome 5/fa-light-300.eot");
  src: url("https://autosale.market/fonts/Font Awesome 5/fa-light-300.eot?#iefix") format("embedded-opentype"), url("https://autosale.market/fonts/Font Awesome 5/fa-light-300.woff2") format("woff2"), url("https://autosale.market/fonts/Font Awesome 5/fa-light-300.woff") format("woff"), url("https://autosale.market/fonts/Font Awesome 5/fa-light-300.ttf") format("truetype"), url("https://autosale.market/fonts/Font Awesome 5/fa-light-300.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  src: url("https://autosale.market/fonts/Font Awesome 5/fa-regular-400.eot");
  src: url("https://autosale.market/fonts/Font Awesome 5/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("https://autosale.market/fonts/Font Awesome 5/fa-regular-400.woff2") format("woff2"), url("https://autosale.market/fonts/Font Awesome 5/fa-regular-400.woff") format("woff"), url("https://autosale.market/fonts/Font Awesome 5/fa-regular-400.ttf") format("truetype"), url("https://autosale.market/fonts/Font Awesome 5/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  src: url("https://autosale.market/fonts/Font Awesome 5/fa-solid-900.eot");
  src: url("https://autosale.market/fonts/Font Awesome 5/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://autosale.market/fonts/Font Awesome 5/fa-solid-900.woff2") format("woff2"), url("https://autosale.market/fonts/Font Awesome 5/fa-solid-900.woff") format("woff"), url("https://autosale.market/fonts/Font Awesome 5/fa-solid-900.ttf") format("truetype"), url("https://autosale.market/fonts/Font Awesome 5/fa-solid-900.svg#fontawesome") format("svg");
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.fal {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.far {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

.fa, .fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.float-alert {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  padding: 15px;
  position: relative;
  max-width: 100%;
  font-size: 14px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px 0 #cfcfcf;
          box-shadow: 0 0 30px 0 #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: auto;
}

@media only screen and (min-width: 480px) {
  .float-alert {
    max-width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .float-alert {
    padding: 30px;
    font-size: 16px;
    line-height: 1.3em;
    max-width: 600px;
  }
}

.float-alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.float-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.float-alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.float-alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.float-alert__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}

.float-alert__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.float-alert__close {
  cursor: pointer;
  margin-left: 15px;
}

@media only screen and (min-width: 768px) {
  .float-alert__close {
    margin-top: -15px;
    margin-right: -15px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #F5F5F5;
  font-family: "PT Sans", serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  cursor: pointer;
}

input, textarea, button, select, label {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 962px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.m-t {
  margin-top: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-t {
    margin-top: 30px;
  }
}

.m-b {
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-b {
    margin-bottom: 30px;
  }
}

.m-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.m-lr {
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-lr {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.m-full {
  margin: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-full {
    margin: 30px;
  }
}

.p-t {
  padding-top: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-t {
    padding-top: 30px;
  }
}

.p-b {
  padding-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-b {
    padding-bottom: 30px;
  }
}

.p-tb {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-tb {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.p-lr {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-lr {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.p-full {
  padding: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-full {
    padding: 30px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  padding: 7px 18px;
  text-transform: uppercase;
  border-radius: 30px;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.btn-container {
  text-align: center;
}

.btn-container.flex-column {
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-container.left {
  text-align: left;
}

.btn-bordered {
  border: 1px solid;
  padding: 6px 18px;
}

.btn-gradient.btn-red {
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3C1B), to(#af3015));
  background: -webkit-linear-gradient(top, #DC3C1B, #af3015);
  background: -o-linear-gradient(top, #DC3C1B, #af3015);
  background: linear-gradient(to bottom, #DC3C1B, #af3015);
  color: #FFFFFF;
}

.btn-gradient.btn-red:hover, .btn-gradient.btn-red:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3C1B), to(#af3015));
  background: -webkit-linear-gradient(top, #DC3C1B, #af3015);
  background: -o-linear-gradient(top, #DC3C1B, #af3015);
  background: linear-gradient(to bottom, #DC3C1B, #af3015);
}

.btn-gradient.btn-green {
  background: -webkit-gradient(linear, left top, left bottom, from(#44BD32), to(#359527));
  background: -webkit-linear-gradient(top, #44BD32, #359527);
  background: -o-linear-gradient(top, #44BD32, #359527);
  background: linear-gradient(to bottom, #44BD32, #359527);
  color: #FFFFFF;
}

.btn-gradient.btn-green:hover, .btn-gradient.btn-green:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#44BD32), to(#359527));
  background: -webkit-linear-gradient(top, #44BD32, #359527);
  background: -o-linear-gradient(top, #44BD32, #359527);
  background: linear-gradient(to bottom, #44BD32, #359527);
}

.btn-red {
  color: #DC3C1B;
}

.btn-red:hover, .btn-red:focus {
  background: #DC3C1B;
  color: #FFFFFF;
}

.btn-green {
  color: #44BD32;
}

.btn-green:hover, .btn-green:focus {
  background: #44BD32;
  color: #FFFFFF;
}

.btn-blue {
  color: #3C5598;
}

.btn-blue:hover, .btn-blue:focus {
  background: #3C5598;
  color: #FFFFFF;
}

.mm {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -360px;
  bottom: 0;
  width: 320px;
  background: #FFFFFF;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

@media only screen and (min-width: 768px) {
  .mm {
    display: none;
  }
}

.mm.active {
  left: 0;
}

.mm__container {
  padding: 15px;
  height: 100%;
  overflow-y: scroll;
}

.mm__container::-webkit-scrollbar {
  width: 5px;
}

.mm__container::-webkit-scrollbar-track {
  background: #F5F5F5;
}

.mm__container::-webkit-scrollbar-thumb {
  background: #C2C2C2;
}

.mm__container::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

.mm__header {
  border-bottom: 1px solid #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.mm__logo {
  height: 60px;
}

.mm__logo img {
  max-height: 100%;
}

.mm__close {
  color: #3C5598;
  font-size: 22px;
}

.mm__close:hover, .mm__close:focus {
  color: #DC3C1B;
}

.mm__auth-lang {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mm__languages {
  margin-left: -10px;
}

.mm__auth a {
  color: #3C5598;
}

.mm__auth a:hover, .mm__auth a:focus {
  color: #DC3C1B;
}

.mm__auth i {
  margin-left: 5px;
  color: #DC3C1B;
}

.mm__cart {
  text-align: center;
  margin: 15px;
}

.mm__search .header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mm__search .header__search input {
  width: 100%;
}

.mm__menu {
  text-align: center;
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #F5F5F5;
}

.mm__menu a {
  display: block;
  text-transform: uppercase;
  color: #DC3C1B;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.mm__menu a:last-child {
  margin-bottom: 0;
}

.mm__contacts {
  text-align: center;
}

.mm__contacts .header__socials {
  margin-top: 15px;
}

.header {
  background: #FFFFFF;
}

@media only screen and (min-width: 992px) {
  .header {
    padding-bottom: 15px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo {
  height: 60px;
  margin: 15px 0;
}

@media only screen and (min-width: 992px) {
  .header__logo {
    height: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__logo {
    height: 100px;
    width: 262.5px;
    margin: 25px 0;
    text-align: center;
  }
}

.header__logo img {
  max-height: 100%;
}

.header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px;
  text-align: right;
}

@media only screen and (min-width: 600px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .header__content {
    margin-right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .header__content {
    margin-left: 30px;
  }
}

.header__contacts {
  display: none;
}

@media only screen and (min-width: 600px) {
  .header__contacts {
    display: block;
    text-align: center;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .header__contacts {
    margin-right: 0;
  }
}

.header__phone {
  font-weight: 700;
  font-size: 16px;
}

@media only screen and (min-width: 992px) {
  .header__phone {
    font-size: 22px;
  }
}

.header__phone i {
  color: #DC3C1B;
  margin-right: 10px;
}

.header__phone a {
  color: #3C5598;
}

.header__socials {
  margin-top: 5px;
  font-size: 14px;
}

@media only screen and (min-width: 992px) {
  .header__socials {
    font-size: 18px;
    margin-top: 15px;
  }
}

.header__socials a {
  display: inline-block;
  margin: 0 5px;
  color: #44BD32;
}

.header__socials a:hover, .header__socials a:focus {
  color: #3C5598;
}

.header__search {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15px;
  }
}

@media only screen and (min-width: 992px) {
  .header__search {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__search {
    margin: 0 45px;
  }
}

.header__search label {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__search input {
  border: 1px solid #C2C2C2;
  border-radius: 50px;
  width: 190px;
  padding: 6px 30px 6px 18px;
}

@media only screen and (min-width: 992px) {
  .header__search input {
    width: 100%;
    padding: 10px 30px 10px 18px;
  }
}

.header__search button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: 3px solid #3C5598;
  border-radius: 50%;
  margin-left: -24px;
  background: #FFFFFF;
  color: #DC3C1B;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

@media only screen and (min-width: 992px) {
  .header__search button {
    width: 50px;
    height: 50px;
    border-width: 5px;
    font-size: 16px;
  }
}

.header__search button:hover, .header__search button:focus {
  color: #3C5598;
}

.header__links-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__links-top--auth {
  display: none;
}

@media only screen and (min-width: 400px) {
  .header__links-top--auth {
    display: block;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .header__links-top--auth {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__links-top--auth {
    margin-left: 30px;
  }
}

.header__links-top--auth a {
  color: #3C5598;
}

.header__links-top--auth a:hover, .header__links-top--auth a:focus {
  color: #DC3C1B;
}

.header__links-top--auth i {
  margin-left: 5px;
  color: #DC3C1B;
}

.header__links-bottom {
  display: none;
}

@media only screen and (min-width: 480px) {
  .header__links-bottom {
    display: block;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .header__links-bottom {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__links-bottom {
    margin-top: 15px;
  }
}

.header__links-cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links-cart--summary {
  display: inline-block;
  background: #DC3C1B;
  color: #FFFFFF;
  padding: 2px 8px 2px 16px;
  border-radius: 0 10px 10px 0;
}

.header__links-cart--icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 3px solid #DC3C1B;
  border-radius: 50%;
  color: #DC3C1B;
  margin-right: -16px;
  position: relative;
}

.header__links-cart--counter {
  margin-left: 8px;
  background: #DC3C1B;
  color: #FFFFFF;
  padding: 2px 6px;
  border-radius: 8px;
  position: relative;
}

.header__links-cart--counter:before {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -4px;
  content: '';
  border: 4px solid transparent;
  border-right: 4px solid #DC3C1B;
}

.header__hamburger {
  font-size: 24px;
  color: #3C5598;
}

@media only screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.footer {
  background: #FFFFFF;
}

.footer__content {
  text-align: center;
  padding: 15px 0;
}

@media only screen and (min-width: 768px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 992px) {
  .footer__content {
    padding: 30px 0;
  }
}

@media only screen and (min-width: 480px) {
  .footer__menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .footer__menus {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .footer__menus {
    margin-right: 60px;
  }
}

.footer__menu {
  margin-bottom: 10px;
}

.footer__menu-title {
  color: #3C5598;
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (min-width: 480px) {
  .footer__menu-title {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .footer__menu-title {
    font-size: 22px;
  }
}

.footer__menu-links {
  margin-top: 5px;
}

@media only screen and (min-width: 480px) {
  .footer__menu-links {
    text-align: left;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .footer__menu-links {
    font-size: 16px;
  }
}

.footer__menu-links a {
  color: #000000;
  margin: 0 5px;
}

@media only screen and (min-width: 480px) {
  .footer__menu-links a {
    display: block;
    margin: 0 0 2px 0;
  }
}

.footer__menu-links a:hover, .footer__menu-links a:focus {
  color: #3C5598;
}

.footer__menu-links a:last-child {
  margin-bottom: 0;
}

.footer__contacts {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .footer__contacts {
    margin-top: 0;
  }
}

@media only screen and (min-width: 480px) {
  .footer__contacts-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .footer__contacts-content {
    display: block;
    margin-top: 0;
  }
}

@media only screen and (min-width: 480px) {
  .footer__contacts-phone {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .footer__contacts-phone {
    text-align: right;
  }
}

.footer__contacts-phone--title {
  color: #3C5598;
}

@media only screen and (min-width: 480px) {
  .footer__contacts-phone--title {
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .footer__contacts-phone--title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .footer__contacts-phone--title {
    font-size: 18px;
  }
}

.footer__contacts-phone--number {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .footer__contacts-phone--number {
    font-size: 22px;
  }
}

@media only screen and (min-width: 992px) {
  .footer__contacts-phone--number {
    font-size: 30px;
  }
}

.footer__contacts-phone--number i {
  color: #DC3C1B;
  margin-right: 10px;
}

.footer__contacts-phone--number a {
  color: #000000;
}

.footer__contacts-email {
  margin-top: 10px;
}

@media only screen and (min-width: 480px) {
  .footer__contacts-email {
    margin-top: 0;
    margin-left: 30px;
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
  .footer__contacts-email {
    margin-left: 0;
    margin-top: 15px;
  }
}

.footer__contacts-email--title {
  color: #3C5598;
}

@media only screen and (min-width: 480px) {
  .footer__contacts-email--title {
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .footer__contacts-email--title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .footer__contacts-email--title {
    font-size: 18px;
  }
}

.footer__contacts-email--link a {
  font-size: 18px;
  color: #DC3C1B;
}

@media only screen and (min-width: 768px) {
  .footer__contacts-email--link a {
    font-size: 22px;
  }
}

@media only screen and (min-width: 992px) {
  .footer__contacts-email--link a {
    font-size: 30px;
  }
}

.footer__developers {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .footer__developers {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer__developers img {
  max-height: 20px;
  margin-left: 10px;
}

.languages-dropdown {
  display: inline-block;
  color: #3C5598;
  position: relative;
  padding: 0 10px;
}

.languages-dropdown__current {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.languages-dropdown__current:hover, .languages-dropdown__current:focus {
  color: #DC3C1B;
}

.languages-dropdown__list {
  position: absolute;
  left: 0;
  text-align-last: left;
  background: #FFFFFF;
  padding: 5px 10px 10px;
  border-radius: 5px;
  z-index: 101;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  pointer-events: none;
  opacity: 0;
}

.languages-dropdown__list.active {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.languages-dropdown__list a {
  display: block;
  color: #3C5598;
}

.languages-dropdown__list a:hover, .languages-dropdown__list a:focus {
  text-decoration: underline;
}

.languages-dropdown i {
  color: #DC3C1B;
  margin-left: 3px;
}

.advertising-section {
  width: 100%;
  height: 0;
  padding-bottom: 38.24503311258278%;
  position: relative;
}

.advertising-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 4px 18px;
  min-height: 34px;
}

@media only screen and (min-width: 992px) {
  .slider-section__header {
    border-width: 3px;
  }
}

.slider-section__header.blue {
  background: #3C5598;
}

.slider-section__header.red {
  background: #DC3C1B;
}

.slider-section__title {
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  .slider-section__title {
    font-size: 16px;
  }
}

.slider-section__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
  min-width: 24px;
  font-size: 1.2em;
}

@media only screen and (min-width: 992px) {
  .slider-section__controls {
    min-width: 30px;
    margin-left: 30px;
  }
}

.slider-section__content {
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .slider-section__content {
    margin-top: 30px;
  }
}

.slider-section__content#new-products-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-section__content-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider-section__content-item .product {
  height: 100%;
}

@media only screen and (min-width: 992px) {
  .press {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .press__news {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 992px) {
  .press__articles {
    margin-left: 15px;
    width: calc((100% - 45px) / 4);
  }
}

@media only screen and (min-width: 1200px) {
  .press__articles {
    margin-left: 30px;
    width: calc((100% - 90px) / 4);
  }
}

@media only screen and (min-width: 480px) {
  .news-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -7.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .news-list {
    margin: 0 -15px;
  }
}

.news-list .article {
  margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
  .news-list .article {
    width: calc(50% - 15px);
    margin: 0 7.5px 15px;
  }
}

@media only screen and (min-width: 768px) {
  .news-list .article {
    width: calc((100% / 3) - 15px);
  }
}

@media only screen and (min-width: 1200px) {
  .news-list .article {
    margin: 0 15px 30px;
    width: calc((100% / 3) - 30px);
  }
}

@media only screen and (min-width: 480px) {
  .articles-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -7.5px;
  }
}

@media only screen and (min-width: 992px) {
  .articles-list {
    margin: 0;
  }
}

.articles-list .article {
  margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
  .articles-list .article {
    width: calc(50% - 15px);
    margin: 0 7.5px 15px;
  }
}

@media only screen and (min-width: 768px) {
  .articles-list .article {
    width: calc((100% / 3) - 15px);
  }
}

@media only screen and (min-width: 992px) {
  .articles-list .article {
    width: 100%;
    margin: 0 0 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .articles-list .article {
    margin-bottom: 30px;
  }
}

.article {
  background: #FFFFFF;
  border-radius: 15px;
}

@media only screen and (min-width: 480px) {
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article__image {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.article__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.article__content {
  padding: 10px 15px 15px;
  color: #000000;
}

@media only screen and (min-width: 480px) {
  .article__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.article__content-footer {
  text-align: right;
}

.article__content-footer a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #DC3C1B;
  font-size: 12px;
}

.article__content-footer a:hover, .article__content-footer a:focus {
  color: #3C5598;
}

.article__content-footer a i {
  margin-left: 5px;
  margin-top: 2px;
}

.article__date {
  color: #6e6e6e;
  font-size: 12px;
  margin-bottom: 15px;
}

.article__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1em;
  margin-bottom: 5px;
}

.article__title a {
  color: #3C5598;
}

.article__description {
  line-height: 1.3em;
  height: 3.9em;
  overflow: hidden;
  margin-bottom: 10px;
}

.big-article {
  margin-bottom: 15px;
  border-radius: 15px;
}

@media only screen and (min-width: 640px) {
  .big-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .big-article {
    height: 313.33px;
  }
}

@media only screen and (min-width: 1200px) {
  .big-article {
    margin-bottom: 30px;
  }
}

.big-article__image {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

@media only screen and (min-width: 640px) {
  .big-article__image {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .big-article__image {
    width: 486.96px;
    height: 100%;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .big-article__image {
    width: 473.46px;
  }
}

@media only screen and (min-width: 1200px) {
  .big-article__image {
    width: 569.96px;
  }
}

.big-article__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

@media only screen and (min-width: 640px) {
  .big-article__image img {
    border-radius: 15px 0 0 15px;
  }
}

.big-article__content {
  background: #FFFFFF;
  padding: 10px 15px 15px;
  border-radius: 0 0 15px 15px;
}

@media only screen and (min-width: 640px) {
  .big-article__content {
    border-radius: 0 15px 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  .big-article__content {
    padding-left: 30px;
  }
}

.big-article__content-footer {
  text-align: right;
}

@media only screen and (min-width: 640px) {
  .big-article__content-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.big-article__content-footer a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #DC3C1B;
  font-size: 12px;
}

@media only screen and (min-width: 640px) {
  .big-article__content-footer a {
    margin-top: 15px;
  }
}

.big-article__content-footer a:hover, .big-article__content-footer a:focus {
  color: #3C5598;
}

.big-article__content-footer a i {
  margin-left: 5px;
  margin-top: 2px;
}

.big-article__date {
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 15px;
}

.big-article__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1em;
  margin-bottom: 5px;
}

@media only screen and (min-width: 640px) {
  .big-article__title {
    font-size: 22px;
  }
}

.big-article__title a {
  color: #3C5598;
}

.big-article__description {
  text-align: left;
  line-height: 1.3em;
  max-height: 7.8em;
  overflow: hidden;
}

@media only screen and (min-width: 480px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -7.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .products-list {
    margin: 0 -15px;
  }
}

@media only screen and (min-width: 1200px) {
  .products-list.products-4 .product {
    margin: 0 15px 30px;
    width: calc(25% - 30px);
  }
}

@media only screen and (min-width: 480px) {
  .products-list .product {
    margin: 0 7.5px 15px;
    width: calc(50% - 15px);
  }
}

@media only screen and (min-width: 992px) {
  .products-list .product {
    margin: 0 7.5px 15px;
    width: calc((100% / 3) - 15px);
  }
}

@media only screen and (min-width: 1200px) {
  .products-list .product {
    margin: 0 15px 30px;
    width: calc((100% / 3) - 30px);
  }
}

@media only screen and (min-width: 480px) {
  .products-list-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -7.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .products-list-top {
    margin: 0 -15px;
  }
}

.products-list-top .product {
  margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
  .products-list-top .product {
    margin: 0 7.5px 15px;
    width: calc(50% - 15px);
  }
}

@media only screen and (min-width: 992px) {
  .products-list-top .product {
    margin: 0 7.5px 15px;
    width: calc(50% - 15px);
  }
}

@media only screen and (min-width: 1200px) {
  .products-list-top .product {
    margin: 0 15px 30px;
    width: calc(50% - 30px);
  }
}

.product {
  background: #FFFFFF;
  padding: 15px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__header {
  position: relative;
  padding-top: 45px;
}

.product__title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1em;
  color: #3C5598;
  font-size: 22px;
  font-weight: 700;
}

.product__title a {
  color: #3C5598;
}

.product__image {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
}

.product__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .product__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.product__images-left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .product__images-left {
    width: 60%;
  }
}

.product__images-item {
  width: 50%;
  height: 0;
  padding-bottom: 25%;
  position: relative;
}

.product__images-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__images-big {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .product__images-big {
    width: 40%;
    padding-bottom: 15%;
    margin-bottom: 0;
  }
}

.product__images-big img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__content-message {
  margin-top: 15px;
  color: #3C5598;
}

.product__content-details {
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}

.product__content-details a {
  color: #DC3C1B;
  text-decoration: underline;
}

.product__content-details a:hover, .product__content-details a:focus {
  color: #3C5598;
}

.product__action {
  margin-top: 15px;
}

.product__action-title {
  text-align: center;
  text-transform: uppercase;
  color: #DC3C1B;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.product__action-image {
  margin: 0 -15px;
  width: calc(100% + 30px);
  height: 0;
  padding-bottom: 48%;
  position: relative;
}

.product__action-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__action-description {
  line-height: 1.3em;
  height: 3.9em;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
}

.product__action-description a {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  padding-left: 15px;
  color: #DC3C1B;
}

.product__action-description a:hover, .product__action-description a:focus {
  color: #3C5598;
}

.product__action-description a i {
  margin-top: 1px;
  margin-left: 5px;
}

.product__footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product__price {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.product__price strong {
  font-size: 22px;
  color: #3C5598;
}

.product__price-old {
  font-size: 18px;
  text-align: center;
  margin: 15px 0 -10px;
  text-decoration: line-through;
  color: #DC3C1B;
}

.product__article {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.product__buttons {
  text-align: center;
}

.product__buttons a {
  margin-bottom: 5px;
}

.product__buttons a:last-child {
  margin-bottom: 0;
}

.h-product {
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .h-product {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .h-product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .h-product .product__footer {
    margin-left: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.equipment-form {
  margin-top: 15px;
}

@media only screen and (min-width: 480px) {
  .equipment-form.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .equipment-form.columns {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .equipment-form.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 480px) {
  .equipment-form__left, .equipment-form__right {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .equipment-form__left, .equipment-form__right {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .equipment-form__left, .equipment-form__right {
    width: 50%;
  }
}

@media only screen and (min-width: 480px) {
  .equipment-form__right {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .equipment-form__right {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .equipment-form__right {
    margin-left: 15px;
  }
}

.equipment-form__item {
  font-size: 12px;
}

.equipment-form__item--title {
  margin-right: 5px;
  display: inline;
}

.equipment-form__item--options {
  display: inline;
}

.equipment-form__item--options label {
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}

.equipment-form__item--options input[type="radio"] {
  display: none;
}

.equipment-form__item--options span {
  color: #3C5598;
  border: 1px solid #C2C2C2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 14px 2px 6px;
  border-radius: 10px;
  text-transform: lowercase;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  min-height: 19px;
}

.equipment-form__item--options span:before {
  opacity: 0;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: '\F00C';
  font-size: 9px;
  margin-right: 3px;
  color: #44BD32;
}

.equipment-form__item--options span.color {
  padding-right: 6px;
}

.equipment-form__item--options span.color:before {
  margin-right: 0;
}

.equipment-form__item--options span.di4 {
  display: inline-block;
  border: none;
  padding: 0;
}

.equipment-form__item--options span.di4:before {
  display: none;
}

.equipment-form__item--options input[type="radio"]:checked + span {
  border-color: #3C5598;
  background: #DEF1DB;
}

.equipment-form__item--options input[type="radio"]:checked + span:before {
  opacity: 1;
}

.cwa {
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .cwa {
    margin-top: -19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .cwa__aside {
    width: 263px;
  }
}

@media only screen and (min-width: 1200px) {
  .cwa__aside {
    width: 263px;
  }
}

.cwa__content {
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .cwa__content {
    margin-top: 0;
    width: calc(100% / 3 * 2);
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .cwa__content {
    width: 75%;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .cwa__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .cwa__content-main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 660px) {
  .cwa__content-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .cwa__content-sidebar {
    display: block;
    width: 200px;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .cwa__content-sidebar {
    width: 200px;
    margin-left: 30px;
  }
}

.cwa__content-sidebar--banner {
  width: 200px;
  height: 430px;
  margin: 0 auto;
}

.cwa__content-sidebar--banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-menu {
  border-radius: 50px;
  padding: 10px 15px;
  text-align: center;
  display: none;
}

@media only screen and (min-width: 768px) {
  .main-menu {
    background: -webkit-gradient(linear, left top, left bottom, from(#DC3C1B), to(#af3015));
    background: -webkit-linear-gradient(top, #DC3C1B, #af3015);
    background: -o-linear-gradient(top, #DC3C1B, #af3015);
    background: linear-gradient(to bottom, #DC3C1B, #af3015);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-menu {
    margin-bottom: 30px;
  }
}

.main-menu a {
  display: inline-block;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2px 4px;
  color: #DC3C1B;
}

@media only screen and (min-width: 768px) {
  .main-menu a {
    margin: 0 8px;
    color: #FFFFFF;
  }
}

.main-menu a:hover, .main-menu a:focus {
  color: #3C5598;
}

@media only screen and (min-width: 992px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .filters__stub {
    height: 30px;
  }
}

.filters__title {
  background: -webkit-gradient(linear, left top, left bottom, from(#44BD32), to(#359527));
  background: -webkit-linear-gradient(top, #44BD32, #359527);
  background: -o-linear-gradient(top, #44BD32, #359527);
  background: linear-gradient(to bottom, #44BD32, #359527);
  border-radius: 50px;
  padding: 10px 15px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .filters__title {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  .filters__title:before {
    content: '';
    background: #FFFFFF;
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.filters__title i {
  margin-right: 5px;
}

.filters__content {
  background: #FFFFFF;
  border-radius: 0 0 15px 15px;
  display: none;
}

@media only screen and (min-width: 992px) {
  .filters__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: calc(100% - 39px);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filters__header {
  padding: 15px;
}

.filters__header a {
  display: block;
  text-transform: uppercase;
  color: #DC3C1B;
  margin-bottom: 5px;
}

.filters__header a:last-child {
  margin-bottom: 0;
}

.filters__list {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .filters__list {
    overflow-y: scroll;
  }
  .filters__list::-webkit-scrollbar {
    width: 3px;
  }
  .filters__list::-webkit-scrollbar-track {
    background: #FFFFFF;
  }
  .filters__list::-webkit-scrollbar-thumb {
    background: #44BD32;
  }
}

.filter {
  border-top: 1px solid #C2C2C2;
  padding: 15px;
}

.filter.active .filter__title-button {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.filter__title {
  color: #3C5598;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

.filter__title-text i {
  margin-right: 8px;
}

.filter__title-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.filter__content {
  margin-top: 10px;
}

.filter__body-hidden {
  display: none;
}

.filter__more {
  display: inline-block;
  margin-top: 10px;
  color: #DC3C1B;
  text-decoration: underline;
  font-size: 12px;
  margin-left: 25px;
}

.filter__more.active span:first-child {
  display: none;
}

.filter__more.active span:last-child {
  display: inline;
}

.filter__more span:last-child {
  display: none;
}

.filter__checkbox-group .filter__checkbox-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
}

.filter__checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6e6e6e;
  margin-bottom: 5px;
  cursor: pointer;
}

.filter__checkbox-item:last-child {
  margin-bottom: 0;
}

.filter__checkbox-item input {
  display: none;
}

input:checked + .filter__checkbox-item--marker {
  background: -webkit-gradient(linear, left top, left bottom, from(#44BD32), to(#359527));
  background: -webkit-linear-gradient(top, #44BD32, #359527);
  background: -o-linear-gradient(top, #44BD32, #359527);
  background: linear-gradient(to bottom, #44BD32, #359527);
}

input:checked + .filter__checkbox-item--marker.color {
  background: inherit;
}

input:checked + .filter__checkbox-item--marker.color i {
  color: #44BD32;
}

input:checked + .filter__checkbox-item--marker i {
  color: #FFFFFF;
}

.filter__checkbox-item--marker {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #C2C2C2;
  color: #FFFFFF;
  margin-right: 10px;
  border-radius: 4px;
}

.filter__checkbox-item--marker i {
  color: transparent;
}

.filter__range-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6e6e6e;
}

.filter__range-item span {
  margin-right: 5px;
}

.filter__range-item input {
  width: 5em;
  margin-right: 10px;
  padding: 3px 6px 2px;
  font-size: 12px;
  border: 1px solid #C2C2C2;
  border-radius: 2px;
}

.filter__range-item select {
  border: none;
  color: #6e6e6e;
}

.calculator {
  background: #DEF1DB;
  padding: 15px;
  border-radius: 15px;
  margin: 15px auto;
  max-width: 200px;
}

@media only screen and (min-width: 660px) {
  .calculator {
    margin: 0 15px;
  }
}

@media only screen and (min-width: 992px) {
  .calculator {
    margin: 15px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .calculator {
    margin: 30px 0;
  }
}

.calculator__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #6e6e6e;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.calculator__item {
  margin-bottom: 10px;
}

.calculator__item label {
  display: block;
  margin-bottom: 5px;
}

.calculator__item span {
  display: block;
  border: 1px solid #C2C2C2;
  padding: 5px 10px;
  text-align: center;
  color: #3C5598;
  border-radius: 10px;
}

.calculator__item span.big {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.calculator__select-container {
  position: relative;
  display: inline-block;
}

.calculator__select-container.block {
  display: block;
}

.calculator__select-container.block:before {
  content: '\433\440\43D';
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  pointer-events: none;
  color: #3C5598;
}

.calculator__select-container.block:after {
  content: none;
}

.calculator__select-container.block select {
  padding-right: 70px;
}

.calculator__select-container.block input {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #C2C2C2;
}

.calculator__select-container:after {
  content: '\25BC';
  position: absolute;
  display: inline-block;
  font-size: 10px;
  color: #DC3C1B;
  top: 50%;
  margin-top: -6px;
  right: 10px;
  pointer-events: none;
}

.calculator__select-container select {
  border: 1px solid #C2C2C2;
  border-radius: 10px;
  padding: 5px 30px 5px 10px;
  width: 100%;
  -moz-appearance: window;
  -webkit-appearance: none;
}

.calculator__button {
  margin: 15px 0;
  display: block;
  width: 100%;
  background: #44BD32;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 8px 10px;
  border: none;
}

.breadcrumbs {
  color: #C2C2C2;
}

.breadcrumbs a {
  color: #C2C2C2;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: #6e6e6e;
}

.page-title {
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .page-title {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .page-title {
    font-size: 32px;
  }
}

@media only screen and (min-width: 480px) {
  .all-articles-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -7.5px;
  }
}

@media only screen and (min-width: 992px) {
  .all-articles-list {
    margin: 0 -15px;
  }
}

.all-articles-list .article {
  margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
  .all-articles-list .article {
    width: calc(50% - 15px);
    margin: 0 7.5px 15px;
  }
}

@media only screen and (min-width: 768px) {
  .all-articles-list .article {
    width: calc((100% / 3) - 15px);
  }
}

@media only screen and (min-width: 992px) {
  .all-articles-list .article {
    width: calc(25% - 15px);
  }
}

@media only screen and (min-width: 1200px) {
  .all-articles-list .article {
    width: calc(25% - 30px);
    margin: 0 15px 30px;
  }
}

@media only screen and (min-width: 768px) {
  .all-news-list .article:nth-child(1), .all-news-list .article:nth-child(8) {
    width: 100%;
    height: 294.33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .all-news-list .article:nth-child(1) .article__image, .all-news-list .article:nth-child(8) .article__image {
    width: 66.66%;
    height: 100%;
    padding-bottom: 0;
  }
  .all-news-list .article:nth-child(1) .article__image img, .all-news-list .article:nth-child(8) .article__image img {
    border-radius: 15px 0 0 15px;
  }
  .all-news-list .article:nth-child(1) .article__content-main, .all-news-list .article:nth-child(8) .article__content-main {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .all-news-list .article:nth-child(1) .article__title, .all-news-list .article:nth-child(8) .article__title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .all-news-list .article:nth-child(1), .all-news-list .article:nth-child(8) {
    width: calc(75% - 15px);
    height: 292.66px;
  }
}

@media only screen and (min-width: 1200px) {
  .all-news-list .article:nth-child(1), .all-news-list .article:nth-child(8) {
    width: calc(75% - 30px);
    height: 313.47px;
  }
  .all-news-list .article:nth-child(1) .article__title, .all-news-list .article:nth-child(8) .article__title {
    font-size: 28px;
  }
}

.pagination {
  text-align: center;
  list-style: none;
}

.pagination li {
  display: inline-block;
  margin: 0 2px;
}

.pagination li a, .pagination li span {
  display: inline-block;
  min-width: 24px;
  padding: 2px 6px;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
  color: #6e6e6e;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

@media only screen and (min-width: 992px) {
  .pagination li a, .pagination li span {
    padding: 4px 6px;
    min-width: 28px;
  }
}

.pagination li a:hover, .pagination li a:focus {
  background: #DC3C1B;
  color: #FFFFFF;
}

.pagination li span {
  color: #C2C2C2;
}

.article-single {
  border-radius: 15px;
  overflow: hidden;
  background: #FFFFFF;
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .article-single {
    margin-bottom: 0;
  }
}

.article-single__image {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.article-single__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-single__main {
  padding: 15px;
}

@media only screen and (min-width: 1200px) {
  .article-single__main {
    padding: 30px;
  }
}

.article-single__content {
  font-size: 14px;
}

.article-single__content img {
  display: block;
  max-width: 100%;
}

.article-single__date {
  color: #6e6e6e;
  margin-bottom: 30px;
  font-size: 12px;
}

.article-single__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-single__share-title {
  margin-right: 15px;
}

.article-single__share a {
  color: #44BD32;
  margin: 0 8px;
  font-size: 18px;
}

.article-single__share a:hover, .article-single__share a:focus {
  color: #3C5598;
}

.article-single__share a:first-child {
  margin-left: 0;
}

.article-single__share a:last-child {
  margin-right: 0;
}

.contacts-info__address {
  font-size: 18px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .contacts-info__address {
    font-size: 20px;
  }
}

.contacts-info .footer__contacts-phone--number, .contacts-info .footer__contacts-email--link a {
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  .contacts-info .footer__contacts-phone--number, .contacts-info .footer__contacts-email--link a {
    font-size: 20px;
  }
}

.contacts-info .footer__contacts-phone--number {
  margin-bottom: 5px;
}

.contacts-info .header__socials {
  margin-top: 15px;
}

.dcp {
  max-width: 700px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 480px) {
  .dcp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .dcp {
    max-width: 800px;
  }
}

@media only screen and (min-width: 480px) {
  .dcp__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.dcp__right {
  margin-top: 30px;
}

@media only screen and (min-width: 480px) {
  .dcp__right {
    margin-top: 0;
    margin-left: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 768px) {
  .dcp__right {
    margin-left: 30px;
  }
}

.auth-form {
  max-width: 250px;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .auth-form {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 480px) {
  .auth-form.login {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .auth-form.login {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 480px) {
  .auth-form.login .dcp {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .auth-form.login .dcp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
  }
}

.auth-form__item {
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .auth-form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
  }
}

.auth-form__item:first-child {
  margin-top: 0;
}

.auth-form__item label {
  color: #3C5598;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
}

@media only screen and (min-width: 992px) {
  .auth-form__item label {
    margin-bottom: 0;
  }
}

.auth-form__item label.auth-form__checkbox {
  font-size: 14px;
  text-transform: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) {
  .auth-form__item label.auth-form__checkbox {
    font-size: 16px;
  }
}

.auth-form__item label.auth-form__checkbox input {
  margin-right: 10px;
}

.auth-form__item label.auth-form__checkbox a {
  color: #DC3C1B;
}

.auth-form .auth-form__error {
  color: #DC3C1B;
  font-size: 12px;
  margin-top: 5px;
}

.auth-form__input-container {
  position: relative;
}

.auth-form__input-container input {
  width: 100%;
  height: 30px;
  border: 1px solid #3C5598;
  border-radius: 30px;
  padding-left: 35px;
  outline: none;
}

@media only screen and (min-width: 992px) {
  .auth-form__input-container input {
    width: 225px;
  }
}

.auth-form__input-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #DC3C1B;
  color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  .auth-form__button-container {
    text-align: right;
  }
}

.auth-form button {
  margin-top: 30px;
  background: #3C5598;
  color: #FFFFFF;
  border: none;
  width: 100%;
  border-radius: 15px;
  height: 40px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  .auth-form button {
    width: 225px;
  }
}

.auth-form__link-container {
  text-align: center;
  margin-top: 10px;
}

@media only screen and (min-width: 992px) {
  .auth-form__link-container {
    width: 225px;
    display: inline-block;
  }
}

.auth-form__link-container a {
  color: #DC3C1B;
}

@media only screen and (min-width: 768px) {
  .c93 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .c93__9 {
    width: calc(75% - 15px);
    margin-right: 15px;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .c93__9 {
    width: calc(75% - 30px);
    margin-right: 30px;
  }
}

.c93__3 {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .c93__3 {
    margin-top: 0;
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: justify;
  }
}

.product-tabs.btn-container a {
  margin-bottom: 10px;
}

.product-single__section-title {
  color: #6e6e6e;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 15px 0;
}

@media only screen and (min-width: 768px) {
  .product-single__section-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .product-single__section-title {
    font-size: 22px;
    margin: 20px 0;
  }
}

.product-single__description p {
  margin-bottom: 10px;
}

.product-single__description p:last-child {
  margin-bottom: 0;
}

.product-single__configurations {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #C2C2C2;
  text-align: center;
}

.product-single__configurations span {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  color: #3C5598;
  margin: 0 5px;
  -webkit-transition: 150ms ease;
  -o-transition: 150ms ease;
  transition: 150ms ease;
}

@media only screen and (min-width: 480px) {
  .product-single__configurations span {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .product-single__configurations span {
    font-size: 16px;
    margin: 0 15px;
  }
}

.product-single__configurations span:hover, .product-single__configurations span:focus {
  color: #000000;
}

.product-single__configurations span.active {
  color: #DC3C1B;
}

@media only screen and (min-width: 560px) {
  .product-single__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 560px) {
  .product-single__details-left, .product-single__details-right {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 560px) {
  .product-single__details-left {
    margin-right: 15px;
  }
}

.product-single__details-list {
  margin-top: -10px;
  padding-top: 15px;
  border-top: 1px solid #C2C2C2;
}

.product-single__details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-single__details-item span {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-single__details-item span:first-child {
  text-align: right;
  margin-right: 15px;
  color: #6e6e6e;
}

.product-single__faq-reviews {
  margin-top: 15px;
}

@media only screen and (min-width: 768px) {
  .product-single__faq-reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .product-single__faq-reviews--reviews, .product-single__faq-reviews--faq {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .product-single__faq-reviews--faq {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .product-single__faq-reviews--faq {
    margin-left: 30px;
  }
}

.product-single__share {
  text-align: center;
  margin: 15px 0;
}

.product-single__share a {
  color: #FFFFFF;
  background: #3C5598;
  font-weight: 700;
  display: inline-block;
  border: 2px solid #3C5598;
  border-radius: 30px;
  padding: 6px 18px;
}

.product-single__share a i {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .ps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ps__thumbs {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .ps__thumbs {
    margin-bottom: 0;
    width: 75px;
  }
}

@media only screen and (min-width: 992px) {
  .ps__thumbs {
    width: 100px;
  }
}

.ps__thumbs-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .ps__thumbs-mobile {
    display: none;
  }
}

.ps__thumbs-mobile--photos, .ps__thumbs-mobile--videos {
  width: 50%;
}

.ps__thumbs-mobile--photos {
  margin-right: 5px;
}

@media only screen and (min-width: 540px) {
  .ps__thumbs-mobile--photos {
    width: 60%;
  }
}

@media only screen and (min-width: 540px) {
  .ps__thumbs-mobile--videos {
    width: 40%;
  }
}

.ps__thumbs-mobile--image {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
}

.ps__thumbs-mobile--image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.ps__thumbs-mobile .lSAction > .lSPrev, .ps__thumbs-mobile .lSAction > .lSNext {
  top: 0;
  bottom: 0;
  width: 14px;
  height: 100%;
  margin-top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #C2C2C2;
  opacity: 1;
  border-radius: 10px;
  color: #FFFFFF;
}

.ps__thumbs-mobile .lSAction > .lSPrev {
  left: 0;
}

.ps__thumbs-mobile .lSAction > .lSNext {
  right: 0;
}

.ps__thumbs-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .ps__thumbs-desktop {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.ps__thumbs-desktop--photos {
  margin-bottom: 10px;
}

.ps__thumbs-desktop--image {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .ps__thumbs-desktop--image {
    padding-bottom: 80%;
  }
}

.ps__thumbs-desktop--image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.ps__thumbs-desktop .lSSlideOuter.vertical .lSAction > .lSPrev, .ps__thumbs-desktop .lSSlideOuter.vertical .lSAction > .lSNext {
  left: 0;
  right: 0;
  width: 100%;
  height: 14px;
  margin-left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #C2C2C2;
  opacity: 1;
  border-radius: 10px;
  color: #FFFFFF;
}

.ps__thumbs-desktop .lSSlideOuter.vertical .lSAction > .lSPrev {
  top: 0;
}

.ps__thumbs-desktop .lSSlideOuter.vertical .lSAction > .lSNext {
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .ps__main {
    width: 455px;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .ps__main {
    width: 591.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .ps__main {
    width: 725px;
    margin-left: 30px;
  }
}

.ps__main-image {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.ps__main-image img, .ps__main-image iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.test-drive {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 992px) {
  .test-drive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
  }
}

.test-drive__multimedia {
  position: relative;
}

@media only screen and (min-width: 992px) {
  .test-drive__multimedia {
    width: 360px;
  }
}

.test-drive__multimedia-item {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .test-drive__multimedia-item {
    width: 360px;
    height: 230px;
    padding-bottom: 0;
  }
}

.test-drive__multimedia-item img, .test-drive__multimedia-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.test-drive__multimedia-controls {
  top: 50%;
  left: 0;
  right: 0;
  height: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}

.test-drive__multimedia-controls--prev, .test-drive__multimedia-controls--next {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: #C2C2C2;
  width: 16px;
  border-radius: 10px;
  pointer-events: all;
  color: #FFFFFF;
}

.test-drive__content {
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .test-drive__content {
    margin-top: 0;
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .test-drive__content {
    margin-left: 30px;
  }
}

.test-drive__title {
  color: #6e6e6e;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .test-drive__title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .test-drive__title {
    font-size: 22px;
  }
}

.test-drive__button-container {
  margin-top: 15px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .test-drive__button-container {
    text-align: right;
  }
}

.test-drive__button-container a {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3C1B), to(#af3015));
  background: -webkit-linear-gradient(top, #DC3C1B, #af3015);
  background: -o-linear-gradient(top, #DC3C1B, #af3015);
  background: linear-gradient(to bottom, #DC3C1B, #af3015);
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 8px 24px;
  border-radius: 10px;
}

@media only screen and (min-width: 992px) {
  .test-drive__button-container a {
    font-size: 18px;
    padding: 12px 36px;
  }
}

@media only screen and (min-width: 1200px) {
  .test-drive__button-container a {
    font-size: 22px;
    padding: 18px 72px;
  }
}

.product-review {
  font-size: 12px;
}

.product-review__footer {
  margin-top: 15px;
  color: #44BD32;
}

.product-faq__item {
  margin-bottom: 15px;
}

.product-faq__item.active .product-faq__title:before {
  content: '-';
}

.product-faq__item:last-child {
  margin-bottom: 0;
}

.product-faq__title {
  text-transform: uppercase;
  cursor: pointer;
}

.product-faq__title:before {
  display: inline-block;
  width: 8px;
  content: '+';
  color: #DC3C1B;
  margin-right: 5px;
}

.product-faq__body {
  margin-top: 5px;
  display: none;
  padding-left: 12px;
  font-size: 12px;
}

.product-price {
  text-align: center;
  border: 2px solid #DC3C1B;
  border-radius: 15px;
  padding: 45px 30px;
  max-width: 260px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .product-price {
    padding: 30px 15px;
    max-width: none;
  }
}

@media only screen and (min-width: 992px) {
  .product-price {
    padding: 45px 30px;
  }
}

.product-price__usd {
  color: #3C5598;
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .product-price__usd {
    font-size: 28px;
  }
}

@media only screen and (min-width: 992px) {
  .product-price__usd {
    font-size: 40px;
  }
}

.product-price__uah {
  font-size: 22px;
}

@media only screen and (min-width: 768px) {
  .product-price__uah {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .product-price__uah {
    font-size: 22px;
  }
}

.product-price__buttons {
  margin-top: 30px;
}

.product-price__buttons .btn-container {
  margin-bottom: 5px;
}

.product-price__buttons .btn-container .btn {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .product-price__buttons .btn-container .btn {
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) {
  .product-price__buttons .btn-container .btn {
    font-size: 14px;
  }
}

.preorder {
  background: #FFFFFF;
  width: 100%;
  padding: 30px 15px;
  border-radius: 15px;
  position: relative;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
}

@media only screen and (min-width: 1200px) {
  .preorder {
    max-width: 750px;
  }
}

.preorder__wrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(60, 85, 152, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.preorder__close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #3C5598;
}

.preorder__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.preorder__content {
  width: 100%;
}

.preorder__item {
  max-width: 260px;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .preorder__item {
    max-width: 420px;
  }
}

@media only screen and (min-width: 992px) {
  .preorder__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .preorder__item {
    max-width: none;
  }
}

@media only screen and (min-width: 480px) {
  .preorder__item-left .product__image {
    width: 260px;
    height: 180px;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .preorder__item-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .preorder__item-right .equipment-form {
    width: 100%;
  }
}

.preorder__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 22px;
}

@media only screen and (min-width: 992px) {
  .preorder__title {
    margin-top: 45px;
    font-size: 28px;
  }
}

.preorder__description {
  text-align: center;
  max-width: 250px;
  margin: 0 auto 15px;
}

@media only screen and (min-width: 992px) {
  .preorder__description {
    margin-bottom: 30px;
    max-width: 350px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .preorder .auth-form.login .dcp {
    max-width: 350px;
    margin: 0 auto;
  }
}

.bron-block {
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .bron-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bron-block .bron__card {
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bron-block .bron__card .bron-card {
  background: #FFFFFF;
  padding: 15px;
  border-radius: 15px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .bron-card {
    max-width: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bron-block .bron__card .bron-card__left {
  position: relative;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .bron-card__left {
    width: 60%;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .bron-block .bron__card .bron-card__left {
    width: 40%;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .bron-card__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bron-block .bron__card .bron-card__right .equipment-form {
    width: 100%;
  }
}

.bron-block .bron__card .cart-card {
  background: #FFFFFF;
  padding: 15px;
  border-radius: 15px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .cart-card {
    max-width: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bron-block .bron__card .cart-card:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .cart-card__left {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .bron-block .bron__card .cart-card__left {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .cart-card__left .product__image {
    width: 50%;
    padding-bottom: 50%;
  }
}

.bron-block .bron__card .cart-card__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .cart-card__right .product__price {
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .cart-card__right .product__price-old {
    margin-bottom: 5px;
  }
}

.bron-block .bron__card .cart-card__remove {
  margin-top: 15px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__card .cart-card__remove {
    margin: 0;
  }
}

.bron-block .bron__card .cart-card__remove button {
  background: transparent;
  border: none;
}

.bron-block .bron__card .cart-card__remove i {
  color: #3C5598;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
  cursor: pointer;
}

.bron-block .bron__card .cart-card__remove i:hover, .bron-block .bron__card .cart-card__remove i:focus {
  color: #DC3C1B;
}

.bron-block .bron__card .cart-card .product__header {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__form {
    width: 35%;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .bron-block .bron__form {
    width: 30%;
    margin-left: 30px;
  }
}

.bron-block .bron__form-text {
  font-size: 16px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__form-text {
    text-align: left;
  }
}

.bron-block .bron__form-text strong {
  font-size: 1.2em;
}

.bron-block .bron__form-text span.red {
  color: #DC3C1B;
}

.bron-block .bron__form-text span.blue {
  color: #3C5598;
}

.bron-block .bron__form-form {
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__form-form {
    margin-top: 30px;
  }
}

.bron-block .bron__form .auth-form__button-container .btn-container {
  margin-top: 10px;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .bron-block .bron__form .auth-form__button-container .btn-container {
    width: 225px;
  }
}

.bron-block .bron__form .auth-form__button-container .btn-container a {
  margin-bottom: 10px;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 860px;
}

@media only screen and (min-width: 768px) {
  .profile {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .profile {
    margin-top: 45px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile {
    margin-top: 60px;
  }
}

.profile__image-container {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .profile__image-container {
    margin: 0 30px 0 0;
  }
}

.profile__image-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.profile__image-links a {
  color: #DC3C1B;
  text-decoration: underline;
}

.profile__image-links a, .profile__image-links label {
  cursor: pointer;
}

.profile__image {
  margin: 0 auto;
  width: 170px;
  height: 170px;
  position: relative;
  background: #C2C2C2;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .profile__image {
    margin: 0;
  }
}

.profile__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.profile__image img#photo-preview {
  position: absolute;
  top: 0;
  left: 0;
}

.profile__image input {
  display: none;
}

.profile__info-item {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .profile__info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}

.profile__info-item:last-child {
  margin-bottom: 0;
}

.profile__info-item span:first-child {
  margin-right: 15px;
  color: #3C5598;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .profile__info-item span:first-child {
    margin-right: 15px;
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
  .profile__info-item span:last-child {
    margin-left: 15px;
  }
}

.profile__block {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .profile__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .profile__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .profile__content .auth-form__input-container {
    margin-left: 30px;
  }
}

.profile__content .auth-form__item {
  margin-left: auto;
  margin-right: auto;
  max-width: 290px;
}

@media only screen and (min-width: 992px) {
  .profile__content .auth-form__item {
    max-width: none;
  }
}

.profile__buttons {
  margin-top: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .profile__buttons {
    margin-top: 0;
  }
}

.profile__buttons a, .profile__buttons button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background: #F5F5F5;
  border: 2px solid #C2C2C2;
  border-radius: 10px;
  padding: 2px 20px;
  height: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #3C5598;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.profile__buttons a:hover, .profile__buttons a:focus, .profile__buttons button:hover, .profile__buttons button:focus {
  border-color: #3C5598;
}

.profile__buttons a:last-child, .profile__buttons button:last-child {
  margin-bottom: 0;
}

a + .profile__buttons-logout {
  font-weight: 400;
  border-color: #3C5598;
  background: #3C5598;
  color: #FFFFFF;
}

.credit {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 15px;
}

@media only screen and (min-width: 1200px) {
  .credit {
    padding: 0;
  }
}

.credit__header {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .credit__header {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #C2C2C2;
  }
}

@media only screen and (min-width: 1200px) {
  .credit__header-left {
    width: 250px;
  }
}

@media only screen and (min-width: 1200px) {
  .credit__header-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .credit__header-right .credit__header-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 25%;
  }
}

.credit__header-right .credit__header-item:last-child {
  border-right: none;
}

.credit__header-item {
  text-align: center;
  border-right: 1px solid #C2C2C2;
}

.credit__body-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1200px) {
  .credit__body-left {
    width: 250px;
  }
}

.credit__body-left--arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #DC3C1B;
  color: #DC3C1B;
  margin-left: 15px;
}

@media only screen and (min-width: 1200px) {
  .credit__body-left--arrow {
    display: none;
  }
}

.credit__body-left--arrow i {
  margin-top: 2px;
}

.credit__body-left .credit__body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.credit__body-right {
  display: none;
}

@media only screen and (min-width: 540px) {
  .credit__body-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  .credit__body-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.credit__body-right .credit__body-item {
  margin-top: 10px;
}

@media only screen and (min-width: 540px) {
  .credit__body-right .credit__body-item {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .credit__body-right .credit__body-item {
    width: 25%;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  .credit__body-right .credit__body-item {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.credit__body-right .credit__body-item:last-child {
  border-right: none;
}

.credit__body-row {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #C2C2C2;
}

@media only screen and (min-width: 1200px) {
  .credit__body-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #C2C2C2;
    padding: 20px 0;
    margin-bottom: 0;
  }
}

.credit__body-row:first-child {
  border-top: none;
}

.credit__body-row:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

@media only screen and (min-width: 1200px) {
  .credit__body-row:last-child {
    padding-bottom: 20px;
  }
}

.credit__body-row.without-border-top {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 0;
  border-top: none;
}

@media only screen and (min-width: 480px) {
  .credit__body-bank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .credit__body-bank {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 480px) {
  .credit__body-bank--image {
    margin-right: 15px;
  }
}

.credit__body-bank--image img {
  max-width: 160px;
}

@media only screen and (min-width: 1200px) {
  .credit__body-bank--image img {
    max-width: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  .credit__body-item {
    border-right: 1px solid #C2C2C2;
  }
}

.credit__body-item--title {
  margin-bottom: 5px;
}

@media only screen and (min-width: 1200px) {
  .credit__body-item--title {
    display: none;
  }
}

.credit__body-item--content label input, .credit__body-item--content label select {
  border: 1px solid #3C5598;
  border-radius: 30px;
  padding: 4px 10px;
  margin-right: 5px;
  max-width: 150px;
}

.credit__body-item--content label select {
  min-width: 75px;
}

.credit__body-item--content a {
  color: #DC3C1B;
  text-decoration: underline;
}

.credit__body-button {
  background: #DC3C1B;
  color: #FFFFFF;
  border: none;
  width: auto;
  padding: 0 30px;
  border-radius: 15px;
  height: 40px;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .credit__body-button {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 992px) {
  .credit__body-button {
    padding: 0 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .credit__body-button {
    padding: 0 60px;
  }
}

.static {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
  .static {
    margin-bottom: 60px;
  }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}
