@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("https://www.evakuator-argo.com.ua/fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("https://www.evakuator-argo.com.ua/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("https://www.evakuator-argo.com.ua/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("https://www.evakuator-argo.com.ua/fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  src: url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-brands-400.eot');
  src: url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-brands-400.eot?#iefix') format("embedded-opentype"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-brands-400.woff2') format("woff2"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-brands-400.ttf') format("truetype"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-brands-400.svg#fontawesome') format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  src: url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-light-300.eot');
  src: url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-light-300.eot?#iefix') format("embedded-opentype"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-light-300.woff2') format("woff2"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-light-300.woff') format("woff"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-light-300.ttf') format("truetype"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-light-300.svg#fontawesome') format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  src: url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-regular-400.eot');
  src: url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-regular-400.eot?#iefix') format("embedded-opentype"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-regular-400.woff2') format("woff2"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-regular-400.woff') format("woff"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-regular-400.ttf') format("truetype"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-regular-400.svg#fontawesome') format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  src: url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-solid-900.eot');
  src: url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-solid-900.eot?#iefix') format("embedded-opentype"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-solid-900.woff2') format("woff2"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-solid-900.woff') format("woff"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-solid-900.ttf') format("truetype"), url('https://www.evakuator-argo.com.ua/fonts/Font Awesome 5/fa-solid-900.svg#fontawesome') format("svg");
}
.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}
.fal {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}
.far {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}
.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 738px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (min-width: 640px) {
  header .first-floor {
    display: flex;
    align-items: center;
    padding: 15px;
  }
}
@media only screen and (min-width: 640px) {
  header .first-floor .right-part {
    flex: 1;
  }
}
@media only screen and (min-width: 992px) {
  header .first-floor .right-part-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
header .logotype {
  text-align: center;
}
header .main-menu {
  margin-top: 15px;
  padding: 0 15px;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  header .main-menu {
    margin-top: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  header .main-menu {
    padding-left: 30px;
  }
}
header .main-menu li {
  display: inline;
}
header .main-menu li a {
  font: 700 16px 'Roboto', sans-serif;
  color: #111012;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 4px;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  -moz-transition: color 300ms ease, background-color 300ms ease;
  -ms-transition: color 300ms ease, background-color 300ms ease;
  -o-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  border-radius: 15px;
}
@media only screen and (min-width: 992px) {
  header .main-menu li a {
    font-size: 17px;
    margin: 0;
    padding: 4px 8px;
  }
}
@media only screen and (min-width: 1200px) {
  header .main-menu li a {
    font-size: 20px;
    padding: 5px 16px;
  }
}
header .main-menu li a:hover,
header .main-menu li a:focus {
  color: #F7BD30;
}
@media only screen and (min-width: 992px) {
  header .main-menu li a:hover,
  header .main-menu li a:focus {
    background: #F7BD30;
    color: #111012;
  }
}
header .social-languages-block {
  margin-top: 15px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 640px) {
  header .social-languages-block {
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  header .social-languages-block {
    margin-top: 0;
  }
}
header .social-buttons-list {
  text-align: center;
}
header .social-buttons-list li {
  display: inline;
}
header .social-buttons-list li a {
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  border-radius: 50%;
  font-size: 10px;
}
@media only screen and (min-width: 992px) {
  header .social-buttons-list li a {
    width: 32px;
    height: 32px;
    font-size: 13px;
    margin: 0 2px;
  }
}
header .social-buttons-list li a.social-button-fb {
  background: #3b5998;
}
header .social-buttons-list li a.social-button-tg {
  background: #2196d0;
}
header .social-buttons-list li a.social-button-gp {
  background: #D34836;
}
header .languages-block {
  font: 700 12px 'Roboto', sans-serif;
  color: #111012;
  text-transform: uppercase;
  position: relative;
}
@media only screen and (min-width: 992px) {
  header .languages-block {
    margin-left: 30px;
  }
}
header .languages-block .language-active {
  color: #F7BD30;
}
@media only screen and (min-width: 992px) {
  header .languages-block .language-active {
    color: #111012;
    cursor: pointer;
    font-size: 14px;
  }
  header .languages-block .language-active:after {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Pro';
    margin-left: 5px;
  }
}
header .languages-block .languages-list {
  display: inline-block;
}
@media only screen and (min-width: 992px) {
  header .languages-block .languages-list {
    position: absolute;
    top: -200px;
    left: 0;
    padding: 10px 0;
    -webkit-transition: top 300ms ease;
    -moz-transition: top 300ms ease;
    -ms-transition: top 300ms ease;
    -o-transition: top 300ms ease;
    transition: top 300ms ease;
    background: #FFFFFF;
    width: 100%;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
  }
}
header .languages-block .languages-list.active {
  top: 25px;
}
header .languages-block .languages-list.active li {
  display: block;
  margin-bottom: 10px;
}
header .languages-block .languages-list.active li:last-child {
  margin-bottom: 0;
}
header .languages-block .languages-list li {
  display: inline;
}
header .languages-block .languages-list li a {
  text-decoration: none;
  color: #111012;
  margin: 0 2px;
}
header .languages-block .languages-list li a:last-child {
  margin-right: 0;
}
header .right-part-down {
  background: #F7BD30;
  padding: 15px;
  margin: 15px;
}
@media only screen and (min-width: 480px) {
  header .right-part-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 640px) {
  header .right-part-down {
    justify-content: center;
    margin: 15px 0 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  header .right-part-down {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  header .right-part-down {
    margin-left: 30px;
  }
}
header .right-part-down .advantages-list {
  display: none;
  font: 700 14px 'Roboto', sans-serif;
  text-transform: uppercase;
}
@media only screen and (min-width: 480px) {
  header .right-part-down .advantages-list {
    display: block;
  }
}
@media only screen and (min-width: 640px) {
  header .right-part-down .advantages-list {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header .right-part-down .advantages-list {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  header .right-part-down .advantages-list {
    display: flex;
  }
  header .right-part-down .advantages-list li {
    margin-right: 15px;
  }
  header .right-part-down .advantages-list li:last-child {
    margin-right: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  header .right-part-down .advantages-list li {
    display: flex;
    align-items: center;
  }
  header .right-part-down .advantages-list li span {
    display: inline-block;
    margin-top: 5px;
  }
}
header .right-part-down .advantages-list .advantage-price:before,
header .right-part-down .advantages-list .advantage-fast:before,
header .right-part-down .advantages-list .advantage-reliability:before {
  display: none;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  text-align: center;
  width: 1.25em;
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  header .right-part-down .advantages-list .advantage-price:before,
  header .right-part-down .advantages-list .advantage-fast:before,
  header .right-part-down .advantages-list .advantage-reliability:before {
    display: inline-block;
  }
}
@media only screen and (min-width: 1200px) {
  header .right-part-down .advantages-list .advantage-price:before,
  header .right-part-down .advantages-list .advantage-fast:before,
  header .right-part-down .advantages-list .advantage-reliability:before {
    font-size: 32px;
    margin-right: 10px;
  }
}
header .right-part-down .advantages-list .advantage-fast:before {
  content: '\f48b';
}
header .right-part-down .advantages-list .advantage-price:before {
  content: '\f005';
}
header .right-part-down .advantages-list .advantage-reliability:before {
  content: '\f3ed';
}
header .right-part-down .phones {
  text-align: center;
}
@media only screen and (min-width: 480px) {
  header .right-part-down .phones {
    display: flex;
    align-items: center;
  }
}
header .right-part-down .phones .phone-icon {
  width: 40px;
  height: 40px;
  background: #FF2524;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  header .right-part-down .phones .phone-icon {
    display: inline-flex;
  }
}
header .right-part-down .phones-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font: 700 16px 'Roboto', sans-serif;
}
@media only screen and (min-width: 400px) {
  header .right-part-down .phones-list {
    flex-direction: row;
    justify-content: center;
  }
  header .right-part-down .phones-list span,
  header .right-part-down .phones-list a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
  }
}
@media only screen and (min-width: 480px) {
  header .right-part-down .phones-list {
    flex-direction: column;
    display: inline-flex;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  header .right-part-down .phones-list span,
  header .right-part-down .phones-list a {
    margin-bottom: 8px;
  }
  header .right-part-down .phones-list span:last-child,
  header .right-part-down .phones-list a:last-child {
    margin-bottom: 0;
  }
}
header .services-list {
  padding: 0 15px;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  header .services-list {
    display: block;
  }
}
@media only screen and (min-width: 640px) {
  header .services-list {
    margin-top: 10px;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  header .services-list {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  header .services-list {
    padding-left: 35px;
  }
}
header .services-list li {
  display: inline;
  font: 700 14px 'Roboto', sans-serif;
  margin: 0 10px;
}
@media only screen and (min-width: 640px) {
  header .services-list li {
    font-size: 13px;
    margin: 0 5px;
  }
}
@media only screen and (min-width: 768px) {
  header .services-list li {
    font-size: 14px;
    margin: 0 10px;
  }
}
header .services-list li.services-title {
  font-size: 18px;
  display: block;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  header .services-list li.services-title {
    display: inline-block;
    font-size: 13px;
  }
}
@media only screen and (min-width: 680px) {
  header .services-list li.services-title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  header .services-list li.services-title {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  header .services-list li.services-title {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  header .services-list li.services-item {
    text-transform: uppercase;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  header .services-list li.services-item {
    display: inline-flex;
    align-items: center;
  }
}
header .services-list li.services-item:before {
  display: none;
  content: '\f055';
  font-weight: 400;
  font-family: 'Font Awesome 5 Pro';
  color: #FF2524;
  margin-right: 5px;
}
@media only screen and (min-width: 992px) {
  header .services-list li.services-item:before {
    display: inline-block;
  }
}
@media only screen and (min-width: 1200px) {
  header .services-list li.services-item:before {
    font-size: 18px;
    margin-right: 8px;
  }
}
h2 {
  text-align: center;
  font: 700 24px 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 45px 0 60px;
  padding: 0 15px;
  color: #111012;
}
h2:after {
  content: '';
  display: block;
  margin: 10px auto 0;
  height: 2px;
  width: 50px;
  background: #FF2524;
}
h2 .subtext {
  text-transform: none;
}
.routes-section {
  text-align: center;
  margin-bottom: 45px;
}
.routes-section .routes-items {
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .routes-section .routes-items {
    display: flex;
    justify-content: center;
  }
}
.routes-section .routes-item {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .routes-section .routes-item:first-child {
    margin-right: 60px;
  }
}
@media only screen and (min-width: 992px) {
  .routes-section .routes-item:first-child {
    margin-right: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .routes-section .routes-item:first-child {
    margin-right: 140px;
  }
}
.routes-section .routes-item-title {
  font: 700 16px 'Roboto', sans-serif;
  text-transform: uppercase;
}
.routes-section .routes-item-subtitle {
  font: 700 14px 'Roboto', sans-serif;
  color: #918E95;
}
.routes-section .routes-item-img {
  margin: 10px 0;
}
@media only screen and (min-width: 992px) {
  .routes-section .routes-item-img {
    margin-top: 30px;
  }
}
.routes-section .routes-item-img img {
  max-width: 100%;
}
.transport-section {
  background: #000 url("https://www.evakuator-argo.com.ua/images/bg.png") 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 45px;
  padding: 30px 30px 45px;
}
@media only screen and (min-width: 768px) {
  .transport-section {
    padding: 30px 0 45px;
  }
}
.transport-section h2 {
  color: #FFFFFF;
}
.transport-section .transport-list {
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .transport-section .transport-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1200px) {
  .transport-section .transport-list {
    justify-content: center;
  }
}
.transport-section .transport-list li {
  display: block;
}
@media only screen and (min-width: 480px) {
  .transport-section .transport-list li {
    width: 50%;
    flex: 1 1 50%;
  }
}
@media only screen and (min-width: 768px) {
  .transport-section .transport-list li {
    width: 25%;
    flex: 1 1 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .transport-section .transport-list li {
    width: 200px;
    margin: 0 10px;
    flex: 0 1 auto;
  }
}
.transport-section .transport-item {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .transport-section .transport-img {
    width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  .transport-section .transport-img {
    width: 75%;
  }
}
.transport-section .transport-img img {
  max-width: 100%;
}
.transport-section .transport-title {
  font: 700 16px 'Roboto', sans-serif;
  color: #FFFFFF;
  margin: 15px 0 5px;
}
.transport-section .transport-description {
  font: 400 12px 'Roboto', sans-serif;
  color: #918E95;
}
.prices-section .prices-list {
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .prices-section .prices-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.prices-section .prices-list .prices-item {
  display: block;
}
@media only screen and (min-width: 480px) {
  .prices-section .prices-list .prices-item {
    display: block;
    width: 50%;
    flex: 1 1 50%;
  }
}
@media only screen and (min-width: 768px) {
  .prices-section .prices-list .prices-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    flex: 1 1 25%;
  }
}
.prices-section .prices-item {
  margin-bottom: 30px;
}
.prices-section .prices-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .prices-section .prices-img {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .prices-section .prices-img {
    width: 200px;
    height: 200px;
  }
}
.prices-section .prices-img img {
  border: 3px solid #F7BD30;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.prices-section .prices-title {
  font: 700 16px 'Roboto', sans-serif;
  color: #111012;
  margin: 20px 0 10px;
}
@media only screen and (min-width: 1200px) {
  .prices-section .prices-title {
    margin: 30px 0 10px;
  }
}
.prices-section .prices-button {
  display: inline-block;
  background: #FF2524;
  color: #FFFFFF;
  font: 700 16px 'Roboto', sans-serif;
  padding: 11px 24px 8px;
  width: auto;
}
.reviews-section {
  background: url('https://www.evakuator-argo.com.ua/images/leftcar.png') left top no-repeat, url('https://www.evakuator-argo.com.ua/images/rightcar.png') right bottom no-repeat;
  -webkit-background-size: 300px, 300px;
  background-size: 300px, 300px;
  padding-top: 130px;
  margin-top: 50px;
}
@media only screen and (min-width: 992px) {
  .reviews-section {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .reviews-section {
    -webkit-background-size: 400px, 420px;
    background-size: 400px, 420px;
  }
}
.reviews-section .reviews-slider-container {
  padding-bottom: 210px;
}
@media only screen and (min-width: 480px) {
  .reviews-section .reviews-slider-container {
    width: 450px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .reviews-section .reviews-slider-container {
    padding-bottom: 50px;
  }
}
.reviews-section .reviews-slider-container .lSSlideOuter .lSPager.lSpg li.active a {
  background: #F7BD30;
}
.reviews-section .reviews-slider-container .lSSlideOuter .lSPager.lSpg li a {
  background: #918E95;
}
.reviews-section .reviews-slider {
  margin-bottom: 20px;
}
.reviews-section .reviews-item {
  text-align: center;
  padding: 0 15px;
}
.reviews-section .review-text {
  font: 400 16px 'Roboto', sans-serif;
  font-style: italic;
  color: #918E95;
  position: relative;
  padding: 0 25px;
  line-height: 24px;
}
.reviews-section .review-text:before,
.reviews-section .review-text:after {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  font-style: normal;
  position: absolute;
  opacity: 0.2;
}
.reviews-section .review-text:before {
  content: '\f10d';
  top: 0;
  left: 0;
}
.reviews-section .review-text:after {
  content: '\f10e';
  right: 0;
  bottom: 0;
}
.reviews-section .review-img {
  width: 100px;
  height: 100px;
  margin: 30px auto 15px;
}
.reviews-section .review-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  border-radius: 50%;
}
.reviews-section .review-author {
  font: 700 16px 'Roboto', sans-serif;
  color: #111012;
}
.reviews-section .review-author .review-author-locality {
  color: #918E95;
}
@media only screen and (min-width: 992px) {
  .contacts-section {
    padding-top: 42px;
    margin-top: -70px;
    background: url('https://www.evakuator-argo.com.ua/images/leftgirl.png') no-repeat;
    -webkit-background-size: auto 393px;
    background-size: auto 393px;
  }
  .contacts-section.without-girl {
    background: #ffffff;
    margin-top: 0;
    padding-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-section {
    -webkit-background-size: auto 393px;
    background-size: auto 393px;
  }
}
@media only screen and (min-width: 680px) {
  .contacts-section .contacts-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-section .contacts-list {
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-section .contacts-list {
    width: 59%;
    margin: 0 auto;
  }
}
.contacts-section .contacts-item {
  text-align: center;
  margin-bottom: 50px;
}
.contacts-section .contacts-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  background: #F7BD30;
  border-radius: 50%;
}
.contacts-section .contacts-phone {
  font: 900 26px 'Roboto', sans-serif;
  color: #111012;
  margin: 20px 0 5px;
}
@media only screen and (min-width: 1200px) {
  .contacts-section .contacts-phone {
    font-size: 30px;
  }
}
.contacts-section .contacts-phone a {
  color: black;
  text-decoration: none;
}
.contacts-section .contacts-description {
  font: 700 16px 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #918E95;
}
.breadcrumbs {
  padding: 0 15px;
  margin-top: 30px;
  font: 700 12px 'Roboto', sans-serif;
}
@media only screen and (min-width: 992px) {
  .breadcrumbs {
    font-size: 14px;
  }
}
.breadcrumbs a {
  text-decoration: none;
  color: #F7BD30;
}
.breadcrumbs span {
  color: #918E95;
}
.article-section {
  font: 400 14px 'Roboto', sans-serif;
  padding: 15px 15px 30px;
}
.article-section p {
  padding-bottom: 10px;
}
.article-section img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
  max-height: 700px;
}
.articles-list-section {
  padding: 0 15px 30px;
}
@media only screen and (min-width: 768px) {
  .articles-list-section {
    padding: 0 0 45px;
  }
}
@media only screen and (min-width: 768px) {
  .articles-list-section .container {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 480px) {
  .articles-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7.5px;
  }
}
.article-item {
  display: block;
  font: 700 14px 'Roboto', sans-serif;
  margin-bottom: 15px;
}
@media only screen and (min-width: 480px) {
  .article-item {
    width: calc(50% - 15px);
    margin: 0 7.5px 15px;
  }
}
@media only screen and (min-width: 768px) {
  .article-item {
    width: calc((100% / 3) - 15px);
    margin: 0 7.5px 15px;
  }
}
@media only screen and (min-width: 992px) {
  .article-item {
    width: calc(25% - 15px);
    margin: 0 7.5px 15px;
  }
}
.article-item__content {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  color: #FFFFFF;
}
.article-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-item__text {
  background: rgba(17, 16, 18, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  letter-spacing: 1px;
  text-align: center;
  transition: background 300ms ease;
}
@media only screen and (min-width: 768px) {
  .article-item__text {
    padding: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .article-item__text {
    padding: 30px;
  }
}
.article-item__text:hover {
  background: rgba(17, 16, 18, 0.8);
}
.pagination {
  text-align: center;
  font: 700 14px Roboto, sans-serif;
}
@media only screen and (min-width: 768px) {
  .pagination {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .pagination {
    margin-top: 30px;
  }
}
.pagination li {
  display: inline-block;
}
.pagination a,
.pagination span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  background: #F7BD30;
}
@media only screen and (min-width: 480px) {
  .pagination a,
  .pagination span {
    padding-top: 1px;
    min-width: 30px;
    height: 30px;
  }
}
.pagination a {
  color: #111012;
  text-decoration: none;
}
.pagination span {
  color: #918E95;
}
.calculator {
  padding: 0 15px;
}
@media only screen and (min-width: 1200px) {
  .calculator {
    padding: 0;
  }
}
.calculator__content {
  background: #F7BD30;
  margin: 0 auto 15px;
  padding: 15px;
  font-family: Roboto, sans-serif;
  border-radius: 5px;
}
.calculator__form label {
  font-weight: 700;
}
.calculator__info {
  text-align: center;
}
.calculator__button {
  display: inline-block;
  background: #FF2524;
  color: #FFFFFF;
  padding: 8px 24px;
  border: none;
  border-radius: 30px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.calculator__map {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .calculator__map {
    padding-bottom: 40%;
  }
}
.calculator__map #map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
}
