@charset "UTF-8";
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-display: swap;
  font-weight: 400;
  src: url("https://ib.ua/fonts/Font Awesome 5/fa-brands-400.eot");
  src: url("https://ib.ua/fonts/Font Awesome 5/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://ib.ua/fonts/Font Awesome 5/fa-brands-400.woff2") format("woff2"), url("https://ib.ua/fonts/Font Awesome 5/fa-brands-400.ttf") format("truetype"), url("https://ib.ua/fonts/Font Awesome 5/fa-brands-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 300;
  src: url("https://ib.ua/fonts/Font Awesome 5/fa-light-300.eot");
  src: url("https://ib.ua/fonts/Font Awesome 5/fa-light-300.eot?#iefix") format("embedded-opentype"), url("https://ib.ua/fonts/Font Awesome 5/fa-light-300.woff2") format("woff2"), url("https://ib.ua/fonts/Font Awesome 5/fa-light-300.woff") format("woff"), url("https://ib.ua/fonts/Font Awesome 5/fa-light-300.ttf") format("truetype"), url("https://ib.ua/fonts/Font Awesome 5/fa-light-300.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 400;
  src: url("https://ib.ua/fonts/Font Awesome 5/fa-regular-400.eot");
  src: url("https://ib.ua/fonts/Font Awesome 5/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("https://ib.ua/fonts/Font Awesome 5/fa-regular-400.woff2") format("woff2"), url("https://ib.ua/fonts/Font Awesome 5/fa-regular-400.woff") format("woff"), url("https://ib.ua/fonts/Font Awesome 5/fa-regular-400.ttf") format("truetype"), url("https://ib.ua/fonts/Font Awesome 5/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 900;
  src: url("https://ib.ua/fonts/Font Awesome 5/fa-solid-900.eot");
  src: url("https://ib.ua/fonts/Font Awesome 5/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://ib.ua/fonts/Font Awesome 5/fa-solid-900.woff2") format("woff2"), url("https://ib.ua/fonts/Font Awesome 5/fa-solid-900.woff") format("woff"), url("https://ib.ua/fonts/Font Awesome 5/fa-solid-900.ttf") format("truetype"), url("https://ib.ua/fonts/Font Awesome 5/fa-solid-900.svg#fontawesome") format("svg");
}
.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.fal {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.far {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

.fa, .fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
}

ul {
  list-style: none;
}

a, button {
  cursor: pointer;
  transition: all 300ms ease;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea, button, select, label {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Noto Sans", sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper__content {
  flex: 1 0 auto;
}
.wrapper__footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.m-t {
  margin-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-t {
    margin-top: 30px;
  }
}
.m-b {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-b {
    margin-bottom: 30px;
  }
}
.m-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.m-lr {
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-lr {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.m-full {
  margin: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-full {
    margin: 30px;
  }
}

.p-t {
  padding-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-t {
    padding-top: 30px;
  }
}
.p-b {
  padding-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-b {
    padding-bottom: 30px;
  }
}
.p-tb {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-tb {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.p-lr {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-lr {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.p-full {
  padding: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-full {
    padding: 30px;
  }
}

.section {
  padding: 15px 0;
}
@media only screen and (min-width: 992px) {
  .section {
    padding: 30px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .section {
    padding: 45px 0;
  }
}
.section.gray {
  background: #f5f5f5;
}
.section-title {
  display: block;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin: 30px 0 15px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 28px;
    margin: 45px 0 30px;
  }
}
@media only screen and (min-width: 992px) {
  .section-title {
    font-size: 32px;
    margin: 60px 0 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin: 90px 0 45px;
  }
}
.section-title a {
  color: #000000;
}
.section-title a:hover, .section-title a:focus {
  color: #662f85;
}
.section-title span, .section-title a {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1200px) {
  .section-title span, .section-title a {
    padding-bottom: 15px;
  }
}
.section-title span:after, .section-title a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 5px;
  display: inline-block;
  content: "";
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #bf1b1e 20%, #f6d015 20%, #f6d015 30%, #1ea348 30%, #1ea348 37%, #662f85 37%, #662f85 100%);
}
.section-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300;
}
@media only screen and (min-width: 480px) {
  .section-subtitle {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .section-subtitle {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .section-subtitle {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-subtitle {
    margin-bottom: 30px;
    font-size: 24px;
  }
}
.section-subtitle a {
  display: inline-block;
  color: #000000;
}
.section-subtitle a:before {
  font-family: "Font Awesome 5 Pro";
  content: "\F104";
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .section-subtitle a:before {
    margin-right: 10px;
  }
}
.section-subtitle a:hover, .section-subtitle a:focus {
  color: #662f85;
}

.language-dropdown {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.language-dropdown__current {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.language-dropdown__current i {
  margin-left: 5px;
}
.language-dropdown__list {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -5px;
  right: 0;
  margin-top: 3px;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 5px;
  background: #FFFFFF;
  border-radius: 0 0 5px 5px;
  display: none;
}
.language-dropdown__list a {
  display: block;
  margin-bottom: 3px;
  color: #4d4d4d;
}
.language-dropdown__list a:last-child {
  margin-bottom: 0;
}
.language-dropdown__list a:hover, .language-dropdown__list a:focus {
  color: #662f85;
}

.header {
  padding: 15px 0;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .header__top {
    height: 40px;
  }
}
.header__logo {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    position: absolute;
    left: 50%;
    margin-left: -97px;
  }
}
.header__logo img {
  max-height: 40px;
}
.header__menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .header__menu-right {
    display: flex;
  }
}
.header__bottom {
  margin-top: 15px;
}
@media only screen and (min-width: 480px) {
  .header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__contacts {
  display: none;
}
@media only screen and (min-width: 480px) {
  .header__contacts {
    display: flex;
  }
}
.header__contacts-item {
  margin-right: 15px;
}
.header__contacts-item:last-child {
  margin-right: 0;
}
.header__contacts-item--icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  width: 24px;
  height: 24px;
  border: 1px solid #662f85;
  border-radius: 50%;
  color: #662f85;
  margin-right: 3px;
}
.header__contacts-item a {
  color: #662f85;
}
.header__socials {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header__socials {
    margin-left: -100px;
  }
}
.header__socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #662f85;
  border-radius: 50%;
  font-size: 11px;
  margin-right: 10px;
}
.header__socials a:hover, .header__socials a:focus {
  background: #662f85;
  color: #FFFFFF;
}
.header__socials a:hover i, .header__socials a:focus i {
  color: #FFFFFF;
}
.header__socials a:last-child {
  margin-right: 0;
}
.header__socials i {
  transition: 300ms ease;
  color: #662f85;
}
.header__auth {
  display: none;
}
@media only screen and (min-width: 640px) {
  .header__auth {
    display: block;
  }
}
.header__auth-icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #662f85;
  border-radius: 50%;
  font-size: 11px;
  color: #662f85;
  margin-right: 3px;
}
.header__hamburger {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  margin-left: 15px;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.header__hamburger.active span {
  background: rgba(255, 255, 255, 0);
}
.header__hamburger.active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 19px 3px;
          transform-origin: 19px 3px;
}
.header__hamburger.active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 19px -1px;
          transform-origin: 19px -1px;
}
.header__hamburger span {
  background: #000000;
  display: inline-block;
  width: 20px;
  height: 2px;
  transition: background-color 300ms ease-in-out;
}
.header__hamburger span:before, .header__hamburger span:after {
  content: "";
  background: #000000;
  display: inline-block;
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 300ms ease-in-out;
}
.header__hamburger span:before {
  top: 2px;
}
.header__hamburger span:after {
  bottom: 2px;
}

.menu {
  display: flex;
  position: relative;
}
.menu-dropdown, .menu a {
  display: block;
  padding: 8px 0;
}
@media only screen and (min-width: 1200px) {
  .menu-dropdown, .menu a {
    padding: 12px 0;
  }
}
.menu-elem {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #662f85;
}
@media only screen and (min-width: 992px) {
  .menu-elem {
    font-size: 16px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .menu-elem {
    font-size: 18px;
    margin-right: 40px;
  }
}
.menu-content {
  overflow-y: scroll;
  height: 100%;
  padding: 15px;
}
.menu-content::-webkit-scrollbar {
  width: 3px;
}
.menu-content::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.menu-content::-webkit-scrollbar-thumb {
  background: #662f85;
}

.menu-1-lvl, .menu-2-lvl, .menu-3-lvl {
  display: none;
  width: 220px;
  position: absolute;
}
.menu-1-lvl span, .menu-2-lvl span, .menu-3-lvl span {
  text-transform: none;
}

.menu-1-lvl:after, .menu-2-lvl:after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  border: 12px solid;
  border-color: transparent transparent transparent #FFFFFF;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: -24px;
  opacity: 0;
  transition: 300ms ease;
}
.menu-1-lvl.active:after, .menu-2-lvl.active:after {
  opacity: 1;
}

.menu-1-lvl {
  background: url("https://ib.ua/images/menu-1-bg.png") 0 50% no-repeat;
  background-size: cover;
  left: 0;
  z-index: 10;
  padding: 15px;
}
.menu-1-lvl.menu-1-lvl--top {
  bottom: calc(100% + 15px);
}
.menu-1-lvl.menu-1-lvl--bottom {
  top: calc(100% + 15px);
}
.menu-1-lvl.active:after {
  border-left-color: #705085;
}
.menu-1-lvl a, .menu-1-lvl span {
  color: #FFFFFF;
  cursor: pointer;
  transition: 300ms ease;
}
.menu-1-lvl a:hover, .menu-1-lvl a:focus, .menu-1-lvl span:hover, .menu-1-lvl span:focus {
  color: #f6d015;
}
.menu-1-lvl span {
  position: relative;
}
.menu-1-lvl span.active {
  color: #FFFFFF;
  font-weight: 700;
}

.menu-2-lvl, .menu-3-lvl {
  opacity: 0;
  top: 0;
  left: calc(100% + 12px);
  height: 100%;
  background: #FFFFFF;
}
.menu-2-lvl a, .menu-2-lvl span, .menu-3-lvl a, .menu-3-lvl span {
  color: #000000;
}
.menu-2-lvl a:hover, .menu-2-lvl a:focus, .menu-2-lvl span:hover, .menu-2-lvl span:focus, .menu-3-lvl a:hover, .menu-3-lvl a:focus, .menu-3-lvl span:hover, .menu-3-lvl span:focus {
  color: #662f85;
}
.menu-2-lvl span.active, .menu-3-lvl span.active {
  color: #662f85;
}

.menu-2-lvl {
  z-index: 11;
}

.menu-3-lvl {
  z-index: 12;
}

.mm {
  position: fixed;
  z-index: 30;
  background: #FFFFFF;
  top: 0;
  bottom: 0;
  left: -320px;
  width: 320px;
  transition: 300ms ease;
  display: flex;
  flex-direction: column;
}
.mm.active {
  left: 0;
}
.mm__header, .mm__controls, .mm__footer {
  border-right: 3px solid #f5f5f5;
}
.mm__header {
  padding: 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mm__close {
  color: #662f85;
}
.mm__controls {
  padding: 0 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mm__controls .header__auth {
  display: block;
}
.mm__content {
  padding: 0 15px;
  height: 100%;
  overflow-y: scroll;
}
.mm__content::-webkit-scrollbar {
  width: 3px;
}
.mm__content::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.mm__content::-webkit-scrollbar-thumb {
  background: #662f85;
}
.mm__footer {
  padding: 15px;
}
.mm__footer .header__contacts {
  display: flex;
  justify-content: space-between;
}
.mm__menu a {
  display: block;
  padding: 3px 0;
  border-bottom: 1px solid #f5f5f5;
}
.mm__menu a:hover, .mm__menu a:focus {
  color: #1ea348;
}
.mm__item-title {
  color: #662f85;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
  cursor: pointer;
  transition: 300ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px solid #f5f5f5;
}
.mm__item-title:after {
  content: "\F105";
  font-family: "Font Awesome 5 Pro";
  transition: 150ms ease;
}
.mm__item-title:hover, .mm__item-title:focus {
  color: #bf1b1e;
}
.mm__item-title.active:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mm__item-menu {
  display: none;
  padding-left: 15px;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.float-alert {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  padding: 15px;
  position: relative;
  max-width: 100%;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 #272727;
  display: flex;
  align-items: flex-start;
  cursor: auto;
}
@media only screen and (min-width: 480px) {
  .float-alert {
    max-width: 450px;
  }
}
@media only screen and (min-width: 768px) {
  .float-alert {
    padding: 30px;
    font-size: 16px;
    line-height: 1.3em;
    max-width: 600px;
  }
}
.float-alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.float-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.float-alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.float-alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.float-alert__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}
.float-alert__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.float-alert__close {
  cursor: pointer;
  margin-left: 15px;
}
@media only screen and (min-width: 768px) {
  .float-alert__close {
    margin-top: -15px;
    margin-right: -15px;
  }
}

.pagination {
  text-align: center;
}
.pagination li {
  display: inline-block;
}
@media only screen and (min-width: 480px) {
  .pagination li {
    margin: 0 3px;
  }
}
@media only screen and (min-width: 1200px) {
  .pagination li {
    font-size: 16px;
  }
}
.pagination li.active span {
  border-color: #662f85;
}
.pagination li.disabled span {
  color: #4d4d4d;
}
.pagination li a, .pagination li span {
  display: inline-block;
  min-width: 23px;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #662f85;
}
@media only screen and (min-width: 480px) {
  .pagination li a, .pagination li span {
    padding: 2px 3px;
    min-width: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .pagination li a, .pagination li span {
    padding: 4px 6px;
    min-width: 29px;
  }
}
@media only screen and (min-width: 1200px) {
  .pagination li a, .pagination li span {
    padding: 6px 8px;
    min-width: 33px;
  }
}
.pagination li a {
  transition-duration: 150ms;
}
.pagination li a:hover, .pagination li a:focus {
  border-color: #662f85;
}

.home-slider {
  position: relative;
}
.home-slider #home-slider-pattern-1, .home-slider #home-slider-pattern-2 {
  background: url("https://ib.ua/https://ib.ua/images/pattern-small-2.png");
  display: none;
  height: 44px;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .home-slider #home-slider-pattern-1, .home-slider #home-slider-pattern-2 {
    display: block;
    width: calc((100% - 738px) / 2);
  }
}
.home-slider #home-slider-pattern-1 {
  right: 0;
}
@media only screen and (min-width: 768px) {
  .home-slider #home-slider-pattern-1 {
    top: 85px;
  }
}
@media only screen and (min-width: 992px) {
  .home-slider #home-slider-pattern-1 {
    top: 105px;
  }
}
@media only screen and (min-width: 1200px) {
  .home-slider #home-slider-pattern-1 {
    top: 125px;
  }
}
.home-slider #home-slider-pattern-2 {
  left: 0;
}
@media only screen and (min-width: 768px) {
  .home-slider #home-slider-pattern-2 {
    bottom: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .home-slider #home-slider-pattern-2 {
    bottom: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .home-slider #home-slider-pattern-2 {
    bottom: 80px;
  }
}
.home-slider__container {
  position: relative;
  background: #FFFFFF;
}
.home-slider__slide {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  background: no-repeat 100% 50%;
  background-size: contain;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .home-slider__slide {
    padding-bottom: 40%;
  }
}
.home-slider__slide:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(35deg, #875d9f, #f62dbd);
  opacity: 0.9;
}
.home-slider__slide-scroll-container {
  width: 100%;
  direction: ltr;
}
.home-slider__slide-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
  padding: 30px 45px 30px 15px;
  overflow-y: auto;
  direction: rtl;
}
@media only screen and (min-width: 768px) {
  .home-slider__slide-content {
    padding: 30px 10% 30px 30px;
  }
}
@media only screen and (min-width: 992px) {
  .home-slider__slide-content {
    padding-right: 15%;
  }
}
@media only screen and (min-width: 1200px) {
  .home-slider__slide-content {
    padding-right: 30%;
  }
}
.home-slider__slide-content::-webkit-scrollbar {
  width: 3px;
}
.home-slider__slide-content::-webkit-scrollbar-track {
  background: #c8a2de;
}
.home-slider__slide-content::-webkit-scrollbar-thumb {
  background: #662f85;
}
.home-slider__slide-text {
  text-transform: uppercase;
  font-size: 4.5vw;
  line-height: normal;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .home-slider__slide-text {
    font-size: 32px;
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .home-slider__slide-text {
    font-size: 36px;
    line-height: 1.4em;
  }
}
@media only screen and (min-width: 1200px) {
  .home-slider__slide-text {
    font-size: 42px;
  }
}
.home-slider__slide-text--number {
  display: none;
  background: #662f85;
}
@media only screen and (min-width: 768px) {
  .home-slider__slide-text--number {
    display: flex;
    align-items: flex-end;
    width: 55px;
    min-width: 55px;
    padding-left: 3px;
    margin-top: -15px;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .home-slider__slide-text--number {
    width: 80px;
    min-width: 80px;
  }
}
.home-slider__slide-button {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 10px;
  background: #f6d015;
  padding: 2px 8px 1px;
  font-size: 12px;
  color: #662f85;
}
@media only screen and (min-width: 480px) {
  .home-slider__slide-button {
    padding: 4px 12px 3px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 600px) {
  .home-slider__slide-button {
    margin-top: 15px;
    padding: 8px 24px 7px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .home-slider__slide-button {
    margin-left: 85px;
  }
}
@media only screen and (min-width: 992px) {
  .home-slider__slide-button {
    padding: 12px 36px 11px;
    font-size: 18px;
    margin-left: 85px;
  }
}
@media only screen and (min-width: 1200px) {
  .home-slider__slide-button {
    margin-top: 30px;
    margin-left: 110px;
  }
}
.home-slider__slide-button:hover, .home-slider__slide-button:focus {
  border-radius: 30px;
}
.home-slider__controls {
  position: absolute;
  top: 5px;
  right: 0;
}
@media only screen and (min-width: 480px) {
  .home-slider__controls {
    top: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .home-slider__controls {
    top: 30px;
  }
}
.home-slider__controls a {
  display: block;
  width: 32px;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  transition-duration: 150ms;
}
@media only screen and (min-width: 480px) {
  .home-slider__controls a {
    width: 37px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .home-slider__controls a {
    width: 42px;
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.home-slider__controls a:last-child {
  margin-bottom: 0;
}
.home-slider__controls a.active {
  font-size: 18px;
  border-bottom-color: #662f85;
}
@media only screen and (min-width: 480px) {
  .home-slider__controls a.active {
    padding-bottom: 2px;
    font-size: 22px;
  }
}
@media only screen and (min-width: 992px) {
  .home-slider__controls a.active {
    padding-bottom: 5px;
    font-size: 28px;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-bottom: -30px;
}
@media only screen and (min-width: 992px) {
  .services-list {
    margin-bottom: -45px;
  }
}
@media only screen and (min-width: 1200px) {
  .services-list {
    margin-bottom: -60px;
  }
}
.services-list .service {
  width: calc(50% - 15px);
  margin-left: 7.5px;
  margin-right: 7.5px;
}
@media only screen and (min-width: 768px) {
  .services-list .service {
    width: calc(25% - 15px);
  }
}

.service {
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .service {
    margin-bottom: 45px;
  }
}
@media only screen and (min-width: 1200px) {
  .service {
    margin-bottom: 60px;
  }
}
.service:hover .service__image, .service:focus .service__image {
  border-radius: 50%;
}
.service:hover .service__title, .service:focus .service__title {
  color: #bf1b1e;
}
.service__image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  transition: 300ms ease;
}
@media only screen and (min-width: 992px) {
  .service__image {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .service__image {
    width: 108px;
    height: 108px;
  }
}
.service__image img {
  max-width: 100%;
  max-height: 100%;
}
.service__title {
  text-transform: uppercase;
  margin-top: 10px;
  color: #000000;
  transition: 300ms ease;
}
@media only screen and (min-width: 768px) {
  .service__title {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .service__title {
    font-size: 16px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .service__title {
    margin-top: 30px;
    font-size: 18px;
  }
}

.projects-section {
  position: relative;
}
.projects-section #projects-section-pattern-1, .projects-section #projects-section-pattern-2 {
  background: url("https://ib.ua/https://ib.ua/images/pattern-small-2.png");
  display: none;
  height: 44px;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .projects-section #projects-section-pattern-1, .projects-section #projects-section-pattern-2 {
    display: block;
    width: calc((100% - 738px) / 2);
  }
}
.projects-section #projects-section-pattern-1 {
  right: 0;
}
@media only screen and (min-width: 768px) {
  .projects-section #projects-section-pattern-1 {
    top: 85px;
  }
}
@media only screen and (min-width: 992px) {
  .projects-section #projects-section-pattern-1 {
    top: 105px;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-section #projects-section-pattern-1 {
    top: 125px;
  }
}
.projects-section #projects-section-pattern-2 {
  left: 0;
}
@media only screen and (min-width: 768px) {
  .projects-section #projects-section-pattern-2 {
    bottom: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .projects-section #projects-section-pattern-2 {
    bottom: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-section #projects-section-pattern-2 {
    bottom: 80px;
  }
}

.projects-container {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media only screen and (min-width: 560px) {
  .projects-container {
    width: auto;
  }
}

.partners-list, .projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
@media only screen and (min-width: 1200px) {
  .partners-list, .projects-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.partners-list .partner, .projects-list .partner {
  width: calc(50% - 15px);
  margin-left: 7.5px;
  margin-right: 7.5px;
}
@media only screen and (min-width: 560px) {
  .partners-list .partner, .projects-list .partner {
    width: calc(25% - 15px);
  }
}
@media only screen and (min-width: 1200px) {
  .partners-list .partner, .projects-list .partner {
    width: calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
.partners-list .project, .projects-list .project {
  margin-left: 7.5px;
  margin-right: 7.5px;
}
@media only screen and (min-width: 560px) {
  .partners-list .project, .projects-list .project {
    width: calc((100% / 3) - 15px);
  }
}
@media only screen and (min-width: 1200px) {
  .partners-list .project, .projects-list .project {
    width: calc((100% / 3) - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}

.partner, .project {
  border: 3px solid #f5f5f5;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  background: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .partner, .project {
    padding: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .partner, .project {
    padding: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .partner, .project {
    padding: 45px;
    margin-bottom: 30px;
  }
}
.partner:hover, .partner:focus, .project:hover, .project:focus {
  border-color: #f6d015;
}
.partner__image, .project__image {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}
.partner__image img, .project__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.project {
  padding: 0;
  border-width: 1px;
}
.project:hover, .project:focus {
  border-color: #1ea348;
}
.project__image {
  padding-bottom: 67%;
}
.project__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media only screen and (min-width: 560px) {
  .contacts {
    max-width: 530px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts {
    max-width: 738px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts {
    max-width: 800px;
  }
}
@media only screen and (min-width: 560px) {
  .contacts.big {
    max-width: 440px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts.big {
    max-width: none;
  }
}
@media only screen and (min-width: 992px) {
  .contacts.big {
    max-width: 90%;
  }
}
.contacts.big .contacts-info {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .contacts.big .contacts-info {
    padding-right: 70%;
  }
}
@media only screen and (min-width: 992px) {
  .contacts.big .contacts-info {
    padding-right: 64%;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts.big .contacts-info {
    padding-right: 53%;
  }
}
.contacts.big .contacts-form {
  max-width: 440px;
}
.contacts-info {
  border: 3px solid #f6d015;
  padding: 15px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .contacts-info {
    position: absolute;
    width: 100%;
    text-align: left;
    padding: 30px;
    top: 50%;
    border-width: 8px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media only screen and (min-width: 992px) {
  .contacts-info {
    padding: 45px 60px;
  }
}
.contacts-info__item {
  margin-bottom: 10px;
  color: #662f85;
}
@media only screen and (min-width: 560px) {
  .contacts-info__item {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.contacts-info__item:last-child {
  margin-bottom: 0;
}
.contacts-info__item-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #662f85;
  font-size: 12px;
  margin-right: 5px;
}
@media only screen and (min-width: 560px) {
  .contacts-info__item-icon {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}
.contacts-info__item-text {
  color: #662f85;
}
.contacts-info__logo {
  margin-bottom: 5px;
}
.contacts-info__logo img {
  max-height: 40px;
}
.contacts-info p {
  font-weight: 700;
}
@media only screen and (min-width: 992px) {
  .contacts-info p {
    font-size: 18px;
    line-height: 1.5em;
  }
}
.contacts-info .contacts-project-info {
  color: #662f85;
}
@media only screen and (min-width: 560px) {
  .contacts-info .contacts-project-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-info .contacts-project-info {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-info .contacts-project-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.contacts-info .contacts-project-info__item {
  margin-bottom: 15px;
}
@media only screen and (min-width: 560px) {
  .contacts-info .contacts-project-info__item {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-info .contacts-project-info__item {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-info .contacts-project-info__item {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-info .contacts-project-info__item {
    display: flex;
    align-items: center;
  }
}
.contacts-info .contacts-project-info__item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
@media only screen and (min-width: 1200px) {
  .contacts-info .contacts-project-info__content {
    text-align: left;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-info .contacts-project-info__icon {
    margin-right: 30px;
  }
}
.contacts-info .contacts-project-info__icon img {
  max-height: 36px;
}
@media only screen and (min-width: 1200px) {
  .contacts-info .contacts-project-info__icon img {
    max-height: none;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-info .contacts-project-info__title {
    margin-bottom: 10px;
  }
}
.contacts-info .contacts-project-info__value {
  font-weight: 700;
}
.contacts-form {
  background: #f6d015;
  padding: 15px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .contacts-form {
    margin-left: auto;
    box-shadow: 0 0 15px 0 #cfcfcf;
    max-width: 55%;
    padding: 30px;
    margin-right: 60px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-form {
    padding: 30px 45px;
  }
}
.contacts-form__item {
  margin-bottom: 15px;
}
.contacts-form__item:last-child {
  margin-bottom: 0;
}
.contacts-form__item.right {
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .contacts-form__item-content {
    display: flex;
    align-items: center;
  }
}
.contacts-form__item-label {
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .contacts-form__item-label {
    width: 25%;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-form__item-label {
    margin-right: 5px;
    font-size: 16px;
  }
}
.contacts-form__item-field {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .contacts-form__item-field {
    flex: 1;
  }
}
.contacts-form__item-field i {
  width: 20px;
  margin-right: 10px;
  color: #f6d015;
}
.contacts-form__item-field input, .contacts-form__item-field textarea {
  width: 100%;
  border: none;
}
.contacts-form__item-field textarea {
  resize: none;
  height: 60px;
}
.contacts-form__item-field textarea::-webkit-scrollbar {
  width: 3px;
}
.contacts-form__item-field textarea::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.contacts-form__item-field textarea::-webkit-scrollbar-thumb {
  background: #f6d015;
}
.contacts-form__item-error {
  color: #bf1b1e;
  font-size: 12px;
  margin-top: 5px;
}
.contacts-form__item button {
  background: none;
  border: none;
  text-transform: uppercase;
  color: #662f85;
}
.contacts-form__item button i {
  margin-left: 5px;
}
.contacts-form__item button:hover, .contacts-form__item button:focus {
  color: #1ea348;
}

@media only screen and (min-width: 480px) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.contacts-list__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
  .contacts-list__item {
    width: 50%;
  }
}
@media only screen and (min-width: 640px) {
  .contacts-list__item {
    flex: 1;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-list__item {
    flex: none;
    width: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-list__item {
    width: 200px;
  }
}
.contacts-list__item:last-child {
  margin-right: 0;
}
.contacts-list__item-icon {
  width: 60px;
  height: 60px;
  border: 1px solid #662f85;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #662f85;
  font-size: 25px;
}
@media only screen and (min-width: 992px) {
  .contacts-list__item-icon {
    width: 80px;
    height: 80px;
    font-size: 35px;
  }
}
.contacts-list__item-title {
  font-size: 16px;
  margin-top: 10px;
  color: #662f85;
}
@media only screen and (min-width: 992px) {
  .contacts-list__item-title {
    margin-top: 15px;
    font-size: 18px;
  }
}

.contacts-map {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .contacts-map {
    padding-bottom: 45%;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-map {
    padding-bottom: 35%;
  }
}
.contacts-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .news-sidebar {
    display: flex;
  }
}
.news-sidebar__news {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .news-sidebar__news {
    flex: 2;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .news-sidebar__sidebar {
    flex: 1;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-sidebar__sidebar {
    margin-left: 30px;
  }
}

.sidebar-news__item {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #8c8c8c;
}
.sidebar-news__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.sidebar-news__item-title {
  font-weight: 700;
  font-size: 16px;
}
@media only screen and (min-width: 992px) {
  .sidebar-news__item-title {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .sidebar-news__item-title {
    font-size: 20px;
    line-height: 1.2em;
  }
}
.sidebar-news__item-title a {
  color: #000000;
}
.sidebar-news__item-title a:hover, .sidebar-news__item-title a:focus {
  color: #662f85;
}
.sidebar-news__item-info {
  margin: 16px 0 8px;
}
.sidebar-news__item-date {
  color: #4d4d4d;
  font-weight: 300;
}
.sidebar-news__item-comments {
  color: #662f85;
  margin-left: 30px;
}

.news-list {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
}
@media only screen and (min-width: 480px) {
  .news-list {
    width: auto;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -webkit-column-width: 204px;
            column-width: 204px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-list {
    -webkit-column-width: 365px;
            column-width: 365px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.news-card {
  display: block;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 30px;
  color: #000000;
}
.news-card:hover, .news-card:focus {
  color: #662f85;
}
.news-card:hover .news-card__image img, .news-card:focus .news-card__image img {
  border-radius: 15%;
}
.news-card__image img {
  width: 100%;
  transition: 300ms ease;
}
.news-card__title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
}
@media only screen and (min-width: 768px) {
  .news-card__title {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  .news-card__title {
    margin-top: 10px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-card__title {
    line-height: 1.2em;
    font-size: 22px;
  }
}

.news-single__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2em;
}
@media only screen and (min-width: 992px) {
  .news-single__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-single__title {
    font-size: 30px;
  }
}
.news-single__info {
  margin: 10px 0 0;
}
@media only screen and (min-width: 992px) {
  .news-single__info {
    font-size: 16px;
  }
}
.news-single__image {
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .news-single__image {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-single__image {
    margin-top: 45px;
  }
}
.news-single__image img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  max-height: 550px;
}
.news-single__body {
  margin-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .news-single__body {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5em;
  }
}
.news-single__body p {
  margin-bottom: 15px;
}
.news-single__body p:last-child {
  margin-bottom: 0;
}
.news-single__body img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  max-height: 550px;
}
.news-single__footer {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 480px) {
  .news-single__footer-info {
    display: flex;
    align-items: center;
  }
}
.news-single__footer-views {
  margin-right: 15px;
}
@media only screen and (min-width: 768px) {
  .news-single__footer-views {
    margin-right: 30px;
    font-size: 16px;
  }
}
.news-single__footer-views i {
  margin-right: 5px;
}
.news-single__footer-share a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #662f85;
  border-radius: 50%;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .news-single__footer-share a {
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
.news-single__footer-share a:hover, .news-single__footer-share a:focus {
  background: #662f85;
  color: #FFFFFF;
}
.news-single__footer-share a:last-child {
  margin-right: 0;
}

.static__image {
  width: 100%;
  height: 0;
  padding-bottom: 22.8682170543%;
  margin-bottom: 15px;
  position: relative;
  background: #f5f5f5;
}
.static__image-container {
  position: relative;
}
.static__image-container:after, .static__image-container:before {
  content: "";
  background: url("https://ib.ua/https://ib.ua/images/pattern-small-2.png");
  background-size: contain;
  display: block;
  width: 50vw;
  position: absolute;
  z-index: -1;
  height: 22px;
}
@media only screen and (min-width: 480px) {
  .static__image-container:after, .static__image-container:before {
    height: 33px;
  }
}
@media only screen and (min-width: 992px) {
  .static__image-container:after, .static__image-container:before {
    height: 44px;
  }
}
.static__image-container:after {
  right: 0;
  top: 10%;
}
@media only screen and (min-width: 1200px) {
  .static__image-container:after {
    top: 15%;
  }
}
.static__image-container:before {
  left: 0;
  bottom: 10%;
}
@media only screen and (min-width: 1200px) {
  .static__image-container:before {
    bottom: 15%;
  }
}
.static__image-slider-item {
  width: 100%;
  height: 0;
  padding-bottom: 22.8682170543%;
  position: relative;
  background: #f5f5f5;
}
.static__image.small {
  width: 290px;
  height: 290px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.static__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.static__body p {
  margin-bottom: 8px;
}
.static__body p:last-child {
  margin-bottom: 0;
}
.static__body img {
  max-width: 100%;
  max-height: 600px;
}
.static__socials-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.static__socials-item:last-child {
  margin-bottom: 0;
}
.static__socials-item img {
  margin-right: 15px;
  max-height: 30px;
}
@media only screen and (min-width: 480px) {
  .static__socials-item img {
    max-height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .static__socials-item img {
    max-height: none;
  }
}
.static__socials-item a {
  color: #662f85;
  word-break: break-word;
}
.static__history {
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
}

.history-item {
  position: relative;
  margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
  .history-item {
    display: flex;
    margin-bottom: 0;
  }
}
.history-item:after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  position: absolute;
  top: 100%;
  margin-top: 7px;
  left: 50%;
  background: #1ea348;
}
@media only screen and (min-width: 480px) {
  .history-item:after {
    display: none;
  }
}
.history-item:last-child {
  margin-bottom: 0;
}
.history-item:last-child:after {
  display: none;
}
.history-item:last-child .history-item__text {
  border-left: none;
}
.history-item__date, .history-item__text {
  text-align: center;
}
.history-item__date {
  color: #662f85;
}
@media only screen and (min-width: 480px) {
  .history-item__date {
    text-align: right;
    width: 100px;
  }
}
@media only screen and (min-width: 480px) {
  .history-item__text {
    text-align: left;
    flex: 1;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #1ea348;
    padding-bottom: 45px;
    position: relative;
  }
  .history-item__text:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url("https://ib.ua/images/ib-point.png") 50% no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    margin-left: -8px;
  }
}
@media only screen and (min-width: 768px) {
  .history-item__text {
    margin-left: 30px;
    padding-left: 30px;
  }
  .history-item__text:before {
    width: 22px;
    height: 22px;
    margin-left: -11px;
  }
}

.portfolioGallery__thumbs, .portfolioGallery__main {
  position: relative;
}
.portfolioGallery__thumbs-image, .portfolioGallery__main-image {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  position: relative;
  border: 3px solid #f5f5f5;
  transition: border 300ms ease;
}
.portfolioGallery__thumbs-image img, .portfolioGallery__main-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolioGallery__thumbs-text {
  text-align: center;
  font-size: 12px;
  color: #662f85;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__thumbs-text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  .portfolioGallery__thumbs-text {
    margin-bottom: 15px;
  }
}
.portfolioGallery__thumbs-text a {
  color: #662f85;
}
.portfolioGallery__thumbs-image {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.portfolioGallery__thumbs-image:hover, .portfolioGallery__thumbs-image:focus {
  border-color: #cabad3;
}
.portfolioGallery__thumbs-image.active {
  border-color: #662f85;
}
.portfolioGallery__thumbs .lSAction > .lSPrev, .portfolioGallery__thumbs .lSAction > .lSNext {
  top: 3px;
  bottom: 3px;
  margin-top: 0;
  height: auto;
  display: flex;
  align-items: center;
  color: #662f85;
  font-size: 20px;
  opacity: 1;
}
@media only screen and (min-width: 480px) {
  .portfolioGallery__thumbs .lSAction > .lSPrev, .portfolioGallery__thumbs .lSAction > .lSNext {
    width: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__thumbs .lSAction > .lSPrev, .portfolioGallery__thumbs .lSAction > .lSNext {
    width: 90px;
    font-size: 30px;
  }
}
.portfolioGallery__thumbs .lSAction > .lSNext {
  background: linear-gradient(-90deg, #f5f5f5, transparent);
  right: 3px;
  justify-content: flex-end;
}
.portfolioGallery__thumbs .lSAction > .lSNext i {
  margin-right: 12px;
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__thumbs .lSAction > .lSNext i {
    margin-right: 17px;
  }
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__thumbs .lSAction > .lSNext i {
    margin-right: 27px;
  }
}
.portfolioGallery__thumbs .lSAction > .lSPrev {
  background: linear-gradient(90deg, #f5f5f5, transparent);
  left: 3px;
}
.portfolioGallery__thumbs .lSAction > .lSPrev i {
  margin-left: 12px;
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__thumbs .lSAction > .lSPrev i {
    margin-left: 17px;
  }
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__thumbs .lSAction > .lSPrev i {
    margin-left: 27px;
  }
}
.portfolioGallery__main .lSAction > .lSPrev, .portfolioGallery__main .lSAction > .lSNext {
  height: 20px;
  width: auto;
  font-size: 20px;
  opacity: 1;
  color: #662f85;
  margin-top: -10px;
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__main .lSAction > .lSPrev, .portfolioGallery__main .lSAction > .lSNext {
    height: 30px;
    font-size: 30px;
  }
}
.portfolioGallery__main .lSAction > .lSPrev {
  left: 15px;
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__main .lSAction > .lSPrev {
    left: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .portfolioGallery__main .lSAction > .lSPrev {
    left: 30px;
  }
}
.portfolioGallery__main .lSAction > .lSNext {
  right: 15px;
}
@media only screen and (min-width: 768px) {
  .portfolioGallery__main .lSAction > .lSNext {
    right: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .portfolioGallery__main .lSAction > .lSNext {
    right: 30px;
  }
}

@media only screen and (min-width: 480px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantages .advantage {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
  .advantages .advantage {
    width: 50%;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 640px) {
  .advantages .advantage {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 768px) {
  .advantages .advantage {
    width: calc(100% / 3);
    padding: 0 15px;
  }
}
@media only screen and (min-width: 992px) {
  .advantages .advantage {
    width: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages .advantage {
    width: 20%;
    padding: 0 30px;
  }
}
.advantages .advantage:last-child {
  margin-bottom: 0;
}

.advantage {
  text-align: center;
}
.advantage__image {
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantage__image img {
  max-width: 100%;
  max-height: 100%;
}
.advantage__text {
  margin-top: 10px;
  font-size: 16px;
}

.video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clients {
  padding: 0 30px;
  position: relative;
}
.clients .lSNext, .clients .lSPrev {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  top: 50%;
  margin-top: -18px;
  opacity: 1;
  color: #662f85;
  width: auto;
}
.clients .lSPrev {
  left: 0;
}
.clients .lSNext {
  right: 0;
}
.clients .lSSlideWrapper {
  position: static;
}

.client {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
@media only screen and (min-width: 768px) {
  .client {
    padding: 0 15px;
  }
}
.client__wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  position: relative;
}
.client img {
  max-width: 100%;
  max-height: 100%;
}

.reviews {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .reviews {
    max-width: none;
  }
}
.reviews .lSNext, .reviews .lSPrev {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  top: 79px;
  margin-top: 0;
  opacity: 1;
  color: #662f85;
  width: auto;
}
.reviews .lSPrev {
  left: 0;
}
.reviews .lSNext {
  right: 0;
}

.review {
  text-align: center;
}
.review__image img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin: 15px 0 10px;
}
.review__company, .review__location {
  color: #662f85;
  font-size: 16px;
}
.review__location {
  font-weight: 700;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .review__location {
    margin-bottom: 30px;
  }
}
.review__comment {
  height: 15em;
  overflow-y: scroll;
  padding-right: 5px;
}
.review__comment::-webkit-scrollbar {
  width: 3px;
}
.review__comment::-webkit-scrollbar-track {
  background: transparent;
}
.review__comment::-webkit-scrollbar-thumb {
  background: #662f85;
}

.lSSlideOuter .lSPager.lSpg {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
@media only screen and (min-width: 768px) {
  .lSSlideOuter .lSPager.lSpg {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .lSSlideOuter .lSPager.lSpg {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .lSSlideOuter .lSPager.lSpg {
    padding-top: 20px;
  }
}
.lSSlideOuter .lSPager.lSpg li {
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
  padding: 0 8px;
}
@media only screen and (min-width: 480px) {
  .lSSlideOuter .lSPager.lSpg li {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) {
  .lSSlideOuter .lSPager.lSpg li {
    padding: 0 15px;
  }
}
.lSSlideOuter .lSPager.lSpg li:hover a, .lSSlideOuter .lSPager.lSpg li:focus a {
  background: #db761a;
}
.lSSlideOuter .lSPager.lSpg li.active a {
  background: #bf1b1e;
}
.lSSlideOuter .lSPager.lSpg li a {
  width: 16px;
  height: 4px;
  border-radius: 0;
  transition-duration: 300ms;
  background: #f6d015;
}
@media only screen and (min-width: 480px) {
  .lSSlideOuter .lSPager.lSpg li a {
    width: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .lSSlideOuter .lSPager.lSpg li a {
    width: 48px;
    height: 6px;
  }
}
@media only screen and (min-width: 992px) {
  .lSSlideOuter .lSPager.lSpg li a {
    width: 72px;
  }
}

.videos__item {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.videos__item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videos .lSNext, .videos .lSPrev {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  opacity: 1;
  color: #662f85;
}

@media only screen and (min-width: 480px) {
  .way {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.way__item {
  text-align: center;
  position: relative;
  width: 240px;
  margin: 0 auto 60px;
}
@media only screen and (min-width: 480px) {
  .way__item {
    width: calc(100% / 3);
    margin: 0 0 60px;
  }
  .way__item:nth-child(3n+1) .way__item-marker:before {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .way__item {
    width: 25%;
  }
  .way__item:nth-child(3n+1) .way__item-marker:before {
    display: block;
  }
  .way__item:nth-child(4n+1) .way__item-marker:before {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  .way__item {
    width: 20%;
  }
  .way__item:nth-child(4n+1) .way__item-marker:before {
    display: block;
  }
  .way__item:nth-child(5n+1) .way__item-marker:before {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .way__item {
    width: calc(100% / 6);
  }
  .way__item:nth-child(5n+1) .way__item-marker:before {
    display: block;
  }
  .way__item:nth-child(6n+1) .way__item-marker:before {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .way__item {
    width: calc(100% / 7);
  }
  .way__item:nth-child(6n+1) .way__item-marker:before {
    display: block;
  }
  .way__item:nth-child(7n+1) .way__item-marker:before {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .way__item {
    width: calc(100% / 9);
  }
  .way__item:nth-child(7n+1) .way__item-marker:before {
    display: block;
  }
  .way__item:nth-child(9n+1) .way__item-marker:before {
    display: none;
  }
}
.way__item:last-child .way__item-marker {
  display: none;
}
@media only screen and (min-width: 480px) {
  .way__item:last-child .way__item-marker {
    display: block;
  }
}
.way__item-number {
  font-weight: 700;
  color: #662f85;
  font-size: 16px;
}
.way__item-marker {
  position: absolute;
  width: 1px;
  height: 30px;
  background: #1ea348;
  left: 50%;
  top: 100%;
  margin-top: 15px;
}
@media only screen and (min-width: 480px) {
  .way__item-marker {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: static;
    margin: 20px auto;
    box-shadow: 0 0 0 3px #f6d015, 0 0 0 6px #bf1b1e, 0 0 0 9px #662f85;
  }
}
.way__item-marker:before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 42px;
  right: 50%;
  background: #1ea348;
  z-index: -1;
}

.way-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1px 30px;
}
.way-tabs .way-tab {
  flex-basis: calc((100% / 3) - 2px);
}
@media only screen and (min-width: 480px) {
  .way-tabs .way-tab {
    flex-basis: calc(25% - 2px);
  }
}
@media only screen and (min-width: 992px) {
  .way-tabs .way-tab {
    flex-basis: calc((100% / 7) - 2px);
  }
}

.way-tab {
  background: #f6d015;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 1px 2px;
  padding: 8px 5px;
  font-size: 12px;
}
@media only screen and (min-width: 1200px) {
  .way-tab {
    font-size: 14px;
    padding: 12px 5px;
  }
}
.way-tab:last-child {
  margin-right: 0;
}
.way-tab:hover, .way-tab:focus {
  background: #ae804d;
  color: #FFFFFF;
}
.way-tab.active {
  background: #662f85;
  color: #FFFFFF;
}

.footer {
  padding: 15px 0;
}
