@font-face {
  font-family: 'Century Gothic';
  font-display: swap;
  font-weight: 400;
  src: url('http://imoto.life/fonts/CenturyGothic/CenturyGothic.eot');
  src: local('Century Gothic Regular'), url('http://imoto.life/fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('http://imoto.life/fonts/CenturyGothic/CenturyGothic.woff') format('woff'), url('http://imoto.life/fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
}
@font-face {
  font-family: 'Century Gothic';
  font-display: swap;
  font-weight: 700;
  src: url('http://imoto.life/fonts/CenturyGothic/CenturyGothic-Bold.eot');
  src: local('Century Gothic Bold'), url('http://imoto.life/fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('http://imoto.life/fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'), url('http://imoto.life/fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('http://imoto.life/fonts/Lora/Lora-Italic.eot');
  src: local('Lora Italic'), url('http://imoto.life/fonts/Lora/Lora-Italic.eot?#iefix') format('embedded-opentype'), url('http://imoto.life/fonts/Lora/Lora-Italic.woff') format('woff'), url('http://imoto.life/fonts/Lora/Lora-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url('http://imoto.life/fonts/Lora/Lora-BoldItalic.eot');
  src: local('Lora Bold Italic'), url('http://imoto.life/fonts/Lora/Lora-BoldItalic.eot?#iefix') format('embedded-opentype'), url('http://imoto.life/fonts/Lora/Lora-BoldItalic.woff') format('woff'), url('http://imoto.life/fonts/Lora/Lora-BoldItalic.ttf') format('truetype');
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Century Gothic", system-ui, sans-serif;
}
body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 300ms ease 0s, visibility 0s ease 300ms;
  -o-transition: opacity 300ms ease 0s, visibility 0s ease 300ms;
  transition: opacity 300ms ease 0s, visibility 0s ease 300ms;
  background: #000000;
}
body.menu-active:before {
  visibility: visible;
  opacity: 0.75;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.m-t {
  margin-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-t {
    margin-top: 30px;
  }
}
.m-b {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-b {
    margin-bottom: 30px;
  }
}
.m-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.m-lr {
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-lr {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.m-full {
  margin: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-full {
    margin: 30px;
  }
}
.p-t {
  padding-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-t {
    padding-top: 30px;
  }
}
.p-b {
  padding-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-b {
    padding-bottom: 30px;
  }
}
.p-tb {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-tb {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.p-lr {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-lr {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.p-full {
  padding: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-full {
    padding: 30px;
  }
}
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid;
  border-radius: 30px;
  padding: 2px 12px;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #000000;
  color: #FFFFFF;
  height: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.btn-container {
  text-align: center;
}
.btn-container.left {
  text-align: left;
}
.btn-container.right {
  text-align: right;
}
.btn-container a {
  margin: 3px 0;
}
@media only screen and (min-width: 992px) {
  .btn-container a {
    margin: 0 5px;
  }
}
.btn-container a:first-child {
  margin-left: 0;
}
.btn-container a:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 992px) {
  .btn {
    padding: 2px 18px;
    height: 29px;
  }
}
@media only screen and (min-width: 1200px) {
  .btn {
    padding: 2px 24px;
    height: 33px;
  }
}
.btn-transparent {
  background: transparent;
  color: #000000;
}
.btn-bordered {
  border: 1px solid;
}
.btn-blue {
  border-color: #4264f8;
  background: #4264f8;
  color: #FFFFFF;
}
.btn-blue:hover,
.btn-blue:focus {
  background: transparent;
  color: #4264f8;
}
.btn-blue.btn-transparent {
  background: transparent;
  color: #4264f8;
}
.btn-blue.btn-transparent:hover,
.btn-blue.btn-transparent:focus {
  background: #4264f8;
  color: #FFFFFF;
}
.btn-green {
  border-color: #5ed33e;
  background: #5ed33e;
  color: #FFFFFF;
}
.btn-green:hover,
.btn-green:focus {
  background: transparent;
  color: #5ed33e;
}
.btn-green.btn-transparent {
  background: transparent;
  color: #5ed33e;
}
.btn-green.btn-transparent:hover,
.btn-green.btn-transparent:focus {
  background: #5ed33e;
  color: #FFFFFF;
}
.btn-grey {
  border-color: #c8c8c8;
  background: #c8c8c8;
  color: #FFFFFF;
}
.btn-grey:hover,
.btn-grey:focus {
  background: transparent;
  color: #c8c8c8;
}
.btn-grey.btn-transparent {
  background: transparent;
  color: #c8c8c8;
}
.btn-grey.btn-transparent:hover,
.btn-grey.btn-transparent:focus {
  background: #c8c8c8;
  color: #FFFFFF;
}
.btn-orange {
  border-color: #fead21;
  background: #fead21;
  color: #FFFFFF;
}
.btn-orange:hover,
.btn-orange:focus {
  background: transparent;
  color: #fead21;
}
.btn-orange.btn-transparent {
  background: transparent;
  color: #fead21;
}
.btn-orange.btn-transparent:hover,
.btn-orange.btn-transparent:focus {
  background: #fead21;
  color: #FFFFFF;
}
.btn-purple {
  border-color: #9B0DC4;
  background: #9B0DC4;
  color: #FFFFFF;
}
.btn-purple:hover,
.btn-purple:focus {
  background: transparent;
  color: #9B0DC4;
}
.btn-purple.btn-transparent {
  background: transparent;
  color: #9B0DC4;
}
.btn-purple.btn-transparent:hover,
.btn-purple.btn-transparent:focus {
  background: #9B0DC4;
  color: #FFFFFF;
}
.mobile-menu {
  position: fixed;
  background: #FFFFFF;
  height: 100%;
  padding: 15px;
  width: 320px;
  z-index: 9999;
  left: -320px;
  -webkit-transition: left 300ms ease;
  -o-transition: left 300ms ease;
  transition: left 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu.active {
  left: 0;
}
.mobile-menu hr {
  border: none;
  height: 1px;
  background: #f0f0f0;
  margin: 15px -15px;
}
.mobile-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-menu__content {
  height: 100%;
  overflow-y: auto;
  padding-right: 15px;
  margin-right: -15px;
}
.mobile-menu__content::-webkit-scrollbar {
  width: 5px;
}
.mobile-menu__content::-webkit-scrollbar-thumb {
  background: #ed1c24;
}
.mobile-menu__content::-webkit-scrollbar-thumb:hover {
  background: #ed1c24;
}
.mobile-menu__close-btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.mobile-menu__close-btn:hover svg,
.mobile-menu__close-btn:focus svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mobile-menu__close-btn svg {
  width: 24px;
  height: 24px;
  fill: #ed1c24;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.mobile-menu__logo {
  max-width: 200px;
}
.mobile-menu__logo img {
  max-width: 100%;
}
.mobile-menu__search-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.mobile-menu__search-languages .header__bottom-languages {
  margin-left: 15px;
  font-size: 14px;
}
.mobile-menu__search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.mobile-menu__search label {
  border: 1px solid #c8c8c8;
  padding: 4px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu__search input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  max-width: 150px;
}
.mobile-menu__search button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.mobile-menu__search svg {
  margin: 2px 10px 0 0;
  fill: #ed1c24;
  width: 12px;
  height: 12px;
}
.mobile-menu__sections a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #0e1128;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
.mobile-menu__sections a:last-child {
  margin-bottom: 0;
}
.mobile-menu__sections a:hover.mobile-menu__sections--tourism,
.mobile-menu__sections a:focus.mobile-menu__sections--tourism {
  color: #5ed33e;
}
.mobile-menu__sections a:hover.mobile-menu__sections--journal,
.mobile-menu__sections a:focus.mobile-menu__sections--journal {
  color: #4264f8;
}
.mobile-menu__sections a:hover.mobile-menu__sections--school,
.mobile-menu__sections a:focus.mobile-menu__sections--school {
  color: #9B0DC4;
}
.mobile-menu__sections a:hover.mobile-menu__sections--market,
.mobile-menu__sections a:focus.mobile-menu__sections--market {
  color: #fead21;
}
.mobile-menu__sections img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.mobile-menu__social {
  text-align: center;
  margin-top: 15px;
}
.mobile-menu__social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 20px;
}
.mobile-menu__social svg {
  width: 15px;
  height: 15px;
  fill: #ed1c24;
}
.mobile-menu__pages {
  margin-top: 15px;
  text-align: center;
}
.mobile-menu__pages a {
  margin: 0 5px;
  color: #0e1128;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
.mobile-menu__pages a:hover,
.mobile-menu__pages a:focus {
  color: #ed1c24;
}
.mobile-menu .header__bottom-user {
  margin-bottom: 15px;
  font-size: 14px;
}
.mobile-menu .header__bottom-user a {
  border-left: none;
  padding-left: 0;
}
.mobile-menu .header__bottom-phones {
  font-size: 14px;
  margin-top: 15px;
  margin-left: 0;
  padding-left: 0;
  border-left: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu .header__bottom-phones a {
  margin: 0 0 5px;
}
.mobile-menu .header__bottom-phones a:last-child {
  margin-bottom: 0;
}
.header {
  padding: 15px 0;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top-logo {
  max-width: 200px;
}
@media only screen and (min-width: 992px) {
  .header__top-logo {
    max-width: 180px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__top-logo {
    max-width: 220px;
  }
}
.header__top-logo img {
  max-width: 100%;
}
.header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 992px) {
  .header__top-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header__top-menu {
  display: none;
}
@media only screen and (min-width: 480px) {
  .header__top-menu {
    display: block;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .header__top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .header__top-menu {
    margin: 0 30px;
  }
}
.header__top-menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 28px;
  height: 28px;
  color: #0e1128;
  -webkit-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
@media only screen and (min-width: 480px) {
  .header__top-menu a {
    margin: 0 3px;
  }
}
@media only screen and (min-width: 768px) {
  .header__top-menu a {
    margin: 0 10px;
  }
}
@media only screen and (min-width: 992px) {
  .header__top-menu a {
    width: auto;
    margin: 0 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__top-menu a {
    height: auto;
    margin: 0 10px;
  }
}
.header__top-menu a:first-child {
  margin-left: 0;
}
.header__top-menu a:last-child {
  margin-right: 0;
}
.header__top-menu a:hover.header__top-menu--tourism,
.header__top-menu a:focus.header__top-menu--tourism {
  color: #5ed33e;
}
.header__top-menu a:hover.header__top-menu--journal,
.header__top-menu a:focus.header__top-menu--journal {
  color: #4264f8;
}
.header__top-menu a:hover.header__top-menu--school,
.header__top-menu a:focus.header__top-menu--school {
  color: #9B0DC4;
}
.header__top-menu a:hover.header__top-menu--market,
.header__top-menu a:focus.header__top-menu--market {
  color: #fead21;
}
.header__top-menu a img {
  max-width: 75%;
  max-height: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (min-width: 992px) {
  .header__top-menu a img {
    margin-right: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__top-menu a img {
    margin-right: 10px;
    max-height: 22px;
  }
}
.header__top-menu a span {
  text-transform: uppercase;
  display: none;
  font-size: 13px;
  font-weight: 700;
}
@media only screen and (min-width: 992px) {
  .header__top-menu a span {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .header__top-menu a span {
    font-size: 16px;
  }
}
.header__top-search-social {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}
@media only screen and (min-width: 640px) {
  .header__top-search-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .header__top-search-social {
    margin-right: 0;
  }
}
.header__top-search {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__top-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 15px;
  }
}
.header__top-search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  padding: 5px;
  border: 1px solid #c8c8c8;
}
.header__top-search label button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.header__top-search label svg {
  fill: #ed1c24;
  width: 16px;
  margin-right: 10px;
}
.header__top-search label input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  max-width: 90px;
}
.header__top-social {
  display: none;
  margin-top: 2px;
}
@media only screen and (min-width: 640px) {
  .header__top-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__top-social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  margin: 0 2px;
}
.header__top-social a:first-child {
  margin-left: 0;
}
.header__top-social a:last-child {
  margin-right: 0;
}
.header__top-social svg {
  width: 14px;
  height: 14px;
  fill: #ed1c24;
}
.header__top-bars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 28px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 768px) {
  .header__top-bars {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__top-bars {
    display: none;
  }
}
.header__top-bars svg {
  width: 75%;
  fill: #ed1c24;
}
@media only screen and (min-width: 768px) {
  .header__top-bars svg {
    width: 100%;
  }
}
.header__bottom {
  display: none;
  font-size: 14px;
  margin-top: 10px;
}
@media only screen and (min-width: 480px) {
  .header__bottom {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__bottom-right {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .header__bottom-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__bottom-languages {
  position: relative;
  padding: 0 5px;
  background: #FFFFFF;
}
.header__bottom-languages--list {
  width: 100%;
  pointer-events: none;
  opacity: 0;
  left: 0;
  position: absolute;
  z-index: 101;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  background: #FFFFFF;
  padding: 5px;
}
.header__bottom-languages--list.active {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}
.header__bottom-languages--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #0e1128;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
.header__bottom-languages--item.active svg {
  margin-left: 5px;
  margin-top: 2px;
  width: 12px;
  height: 12px;
  fill: #0e1128;
}
.header__bottom-languages--item.active:hover,
.header__bottom-languages--item.active:focus {
  color: #0e1128;
}
.header__bottom-languages--item:hover,
.header__bottom-languages--item:focus {
  color: #ed1c24;
}
.header__bottom-languages--item img {
  margin-right: 10px;
  max-height: 16px;
}
.header__bottom-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .header__bottom-phones {
    border-left: 1px solid #c8c8c8;
    margin-left: 15px;
    padding-left: 15px;
  }
}
.header__bottom-phones a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  color: #0e1128;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
.header__bottom-phones a:first-child {
  margin-left: 0;
}
.header__bottom-phones a:last-child {
  margin-right: 0;
}
.header__bottom-phones a:hover,
.header__bottom-phones a:focus {
  color: #ed1c24;
}
.header__bottom-phones a svg {
  width: 12px;
  height: 12px;
  fill: #ed1c24;
  margin-right: 10px;
}
.header__bottom-menu {
  display: none;
  border-left: 1px solid #c8c8c8;
  margin: 0 15px;
  padding-left: 15px;
}
@media only screen and (min-width: 1200px) {
  .header__bottom-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.header__bottom-menu a {
  color: #0e1128;
  text-decoration: none;
  -webkit-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.header__bottom-menu a:hover,
.header__bottom-menu a:focus {
  color: #ed1c24;
}
.header__bottom-user a {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-left: 1px solid #c8c8c8;
  padding-left: 10px;
  color: #0e1128;
  -webkit-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.header__bottom-user a:last-child {
  margin-right: 0;
}
.header__bottom-user a:last-child svg {
  width: 14px;
}
.header__bottom-user a:hover,
.header__bottom-user a:focus {
  color: #ed1c24;
}
.header__bottom-user a svg {
  width: 12px;
  height: 12px;
  fill: #ed1c24;
  margin-right: 5px;
}
.header__bottom-user--counter {
  background: #0e1128;
  color: #FFFFFF;
  margin-left: 5px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 11px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section {
  position: relative;
  z-index: 1;
  padding: 15px 0;
}
@media only screen and (min-width: 480px) {
  .section {
    padding: 30px 0;
  }
}
@media only screen and (min-width: 992px) {
  .section {
    padding: 45px 0;
  }
}
.section.bg-grey {
  background: #f0f0f0;
}
.section.bg-grey .section__title:before {
  color: #e8e8e8;
}
.section__icon {
  text-align: center;
}
.section__title {
  text-transform: uppercase;
  text-align: center;
  color: #0e1128;
  position: relative;
  margin-bottom: 15px;
}
@media only screen and (min-width: 480px) {
  .section__title {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .section__title {
    font-size: 36px;
  }
}
@media only screen and (min-width: 992px) {
  .section__title {
    font-size: 42px;
    margin-bottom: 45px;
  }
}
.section__title:before {
  display: none;
  left: 0;
  right: 0;
  top: -25px;
  font-size: 2em;
  position: absolute;
  color: #f7f7f7;
  z-index: -1;
  content: attr(data-title);
}
@media only screen and (min-width: 480px) {
  .section__title:before {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .section__title:before {
    top: -36px;
  }
}
@media only screen and (min-width: 992px) {
  .section__title:before {
    top: -42px;
  }
}
.section__title a {
  color: #0e1128;
  text-decoration: none;
}
.section__subtitle {
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #0e1128;
  font-size: 16px;
}
@media only screen and (min-width: 480px) {
  .section__subtitle {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .section__subtitle {
    margin-bottom: 30px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  .section__subtitle {
    margin-bottom: 45px;
    font-size: 22px;
  }
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.wrapper__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.ms {
  position: relative;
}
.ms__cover {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://imoto.life/videos/cover.jpg") 50% no-repeat;
  background-size: cover;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ms__cover .container {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .ms__cover .container {
    width: 738px;
  }
}
@media only screen and (min-width: 992px) {
  .ms__cover .container {
    width: 962px;
  }
}
@media only screen and (min-width: 1200px) {
  .ms__cover .container {
    width: 1170px;
  }
}
.ms__cover.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ms__cover-texts {
  color: #FFFFFF;
  text-transform: uppercase;
}
.ms__cover-texts div:nth-child(1) {
  font-size: 14px;
}
@media only screen and (min-width: 480px) {
  .ms__cover-texts div:nth-child(1) {
    font-size: 16px;
  }
}
@media only screen and (min-width: 640px) {
  .ms__cover-texts div:nth-child(1) {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .ms__cover-texts div:nth-child(1) {
    font-size: 3.8vw;
  }
}
@media only screen and (min-width: 1200px) {
  .ms__cover-texts div:nth-child(1) {
    font-size: 44px;
  }
}
.ms__cover-texts div:nth-child(2) {
  margin: 2px 0;
  font-weight: 700;
  font-size: 18px;
}
@media only screen and (min-width: 480px) {
  .ms__cover-texts div:nth-child(2) {
    font-size: 22px;
  }
}
@media only screen and (min-width: 640px) {
  .ms__cover-texts div:nth-child(2) {
    font-size: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .ms__cover-texts div:nth-child(2) {
    font-size: 6.2vw;
  }
}
@media only screen and (min-width: 1200px) {
  .ms__cover-texts div:nth-child(2) {
    font-size: 74px;
  }
}
.ms__cover-texts div:nth-child(2) span {
  display: inline-block;
  padding: 2px 6px;
  background: #ed1c24;
}
@media only screen and (min-width: 992px) {
  .ms__cover-texts div:nth-child(2) span {
    padding: 4px 12px;
  }
}
.ms__cover-texts div:nth-child(3) {
  font-size: 16px;
}
@media only screen and (min-width: 480px) {
  .ms__cover-texts div:nth-child(3) {
    font-size: 18px;
  }
}
@media only screen and (min-width: 640px) {
  .ms__cover-texts div:nth-child(3) {
    font-size: 26px;
  }
}
@media only screen and (min-width: 768px) {
  .ms__cover-texts div:nth-child(3) {
    font-size: 4.8vw;
  }
}
@media only screen and (min-width: 1200px) {
  .ms__cover-texts div:nth-child(3) {
    font-size: 58px;
  }
}
.ms__cover-button {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 480px) {
  .ms__cover-button {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 640px) {
  .ms__cover-button {
    width: 220px;
  }
}
@media only screen and (min-width: 768px) {
  .ms__cover-button {
    margin-top: 30px;
  }
}
.ms__cover-button img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
@media only screen and (min-width: 480px) {
  .ms__cover-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 640px) {
  .ms__cover-button img {
    width: 36px;
    height: 36px;
  }
}
@media only screen and (min-width: 768px) {
  .ms__cover-button img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }
}
.ms__cover-button span {
  font-size: 12px;
  color: #FFFFFF;
}
@media only screen and (min-width: 640px) {
  .ms__cover-button span {
    font-size: 14px;
  }
}
.ms .lSSlideOuter .lSPager.lSpg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 740px) {
  .ms .lSSlideOuter .lSPager.lSpg {
    bottom: 10px;
  }
}
.ms .lSSlideOuter .lSPager.lSpg li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  margin: 0 5px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.ms .lSSlideOuter .lSPager.lSpg li.active {
  border-color: #FFFFFF;
}
.ms .lSSlideOuter .lSPager.lSpg li a {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFFFFF;
}
.ms__item {
  width: 100%;
  height: 0;
  padding-bottom: 46.4%;
  position: relative;
}
.ms__item-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nt {
  border: 1px solid #c8c8c8;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  color: #0e1128;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .nt {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: none;
  }
}
.nt__title,
.nt__date {
  text-align: center;
}
.nt__title {
  padding: 15px 15px 0;
  font-size: 16px;
  font-weight: 700;
}
.nt__title a {
  color: #0e1128;
  text-decoration: none;
}
.nt__date {
  padding: 0 15px;
  margin-top: 5px;
  font-size: 12px;
}
@media only screen and (min-width: 480px) {
  .nt__date {
    font-size: 14px;
  }
}
.nt__image {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.5%;
  margin: 15px 0;
}
.nt__image img {
  position: absolute;
  left: -1px;
  right: -1px;
  width: calc(100% + 2px);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nt__details {
  padding: 0 15px;
  font-size: 14px;
  list-style-type: none;
}
.nt__details-item {
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nt__details-item:before {
  margin-top: 1px;
  content: url("http://imoto.life/images/list-item.png");
  margin-right: 10px;
}
.nt__details-item:last-child {
  margin-bottom: 0;
}
.nt__details-item a {
  color: #5ed33e;
  text-decoration: none;
}
.tours {
  margin-top: 15px;
}
@media only screen and (min-width: 480px) {
  .tours {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .tours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .tours__left {
    margin-right: 15px;
    width: 50%;
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }
}
@media only screen and (min-width: 1200px) {
  .tours__left {
    margin-right: 30px;
  }
}
.tours__right {
  margin: 15px auto 0;
  max-width: 450px;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .tours__right {
    margin-top: 0;
    width: 65%;
    max-width: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.tours .slider-controls {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 50%;
  right: -12px;
  margin-top: -12px;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #5ed33e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .tours .slider-controls {
    position: static;
    height: 32px;
    width: 160px;
    border-radius: 0;
    margin: 0 auto;
  }
  .tours .slider-controls.prev {
    left: 0;
    margin-bottom: 15px;
  }
  .tours .slider-controls.prev svg {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .tours .slider-controls.next {
    right: 0;
  }
  .tours .slider-controls.next svg {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media only screen and (min-width: 1200px) {
  .tours .slider-controls.prev {
    margin-bottom: 30px;
  }
  .tours .slider-controls.next {
    margin-top: 30px;
  }
}
.tours .slider-controls.prev {
  left: -12px;
}
.tours .slider-controls.next {
  right: -12px;
}
.tours .slider-controls svg {
  width: 50%;
  fill: #FFFFFF;
}
@media only screen and (min-width: 992px) {
  .tours .slider-controls svg {
    width: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .tours__slider-mobile {
    height: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .tours__slider-mobile {
    display: none;
  }
}
.tours__slider-desktop {
  display: none;
}
@media only screen and (min-width: 992px) {
  .tours__slider-desktop {
    display: block;
  }
}
.tours__slider-item {
  border: 1px solid #c8c8c8;
  color: #0e1128;
  margin-bottom: 1px;
}
@media only screen and (min-width: 992px) {
  .tours__slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.tours__slider-item--image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
}
@media only screen and (min-width: 992px) {
  .tours__slider-item--image {
    width: 50%;
    height: auto;
    padding-bottom: 0;
  }
}
.tours__slider-item--image img {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  width: calc(100% + 2px);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .tours__slider-item--image img {
    width: 100%;
    height: calc(100% + 2px);
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.tours__slider-item--content {
  padding: 15px;
}
.tours__slider-item--title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.tours__slider-item--title a {
  color: #0e1128;
  text-decoration: none;
}
.tours__slider-item--details {
  padding: 0;
  text-transform: uppercase;
}
.journal__categories a.active {
  background: #4264f8;
  color: #FFFFFF;
}
@media only screen and (min-width: 480px) {
  .journal__top {
    margin: 15px -7.5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .journal__top .ni {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .journal__top {
    margin: 30px -15px 0;
  }
}
@media only screen and (min-width: 480px) {
  .journal__top-left,
  .journal__top-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 7.5px;
  }
}
@media only screen and (min-width: 768px) {
  .journal__top-left,
  .journal__top-right {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
@media only screen and (min-width: 992px) {
  .journal__top-left,
  .journal__top-right {
    margin: 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  .journal__top-left {
    width: calc((100% / 3) * 2 - 15px);
  }
}
@media only screen and (min-width: 992px) {
  .journal__top-left {
    width: calc((100% / 3) * 2 - 30px);
  }
}
@media only screen and (min-width: 768px) {
  .journal__top-left .ni {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .journal__top-left .ni__image {
    width: calc(50% + 15px);
    height: 100%;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .journal__top-left .ni__image {
    width: calc(50% + 30px);
  }
}
@media only screen and (min-width: 768px) {
  .journal__top-left .ni__content {
    width: calc(50%);
  }
}
@media only screen and (min-width: 480px) {
  .journal__top-left .ni__description {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .journal__top-left .ni__description {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .journal__top-right {
    width: calc((100% / 3) - 15px);
  }
}
@media only screen and (min-width: 992px) {
  .journal__top-right {
    width: calc((100% / 3) - 30px);
  }
}
@media only screen and (min-width: 768px) {
  .journal__top-right .ni {
    height: 100%;
  }
}
.journal__news {
  margin-top: 15px;
}
@media only screen and (min-width: 992px) {
  .journal__news {
    margin-top: 30px;
  }
}
.journal__news .news__big {
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .journal__news .news__big {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .journal__news .news__big {
    -webkit-column-count: 3;
            column-count: 3;
  }
}
@media only screen and (min-width: 992px) {
  .journal__news .news__big {
    -webkit-column-width: auto;
            column-width: auto;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}
@media only screen and (min-width: 480px) {
  .journal__news-small .news__small {
    width: calc(100% + 15px);
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 0 -7.5px;
  }
}
@media only screen and (min-width: 480px) {
  .journal__news-small .news__small {
    width: calc(100% + 30px);
    margin: 0 0 0 -15px;
  }
}
.journal__news-small .news__small .nis:nth-child(6) {
  border-bottom: none;
}
@media only screen and (min-width: 480px) {
  .journal__news-small .news__small .nis {
    width: calc(50% - 15px);
    margin: 0 7.5px 15px;
  }
  .journal__news-small .news__small .nis:nth-child(5),
  .journal__news-small .news__small .nis:nth-child(6) {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .journal__news-small .news__small .nis {
    width: calc((100% / 3) - 15px);
  }
  .journal__news-small .news__small .nis:nth-child(4) {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .journal__news-small .news__small .nis {
    padding-bottom: 30px;
    margin: 0 15px 30px;
    width: calc((100% / 3) - 30px);
  }
}
.journal .pagination li.active span {
  border-color: #4264f8;
}
.journal .pagination span,
.journal .pagination a {
  color: #4264f8;
}
.journal .pagination a:hover {
  border-color: #4264f8;
}
@media only screen and (min-width: 480px) {
  .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 480px) {
  .news__big {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  .news__big {
    width: calc((100% / 3) * 2);
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -webkit-column-width: 204px;
            column-width: 204px;
  }
}
@media only screen and (min-width: 992px) {
  .news__big {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -webkit-column-width: 301px;
            column-width: 301px;
  }
}
@media only screen and (min-width: 1200px) {
  .news__big {
    -webkit-column-width: 405px;
            column-width: 405px;
  }
}
@media only screen and (min-width: 480px) {
  .news__small {
    margin-left: 15px;
    width: 50%;
    max-width: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .news__small {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media only screen and (min-width: 992px) {
  .news__small {
    margin-left: 30px;
  }
}
.ni {
  background: #FFFFFF;
  color: #0e1128;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .ni {
    margin-bottom: 30px;
  }
}
.ni.blue {
  background: #4264f8;
  color: #FFFFFF;
  padding: 30px 0 0 30px;
}
.ni.blue .ni__datetime svg {
  fill: #FFFFFF;
}
.ni.blue a {
  color: #FFFFFF;
}
.ni.blue a:hover,
.ni.blue a:focus {
  color: #bdc9fd;
}
.ni.bordered {
  padding: 30px 0 0 30px;
  border: 3px dashed #4264f8;
}
.ni.bordered .ni__quote-marker {
  top: -3px;
  background: #4264f8;
}
.ni.bordered .ni__quote-marker svg {
  fill: #0e1128;
}
.ni__quote-marker {
  position: absolute;
  top: 0;
  left: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: #0e1128;
}
.ni__quote-marker svg {
  fill: #FFFFFF;
  width: 12px;
  height: 12px;
}
.ni__image {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
}
.ni__image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.ni__content {
  padding: 15px;
}
.ni__title {
  font-size: 18px;
  line-height: 1em;
  margin-bottom: 10px;
}
.ni__title a {
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #0e1128;
  text-decoration: none;
}
.ni__title a:hover,
.ni__title a:focus {
  color: #4264f8;
}
.ni__description {
  font-size: 14px;
  margin-bottom: 15px;
}
.ni__datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}
.ni__datetime svg {
  margin-right: 5px;
  width: 13px;
  height: 13px;
  fill: #4264f8;
}
.nis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0e1128;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c8c8c8;
}
.nis:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.nis__image {
  width: 88px;
  height: 62px;
}
@media only screen and (min-width: 1200px) {
  .nis__image {
    width: 112px;
    height: 88px;
  }
}
.nis__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nis__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .nis__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.nis__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 14px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1200px) {
  .nis__title {
    font-size: 16px;
  }
}
.nis__title a {
  color: #0e1128;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
.nis__title a:hover,
.nis__title a:focus {
  color: #4264f8;
}
.footer {
  background: #f0f0f0;
  font-size: 14px;
}
.footer.white {
  background: #FFFFFF;
}
.footer__top {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
  }
}
.footer__logo {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto;
  max-width: 200px;
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  .footer__logo {
    max-width: 180px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__logo {
    max-width: 220px;
  }
}
.footer__logo img {
  max-width: 100%;
}
.footer__menu {
  margin-top: 5px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer__menu {
    margin: 0 0 0 15px;
  }
}
.footer__menu a {
  display: inline-block;
  margin: 0 3px;
  text-decoration: none;
  color: #0e1128;
  font-weight: 700;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
@media only screen and (min-width: 992px) {
  .footer__menu a {
    font-size: 16px;
    margin: 0 10px;
  }
}
.footer__menu a:first-child {
  margin-left: 0;
}
.footer__menu a:last-child {
  margin-right: 0;
}
.footer__menu a:hover,
.footer__menu a:focus {
  color: #ed1c24;
}
@media only screen and (min-width: 768px) {
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__copy {
  color: #575a72;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .footer__copy {
    max-width: 40%;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__phones {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .footer__phones {
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .footer__phones {
    font-size: 14px;
  }
}
.footer__phones a {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3px;
  text-decoration: none;
  color: #0e1128;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
.footer__phones a:hover,
.footer__phones a:focus {
  color: #ed1c24;
}
.footer__phones svg {
  margin-right: 5px;
  width: 11px;
  height: 11px;
  fill: #ed1c24;
}
.footer__socials {
  margin-top: 10px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer__socials {
    margin-top: 0;
    margin-left: 15px;
  }
}
.footer__socials a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  margin: 0 3px;
}
.footer__socials a:first-child {
  margin-left: 0;
}
.footer__socials a:last-child {
  margin-right: 0;
}
.footer__socials a svg {
  width: 100%;
  height: 100%;
  fill: #ed1c24;
}
@media only screen and (min-width: 768px) {
  .footer__contacts-dev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__dev {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 768px) {
  .footer__dev {
    margin-left: 15px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .footer__dev {
    margin-left: 30px;
  }
}
.footer__dev span {
  font-size: 12px;
}
@media only screen and (min-width: 1200px) {
  .footer__dev span {
    font-size: 14px;
  }
}
.footer__dev img {
  margin-left: 10px;
  max-height: 20px;
}
.market {
  max-width: 290px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media only screen and (min-width: 480px) {
  .market {
    max-width: none;
  }
}
@media only screen and (min-width: 560px) {
  .market {
    max-width: 530px;
  }
}
@media only screen and (min-width: 768px) {
  .market {
    max-width: none;
  }
}
.market__slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}
@media only screen and (min-width: 1200px) {
  .market__slider-controls {
    left: -3px;
    right: -3px;
  }
}
.market__slider-controls a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 160px;
  background: #fead21;
  pointer-events: all;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 1200px) {
  .market__slider-controls a {
    width: 40px;
  }
}
.market__slider-controls a:hover,
.market__slider-controls a:focus {
  background: #fec054;
}
.market__slider-controls a svg {
  fill: #FFFFFF;
  width: 16px;
  height: 16px;
}
@media only screen and (min-width: 1300px) {
  .market__slider-controls a svg {
    width: 20px;
    height: 20px;
  }
}
.mi {
  padding: 15px;
  margin: 0 1px;
  border: 1px solid #d6daf3;
}
.mi__image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.mi__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mi hr {
  height: 1px;
  background: #d6daf3;
  border: none;
  margin-left: -15px;
  margin-right: -15px;
}
.mi__content {
  text-align: center;
  margin-top: 15px;
}
.mi__title,
.mi__price {
  font-weight: 700;
}
.mi__title {
  font-size: 12px;
}
.mi__price {
  margin-top: 5px;
  font-size: 22px;
}
.mi__price small {
  font-size: 0.6em;
  text-transform: uppercase;
}
.mi__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.mi__button:hover span,
.mi__button:focus span {
  border-right-color: rgba(254, 173, 33, 0.3);
}
.mi__button:hover svg,
.mi__button:focus svg {
  fill: #fead21;
}
.mi__button span {
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.mi__button svg {
  fill: #FFFFFF;
  width: 14px;
  height: 14px;
  -webkit-transition: fill 300ms ease;
  -o-transition: fill 300ms ease;
  transition: fill 300ms ease;
}
.school {
  background: #f0f0f0;
}
@media only screen and (min-width: 768px) {
  .school__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.school__info-image {
  width: 260px;
  height: 338px;
  position: relative;
  margin: 0 auto 15px;
}
@media only screen and (min-width: 768px) {
  .school__info-image {
    width: 35%;
    height: auto;
    margin: 0 15px 0 0;
  }
}
@media only screen and (min-width: 992px) {
  .school__info-image {
    height: 0;
    padding-bottom: 45.5%;
  }
}
@media only screen and (min-width: 1200px) {
  .school__info-image {
    margin-right: 30px;
  }
}
.school__info-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.school__info-content {
  font-size: 14px;
  max-width: 420px;
  margin: 0 auto;
  color: #0e1128;
}
@media only screen and (min-width: 768px) {
  .school__info-content {
    max-width: 520px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  .school__info-content {
    max-width: none;
    padding-right: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .school__info-content {
    padding-right: 90px;
  }
}
.school__info-content blockquote {
  margin-top: 15px;
  font-family: "Lora", system-ui, sans-serif;
  font-style: italic;
}
@media only screen and (min-width: 1200px) {
  .school__info-content blockquote {
    font-size: 16px;
  }
}
.school__info-content blockquote footer {
  text-align: right;
}
.school__info-content blockquote cite {
  font-family: "Lora", system-ui, sans-serif;
  font-style: italic;
  font-weight: 700;
}
@media only screen and (min-width: 1200px) {
  .school__info-description {
    font-size: 16px;
  }
}
.school__info-description p {
  margin-bottom: 5px;
}
.school__info-description p:last-child {
  margin-bottom: 0;
}
.school__info-counters {
  margin-top: 15px;
  padding: 15px;
  border: 3px dashed #9B0DC4;
}
@media only screen and (min-width: 480px) {
  .school__info-counters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .school__info-counters {
    border-width: 4px;
  }
}
.school__info-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 480px) {
  .school__info-counter {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.school__info-counter strong {
  font-size: 22px;
  margin-right: 5px;
}
@media only screen and (min-width: 480px) {
  .school__info-counter strong {
    margin-right: 0;
    font-size: 28px;
  }
}
@media only screen and (min-width: 992px) {
  .school__info-counter strong {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .school__info-counter strong {
    font-size: 48px;
  }
}
.school__info-counter strong:after {
  content: '+';
  color: #9B0DC4;
}
.school__info-counter span {
  font-size: 14px;
}
@media only screen and (min-width: 480px) {
  .school__info-counter span {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .school__info-counter span {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .school__info-counter span {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .school__info-button-container {
    text-align: left;
  }
}
.school__photos {
  position: relative;
}
.school__slider-item {
  width: 100%;
  height: 0;
  padding-bottom: 85%;
  position: relative;
}
.school__slider-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.school__slider-controls {
  position: absolute;
  top: 50%;
  left: -16px;
  right: -16px;
  margin-top: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}
@media only screen and (min-width: 1200px) {
  .school__slider-controls {
    left: -30px;
    right: -30px;
  }
}
.school__slider-controls a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 160px;
  background: #9B0DC4;
  pointer-events: all;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 1200px) {
  .school__slider-controls a {
    width: 40px;
  }
}
.school__slider-controls a:hover,
.school__slider-controls a:focus {
  background: #be15ef;
}
.school__slider-controls a svg {
  fill: #FFFFFF;
  width: 16px;
  height: 16px;
}
@media only screen and (min-width: 1300px) {
  .school__slider-controls a svg {
    width: 20px;
    height: 20px;
  }
}
.school__text {
  margin-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .school__text {
    margin-top: 30px;
  }
}
.school__text p {
  font-size: 14px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1200px) {
  .school__text p {
    font-size: 16px;
  }
}
.school__text p:last-child {
  margin-bottom: 0;
}
.pagination {
  text-align: center;
}
.pagination li {
  display: inline-block;
}
.pagination li.active span {
  border-color: #000000;
}
.pagination li.disabled span {
  cursor: not-allowed;
}
.pagination span,
.pagination a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 0 2px;
  font-size: 12px;
  border: 1px solid transparent;
  color: #000000;
  border-radius: 6px;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .pagination span,
  .pagination a {
    height: 24px;
    min-width: 24px;
    font-size: 13px;
    padding: 0 4px;
  }
}
.pagination a {
  text-decoration: none;
}
.pagination a:hover {
  border-color: #000000;
}
@media only screen and (min-width: 992px) {
  .journal-single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.journal-single__left {
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .journal-single__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  .journal-single__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .journal-single__right {
    display: block;
    width: 30%;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 480px) {
  .journal-single__right .news__big {
    width: 100%;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .journal-single__right .news__big {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-column-width: auto;
            column-width: auto;
  }
}
@media only screen and (min-width: 992px) {
  .journal-single__right .news__big {
    -webkit-column-count: 1;
            column-count: 1;
  }
}
@media only screen and (min-width: 480px) {
  .journal-single__right .news__small {
    width: calc(50% - 7.5px);
    max-width: none;
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .journal-single__right .news__small {
    margin-left: 15px;
    width: calc((100% / 3));
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }
}
@media only screen and (min-width: 992px) {
  .journal-single__right .news__small {
    margin-left: 0;
    width: 100%;
  }
}
.article {
  background: #FFFFFF;
  color: #0e1128;
}
.article__image {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.article__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article__content {
  padding: 15px;
}
@media only screen and (min-width: 992px) {
  .article__content {
    padding: 30px;
  }
}
.article__title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 480px) {
  .article__title {
    font-size: 20px;
  }
}
.article__datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}
.article__datetime svg {
  margin-right: 5px;
  fill: #4264f8;
  width: 12px;
  height: 12px;
}
.article__body {
  margin-top: 15px;
  font-size: 14px;
}
.article__body p {
  margin-bottom: 10px;
}
.article__body p:last-child {
  margin-bottom: 0;
}
.article__body p img {
  margin-bottom: 0;
}
.article__body img {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
}
.article__footer {
  margin-top: 15px;
}
.article__share {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__share-title {
  margin-right: 5px;
}
.article__share-list a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  text-decoration: none;
}
.article__share-list svg {
  width: 12px;
  height: 12px;
  fill: #4264f8;
}
.article__comments {
  margin-top: 15px;
}
.other-tours {
  max-width: 450px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .other-tours {
    max-width: none;
  }
}
.other-tours__slider {
  max-width: 450px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .other-tours__slider {
    max-width: none;
  }
}
.tours-form__phone {
  text-align: center;
  font-weight: 700;
  color: #5ed33e;
  margin-bottom: 15px;
}
@media only screen and (min-width: 480px) {
  .tours-form__phone {
    font-size: 22px;
  }
}
@media only screen and (min-width: 992px) {
  .tours-form__phone {
    font-size: 28px;
  }
}
.tours-form__text {
  text-align: center;
  color: #0e1128;
  font-size: 14px;
  text-transform: uppercase;
}
@media only screen and (min-width: 480px) {
  .tours-form__text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .tours-form__text {
    font-size: 18px;
  }
}
.tours-form form label {
  display: block;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .tours-form form label {
    margin: 0 3px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media only screen and (min-width: 992px) {
  .tours-form form label {
    margin: 0 7.5px;
  }
}
@media only screen and (min-width: 1200px) {
  .tours-form form label {
    margin: 0 15px;
  }
}
.tours-form form label:first-child {
  margin-left: 0;
}
.tours-form form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #5ed33e;
  height: 25px;
  padding: 2px 12px;
  font-size: 12px;
  outline: none;
}
@media only screen and (min-width: 992px) {
  .tours-form form input {
    height: 29px;
    padding: 2px 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .tours-form form input {
    height: 33px;
    padding: 2px 24px;
  }
}
.tours-form form input::-webkit-input-placeholder {
  text-align: center;
  text-transform: uppercase;
}
.tours-form form input::-ms-input-placeholder {
  text-align: center;
  text-transform: uppercase;
}
.tours-form form input::placeholder {
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .tours-form form button {
    margin-left: 3px;
  }
}
@media only screen and (min-width: 992px) {
  .tours-form form button {
    margin-left: 7.5px;
  }
}
@media only screen and (min-width: 1200px) {
  .tours-form form button {
    margin-left: 15px;
  }
}
.tours-form--school {
  margin-top: 30px;
}
.tours-form--school.tours-form form input {
  border: 1px solid #9B0DC4;
}
.tours-form--school .tours-form__phone {
  color: #9B0DC4;
}
.tours-form__items {
  max-width: 290px;
  margin: 30px auto 0;
  padding: 15px;
  border: 3px dashed #c8c8c8;
}
@media only screen and (min-width: 480px) {
  .tours-form__items {
    max-width: 320px;
    padding: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .tours-form__items {
    padding: 15px;
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .tours-form__items {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .tours-form__items {
    padding: 30px;
  }
}
.tours-form__captcha {
  margin-top: 15px;
  text-align: center;
}
.tours-form__captcha .g-recaptcha > div {
  margin-left: auto;
  margin-right: auto;
}
.tours-form .red-text {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  color: #ed1c24;
}
.tour-reviews {
  position: relative;
  max-width: 290px;
  margin: 0 auto;
}
@media only screen and (min-width: 640px) {
  .tour-reviews {
    max-width: none;
  }
}
.tour-reviews__slider-controls {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: -12px;
  right: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
  z-index: 1;
}
@media only screen and (min-width: 992px) {
  .tour-reviews__slider-controls {
    margin-top: -80px;
    left: -12px;
    right: -12px;
  }
}
.tour-reviews__slider-controls a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background: #5ed33e;
  pointer-events: all;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .tour-reviews__slider-controls a {
    height: 160px;
    width: 32px;
    border-radius: 0;
  }
}
.tour-reviews__slider-controls svg {
  width: 50%;
  height: 50%;
  fill: #FFFFFF;
}
.tour-review {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background: #FFFFFF;
  margin-bottom: 32px;
  border: 1px solid #c8c8c8;
}
@media only screen and (min-width: 992px) {
  .tour-review {
    margin-bottom: 48px;
  }
}
.tour-review__video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.tour-review video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tour-review__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .tour-review__content {
    padding: 15px 30px;
  }
}
.tour-review__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}
@media only screen and (min-width: 1200px) {
  .tour-review__body {
    font-size: 15px;
  }
}
.tour-review__body p {
  margin-bottom: 10px;
}
.tour-review__body p:last-child {
  margin-bottom: 0;
}
.tour-review__author {
  font-weight: 700;
  font-size: 20px;
  color: #5ed33e;
  margin: 15px 0 32px;
}
@media only screen and (min-width: 992px) {
  .tour-review__author {
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .tour-review__author {
    font-size: 24px;
  }
}
.tour-review__photo {
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  width: 64px;
  height: 64px;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .tour-review__photo {
    bottom: -48px;
    width: 96px;
    height: 96px;
  }
}
.tour-review__photo img {
  border-radius: 50%;
  border: 1px solid #c8c8c8;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.calendar-item {
  height: 244px;
  width: 224px;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .calendar-item {
    height: 280px;
    width: 315px;
  }
}
.calendar-item__title {
  text-align: center;
  color: #5ed33e;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .calendar-item__title {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .calendar-item__title {
    font-size: 20px;
    letter-spacing: 3px;
  }
}
.calendar-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calendar-item__cell {
  text-align: center;
  font-size: 16px;
  color: #0e1128;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .calendar-item__cell {
    height: 37px;
    width: 45px;
  }
}
.calendar-item__cell.day-name {
  text-transform: uppercase;
  font-size: 8px;
}
.calendar-item__cell.disabled {
  color: #c8c8c8;
}
.calendar-item__cell a,
.calendar-item__cell span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.calendar-item__cell a {
  text-decoration: none;
  font-weight: 700;
  color: #5ed33e;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.calendar-item__cell a i {
  display: inline-block;
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  border-radius: 50%;
  margin-left: -2px;
  background: #5ed33e;
}
.slider {
  position: relative;
}
.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  left: -12px;
  right: -12px;
  margin-top: -24px;
  z-index: 1;
  pointer-events: none;
}
@media only screen and (min-width: 640px) {
  .slider__controls {
    margin-top: -48px;
  }
}
@media only screen and (min-width: 992px) {
  .slider__controls {
    left: -15px;
    right: -15px;
    margin-top: -64px;
  }
}
@media only screen and (min-width: 1200px) {
  .slider__controls {
    margin-top: -80px;
  }
}
.slider__controls-item {
  width: 24px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 640px) {
  .slider__controls-item {
    height: 96px;
  }
}
@media only screen and (min-width: 992px) {
  .slider__controls-item {
    width: 30px;
    height: 128px;
  }
}
@media only screen and (min-width: 1200px) {
  .slider__controls-item {
    height: 160px;
  }
}
.slider__controls-item.green {
  background: #5ed33e;
}
.slider__controls-item svg {
  width: 50%;
  height: 50%;
  fill: #FFFFFF;
}
.tours-calendar__slider {
  width: 290px;
  margin: 0 auto;
}
@media only screen and (min-width: 640px) {
  .tours-calendar__slider {
    width: 580px;
  }
}
@media only screen and (min-width: 992px) {
  .tours-calendar__slider {
    width: 900px;
  }
}
@media only screen and (min-width: 1200px) {
  .tours-calendar__slider {
    width: 1100px;
  }
}
@media only screen and (min-width: 992px) {
  .tours-calendar__slider-content {
    padding: 0 30px;
  }
}
.tours-info__date {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .tours-info__date {
    margin-top: -10px;
  }
}
@media only screen and (min-width: 992px) {
  .tours-info__date {
    font-size: 16px;
    margin-top: -20px;
  }
}
.tours-info__video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.tours-info__video video,
.tours-info__video img,
.tours-info__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tours-info__slider {
  margin-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .tours-info__slider {
    margin-top: 30px;
  }
}
.tours-info__content {
  max-width: 450px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .tours-info__content {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.tours-info__description,
.tours-info__details {
  border: 1px solid #c8c8c8;
  padding: 15px;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .tours-info__description,
  .tours-info__details {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .tours-info__description,
  .tours-info__details {
    margin-top: 30px;
  }
}
.tours-info__description {
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .tours-info__description {
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .tours-info__description {
    margin-right: 30px;
  }
}
.tours-info__description p {
  margin-bottom: 10px;
}
.tours-info__description p:last-child {
  margin-bottom: 0;
}
.tours-info__details .nt__details {
  padding: 0;
}
.static {
  background: #f0f0f0;
  font-size: 14px;
}
.static p {
  margin-bottom: 10px;
}
.static p:last-child {
  margin-bottom: 0;
}
.static__search-item a {
  font-weight: 700;
  text-decoration: none;
  color: #0e1128;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  border-bottom: 1px solid transparent;
}
.static__search-item a:visited {
  color: #575a72;
}
.static__search-item a:hover,
.static__search-item a:focus {
  border-bottom: 1px solid #0e1128;
}
.contacts {
  text-align: center;
}
.contacts__item {
  margin-bottom: 5px;
}
.contacts__item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #0e1128;
}
@media only screen and (min-width: 992px) {
  .contacts__item a {
    font-size: 20px;
  }
}
.contacts__item svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: #5ed33e;
}
@media only screen and (min-width: 992px) {
  .contacts__item svg {
    width: 24px;
    height: 24px;
  }
}
.form {
  max-width: 290px;
  margin: 30px auto 0;
}
@media only screen and (min-width: 992px) {
  .form {
    max-width: 380px;
  }
}
@media only screen and (min-width: 1200px) {
  .form {
    max-width: 420px;
  }
}
.form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
@media only screen and (min-width: 992px) {
  .form label {
    margin-top: 30px;
  }
}
.form label:first-child {
  margin-top: 0;
}
.form input,
.form textarea {
  width: 100%;
  border: 1px solid #5ed33e;
  outline: none;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Century Gothic", system-ui, sans-serif;
  color: #0e1128;
}
@media only screen and (min-width: 992px) {
  .form input,
  .form textarea {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 20px;
  }
}
.form input:focus::-webkit-input-placeholder,
.form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.form input:focus::-ms-input-placeholder,
.form textarea:focus::-ms-input-placeholder {
  color: transparent;
}
.form input:focus::placeholder,
.form textarea:focus::placeholder {
  color: transparent;
}
.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #0e1128;
}
.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: #0e1128;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #0e1128;
}
.form textarea {
  min-height: 150px;
  resize: none;
}
.form button {
  margin-top: 15px;
  display: block;
  background: #5ed33e;
  color: #FFFFFF;
  width: 100%;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #5ed33e;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: uppercase;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .form button {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 20px;
    margin-top: 30px;
  }
}
.form button:hover,
.form button:focus {
  background: #FFFFFF;
  color: #5ed33e;
}
.form__error {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  line-height: 1em;
  color: #ed1c24;
}
.form__links-container {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
.form__links-container a {
  text-decoration: none;
  color: #5ed33e;
}
.form .g-recaptcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile-info {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
}
.profile-info__image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .profile-info__image {
    margin: 0 30px 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  .profile-info__image {
    width: 175px;
    height: 175px;
  }
}
.profile-info__image label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.profile-info__image label img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-info__image label input {
  display: none;
}
.profile-info__name {
  margin: 10px 0;
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .profile-info__name {
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .profile-info__name {
    font-size: 22px;
  }
}
.profile-info__phone,
.profile-info__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) {
  .profile-info__phone,
  .profile-info__email {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.profile-info__phone svg,
.profile-info__email svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #5ed33e;
}
.profile-info__phone input,
.profile-info__email input {
  font-family: "Century Gothic", system-ui, sans-serif;
  background: transparent;
  outline: none;
  padding: 2px 10px;
  border: 1px solid transparent;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 16px;
}
.profile-info__phone input:focus,
.profile-info__email input:focus {
  border: 1px solid #c8c8c8;
  background: #FFFFFF;
}
.profile-info__phone {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .profile-info .btn-container {
    text-align: left;
  }
}
@media only screen and (min-width: 480px) {
  .profile-orders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.profile-orders__item {
  border: 1px solid #c8c8c8;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .profile-orders__item {
    width: 50%;
    margin-bottom: 0;
  }
}
.profile-orders__item:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 480px) {
  .profile-orders__item:last-child {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .profile-orders__item:last-child {
    margin-left: 30px;
  }
}
.profile-orders__item--title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.profile-orders__item--name {
  font-size: 20px;
}
.basket__item {
  max-width: 290px;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 15px;
  margin: 0 auto 15px;
}
@media only screen and (min-width: 480px) {
  .basket__item {
    max-width: none;
  }
}
@media only screen and (min-width: 768px) {
  .basket__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .basket__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 480px) {
  .basket__item--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .basket__item--left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.basket__item--right {
  margin-top: 15px;
}
@media only screen and (min-width: 480px) {
  .basket__item--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .basket__item--right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 0;
    width: 30%;
  }
}
.basket__item-image {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid #c8c8c8;
}
@media only screen and (min-width: 480px) {
  .basket__item-image {
    margin: 0 15px 0 0;
  }
}
@media only screen and (min-width: 992px) {
  .basket__item-image {
    width: 150px;
    height: 150px;
  }
}
.basket__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.basket__item-info {
  margin-top: 10px;
}
@media only screen and (min-width: 480px) {
  .basket__item-info {
    margin-top: 0;
  }
}
.basket__item-title,
.basket__item-price {
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .basket__item-title,
  .basket__item-price {
    text-align: left;
  }
}
.basket__item-title {
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .basket__item-title {
    font-size: 16px;
  }
}
.basket__item-price {
  margin-top: 5px;
  font-size: 18px;
}
@media only screen and (min-width: 480px) {
  .basket__item-price {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .basket__item-price {
    font-size: 22px;
  }
}
.basket__item-price span {
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .basket__item-price span {
    font-size: 18px;
  }
}
.basket__item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.basket__item-count a {
  text-decoration: none;
  color: #5ed33e;
  font-weight: 700;
  cursor: pointer;
}
.basket__item-count input {
  width: 42px;
  border: 1px solid #5ed33e;
  padding: 4px;
  outline: none;
  text-align: center;
  margin: 0 10px;
  border-radius: 3px;
}
@media only screen and (min-width: 992px) {
  .basket__item-count input {
    width: 52px;
    padding: 8px;
  }
}
.basket__item-summary {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .basket__item-summary {
    margin-top: 0;
    text-align: right;
  }
}
.basket__item-summary--top {
  margin-bottom: 5px;
}
@media only screen and (min-width: 480px) {
  .basket__item-summary--top {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .basket__item-summary--top {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .basket__item-summary--top {
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) {
  .basket__item-summary--bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .basket__item-summary--bottom {
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .basket__item-summary--bottom {
    font-size: 16px;
  }
}
.basket__item-summary--remove {
  margin-top: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f0f0f0;
  width: 24px;
  padding-bottom: 3px;
  height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 2px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
  border: none;
}
@media only screen and (min-width: 480px) {
  .basket__item-summary--remove {
    margin: 0 0 0 10px;
  }
}
@media only screen and (min-width: 768px) {
  .basket__item-summary--remove {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .basket__item-summary--remove {
    width: 32px;
    height: 20px;
    padding-bottom: 2px;
    margin-left: 30px;
  }
}
.basket__item-summary--remove:hover,
.basket__item-summary--remove:focus {
  background: #ed1c24;
  color: #FFFFFF;
}
.basket__summary {
  text-align: right;
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  .basket__summary {
    font-size: 22px;
  }
}
.basket__summary span {
  font-size: 0.75em;
}
.basket__delivery {
  margin-top: 15px;
  font-size: 14px;
}
@media only screen and (min-width: 480px) {
  .basket__delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .basket__delivery {
    margin-top: 30px;
    font-size: 16px;
  }
}
.basket__delivery-info {
  margin-bottom: 10px;
}
@media only screen and (min-width: 480px) {
  .basket__delivery-info {
    margin: 0 30px 0 0;
  }
}
.basket__delivery-list {
  list-style-type: none;
}
.basket__delivery-list li:before {
  content: '\2022';
  display: inline-block;
  margin-right: 5px;
  color: #5ed33e;
}
.basket__auth {
  color: #ed1c24;
  margin-top: 15px;
  text-align: right;
  font-size: 14px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
