@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot");
  src: url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"), url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot");
  src: url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"), url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot");
  src: url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff") format("woff"), url("https://cfe.kneu.edu.ua/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-display: swap;
  font-weight: 400;
  src: url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-brands-400.eot");
  src: url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-brands-400.woff2") format("woff2"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-brands-400.ttf") format("truetype"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-brands-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 300;
  src: url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-light-300.eot");
  src: url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-light-300.eot?#iefix") format("embedded-opentype"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-light-300.woff2") format("woff2"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-light-300.woff") format("woff"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-light-300.ttf") format("truetype"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-light-300.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 400;
  src: url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-regular-400.eot");
  src: url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-regular-400.woff2") format("woff2"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-regular-400.woff") format("woff"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-regular-400.ttf") format("truetype"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 900;
  src: url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-solid-900.eot");
  src: url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-solid-900.woff2") format("woff2"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-solid-900.woff") format("woff"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-solid-900.ttf") format("truetype"), url("https://cfe.kneu.edu.ua/fonts/Font Awesome 5/fa-solid-900.svg#fontawesome") format("svg");
}
.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.fal {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.far {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

.fa, .fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue Cyr", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
}

ul {
  list-style: none;
}

a, button {
  cursor: pointer;
  transition: all 300ms ease;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea, button, select, label {
  font-family: "Helvetica Neue Cyr", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper__content {
  flex: 1 0 auto;
}
.wrapper__footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.m-t {
  margin-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-t {
    margin-top: 30px;
  }
}
.m-b {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-b {
    margin-bottom: 30px;
  }
}
.m-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.m-lr {
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-lr {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.m-full {
  margin: 15px;
}
@media only screen and (min-width: 1200px) {
  .m-full {
    margin: 30px;
  }
}

.p-t {
  padding-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-t {
    padding-top: 30px;
  }
}
.p-b {
  padding-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-b {
    padding-bottom: 30px;
  }
}
.p-tb {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-tb {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.p-lr {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-lr {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.p-full {
  padding: 15px;
}
@media only screen and (min-width: 1200px) {
  .p-full {
    padding: 30px;
  }
}

.section-title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 26px;
  }
}
@media only screen and (min-width: 992px) {
  .section-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 30px;
  }
}
.section-title a {
  color: #000000;
}
.section-title a:hover, .section-title a:focus {
  color: #1EA348;
}
.section-content {
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .section-content {
    padding: 45px 0;
  }
}
.section-content.gray-light {
  background: #FAFAFA;
}
.section-content.gray {
  background: #F0F0F0;
}
.section-content.with-arrow {
  padding-top: 30px;
}
@media only screen and (min-width: 1200px) {
  .section-content.with-arrow {
    padding-top: 45px;
  }
}
.section-content.with-arrow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
}
@media only screen and (min-width: 1200px) {
  .section-content.with-arrow:before {
    border-width: 16px;
    margin-left: -8px;
  }
}
.section-content.arrow-gray:before {
  border-top-color: #F0F0F0;
}

.header {
  padding: 15px 0;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: inline-flex;
}
.header__logo-desktop {
  max-height: 70px;
}
@media only screen and (min-width: 480px) {
  .header__logo-desktop {
    max-height: 85px;
  }
}
@media only screen and (min-width: 768px) {
  .header__logo-desktop {
    max-height: 100px;
  }
}
@media only screen and (min-width: 992px) {
  .header__logo-desktop {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .header__logo-desktop {
    max-height: 125px;
  }
}
.header__main {
  display: none;
}
@media only screen and (min-width: 992px) {
  .header__main {
    display: block;
    flex: 1;
    text-align: right;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 680px) {
  .header__main {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .header__top {
    display: flex;
    justify-content: flex-end;
  }
}
.header__bottom {
  display: none;
}
.header__search label {
  display: inline-flex;
  align-items: center;
}
.header__search input {
  border: none;
  border-bottom: 1px solid #000000;
}
.header__search button {
  background: none;
  border: none;
  margin-left: 10px;
}
.header__languages {
  font-weight: 500;
}
@media only screen and (min-width: 480px) {
  .header__languages {
    margin: 15px 0;
  }
}
@media only screen and (min-width: 680px) {
  .header__languages {
    margin: 0 30px;
  }
}
@media only screen and (min-width: 768px) {
  .header__languages {
    margin: 0 45px;
  }
}
@media only screen and (min-width: 992px) {
  .header__languages {
    margin: 0 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__languages {
    margin: 0 75px;
  }
}
.header__languages span, .header__languages a {
  margin-left: 10px;
}
.header__languages span:first-child, .header__languages a:first-child {
  margin-left: 0;
}
.header__languages a {
  color: #1EA348;
  text-decoration: underline;
}
.header__auth {
  font-weight: 500;
}
.header__auth span {
  margin: 0 5px;
}
.header__auth a {
  color: #000000;
}
.header__auth a:hover, .header__auth a:focus {
  color: #1EA348;
}
.header__menu {
  display: none;
}
@media only screen and (min-width: 992px) {
  .header__menu {
    display: block;
    text-align: right;
    margin-top: 30px;
  }
}
.header__menu.footer__menu {
  margin-bottom: 0;
}
.header__hamburger {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  margin-left: 15px;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 992px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.header__hamburger.active span {
  background: rgba(255, 255, 255, 0);
}
.header__hamburger.active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 19px 3px;
          transform-origin: 19px 3px;
}
.header__hamburger.active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 19px -1px;
          transform-origin: 19px -1px;
}
.header__hamburger span {
  background: #000000;
  display: inline-block;
  width: 20px;
  height: 2px;
  transition: background-color 300ms ease-in-out;
}
.header__hamburger span:before, .header__hamburger span:after {
  content: "";
  background: #000000;
  display: inline-block;
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 300ms ease-in-out;
}
.header__hamburger span:before {
  top: 2px;
}
.header__hamburger span:after {
  bottom: 2px;
}

.mm {
  position: fixed;
  top: 0;
  left: -320px;
  bottom: 0;
  width: 320px;
  background: #FFFFFF;
  z-index: 99;
  padding: 15px;
  overflow-y: scroll;
  transition: 300ms ease;
}
@media only screen and (min-width: 992px) {
  .mm {
    left: -320px !important;
  }
}
.mm::-webkit-scrollbar {
  width: 3px;
}
.mm::-webkit-scrollbar-track {
  background: #F0F0F0;
}
.mm::-webkit-scrollbar-thumb {
  background: #1EA348;
}
.mm.active {
  left: 0;
}
.mm__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mm__logo img {
  height: 59px;
}
.mm__close:hover img, .mm__close:focus img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mm__close img {
  height: 18px;
  transition: 300ms ease;
}
.mm__search {
  margin-top: 5px;
}
.mm__search .header__search label {
  display: flex;
}
.mm__search .header__search input {
  width: 100%;
}
.mm__languages-auth {
  margin: 15px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mm__languages-auth .header__languages {
  margin: 0;
}
.mm__menu a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 8px;
  color: #000000;
}
.mm__menu a:last-child {
  margin-bottom: 0;
}
.mm__menu a:hover:before, .mm__menu a:focus:before, .mm__menu a.active:before {
  width: 10px;
  margin-right: 10px;
}
.mm__menu a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #1EA348;
  transition: 300ms ease;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  background: #FFFFFF;
  color: #00A99D;
  border: 2px solid #00A99D;
  padding: 6px 16px 3px;
  border-radius: 30px;
  font-weight: 400;
}
.btn:hover, .btn:focus {
  background: #00A99D;
  color: #FFFFFF;
}
.btn-container {
  text-align: center;
}
.btn.w100 {
  width: 100%;
}
.btn.aqua {
  background: #00A99D;
  color: #FFFFFF;
}
.btn.big {
  padding: 7px 16px 5px;
}
@media only screen and (min-width: 768px) {
  .btn.big {
    padding: 9px 26px 8px;
  }
}

.breadcrumbs {
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .breadcrumbs {
    font-size: 16px;
  }
}
.breadcrumbs__divider {
  margin: 0 3px;
}
.breadcrumbs a {
  color: #000000;
}
.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: #1EA348;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.float-alert {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  padding: 15px;
  position: relative;
  max-width: 100%;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 #9c9c9c;
  display: flex;
  align-items: flex-start;
  cursor: auto;
}
@media only screen and (min-width: 480px) {
  .float-alert {
    max-width: 450px;
  }
}
@media only screen and (min-width: 768px) {
  .float-alert {
    padding: 30px;
    font-size: 16px;
    line-height: 1.3em;
    max-width: 600px;
  }
}
.float-alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.float-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.float-alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.float-alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.float-alert__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}
.float-alert__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.float-alert__close {
  cursor: pointer;
  margin-left: 15px;
}
@media only screen and (min-width: 768px) {
  .float-alert__close {
    margin-top: -15px;
    margin-right: -15px;
  }
}

.pagination {
  text-align: center;
}
.pagination li {
  display: inline-block;
  margin: 0 3px;
}
@media only screen and (min-width: 1200px) {
  .pagination li {
    font-size: 16px;
  }
}
.pagination li.active span {
  border-color: #00A99D;
}
.pagination li.disabled span {
  color: #C2C2C2;
}
.pagination li a, .pagination li span {
  display: inline-block;
  padding: 2px 3px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #00A99D;
}
@media only screen and (min-width: 1200px) {
  .pagination li a, .pagination li span {
    padding: 4px 6px;
  }
}
.pagination li a {
  transition-duration: 150ms;
}
.pagination li a:hover, .pagination li a:focus {
  border-color: #00A99D;
}

.video-announcements {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .video-announcements {
    max-width: none;
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .video-announcements .homepage-video {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .video-announcements .homepage-video {
    flex: 1;
  }
}
.video-announcements .homepage-video__container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video-announcements .homepage-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.video-announcements .homepage-announcements {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .video-announcements .homepage-announcements {
    width: 40%;
    margin-left: 15px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .video-announcements .homepage-announcements {
    width: 310.67px;
  }
}
@media only screen and (min-width: 1200px) {
  .video-announcements .homepage-announcements {
    margin-left: 30px;
    width: 370px;
  }
}
.video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg {
  position: absolute;
  top: 10px;
  right: 15px;
}
.video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li {
  display: inline-flex;
  margin-left: 10px;
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li {
    display: flex;
    margin-left: 0;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li {
    margin-bottom: 15px;
  }
}
.video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li:last-child {
  margin-bottom: 0;
}
.video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li.active a, .video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li:hover a {
  background: #FFFFFF;
}
.video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li a {
  height: 10px;
  width: 20px;
  background: transparent;
  border: 2px solid #FFFFFF;
  transition: 300ms ease;
}
@media only screen and (min-width: 992px) {
  .video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li a {
    height: 20px;
    width: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .video-announcements .homepage-announcements .lSSlideOuter .lSPager.lSpg li a {
    height: 24px;
  }
}

.homepage-announcement {
  background: no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  padding-top: 30px;
}
@media only screen and (min-width: 768px) {
  .homepage-announcement {
    height: 244px;
  }
}
@media only screen and (min-width: 992px) {
  .homepage-announcement {
    height: 357.92px;
    padding-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .homepage-announcement {
    height: 433.13px;
  }
}
.homepage-announcement:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 163, 72, 0.7);
}
.homepage-announcement__content {
  height: 100%;
  position: relative;
  color: #FFFFFF;
  padding: 15px;
  overflow-y: auto;
}
@media only screen and (min-width: 480px) {
  .homepage-announcement__content {
    padding: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .homepage-announcement__content {
    padding: 15px 30px 15px 15px;
  }
}
@media only screen and (min-width: 992px) {
  .homepage-announcement__content {
    padding: 30px 45px 30px 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .homepage-announcement__content {
    padding-top: 90px;
  }
}
.homepage-announcement__content::-webkit-scrollbar {
  width: 3px;
}
.homepage-announcement__content::-webkit-scrollbar-track {
  background: transparent;
}
.homepage-announcement__content::-webkit-scrollbar-thumb {
  background: #FFB81F;
}
.homepage-announcement__date, .homepage-announcement__title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .homepage-announcement__date, .homepage-announcement__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .homepage-announcement__date, .homepage-announcement__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.homepage-announcement__title {
  line-height: 1.3em;
}
.homepage-announcement__description {
  text-align: justify;
  font-size: 12px;
}
.homepage-announcement__button {
  margin-top: 20px;
}
.homepage-announcement__button a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  border: 2px solid #00A99D;
  padding: 6px 16px 3px;
  border-radius: 30px;
  font-weight: 300;
}
.homepage-announcement__button a:hover, .homepage-announcement__button a:focus {
  border-color: #FFFFFF;
}

@media only screen and (min-width: 992px) {
  .news {
    display: flex;
  }
}
.news__column {
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .news__column {
    width: calc(100% / 3);
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .news__column {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.news__column:last-child {
  margin-right: 0;
}
.news__item {
  display: block;
  background: #FFFFFF;
  padding: 15px;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  margin-bottom: 15px;
  transition-duration: 200ms;
}
@media only screen and (min-width: 480px) {
  .news__item {
    max-width: 450px;
    display: flex;
    padding: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .news__item {
    margin-bottom: 30px;
  }
}
.news__item:last-child {
  margin-bottom: 0;
}
.news__item:hover, .news__item:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.news__item-image {
  display: flex;
  justify-content: center;
}
.news__item-image img {
  width: 85px;
  height: 85px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__item-content {
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 480px) {
  .news__item-content {
    flex: 1;
    margin-left: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.news__item-title {
  display: block;
  font-size: 18px;
  margin: 15px 0;
  font-weight: 500;
  line-height: 1.2em;
}
@media only screen and (min-width: 480px) {
  .news__item-title {
    margin: 0;
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .news__item-title {
    font-size: 16px;
  }
}
.news__item-date {
  display: block;
  font-size: 12px;
}
.news__item-date img {
  margin-bottom: -2px;
  margin-right: 3px;
  height: 13px;
}
@media only screen and (min-width: 480px) {
  .news__bigItem {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .news__bigItem {
    height: 405px;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1200px) {
  .news__bigItem {
    height: 435px;
  }
}
.news__bigItem.announcement .news__bigItem-description {
  margin-bottom: 0;
  margin-top: 15px;
}
.news__bigItem.announcement .news__item-date {
  font-size: 16px;
}
.news__bigItem.announcement .news__item-date img {
  height: 17px;
}
@media only screen and (min-width: 992px) {
  .news__bigItem-content {
    height: 100%;
    overflow-y: auto;
    padding-right: 20px;
    margin-right: -20px;
  }
}
.news__bigItem-content::-webkit-scrollbar {
  width: 3px;
}
.news__bigItem-content::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.news__bigItem-content::-webkit-scrollbar-thumb {
  background: #1EA348;
}
.news__bigItem-image {
  display: block;
  width: 100%;
  height: 150px;
}
@media only screen and (min-width: 480px) {
  .news__bigItem-image {
    height: 225px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .news__bigItem-image {
    height: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .news__bigItem-image {
    height: 200px;
  }
}
.news__bigItem-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__bigItem-description {
  display: block;
  font-size: 12px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 480px) {
  .news__bigItem .news__item-title {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .news-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media only screen and (min-width: 768px) {
  .news-list .news__item {
    max-width: none;
    width: calc(50% - 15px);
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
@media only screen and (min-width: 992px) {
  .news-list .news__item {
    width: calc((100% / 3) - 15px);
  }
}
@media only screen and (min-width: 1200px) {
  .news-list .news__item {
    width: calc((100% / 3) - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
.news-list .news__item:last-child {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  .news-list .news__item:last-child {
    margin-bottom: 30px;
  }
}

.news-single {
  background: #FFFFFF;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 480px) {
  .news-single {
    padding: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .news-single {
    padding: 45px 60px;
  }
}
.news-single__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
}
@media only screen and (min-width: 480px) {
  .news-single__title {
    font-size: 20px;
    line-height: 1.1em;
  }
}
@media only screen and (min-width: 768px) {
  .news-single__title {
    font-size: 26px;
    line-height: 1.3em;
  }
}
.news-single__date {
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (min-width: 480px) {
  .news-single__date {
    margin: 15px 0;
  }
}
@media only screen and (min-width: 768px) {
  .news-single__date {
    margin: 20px 0;
  }
}
@media only screen and (min-width: 768px) {
  .news-single__date .news__item-date {
    font-size: 16px;
  }
  .news-single__date .news__item-date img {
    height: 17px;
  }
}
.news-single__image {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .news-single__image {
    margin-bottom: 20px;
  }
}
.news-single__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-single__body {
  font-size: 12px;
  text-align: justify;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
@media only screen and (min-width: 768px) {
  .news-single__body {
    font-size: 14px;
  }
}
.news-single__body h1, .news-single__body h2, .news-single__body h3 {
  line-height: 1.3em;
  margin-bottom: 0.5em;
}
.news-single__body p, .news-single__body a, .news-single__body span, .news-single__body div, .news-single__body ul, .news-single__body ol, .news-single__body li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.news-single__body p {
  margin-bottom: 10px;
}
.news-single__body p img {
  max-width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-single__body a {
  color: #1EA348;
}
.news-single__socials {
  margin-top: 15px;
  font-size: 12px;
  color: #C2C2C2;
}
@media only screen and (min-width: 768px) {
  .news-single__socials {
    margin-top: 20px;
    font-size: 14px;
  }
}
.news-single__socials-title {
  margin-right: 10px;
}
.news-single__socials a {
  color: #1EA348;
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .news-single__socials a {
    margin-right: 8px;
  }
}
.news-single__socials a:last-child {
  margin-right: 0;
}

.partners {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .partners {
    max-width: none;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media only screen and (min-width: 1200px) {
  .partners {
    margin-left: -25px;
    margin-right: -25px;
  }
}
.partners__item {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  margin-bottom: 45px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .partners__item {
    width: calc((100% / 3) - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    padding-bottom: 12%;
  }
}
@media only screen and (min-width: 1200px) {
  .partners__item {
    width: calc((100% / 3) - 50px);
    margin-left: 25px;
    margin-right: 25px;
  }
}
.partners__item:last-child {
  margin-bottom: 0;
}
.partners__item-image {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 100%;
}
.partners__item-image img {
  max-width: 100%;
  max-height: 100%;
}

.partner {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 27.5675675676%;
  position: relative;
}
.partner__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner__image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.projects__item {
  display: block;
  height: 100%;
  padding: 15px;
  border: 10px solid #C2C2C2;
}
@media only screen and (min-width: 1200px) {
  .projects__item {
    border-width: 20px;
    padding: 30px;
  }
}
.projects__item:hover, .projects__item:focus {
  border-color: rgba(194, 194, 194, 0.75);
}
.projects__item.green {
  border-color: #1EA348;
}
.projects__item.green:hover, .projects__item.green:focus {
  border-color: rgba(30, 163, 72, 0.75);
}
.projects__item.aqua {
  border-color: #00A99D;
}
.projects__item.aqua:hover, .projects__item.aqua:focus {
  border-color: rgba(0, 169, 157, 0.75);
}
.projects__item.yellow {
  border-color: #FFB81F;
}
.projects__item.yellow:hover, .projects__item.yellow:focus {
  border-color: rgba(255, 184, 31, 0.75);
}
.projects__item-image {
  width: 100%;
  height: 45px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .projects__item-image {
    height: 70px;
  }
}
.projects__item-image img {
  max-width: 100%;
  max-height: 100%;
}
.projects__item-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #1EA348;
  margin-bottom: 10px;
}
.projects__item-description {
  color: #000000;
  font-size: 12px;
}
.projects #projects-slider {
  display: flex;
}
.projects .lSSlideOuter .lSPager.lSpg {
  padding-top: 10px;
}
.projects .lSSlideOuter .lSPager.lSpg li {
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 1200px) {
  .projects .lSSlideOuter .lSPager.lSpg li {
    padding: 0 6px;
  }
}
.projects .lSSlideOuter .lSPager.lSpg li.active a {
  background: #C2C2C2;
}
.projects .lSSlideOuter .lSPager.lSpg li:hover a {
  background: #C2C2C2;
}
.projects .lSSlideOuter .lSPager.lSpg a {
  height: 10px;
  width: 20px;
  background: transparent;
  border: 2px solid #C2C2C2;
  transition: 300ms ease;
}
@media only screen and (min-width: 1200px) {
  .projects .lSSlideOuter .lSPager.lSpg a {
    width: 24px;
  }
}
.projects-single__image {
  text-align: center;
}
.projects-single__image img {
  max-width: 100%;
  max-height: 150px;
}
.projects-single__document {
  color: #00A99D;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .projects-single__document {
    font-size: 14px;
  }
}
.projects-single__document i {
  margin-right: 5px;
}
.projects-single__document a {
  color: #00A99D;
}

.community-homepage, .community {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-bottom: -30px;
}
@media only screen and (min-width: 1200px) {
  .community-homepage, .community {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -45px;
  }
}

.community-homepage .community-item {
  width: calc(50% - 15px);
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
  .community-homepage .community-item {
    width: calc((100% / 3) - 15px);
  }
}
@media only screen and (min-width: 768px) {
  .community-homepage .community-item {
    width: calc(25% - 15px);
  }
}
@media only screen and (min-width: 1200px) {
  .community-homepage .community-item {
    width: calc((100% / 6) - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 45px;
  }
}

.community-filters {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .community-filters {
    flex-direction: row;
  }
}
.community-filters__left {
  order: 1;
}
@media only screen and (min-width: 600px) {
  .community-filters__left {
    order: 0;
    flex: 2;
  }
}
@media only screen and (min-width: 768px) {
  .community-filters__left {
    flex: 3;
  }
}
@media only screen and (min-width: 992px) {
  .community-filters__left {
    flex: 4;
  }
}
@media only screen and (min-width: 1200px) {
  .community-filters__left {
    flex: 5;
  }
}
.community-filters__right {
  order: 0;
  margin-bottom: 30px;
}
@media only screen and (min-width: 600px) {
  .community-filters__right {
    order: 1;
    flex: 1;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .community-filters__right {
    margin-left: 30px;
  }
}

.community .community-item {
  width: calc(50% - 15px);
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
  .community .community-item {
    width: calc((100% / 3) - 15px);
  }
}
@media only screen and (min-width: 600px) {
  .community .community-item {
    width: calc(50% - 15px);
  }
}
@media only screen and (min-width: 768px) {
  .community .community-item {
    width: calc((100% / 3) - 15px);
  }
}
@media only screen and (min-width: 992px) {
  .community .community-item {
    width: calc(25% - 15px);
  }
}
@media only screen and (min-width: 1200px) {
  .community .community-item {
    width: calc(20% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 45px;
  }
}

.community-item {
  color: #000000;
}
.community-item:hover .community-item__image img, .community-item:focus .community-item__image img {
  border-radius: 50%;
}
.community-item__image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.community-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 150ms ease;
}
.community-item__name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
}
@media only screen and (min-width: 992px) {
  .community-item__name {
    font-size: 18px;
  }
}
.community-item__specialization {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}
@media only screen and (min-width: 992px) {
  .community-item__specialization {
    font-size: 14px;
  }
}

.community-single {
  text-align: center;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .community-single {
    padding: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .community-single {
    padding: 45px;
  }
}
.community-single__image {
  width: 125px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 480px) {
  .community-single__image {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .community-single__image {
    width: 200px;
    height: 200px;
  }
}
.community-single__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.community-single__image label {
  display: block;
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #F0F0F0;
}
.community-single__image label .text-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  height: 100%;
}
.community-single__image input {
  display: none;
}
.community-single__name {
  text-transform: uppercase;
  font-size: 20px;
  margin: 15px 0 2px;
}
.community-single__specialization {
  margin-bottom: 15px;
}
.community-single__contacts-item {
  margin-bottom: 5px;
}
.community-single__contacts i {
  margin-right: 5px;
}
.community-single__contacts a {
  color: #000000;
}
.community-single__contacts a:hover, .community-single__contacts a:focus {
  color: #1EA348;
}
.community-single__socials {
  margin: 15px 0 30px;
  font-size: 16px;
}
.community-single__socials a {
  color: #1EA348;
  margin-right: 10px;
}
.community-single__socials a:last-child {
  margin-right: 0;
}
.community-single__links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.community-single__links a {
  margin-bottom: 2px;
  color: #00A99D;
}
.community-single__links a:hover, .community-single__links a:focus {
  color: #1EA348;
}
.community-single__links a:last-child {
  margin-bottom: 0;
}
.community-single__form-item {
  margin-top: 15px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  .community-single__form-item {
    margin-top: 30px;
  }
}
.community-single__form-item input {
  display: block;
  width: 100%;
  border: 1px solid #C2C2C2;
  padding: 6px 10px 5px;
}
@media only screen and (min-width: 1200px) {
  .community-single__form-item input {
    padding: 9px 15px 8px;
  }
}
.community-single__form-item--error {
  font-size: 12px;
  color: #ff391c;
  margin-top: 2px;
}
.community-single__form-item--checkbox {
  margin-top: 10px;
  display: inline-flex;
  cursor: pointer;
}
.community-single__form-item--checkbox input {
  display: none;
}
input:checked + .community-single__form-item--checkbox-marker i {
  color: #000000;
}
.community-single__form-item--checkbox-marker {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 10px;
  border: 1px solid #C2C2C2;
}
.community-single__form-item--checkbox-marker i {
  margin-top: 1px;
  color: #FFFFFF;
  transition: 150ms ease-in-out;
}
.community-single__form-item--checkbox-marker + span {
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.community-single__form-label span {
  display: inline-block;
  margin-bottom: 2px;
}
@media only screen and (min-width: 1200px) {
  .community-single__form-label span {
    margin-bottom: 5px;
  }
}
.community-single__body {
  text-align: justify;
  font-size: 12px;
}
@media only screen and (min-width: 1200px) {
  .community-single__body {
    font-size: 14px;
  }
}
.community-single__body p {
  margin-bottom: 10px;
}
.community-single__body p:last-child {
  margin-bottom: 0;
}
.community-single__body img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
  max-height: 450px;
}

.filters {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}
.filters__search {
  background: white;
}
.filters__search label {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.filters__search input {
  width: 100%;
  border: none;
  padding-left: 10px;
}
.filters__search button {
  background: none;
  border: none;
  margin: 0 10px;
}
.filters__search button i {
  font-size: 12px;
}
.filters__join {
  margin: 15px 0;
}
.filters__group {
  background: #FFFFFF;
  padding: 15px;
}
.filters__group-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 18px;
}
.filters__group-item {
  margin-bottom: 10px;
  font-size: 14px;
}
.filters__group-item:last-child {
  margin-bottom: 0;
}
.filters__group-checkbox {
  display: inline-flex;
  align-items: center;
}
.filters__group-checkbox input {
  display: none;
}
input:checked + .filters__group-checkbox--marker {
  background: #00A99D;
}
.filters__group-checkbox--marker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border: 1px solid #00A99D;
  border-radius: 4px;
  margin-right: 8px;
  transition: 150ms ease;
}
.filters__group-checkbox--marker i {
  font-size: 9px;
  color: #FFFFFF;
}
.filters__group-checkbox span {
  cursor: pointer;
}

.footer {
  padding: 15px 0;
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 30px 0;
  }
}
.footer__content {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 480px) {
  .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__logo {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__logo {
    margin-bottom: 0;
  }
}
.footer__logo img {
  max-height: 120px;
  max-width: 100%;
}
.footer__menu {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .footer__menu {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__menu {
    margin-bottom: 0;
  }
}
.footer__menu a {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 5px 0;
  font-weight: 500;
  color: #000000;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .footer__menu a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__menu a {
    margin: 0 30px 0 0;
  }
}
.footer__menu a:after {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  margin-left: -13px;
  width: 26px;
  height: 2px;
  background: transparent;
  transition: 300ms ease;
}
@media only screen and (min-width: 640px) {
  .footer__menu a:after {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) {
  .footer__menu a:after {
    margin-top: 3px;
  }
}
.footer__menu a:hover, .footer__menu a:focus {
  color: #1EA348;
}
@media only screen and (min-width: 640px) {
  .footer__menu a:hover, .footer__menu a:focus {
    color: #000000;
  }
  .footer__menu a:hover:after, .footer__menu a:focus:after {
    background: #1EA348;
  }
}
@media only screen and (min-width: 640px) {
  .footer__menu a:last-child {
    margin-right: 0;
  }
}
.footer__menu a.active {
  color: #1EA348;
}
@media only screen and (min-width: 640px) {
  .footer__menu a.active {
    color: #000000;
  }
  .footer__menu a.active:after {
    background: #1EA348;
  }
}
.footer__copy {
  margin-bottom: 5px;
}
@media only screen and (min-width: 480px) {
  .footer__copy {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .footer__copy {
    font-size: 16px;
  }
}
.footer__developers {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .footer__developers {
    font-size: 16px;
  }
}
.footer__developers span {
  margin-right: 10px;
}

.auth-block {
  background: #FFFFFF;
  padding: 15px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 480px) {
  .auth-block {
    padding: 45px;
  }
}
.auth-block__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}
@media only screen and (min-width: 480px) {
  .auth-block__title {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .auth-block__title {
    font-size: 26px;
  }
}
@media only screen and (min-width: 992px) {
  .auth-block__title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .auth-block__title {
    font-size: 30px;
  }
}
.auth-block__section {
  display: block;
  margin-bottom: 15px;
}
@media only screen and (min-width: 480px) {
  .auth-block__section {
    margin-bottom: 30px;
  }
}
.auth-block__section.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-block__section.center {
  text-align: center;
}
.auth-block__section a {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #000000;
}
.auth-block__section a:hover, .auth-block__section a:focus {
  color: #00A99D;
}
.auth-block__section a.aqua {
  color: #00A99D;
  text-decoration: underline;
}
.auth-block__section a.aqua:hover, .auth-block__section a.aqua:focus {
  color: #000000;
}
.auth-block__section button {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 12px;
  color: #00A99D;
  border: 2px solid #00A99D;
  padding: 8px 16px 5px;
  border-radius: 30px;
  font-weight: 400;
  background: #FFFFFF;
}
@media only screen and (min-width: 480px) {
  .auth-block__section button {
    padding: 10px 16px 7px;
  }
}
.auth-block__section button:hover, .auth-block__section button:focus {
  background: #00A99D;
  color: #FFFFFF;
}
.auth-block__section:last-child {
  margin-bottom: 0;
}
.auth-block__section-title {
  display: block;
  font-size: 12px;
  font-weight: 300;
}
.auth-block__section-field {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C2C2C2;
  padding: 5px 0;
}
@media only screen and (min-width: 480px) {
  .auth-block__section-field {
    padding: 8px 0;
  }
}
.auth-block__section-field i {
  font-size: 14px;
  margin-right: 10px;
  color: #1EA348;
}
@media only screen and (min-width: 480px) {
  .auth-block__section-field i {
    font-size: 16px;
  }
}
.auth-block__section-field input {
  width: 100%;
  border: none;
  font-weight: 300;
}
@media only screen and (min-width: 480px) {
  .auth-block__section-field input {
    font-size: 16px;
  }
}
.auth-block__section-error {
  display: block;
  margin-top: 3px;
  font-size: 12px;
  color: #ff391c;
  font-weight: 300;
}
.auth-block__checkbox {
  display: inline-flex;
  align-items: baseline;
  font-size: 12px;
  font-weight: 300;
}
.auth-block__checkbox input {
  display: none;
}
input:checked + .auth-block__checkbox-marker {
  background: #00A99D;
}
input:checked + .auth-block__checkbox-marker i {
  color: #FFFFFF;
}
.auth-block__checkbox label {
  cursor: pointer;
}
.auth-block__checkbox-marker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  font-size: 9px;
  border: 2px solid #00A99D;
  transition: 300ms ease;
}
@media only screen and (min-width: 480px) {
  .auth-block__checkbox-marker {
    margin-right: 10px;
  }
}
.auth-block__checkbox-marker i {
  margin-bottom: -1px;
  color: transparent;
  transition: 300ms ease;
}

.contacts {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 480px) {
  .contacts {
    max-width: 450px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts {
    max-width: 600px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts {
    display: flex;
    max-width: none;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts {
    max-width: none;
  }
}
.contacts__details {
  background: #FFFFFF;
  padding: 15px;
}
@media only screen and (min-width: 480px) {
  .contacts__details {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .contacts__details {
    padding: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts__details {
    flex: 2.5;
  }
}
@media only screen and (min-width: 480px) {
  .contacts__details-left, .contacts__details-right {
    flex: 1;
  }
}
.contacts__details-left {
  margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
  .contacts__details-left {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.contacts__form {
  background: #FFFFFF;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .contacts__form {
    padding: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts__form {
    flex: 1;
  }
}
.contacts__form-item {
  margin-bottom: 15px;
  display: block;
}
.contacts__form-item input, .contacts__form-item textarea {
  display: block;
  width: 100%;
  border: 1px solid #C2C2C2;
  padding: 6px 10px;
}
.contacts__form-item textarea {
  resize: vertical;
  min-height: 100px;
}
.contacts__form-item--title {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.contacts__form-item--error {
  color: #ff391c;
  font-size: 12px;
}
@media only screen and (min-width: 1200px) {
  .contacts__form button {
    padding: 9px 32px 6px;
  }
}

.contacts-map {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 480px) {
  .contacts-map {
    max-width: 450px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-map {
    max-width: 600px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-map {
    max-width: none;
  }
}
.contacts-map__container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .contacts-map__container {
    height: 100%;
    padding-bottom: auto;
  }
}
.contacts-map__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-item {
  margin-bottom: 30px;
}
.contact-item:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .contact-item__title {
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-item__line, .contact-item__line-2 {
    margin-bottom: 5px;
  }
}
.contact-item__line:last-child, .contact-item__line-2:last-child {
  margin-bottom: 0;
}
.contact-item__line span, .contact-item__line-2 span {
  display: inline-flex;
  align-items: center;
}
.contact-item__line span i, .contact-item__line-2 span i {
  margin-right: 5px;
  color: #1EA348;
}
.contact-item__line-2 span:first-child {
  margin-right: 30px;
}

.profile {
  background: #FFFFFF;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .profile {
    padding: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .profile {
    display: flex;
  }
}
.profile__left {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .profile__left {
    width: 200px;
    margin-right: 30px;
  }
  .profile__left .community-single__image {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (min-width: 992px) {
  .profile__right {
    flex: 1;
  }
}
.profile__section {
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .profile__section.width-100 {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .profile__section {
    margin-bottom: 45px;
  }
}
@media only screen and (min-width: 992px) {
  .profile__section {
    margin: 0 auto 60px;
    width: 500px;
  }
}
.profile__section:last-child {
  margin-bottom: 0;
}
.profile__section-title {
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}
.profile__section button {
  padding: 7px 16px 5px;
}
@media only screen and (min-width: 768px) {
  .profile__section button {
    padding: 9px 26px 8px;
  }
}
.profile__filters {
  margin: 10px 0 15px;
  text-align: left;
}
.profile__filters-item {
  display: inline-flex;
  align-items: center;
  background: #FAFAFA;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 4px;
}
.profile__filters-item a {
  color: #000000;
}
.profile__filters-item i {
  margin-left: 10px;
  margin-top: 1px;
  color: #C2C2C2;
  cursor: pointer;
  transition: all 300ms ease;
}
.profile__filters-item i:hover, .profile__filters-item i:focus {
  color: #ff391c;
}
.profile__filters-item button {
  background: none;
  border: none;
}
.profile__mform select, .profile__mform textarea, .profile__mform input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #F0F0F0;
  background: #f2f2f2;
  padding: 6px 12px 5px;
  font-family: Arial, system-ui, sans-serif;
}
@media only screen and (min-width: 768px) {
  .profile__mform select, .profile__mform textarea, .profile__mform input {
    padding: 9px 12px 7px;
  }
}
.profile__mform textarea {
  resize: none;
}
.profile__mform button {
  margin-top: 10px;
}
.profile__mform-inline {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.profile__mform-inline button {
  margin-top: 0;
  margin-left: 15px;
}
.profile__divider {
  margin: 15px 0;
  color: #C2C2C2;
}
.profile__profile-link {
  font-weight: 500;
}
.profile__profile-link span {
  color: #C2C2C2;
}
.profile__profile-link a {
  color: #1EA348;
}
