@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic-ext);@font-face {
  font-family: "Font Awesome 5 Brands";
  font-display: swap;
  font-weight: 400;
  src: url("https://rest.help/fonts/Font Awesome 5/fa-brands-400.eot");
  src: url("https://rest.help/fonts/Font Awesome 5/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://rest.help/fonts/Font Awesome 5/fa-brands-400.woff2") format("woff2"), url("https://rest.help/fonts/Font Awesome 5/fa-brands-400.ttf") format("truetype"), url("https://rest.help/fonts/Font Awesome 5/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 300;
  src: url("https://rest.help/fonts/Font Awesome 5/fa-light-300.eot");
  src: url("https://rest.help/fonts/Font Awesome 5/fa-light-300.eot?#iefix") format("embedded-opentype"), url("https://rest.help/fonts/Font Awesome 5/fa-light-300.woff2") format("woff2"), url("https://rest.help/fonts/Font Awesome 5/fa-light-300.woff") format("woff"), url("https://rest.help/fonts/Font Awesome 5/fa-light-300.ttf") format("truetype"), url("https://rest.help/fonts/Font Awesome 5/fa-light-300.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 400;
  src: url("https://rest.help/fonts/Font Awesome 5/fa-regular-400.eot");
  src: url("https://rest.help/fonts/Font Awesome 5/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("https://rest.help/fonts/Font Awesome 5/fa-regular-400.woff2") format("woff2"), url("https://rest.help/fonts/Font Awesome 5/fa-regular-400.woff") format("woff"), url("https://rest.help/fonts/Font Awesome 5/fa-regular-400.ttf") format("truetype"), url("https://rest.help/fonts/Font Awesome 5/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-display: swap;
  font-weight: 900;
  src: url("https://rest.help/fonts/Font Awesome 5/fa-solid-900.eot");
  src: url("https://rest.help/fonts/Font Awesome 5/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://rest.help/fonts/Font Awesome 5/fa-solid-900.woff2") format("woff2"), url("https://rest.help/fonts/Font Awesome 5/fa-solid-900.woff") format("woff"), url("https://rest.help/fonts/Font Awesome 5/fa-solid-900.ttf") format("truetype"), url("https://rest.help/fonts/Font Awesome 5/fa-solid-900.svg#fontawesome") format("svg");
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.fal {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.far {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

.fa, .fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, system-ui, sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

input, textarea, button, select, label {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 962px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.m-t {
  margin-top: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-t {
    margin-top: 30px;
  }
}

.m-b {
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-b {
    margin-bottom: 30px;
  }
}

.m-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.m-lr {
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-lr {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.m-full {
  margin: 15px;
}

@media only screen and (min-width: 1200px) {
  .m-full {
    margin: 30px;
  }
}

.p-t {
  padding-top: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-t {
    padding-top: 30px;
  }
}

.p-b {
  padding-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-b {
    padding-bottom: 30px;
  }
}

.p-tb {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-tb {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.p-lr {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-lr {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.p-full {
  padding: 15px;
}

@media only screen and (min-width: 1200px) {
  .p-full {
    padding: 30px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #FFFFFF;
  padding: 8px 16px 7px;
  background: #00AEEF;
  border-radius: 5px;
  border: none;
  font-family: Arial, system-ui, sans-serif;
}

@media only screen and (min-width: 992px) {
  .btn {
    padding: 10px 30px 9px;
  }
}

.btn-container {
  text-align: center;
}

.horizontal-banner {
  width: 100%;
  height: 0;
  padding-bottom: 15.38461538461538%;
  background: #e6e6e6;
  position: relative;
}

.horizontal-banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.language-dropdown {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.language-dropdown__current {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.language-dropdown__current i {
  margin-left: 5px;
}

.language-dropdown__list {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -5px;
  right: 0;
  margin-top: 3px;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 5px;
  background: #FFFFFF;
  border-radius: 0 0 5px 5px;
  display: none;
}

.language-dropdown__list a {
  display: block;
  margin-bottom: 3px;
  color: #000000;
}

.language-dropdown__list a:last-child {
  margin-bottom: 0;
}

.language-dropdown__list a:hover, .language-dropdown__list a:focus {
  color: #F498CB;
}

.buy-btn {
  display: inline-block;
  font-size: 11px;
  background: #00AEEF;
  padding: 6px 12px 5px;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.buy-btn i {
  padding-left: 8px;
  margin-left: 8px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  .section-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 24px;
  }
}

.section-title a {
  color: #000000;
}

.homepage-products {
  margin: 30px 0;
}

@media only screen and (min-width: 768px) {
  .homepage-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 45px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-products {
    margin: 60px 0;
  }
}

.homepage-products .product-card {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .homepage-products .product-card {
    max-width: none;
    margin: 0;
    width: 236px;
  }
}

@media only screen and (min-width: 992px) {
  .homepage-products .product-card {
    width: 300.66px;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-products .product-card {
    width: 360px;
  }
}

.homepage-products #new-products-slider + .lSAction .lSPrev, .homepage-products #new-products-slider + .lSAction .lSNext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  top: 40%;
}

.homepage-products__actions {
  padding: 30px 0;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .homepage-products__actions {
    width: 236px;
    padding: 0;
    margin: 0 15px;
  }
}

@media only screen and (min-width: 992px) {
  .homepage-products__actions {
    width: 300.67px;
    margin: 0 30px;
  }
  .homepage-products__actions .action {
    max-width: none;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-products__actions {
    width: 360px;
    margin: 0 45px;
  }
}

.homepage-products__actions .lSSlideOuter .lSPager.lSpg > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  margin: 5px 3px 0;
}

.homepage-products__actions .lSSlideOuter .lSPager.lSpg > li.active a {
  background: #F498CB;
}

.homepage-products__actions .lSSlideOuter .lSPager.lSpg > li a {
  height: 2px;
  width: 14px;
  background: #b4b4b4;
}

.action {
  max-width: 270px;
  margin: 0 auto;
  border: 1px solid #b4b4b4;
  padding: 15px;
  text-align: center;
}

.action__header {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 15px;
}

.action__header span {
  display: inline-block;
  border-left: 2px solid #00AEEF;
  padding-left: 5px;
}

.action__image {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .action__image {
    height: 200px;
  }
}

.action__image img {
  max-width: 100%;
  max-height: 100%;
}

.action__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.action__title a {
  color: #000000;
}

.action__category {
  font-size: 12px;
  color: #818181;
}

.action__category span {
  color: #000000;
}

.celebrity-card-sm {
  max-width: 270px;
  margin: 0 auto 15px;
  padding: 15px;
  border: 1px solid #F498CB;
  border-radius: 10px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .celebrity-card-sm {
    height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .celebrity-card-sm {
    margin-bottom: 30px;
  }
}

.celebrity-card-sm:last-child {
  margin-bottom: 0;
}

.celebrity-card-sm__image {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
}

@media only screen and (min-width: 600px) {
  .celebrity-card-sm__image {
    margin-bottom: 10px;
  }
}

.celebrity-card-sm__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.celebrity-card-sm__name {
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  .celebrity-card-sm__name {
    font-size: 16px;
  }
}

.celebrity-card-sm__name a {
  color: #000000;
}

.celebrity-card-sm__role {
  margin-top: 3px;
  font-size: 12px;
  color: #464646;
}

@media only screen and (min-width: 600px) {
  .celebrity-card-sm__role {
    font-size: 11px;
  }
}

.celebrity-card-sm__more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  color: #F498CB;
}

@media only screen and (min-width: 600px) {
  .celebrity-card-sm__more {
    font-size: 12px;
  }
}

.celebrity-card-sm__more i {
  margin-left: 10px;
}

.filters {
  margin: 0 auto;
  padding: 15px;
  width: 270px;
}

@media only screen and (min-width: 600px) {
  .filters {
    margin-left: inherit;
    margin-right: inherit;
  }
}

.filters.purple-border {
  border: 1px solid #F498CB;
}

.filters.orange-border {
  border: 1px solid #00AEEF;
}

.filters__header {
  margin-bottom: 30px;
}

.filters__footer {
  margin-top: 15px;
}

@media only screen and (min-width: 1200px) {
  .filters__footer {
    margin-top: 25px;
  }
}

.filters__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.filters__search {
  margin-top: 10px;
}

.filters__search label {
  display: block;
  width: 100%;
  position: relative;
}

.filters__search label input {
  width: 100%;
  padding: 5px 34px 4px 10px;
  font-family: Arial, system-ui, sans-serif;
  border: 1px solid #e6e6e6;
  color: #464646;
}

.filters__search label button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #FFFFFF;
  border: 1px solid #e6e6e6;
  padding: 0 5px;
  color: #818181;
}

.filters__category {
  text-transform: uppercase;
  color: #00AEEF;
  font-weight: 700;
  margin-bottom: 10px;
}

.filters__spoiler {
  margin-bottom: 15px;
  position: relative;
  color: #F498CB;
}

.filters__spoiler-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: #464646;
}

.filters__spoiler-header:hover, .filters__spoiler-header:focus {
  color: #F498CB;
}

.filters__spoiler-image {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  text-align: center;
}

.filters__spoiler-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.filters__spoiler-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters__spoiler-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.filters__spoiler-list-wrapper {
  display: none;
  margin-top: 5px;
  background: #e6e6e6;
  padding: 5px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .filters__spoiler-list-wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100%;
    margin-top: 0;
    min-width: 200px;
  }
}

.filters__spoiler-list {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 992px) {
  .filters__spoiler-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.filters__spoiler-category {
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .filters__spoiler-category {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .filters__spoiler-category {
    margin-right: 45px;
  }
}

.filters__spoiler-category:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.filters__spoiler-category--title {
  color: #00AEEF;
  font-weight: 700;
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .filters__spoiler-category--title {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1200px) {
  .filters__spoiler-category--title {
    margin-bottom: 10px;
  }
}

.filters__spoiler-category--list a {
  display: block;
  margin-bottom: 2px;
  color: #464646;
}

@media only screen and (min-width: 768px) {
  .filters__spoiler-category--list a {
    white-space: nowrap;
  }
}

.filters__spoiler-category--list a:last-child {
  margin-bottom: 0;
}

.filters__celebrity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #464646;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.filters__celebrity:last-child {
  margin-bottom: 0;
}

.filters__celebrity:hover, .filters__celebrity:focus {
  color: #00AEEF;
}

.filters__celebrity-image {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.filters__celebrity-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.filters__more {
  color: #00AEEF;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage-top {
  margin: 30px 0;
}

@media only screen and (min-width: 600px) {
  .homepage-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 600px) {
  .homepage-top__categories {
    width: 270px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-top__categories {
    display: block;
    margin-right: 0;
  }
}

.homepage-top__products {
  margin: 15px 0;
}

@media only screen and (min-width: 600px) {
  .homepage-top__products {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
    margin: 30px auto 0;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-top__products {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-top__products {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 30px;
  }
}

.homepage-top__products-left {
  margin-bottom: 15px;
}

@media only screen and (min-width: 600px) {
  .homepage-top__products-left {
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .homepage-top__products-right {
    width: 185px;
  }
}

.homepage-top__products-banner {
  display: block;
  height: 555px;
  width: 185px;
  background: #e6e6e6;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .homepage-top__products-banner {
    height: 525px;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-top__products-banner {
    height: 555px;
  }
}

.homepage-top__products-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .homepage-top__celebrities {
    width: 270px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-top__celebrities {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.homepage-top__celebrities .filters__more {
  color: #F498CB;
}

.news-single {
  max-width: 738px;
  margin: 30px auto;
}

.news-single__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .news-single__title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .news-single__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .news-single__title {
    font-size: 32px;
  }
}

.news-single__image {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .news-single__image {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 45%;
  }
}

.news-single__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.news-single__content img {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  max-width: 100%;
  max-height: 600px;
}

.news-single__content p {
  margin-bottom: 10px;
}

.news-single__content p:last-child {
  margin-bottom: 0;
}

.news-single__category {
  margin-top: 30px;
  color: #818181;
  font-size: 12px;
}

.news-single__category span {
  color: #000000;
}

.news-single__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 15px;
  font-size: 12px;
  color: #818181;
}

.news-single__info-datetime {
  margin-right: 15px;
}

.news-single__info-counters span {
  display: inline-block;
  margin-right: 8px;
}

.news-single__info-counters span:last-child {
  margin-right: 0;
}

.news-single__info-counters span i {
  margin-right: 2px;
}

.news-single__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #818181;
}

.news-single__share-list {
  margin-left: 15px;
}

.news-single__share-list a {
  color: #00AEEF;
}

.news-single__share-list a:hover, .news-single__share-list a:focus {
  color: #F498CB;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2px;
}

@media only screen and (min-width: 992px) {
  .pagination li {
    font-size: 16px;
  }
}

.pagination li:first-child {
  margin-left: 0;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li.active a, .pagination li.active span {
  color: #00AEEF;
}

.pagination li a, .pagination li span {
  padding: 2px 4px;
}

.pagination li a {
  color: #000000;
  min-width: 19px;
}

@media only screen and (min-width: 992px) {
  .pagination li a {
    min-width: 22px;
  }
}

.pagination li a:hover, .pagination li a:focus {
  color: #00AEEF;
}

.pagination li span {
  color: #b4b4b4;
}

.news-top {
  margin: 30px 0;
}

@media only screen and (min-width: 992px) {
  .news-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 992px) {
  .news-top__right {
    margin-left: 30px;
  }
}

.news-top__banner {
  margin: 0 auto;
  width: 270px;
  height: 400px;
  background: #e6e6e6;
}

.news-top__banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.auth-form {
  border: 1px solid #b4b4b4;
  padding: 15px;
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .auth-form {
    padding: 30px;
  }
}

.auth-form.without-border {
  border: none;
}

.auth-form__wrapper {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .auth-form__wrapper {
    margin-bottom: 60px;
  }
}

.auth-form__group {
  margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
  .auth-form__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
}

.auth-form__group .auth-form__item {
  width: 100%;
}

.auth-form__group .auth-form__item:first-child {
  margin-right: 15px;
}

@media only screen and (min-width: 768px) {
  .auth-form__group .auth-form__item:first-child {
    margin-right: 30px;
  }
}

.auth-form__item {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .auth-form__item {
    margin-bottom: 30px;
  }
}

.auth-form__item:last-child {
  margin-bottom: 0;
}

.auth-form__item.captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.auth-form__item.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-form__item.radio input {
  width: auto;
  margin-right: 15px;
}

.auth-form__item.radio:last-child {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .auth-form__item.radio:last-child {
    margin-bottom: 30px;
  }
}

.auth-form__item a {
  color: #00AEEF;
}

.auth-form__item a:hover, .auth-form__item a:focus {
  color: #F498CB;
}

.auth-form__item input, .auth-form__item textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  background: #f2f2f2;
  padding: 6px 12px 5px;
  font-family: Arial, system-ui, sans-serif;
}

@media only screen and (min-width: 768px) {
  .auth-form__item input, .auth-form__item textarea {
    padding: 9px 12px 7px;
  }
}

.auth-form__error {
  display: inline-block;
  color: #cd0216;
  font-size: 11px;
  margin-top: 5px;
}

.auth-form__divider {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .auth-form__divider {
    margin-bottom: 20px;
  }
}

.section-search .header__search {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section-search .header__search input {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding-right: 33px;
}

.breadcrumbs {
  font-size: 12px;
}

.breadcrumbs a {
  color: #F498CB;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: #00AEEF;
}

.breadcrumbs span {
  color: #818181;
}

@media only screen and (min-width: 560px) {
  .authors-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media only screen and (min-width: 560px) {
  .authors-list .author-card {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .authors-list .author-card {
    width: calc(25% - 30px);
    max-width: none;
  }
}

.author-card {
  display: block;
  text-align: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .author-card {
    margin-bottom: 60px;
  }
}

.author-card:last-child {
  margin-bottom: 0;
}

.author-card__image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 992px) {
  .author-card__image img {
    width: 218px;
    height: 218px;
  }
}

@media only screen and (min-width: 1200px) {
  .author-card__image img {
    width: 270px;
    height: 270px;
  }
}

.author-card__name {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.author-card__role {
  margin-top: 2px;
  font-size: 12px;
  color: #818181;
}

.contacts {
  text-align: center;
}

.contacts__item {
  margin-top: 8px;
}

@media only screen and (min-width: 992px) {
  .contacts__item {
    margin-top: 15px;
  }
}

.contacts__item i {
  margin-right: 5px;
  color: #00AEEF;
}

.contacts__item a {
  color: #000000;
}

.profile {
  text-align: center;
}

.profile__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.profile__image label {
  display: block;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  position: relative;
}

.profile__image label .text-container {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.profile__image input {
  display: none;
}

.profile__name {
  font-weight: 700;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) {
  .profile__name {
    font-size: 18px;
  }
}

.profile__name a {
  color: #000000;
}

.profile__name--rest-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.profile__name--rest-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile__links {
  margin-top: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__links a {
  color: #00AEEF;
  margin-bottom: 5px;
  cursor: pointer;
}

.profile__links a:last-child {
  margin-bottom: 0;
}

.profile__links label {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .profile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.profile__right {
  margin: 45px auto 30px;
  max-width: 450px;
}

@media only screen and (min-width: 992px) {
  .profile__right {
    margin: 0 0 30px 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: none;
  }
}

.profile__section {
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .profile__section.width-100 {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .profile__section {
    margin-bottom: 45px;
  }
}

@media only screen and (min-width: 992px) {
  .profile__section {
    margin: 0 auto 60px;
    width: 500px;
  }
}

.profile__section:last-child {
  margin-bottom: 0;
}

.profile__section-title {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.profile__rests {
  margin: 10px 0 15px;
  text-align: left;
}

.profile__rests-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e6e6e6;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 4px;
}

.profile__rests-item a {
  color: #000000;
}

.profile__rests-item i {
  margin-left: 10px;
  margin-top: 1px;
  color: #818181;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.profile__rests-item i:hover, .profile__rests-item i:focus {
  color: #cd0216;
}

.profile__rests-item button {
  background: none;
  border: none;
}

.profile__mform select, .profile__mform textarea, .profile__mform input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  background: #f2f2f2;
  padding: 6px 12px 5px;
  font-family: Arial, system-ui, sans-serif;
}

@media only screen and (min-width: 768px) {
  .profile__mform select, .profile__mform textarea, .profile__mform input {
    padding: 9px 12px 7px;
  }
}

.profile__mform textarea {
  resize: none;
}

.profile__mform button {
  margin-top: 10px;
}

.profile__mform-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.profile__mform-inline button {
  margin-top: 0;
  margin-left: 15px;
}

.profile__mform-file {
  display: block;
  width: 100%;
}

.profile__mform-file span {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px dashed #e6e6e6;
  border-radius: 5px;
  color: #F498CB;
  cursor: pointer;
}

.profile__mform-file input {
  display: none;
}

.profile__divider {
  margin: 15px 0;
  color: #818181;
}

.profile__hours-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.profile__hours-item:last-child {
  margin-bottom: 0;
}

.profile__hours-item input[type="text"] {
  width: 60px;
  margin: 0 10px;
}

.profile__hours-item input[type="text"]:last-child {
  margin-right: 0;
}

.profile__hours-item input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.profile__imgs {
  margin: 15px auto;
  max-width: 300px;
}

@media only screen and (min-width: 480px) {
  .profile__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: none;
    margin: 15px -7.5px;
  }
}

@media only screen and (min-width: 992px) {
  .profile__imgs {
    margin-top: -45px;
    margin-bottom: -15px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile__imgs {
    margin-top: -30px;
  }
}

.profile__img {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  margin-bottom: 15px;
  position: relative;
}

@media only screen and (min-width: 480px) {
  .profile__img {
    width: calc(50% - 15px);
    padding-bottom: 32.5%;
    margin: 0 7.5px 15px;
  }
}

@media only screen and (min-width: 992px) {
  .profile__img {
    width: calc(25% - 15px);
    padding-bottom: 16.25%;
  }
}

.profile__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__img span {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.profile__img span i {
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.profile__img span i:hover, .profile__img span i:focus {
  color: #cd0216;
}

.profile__img span button {
  background: none;
  border: none;
}

.profile__profile-link {
  font-weight: 700;
}

.profile__profile-link span {
  color: #818181;
}

.profile .footer__socials-list {
  display: block;
  margin: 15px 0 0;
}

.small-container {
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
}

.author__description {
  margin-top: 15px;
  font-size: 13px;
  line-height: 1.3em;
  text-align: justify;
}

.author__description p {
  margin-bottom: 10px;
}

.author__description p:last-child {
  margin-bottom: 0;
}

.author__description img {
  max-width: 100%;
}

.author__hours {
  margin: 30px 0;
}

.author__hours-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

@media only screen and (min-width: 480px) {
  .author__hours-title {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 480px) {
  .author__hours-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.author__hours-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
  .author__hours-left {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .author__hours-left {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 480px) {
  .author__hours-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.author__hours-days div, .author__hours-hours div {
  margin-bottom: 5px;
}

.author__hours-days div:last-child, .author__hours-hours div:last-child {
  margin-bottom: 0;
}

.author__hours-days {
  margin-right: 30px;
}

.author__hours-note--title {
  font-weight: 700;
  margin-bottom: 5px;
}

@media only screen and (min-width: 480px) {
  .author__hours-note--title {
    text-align: center;
  }
}

@media only screen and (min-width: 480px) {
  .author__hours-note--body {
    text-align: center;
  }
}

.author__photos {
  margin: 15px 0;
}

.author__photos-item {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  position: relative;
}

.author__photos-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.author__photos .lSAction .lSPrev, .author__photos .lSAction .lSNext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  top: 50%;
  margin-top: -16px;
  color: #FFFFFF;
  opacity: 1;
}

@media only screen and (min-width: 480px) {
  .author__photos .lSAction .lSPrev, .author__photos .lSAction .lSNext {
    font-size: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .author__photos .lSAction .lSPrev, .author__photos .lSAction .lSNext {
    font-size: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .author__photos .lSAction .lSPrev, .author__photos .lSAction .lSNext {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1200px) {
  .author__photos .lSAction .lSPrev, .author__photos .lSAction .lSNext {
    font-size: 38px;
  }
}

.author__products {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 480px) {
  .author__products {
    max-width: 450px;
  }
}

@media only screen and (min-width: 600px) {
  .author__products {
    max-width: 570px;
  }
}

@media only screen and (min-width: 768px) {
  .author__products {
    max-width: none;
  }
}

@media only screen and (min-width: 992px) {
  .author__products {
    max-width: 815px;
  }
}

@media only screen and (min-width: 1200px) {
  .author__products {
    max-width: none;
  }
}

.author__products .lSAction .lSPrev, .author__products .lSAction .lSNext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  top: 45px;
}

.product__section-title {
  font-size: 16px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 992px) {
  .product__section-title {
    font-size: 18px;
  }
}

.product__section-body {
  font-size: 13px;
}

.product__section-body p {
  margin-bottom: 5px;
}

.product__section-body p:last-child {
  margin-bottom: 0;
}

.product__section-body img {
  max-width: 100%;
}

.product__reviews {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  .product__reviews {
    max-width: none;
  }
}

.product__reviews .lSSlideOuter {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 1230px) {
  .product__reviews .lSSlideOuter {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.product__reviews .lSSlideWrapper {
  overflow: visible;
}

.product__reviews .lSAction .lSPrev, .product__reviews .lSAction .lSNext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  top: 50%;
  margin-top: -16px;
}

.product__reviews .lSAction .lSPrev {
  left: -25px;
}

@media only screen and (min-width: 1230px) {
  .product__reviews .lSAction .lSPrev {
    left: -35px;
  }
}

.product__reviews .lSAction .lSNext {
  right: -25px;
}

@media only screen and (min-width: 1230px) {
  .product__reviews .lSAction .lSNext {
    right: -35px;
  }
}

.review {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  .review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    height: 150px;
  }
}

.review__image {
  width: 100%;
  height: 150px;
}

@media only screen and (min-width: 600px) {
  .review__image {
    width: 250px;
  }
}

.review__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 600px) {
  .review__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 15px;
  }
}

.review__author {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

@media only screen and (min-width: 600px) {
  .review__author {
    margin-top: 0;
  }
}

@media only screen and (min-width: 600px) {
  .review__text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow-y: auto;
  }
}

.review__text-container::-webkit-scrollbar {
  width: 3px;
}

.review__text-container::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.review__text-container::-webkit-scrollbar-thumb {
  background: #F498CB;
}

@media only screen and (min-width: 600px) {
  .review__text {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.review__avatar {
  margin-right: 10px;
}

.review__avatar img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.products-filter {
  border: 1px solid #F498CB;
  padding: 15px;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.products-filter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: -2px;
  cursor: pointer;
}

.products-filter__title i {
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.products-filter__title.active i {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.products-filter__content {
  margin-top: 15px;
  display: none;
}

.products-filter__group {
  margin-bottom: 15px;
}

.products-filter__group:last-child {
  margin-bottom: 0;
}

.products-filter__group-title {
  margin-bottom: 5px;
  font-weight: 700;
}

.products-filter__group-content {
  max-height: 147px;
  overflow-y: auto;
}

.products-filter__group-content::-webkit-scrollbar {
  width: 3px;
}

.products-filter__group-content::-webkit-scrollbar-track {
  background: transparent;
}

.products-filter__group-content::-webkit-scrollbar-thumb {
  background: #F498CB;
}

.products-filter__group-content::-webkit-scrollbar-thumb:hover {
  background: #0089bc;
}

.products-filter__group-content.from-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -5px;
}

.products-filter__group-content.from-to .products-filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-filter__group-content.from-to .products-filter__item span {
  display: inline-block;
  margin-right: 5px;
}

.products-filter__group-content.from-to .products-filter__item input {
  max-width: 50px;
  margin-right: 10px;
}

.products-filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.products-filter__item input {
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  padding: 2px 4px;
  font-family: Arial, system-ui, sans-serif;
  margin-right: 5px;
}

.products-filter__item .checkbox {
  margin-right: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.products-filter__item .checkbox input {
  display: none;
}

.products-filter__item .checkbox input:checked + span i {
  opacity: 1;
}

.products-filter__item .checkbox span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
}

.products-filter__item .checkbox span i {
  color: #F498CB;
  font-size: 9px;
  opacity: 0;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

@media only screen and (min-width: 600px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}

@media only screen and (min-width: 600px) and (min-width: 1200px) {
  .products-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.products-list .product-card {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

@media only screen and (min-width: 600px) {
  .products-list .product-card {
    width: calc(50% - 15px);
  }
}

@media only screen and (min-width: 768px) {
  .products-list .product-card {
    width: calc((100% / 3) - 15px);
  }
}

@media only screen and (min-width: 1200px) {
  .products-list .product-card {
    width: calc((100% / 3) - 30px);
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .col39 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .col39 .col39__3 .profile__image {
    width: 240px;
    height: 240px;
  }
}

@media only screen and (min-width: 992px) {
  .col39 .col39__3 {
    width: 240px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .col39 .col39__3 {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .col39 .col39__9 {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

.cart {
  margin-bottom: 30px;
}

.cart__item {
  border: 1px solid #F498CB;
  padding: 15px;
  text-align: center;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .cart__item {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .cart__item {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .cart__item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .cart__item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .cart__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 30px;
  }
}

.cart__item-image img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart__item-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.cart__item-author a {
  color: #000000;
}

.cart__item-avatar {
  margin-right: 5px;
}

.cart__item-avatar img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__item-title {
  font-weight: 700;
}

.cart__item-title a {
  color: #000000;
}

.cart__item-code {
  color: #818181;
  font-size: 12px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .cart__item-code {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .cart__item-code {
    margin-top: 5px;
  }
}

.cart__item-count {
  margin-bottom: 15px;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .cart__item-count {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .cart__item-count {
    font-size: 14px;
  }
}

.cart__item-count span {
  display: inline-block;
  padding: 0 10px;
}

.cart__item-count a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #b4b4b4;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .cart__item-count a {
    width: 22px;
    height: 22px;
  }
}

.cart__item-summary {
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cart__item-summary {
    margin: 0 30px;
  }
}

@media only screen and (min-width: 992px) {
  .cart__item-summary {
    margin: 0 60px;
  }
}

.cart__item-summary--title {
  margin-bottom: 5px;
}

@media only screen and (min-width: 992px) {
  .cart__item-summary--title {
    margin-bottom: 10px;
  }
}

.cart__item-summary--price {
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  .cart__item-summary--price {
    font-size: 22px;
  }
}

.cart__item-remove {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 15px;
  color: #818181;
  background: none;
  border: none;
  -webkit-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease;
}

@media only screen and (min-width: 768px) {
  .cart__item-remove {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .cart__item-remove {
    margin-right: 15px;
    font-size: 16px;
  }
}

.cart__item-remove:hover, .cart__item-remove:focus {
  color: #F498CB;
}

.cart__order-form {
  max-width: 500px;
  margin: 30px auto 0;
}

@media only screen and (min-width: 768px) {
  .cart__order-form {
    max-width: none;
  }
}

.cart__order-form .products-filter__item {
  margin-bottom: 10px;
}

.cart__order-form .products-filter__item:last-child {
  margin-bottom: 0;
}

.cart__order-form--item {
  display: block;
  margin-bottom: 10px;
}

.cart__order-form--item:last-child {
  margin-bottom: 0;
}

.cart__order-form--item input, .cart__order-form--item textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  padding: 4px 8px 3px;
  font-family: Arial, system-ui, sans-serif;
  background: #f3f3f3;
}

@media only screen and (min-width: 992px) {
  .cart__order-form--item input, .cart__order-form--item textarea {
    padding: 6px 12px 5px;
  }
}

.cart__order-form--item input {
  max-width: 300px;
}

@media only screen and (min-width: 1200px) {
  .cart__order-form--item input {
    max-width: 30%;
  }
}

.cart__order-form--item textarea {
  max-width: 500px;
  min-height: 100px;
}

@media only screen and (min-width: 1200px) {
  .cart__order-form--item textarea {
    max-width: 60%;
  }
}

.cart__order-summary {
  margin-top: 30px;
  text-align: center;
}

.cart__order-summary .products-filter__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cart__order-price {
  font-size: 24px;
}

.cart__order-price small {
  font-size: 0.6em;
}

@media only screen and (min-width: 1200px) {
  .product__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .product__info-left {
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  .product__info-left {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .product__info-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .product__info-content {
    max-width: 545px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .product__info-content {
    max-width: none;
  }
}

.product__author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__author-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

@media only screen and (min-width: 400px) {
  .product__author-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__author-block a {
  color: #00AEEF;
  text-decoration: underline;
}

@media only screen and (min-width: 400px) {
  .product__author-block a {
    margin-left: 10px;
  }
}

.product__author-avatar {
  margin-right: 10px;
}

.product__author-avatar img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
}

.product__title-block {
  margin-top: 15px;
}

.product__label {
  color: #cd0216;
  text-transform: uppercase;
  margin: 3px 0;
}

.product__code {
  font-size: 12px;
  color: #818181;
}

.product__price-block {
  margin-top: 15px;
  font-weight: 700;
}

@media only screen and (min-width: 480px) {
  .product__price-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.product__price-old {
  color: #cd0216;
  font-size: 16px;
  margin-right: 5px;
  text-decoration: line-through;
}

.product__price-new {
  font-weight: 700;
  font-size: 28px;
}

.product__price-new small {
  font-size: 0.5em;
}

.product__price-label {
  font-size: 16px;
  color: #cd0216;
}

@media only screen and (min-width: 480px) {
  .product__price-label {
    margin-left: 15px;
  }
}

.product__settings {
  margin-top: 15px;
}

.product__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__count-buttons {
  margin-left: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__count-buttons span {
  display: inline-block;
  padding: 0 10px;
}

.product__count-buttons a {
  width: 16px;
  height: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e6e6e6;
  font-size: 9px;
  border-radius: 3px;
}

.product__filter {
  margin-top: 8px;
}

.product__filter-title {
  display: inline-block;
}

.product__filter-list {
  margin-left: 10px;
  display: inline-block;
}

.product__filter-list label {
  cursor: pointer;
}

.product__filter-list label input {
  display: none;
}

.product__filter-list label input:checked + span {
  text-decoration: underline;
  color: #00AEEF;
  border-color: #00AEEF;
}

.product__filter-list label span.product__filter-color {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #b4b4b4;
}

.product__buy-block {
  margin-top: 15px;
}

@media only screen and (min-width: 480px) {
  .product__buy-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
}

.product__buy-oneclick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  padding-left: 3px;
}

@media only screen and (min-width: 480px) {
  .product__buy-oneclick {
    margin: 0 0 0 30px;
  }
}

.product__buy-oneclick--text {
  margin-left: -3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #FFFFFF;
  padding: 8px 8px 7px;
  background: #F498CB;
  border-radius: 5px;
  border: none;
  font-family: Arial, system-ui, sans-serif;
  margin-right: -3px;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .product__buy-oneclick--text {
    padding: 10px 15px 9px;
  }
}

.product__buy-oneclick label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.product__buy-oneclick input {
  width: 125px;
  padding: 6px 8px 5px;
  border: 1px solid #e6e6e6;
  font-family: Arial, system-ui, sans-serif;
}

.product__buy-oneclick button {
  text-transform: uppercase;
  margin-left: -3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #FFFFFF;
  padding: 8px 8px 7px;
  background: #00AEEF;
  border-radius: 5px;
  border: none;
  font-family: Arial, system-ui, sans-serif;
}

@media only screen and (min-width: 400px) {
  .product__share-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.product__share-present {
  border: 1px solid #00AEEF;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 7px 16px 6px;
  border-radius: 5px;
  font-family: Arial, system-ui, sans-serif;
}

@media only screen and (min-width: 992px) {
  .product__share-present {
    padding: 9px 15px 8px;
  }
}

.product__share-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

@media only screen and (min-width: 400px) {
  .product__share-social {
    margin-top: 0;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 480px) {
  .product__share-social {
    margin-left: 30px;
  }
}

.product__share-social--title {
  margin-right: 10px;
}

.product__share-social a {
  display: inline-block;
  margin-right: 5px;
}

@media only screen and (min-width: 480px) {
  .product__share-social a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .product__share-social a {
    font-size: 18px;
    margin-right: 10px;
  }
}

.product__share-social a:last-child {
  margin-right: 0;
}

.product__share-social a.product__share-social--facebook {
  color: #122a91;
}

.product__share-social a.product__share-social--pinterest {
  color: #930d0d;
}

@media only screen and (min-width: 768px) {
  .ps {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.ps__thumbs {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .ps__thumbs {
    margin-bottom: 0;
    width: 75px;
  }
}

.ps__thumbs-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .ps__thumbs-mobile {
    display: none;
  }
}

.ps__thumbs-mobile--photos, .ps__thumbs-mobile--videos {
  width: 50%;
}

.ps__thumbs-mobile--photos {
  margin-right: 5px;
}

@media only screen and (min-width: 540px) {
  .ps__thumbs-mobile--photos {
    width: 60%;
  }
}

@media only screen and (min-width: 540px) {
  .ps__thumbs-mobile--videos {
    width: 40%;
  }
}

.ps__thumbs-mobile--image {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
}

.ps__thumbs-mobile--image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #b4b4b4;
}

.ps__thumbs-mobile .lSAction > .lSPrev, .ps__thumbs-mobile .lSAction > .lSNext {
  top: 1px;
  bottom: 0;
  width: 14px;
  height: calc(100% - 2px);
  margin-top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(180, 180, 180, 0.8);
  opacity: 1;
  color: #FFFFFF;
}

.ps__thumbs-mobile .lSAction > .lSPrev {
  left: 1px;
}

.ps__thumbs-mobile .lSAction > .lSNext {
  right: 1px;
}

.ps__thumbs-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .ps__thumbs-desktop {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.ps__thumbs-desktop--photos {
  margin-bottom: 10px;
}

.ps__thumbs-desktop--image {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
}

.ps__thumbs-desktop--image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #b4b4b4;
}

.ps__thumbs-desktop .lSSlideOuter.vertical .lSAction > .lSPrev, .ps__thumbs-desktop .lSSlideOuter.vertical .lSAction > .lSNext {
  left: 0;
  right: 0;
  width: 100%;
  height: 14px;
  margin-left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(180, 180, 180, 0.8);
  opacity: 1;
  color: #FFFFFF;
}

.ps__thumbs-desktop .lSSlideOuter.vertical .lSAction > .lSPrev {
  top: 0;
}

.ps__thumbs-desktop .lSSlideOuter.vertical .lSAction > .lSNext {
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .ps__main {
    width: 455px;
    margin-left: 15px;
  }
}

.ps__main-image {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  overflow: hidden;
  border: 1px solid #b4b4b4;
}

.ps__main-image img, .ps__main-image iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup {
  padding: 15px;
  background: #FFFFFF;
  max-height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .popup {
    padding: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .popup {
    padding: 30px;
  }
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  z-index: 9999;
}

.popup-container {
  border: 5px solid #F498CB;
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .popup-container {
    max-width: 738px;
  }
}

@media only screen and (min-width: 992px) {
  .popup-container {
    max-width: 962px;
    border-width: 8px;
  }
}

.popup-container.green {
  border-color: #1DC500;
}

.popup-container.purple {
  border-color: #F498CB;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #464646;
}

@media only screen and (min-width: 768px) {
  .popup__close {
    top: 15px;
    right: 15px;
    font-size: 22px;
  }
}

.popup__title {
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .popup__title {
    font-size: 20px;
  }
}

.popup__title.center {
  text-align: center;
}

.popup__content {
  height: 100%;
  overflow-y: auto;
}

.popup-present__block {
  margin: 30px 0;
}

@media only screen and (min-width: 768px) {
  .popup-present__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .popup-present__left {
    width: 48%;
  }
}

.popup-present__divider {
  text-align: center;
  margin: 10px 0;
}

@media only screen and (min-width: 768px) {
  .popup-present__divider {
    width: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .popup-present__right {
    width: 45%;
  }
}

.popup-present textarea {
  resize: none;
  min-height: 3em;
}

.sorting {
  margin-left: auto;
  margin-right: auto;
  max-width: 290px;
}

@media only screen and (min-width: 600px) {
  .sorting {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sorting__title {
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media only screen and (min-width: 600px) {
  .sorting__title {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.sorting__list a {
  display: inline-block;
  margin: 0 4px;
  color: #464646;
}

.sorting__list a:hover {
  color: #00AEEF;
}

.sorting__list a:first-child {
  margin-left: 0;
}

.sorting__list a:last-child {
  margin-right: 0;
}

.sorting__list a.active {
  color: #00AEEF;
  text-decoration: underline;
}

.sorting__list a i {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 5px;
}

.loader {
  position: relative;
}

.loader:before {
  content: '';
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(70, 70, 70, 0.1);
  border-radius: 4px;
}

.loader:after {
  content: '';
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: #00AEEF #F498CB #cd0216 #FFFFFF;
  -webkit-animation: spinner 1.6s infinite ease-in-out;
          animation: spinner 1.6s infinite ease-in-out;
}

@media only screen and (min-width: 768px) {
  .loader:after {
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader-circle:before {
  border-radius: 50%;
}

.loader-without-bg:before {
  content: none;
}

.float-alert {
  background: #FFFFFF;
  padding: 30px;
  position: relative;
  max-width: 100%;
  font-size: 14px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px 0 #818181;
          box-shadow: 0 0 30px 0 #818181;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .float-alert {
    max-width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .float-alert {
    padding: 45px;
    font-size: 16px;
    max-width: 600px;
  }
}

.float-alert.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.float-alert.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.float-alert.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.float-alert.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.float-alert__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}

.float-alert__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.float-alert__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .float-alert__close {
    top: 15px;
    right: 15px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) {
  .rests-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .rests-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media only screen and (min-width: 480px) {
  .rests-list .celebrity-card-sm {
    width: calc(50% - 15px);
    max-width: none;
    margin-right: 7.5px;
    margin-left: 7.5px;
  }
}

@media only screen and (min-width: 640px) {
  .rests-list .celebrity-card-sm {
    width: calc((100% / 3) - 15px);
  }
}

@media only screen and (min-width: 992px) {
  .rests-list .celebrity-card-sm {
    width: calc(25% - 15px);
  }
}

@media only screen and (min-width: 1200px) {
  .rests-list .celebrity-card-sm {
    width: calc(20% - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }
}

.static-page img {
  max-width: 100%;
  max-height: 500px;
}

.header__top {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header__top {
    padding-left: 250px;
  }
}

.header__top-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-menu a {
  color: #000000;
}

.header__bottom {
  background: #FFFFFF;
}

.header__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
  .header__bottom-content {
    padding-left: 250px;
    height: 60px;
    position: relative;
  }
}

.header__language {
  margin-left: 30px;
}

.header__logo {
  height: 60px;
  margin-right: 15px;
  padding: 5px 0;
}

@media only screen and (min-width: 992px) {
  .header__logo {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 0;
    position: absolute;
    left: 0;
    top: -45px;
    height: 105px;
    width: 240px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.header__logo img {
  max-height: 100%;
}

@media only screen and (min-width: 1200px) {
  .header__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.header__search {
  display: none;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.header__search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #00AEEF;
  border-radius: 5px 10px 10px 5px;
}

.header__search input, .header__search select, .header__search button {
  border: none;
  font-family: "Comfortaa", system-ui, sans-serif;
}

.header__search input {
  display: inline-block;
  width: 100%;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #e6e6e6;
  padding: 4px 28px 4px 8px;
  margin-right: 5px;
}

@media only screen and (min-width: 992px) {
  .header__search input {
    padding: 8px 48px 8px 8px;
  }
}

.header__search select {
  margin-right: 25px;
  padding-left: 5px;
}

@media only screen and (min-width: 992px) {
  .header__search select {
    margin-right: 45px;
  }
}

.header__search button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #00AEEF;
  color: #FFFFFF;
  padding: 4px 6px;
  border-radius: 0 5px 5px 0;
}

@media only screen and (min-width: 992px) {
  .header__search button {
    padding: 8px 16px;
  }
}

.header__phone {
  display: none;
}

@media only screen and (min-width: 480px) {
  .header__phone {
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header__phone i {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 480px) and (min-width: 992px) {
  .header__phone i {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .header__phone {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .header__phone {
    font-size: 18px;
  }
}

.header__socials {
  display: none;
}

@media only screen and (min-width: 540px) {
  .header__socials {
    display: block;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .header__socials {
    font-size: 18px;
  }
}

.header__socials a {
  color: #000000;
  margin-right: 5px;
}

@media only screen and (min-width: 992px) {
  .header__socials a {
    margin-right: 10px;
  }
}

.header__socials a:last-child {
  margin-right: 0;
}

.header__icons a {
  color: #000000;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .header__icons a {
    font-size: 18px;
  }
}

.header__icons a span {
  position: absolute;
  top: -5px;
  left: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 10px;
  background: #00AEEF;
}

.header__icons-login, .header__icons-profile, .header__icons-cart {
  margin-left: 5px;
}

.header__icons-bars {
  margin-left: 15px;
}

@media only screen and (min-width: 768px) {
  .header__icons-bars {
    display: none;
  }
}

.mm {
  width: 320px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: -330px;
  bottom: 0;
  background: #FFFFFF;
  -webkit-transition: left 300ms ease;
  -o-transition: left 300ms ease;
  transition: left 300ms ease;
}

@media only screen and (min-width: 768px) {
  .mm {
    display: none;
  }
}

.mm.active {
  left: 0;
}

.mm__container {
  height: 100%;
  background: #FFFFFF;
  overflow-y: scroll;
}

.mm__container::-webkit-scrollbar {
  width: 5px;
}

.mm__container::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.mm__container::-webkit-scrollbar-thumb {
  background: #b4b4b4;
}

.mm__container::-webkit-scrollbar-thumb:hover {
  background: #818181;
}

.mm__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 22px;
  background: #F498CB;
  color: #FFFFFF;
}

.mm__logo {
  height: 60px;
  margin-left: 15px;
}

.mm__logo img {
  max-height: 100%;
}

.mm__content {
  padding: 15px;
}

.mm__buttons-lang {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mm__buttons a {
  color: #F498CB;
  position: relative;
  margin-left: 0;
  margin-right: 10px;
}

@media only screen and (min-width: 992px) {
  .mm__buttons a {
    font-size: 18px;
  }
}

.mm__buttons a span {
  position: absolute;
  top: -5px;
  left: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 10px;
  background: #00AEEF;
  color: #FFFFFF;
}

.mm__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mm__menu a {
  display: inline-block;
  margin-bottom: 8px;
  color: #F498CB;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.mm__menu a:last-child {
  margin-bottom: 0;
}

.mm__menu a:hover, .mm__menu a:focus {
  color: #00AEEF;
}

.mm__phone {
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  color: #F498CB;
}

.mm__phone i {
  margin-right: 10px;
}

.mm .footer__socials-list {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.footer {
  border-top: 1px solid #F498CB;
  padding: 15px 0;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding: 30px 0;
  }
}

.footer__content {
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .footer__content {
    margin-top: 0;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__content {
    margin-left: 45px;
  }
}

.footer__content-top {
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .footer__content-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .footer__content-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__contacts {
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .footer__contacts {
    margin-bottom: 0;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

.footer__contacts-item {
  margin-bottom: 10px;
}

@media only screen and (min-width: 992px) {
  .footer__contacts-item {
    margin-bottom: 20px;
  }
}

.footer__contacts-item:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .footer__contacts-item--title {
    margin-bottom: 5px;
  }
}

.footer__contacts-item--body {
  color: #818181;
  font-size: 12px;
}

.footer__original {
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .footer__original {
    margin-bottom: 0;
    margin-left: 15px;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__original {
    margin-left: 45px;
  }
}

.footer__original-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  .footer__original-title {
    margin-bottom: 5px;
  }
}

.footer__original-title i {
  margin-right: 5px;
}

.footer__original-text {
  color: #818181;
  font-size: 12px;
}

.footer__socials {
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .footer__socials {
    margin-bottom: 0;
    margin-left: 15px;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__socials {
    margin-left: 45px;
  }
}

.footer__socials-title {
  text-transform: uppercase;
}

.footer__socials-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 5px;
}

.footer__socials-list a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 18px;
  margin-right: 10px;
}

.footer__socials-list a:last-child {
  margin-right: 0;
}

.footer__socials-facebook {
  color: #122a91;
}

.footer__socials-twitter {
  color: #11adf5;
}

.footer__socials-youtube {
  color: #c60c0c;
}

.footer__socials-instagram {
  color: #000000;
}

@media only screen and (min-width: 992px) {
  .footer__language {
    margin-bottom: 0;
    margin-left: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__language {
    margin-left: 45px;
  }
}

.footer__copy {
  font-size: 12px;
  color: #818181;
}

.footer__developers {
  margin-top: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 992px) {
  .footer__developers {
    margin-top: 0;
  }
}

.footer__developers span {
  font-size: 11px;
  display: inline-block;
  margin-top: 3px;
}

.footer__developers img {
  margin-left: 10px;
  max-height: 20px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

@media only screen and (min-width: 992px) {
  .news-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .news-cards {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.news-card {
  width: 270px;
  margin: 0 auto 30px;
}

@media only screen and (min-width: 600px) {
  .news-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    max-width: 555px;
  }
}

@media only screen and (min-width: 992px) {
  .news-card {
    max-width: none;
    width: calc(50% - 15px);
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .news-card {
    max-width: none;
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}

.news-card__image {
  width: 270px;
  height: 180px;
}

@media only screen and (min-width: 992px) {
  .news-card__image {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .news-card__image {
    width: 270px;
  }
}

.news-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.news-card__content {
  margin-top: 15px;
}

@media only screen and (min-width: 600px) {
  .news-card__content {
    margin-left: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.news-card__title {
  font-weight: 700;
  font-size: 16px;
}

@media only screen and (min-width: 1200px) {
  .news-card__title {
    font-size: 18px;
  }
}

.news-card__title a {
  color: #000000;
}

.news-card__footer {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 700;
}

.news-card__footer-category--title {
  color: #818181;
}

.news-card__footer-info {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #818181;
}

.news-card__footer-info span {
  margin-right: 10px;
}

.news-card__footer-info span:last-child {
  margin-right: 0;
}

.news-card__footer-info span i {
  margin-right: 2px;
}

.news-card__footer-time {
  margin-right: 20px;
}

@media only screen and (min-width: 992px) {
  .news-card-xl {
    width: 100%;
    margin: 0;
  }
}

.news-card-xl__description {
  margin-top: 5px;
  font-size: 12px;
}

@media only screen and (min-width: 1200px) {
  .news-card-xl__description {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.3em;
  }
}

.news-card-xl__description a {
  display: inline-block;
  margin-left: 5px;
  color: #00AEEF;
}

@media only screen and (min-width: 992px) {
  .news-card-xl .news-card__image {
    width: 50%;
    height: 0;
    padding-bottom: 35%;
    position: relative;
  }
  .news-card-xl .news-card__image img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .news-card-xl .news-card__image {
    height: 400px;
    width: 570px;
  }
}

@media only screen and (min-width: 1200px) {
  .news-card-xl .news-card__content {
    margin-left: 30px;
  }
}

.product-card {
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

.product-card.purple-border {
  border: 1px solid #F498CB;
}

.product-card.orange-border {
  border: 2px solid #00AEEF;
}

.product-card__header {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.product-card__header span {
  display: inline-block;
  position: relative;
}

.product-card__header span:after {
  content: '';
  display: block;
  margin: 5px auto 0;
  width: 50px;
  height: 2px;
  background: #00AEEF;
}

.product-card__title {
  font-weight: 700;
}

.product-card__title a {
  color: #000000;
}

.product-card__image {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .product-card__image {
    height: 200px;
  }
}

.product-card__image img {
  max-width: 100%;
  max-height: 100%;
}

.product-card__category {
  font-size: 12px;
  margin: 5px 0;
  color: #818181;
}

.product-card__category span {
  color: #000000;
}

.product-card__price {
  margin-bottom: 5px;
}

.product-card__price-old {
  font-size: 11px;
  color: #818181;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-right: 5px;
}

.product-card__price-old:after {
  position: absolute;
  top: 5px;
  left: 0;
  content: '';
  display: block;
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
  background: #000000;
  width: 100%;
  height: 1px;
}

.product-card__price-current {
  font-weight: 700;
  font-size: 18px;
}

.product-card-sm {
  border: 1px solid #00AEEF;
  border-radius: 10px;
  padding: 15px;
  max-width: 270px;
  margin: 0 auto 15px;
}

@media only screen and (min-width: 600px) {
  .product-card-sm {
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 165px;
  }
}

@media only screen and (min-width: 1200px) {
  .product-card-sm {
    margin-bottom: 30px;
  }
}

.product-card-sm:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  .product-card-sm__left {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .product-card-sm__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product-card-sm__image {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .product-card-sm__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 75px;
  }
}

.product-card-sm__image img {
  max-width: 100%;
  max-height: 150px;
}

@media only screen and (min-width: 600px) {
  .product-card-sm__image img {
    max-height: 75px;
  }
}

.product-card-sm__image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.product-card-sm__author {
  color: #464646;
  margin: 15px 0;
}

@media only screen and (min-width: 600px) {
  .product-card-sm__author {
    margin: 5px 0 0;
  }
}

.product-card-sm__author:hover, .product-card-sm__author:focus {
  color: #F498CB;
}

.product-card-sm__author .product-card-sm__extra-text {
  font-size: 12px;
}

.product-card-sm__title {
  font-weight: 700;
  font-size: 16px;
}

.product-card-sm__title a {
  color: #000000;
}

.product-card-sm__header {
  margin-bottom: 15px;
}

.product-card-sm__extra-text {
  margin-top: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #cd0216;
}

.product-card-sm__price {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .product-card-sm__price {
    text-align: left;
  }
}

.product-card-sm__button {
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .product-card-sm__button {
    text-align: left;
  }
}

.product-cards {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .product-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .product-cards {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media only screen and (min-width: 768px) {
  .product-cards .product-card-sm {
    width: calc(50% - 15px);
    margin-left: 7.5px;
    margin-right: 7.5px;
    max-width: none;
  }
}

@media only screen and (min-width: 992px) {
  .product-cards .product-card-sm {
    width: calc((100% / 3) - 15px);
  }
}

@media only screen and (min-width: 992px) {
  .product-cards .product-card-sm {
    width: calc((100% / 3) - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
