<template>
	<div>
		<div class="form-group">
			<router-link :to="{name: 'organizationCreate'}" class="btn btn-success">Create new organization</router-link>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Companies list</div>
			<div class="panel-body">
				<table border="1">
					<thead>
					<tr>
						<th>Повідомлення</th>
						<th width="100">&nbsp;</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="organization, index in organizations">
						<td style="max-width: 300px">{{ organization.message }}</td>
						<td style="max-width: 10px">
							<router-link :to="{name: 'organizationEdit', params: {id: organization.id}}" class="btn btn-xs btn-default">
								Edit
							</router-link>
							<a class="btn btn-xs btn-danger"
								 v-on:click="deleteEntry(organization.id, index)">
								Delete
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data: function () {
			return {
				organizations: []
			}
		},
		mounted() {
			var app = this;
			axios.get('/profile/organization-changes-list')
				.then(function (resp) {
					app.organizations = resp.data;
				})
				.catch(function (resp) {
					console.log(resp);
					alert("Не удалось загрузить компании");
				});
		},
		methods: {
			deleteEntry(id, index) {
				if (confirm("Вы действительно хотите удалить компанию?")) {
					console.log(id);
					var app = this;
					axios.delete('/profile/organization-delete/' + id)
						.then(function (resp) {
							app.organizations.splice(index, 1);
						})
						.catch(function (resp) {
							alert("Не удалось удалить компанию");
						});
				}
			}
		}
	}
</script>