<template>
	<div>
		<div class="organizations-list m--b">
			<div class="organization" v-for='item, index in items' >
				<div class="organization__image">
					<img :src="item.card_image"
							 class="b-lazy-default"
							 :alt="item.title">
				</div>
				<div class="organization__header">
					<div class="organization__labels">
						<div class="lbl lbl-xl lbl-grey">Немає оцінок</div>
					</div>
				</div>
				<a :href="item.url" class="organization__content">
					<div class="organization__title">
						{{ item.title }}
					</div>
				</a>
			</div>
		</div>
		<button class="load-more m-lr m-b" @click='getItems()' v-cloak>
			Завантажити ще 8
		</button>
	</div>
</template>

<script>
	export default {
		data: function () {
			return {
				isFinished: false,
				page: 1, // Record selction position
				buttonText: 'Load More',
				items: []
			}
		},
		methods: {
			getItems: function () {
				let app = this;
				let url = '/profile/organization-list?page='+app.page;
				axios.get(url)
					.then(function (response) {
						let items = response.data.data;
						if (items != '') {
							if (app.items != undefined) {
								app.page++;
								app.buttonText = "Loading ...";
								setTimeout(function () {
									app.buttonText = "Load More";
									for (let i = 0; i < items.length; i++) {
										app.items.push(items[i]);
										console.log(items[i]);
									}
								}, 1);
							} else {
								app.items = items;
								console.log(app.items);
							}
						} else {
							app.buttonText = "No more records avaiable.";
							app.isFinished = true;
						}
					});
			}
		},
		created: function () {
			this.getItems();
		}
	}
</script>