<template>
	<div>
		<div class="form-group">
			<router-link to="/profile" class="btn btn-default">Back</router-link>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Create new company</div>
			<div class="panel-body">
				<form v-on:submit="saveForm()">
					<input type="hidden" name="_token" :value="csrf">
					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="control-label">Message</label>
							<textarea type="text" v-model="organization.message" class="form-control"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-group">
							<button class="btn btn-success">Create</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data: function () {
			return {
				csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
				organization: {
					message: ''
				}
			}
		},
		methods: {
			saveForm() {
				event.preventDefault();
				var app = this;
				var newCompany = app.organization;
				axios.post('/profile/organization-save', newCompany)
					.then(function (resp) {
						app.$router.push({path: '/profile'});
					})
					.catch(function (resp) {
						console.log(resp);
						alert("Не удалось создать компанию");
					});
			}
		}
	}
</script>
<!--http://www.itmathrepetitor.ru/laravel-5-5-i-vue-js-primer-proekta-crud/-->