<template>
	<div>
		<div class="form-group">
			<router-link to="/profile" class="btn btn-default">Back</router-link>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">edit organization</div>
			<div class="panel-body">
				<form v-on:submit="saveForm()">
					<input type="hidden" name="_token" :value="csrf">
					<div class="row">
						<div class="col-xs-12 form-group">
							<label class="control-label">Message</label>
							<textarea type="text" v-model="organization.message" class="form-control"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 form-group">
							<button class="btn btn-success">save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		mounted() {
			let app = this;
			let id = app.$route.params.id;
			app.companyId = id;
			axios.get('/profile/organization-edit/' + id)
				.then(function (resp) {
					app.organization = resp.data;
				})
				.catch(function () {
					alert("Не удалось загрузить компанию")
				});
		},
		data: function () {
			return {
				companyId: null,
				csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
				organization: {
					message: '',
				}
			}
		},
		methods: {
			saveForm() {
				event.preventDefault();
				var app = this;
				var newCompany = app.organization;
				axios.patch('/profile/organization-save/' + app.companyId, newCompany)
					.then(function (resp) {
						app.$router.replace('/profile');
					})
					.catch(function (resp) {
						console.log(resp);
						alert("Не удалось создать сохранить");
					});
			}
		}
	}
</script>