@import "../../core/variables";

.advert {
	width: 100%;
	height: 370px;
	background: $c-main-blue;
	border-radius: 4px;
	position: relative;
	overflow: hidden;

	@include w768 {
		height: 360px;
	}

	@include w992 {
		height: 350px;
	}

	@include w1200 {
		height: 380px;
	}

	&__header {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		pointer-events: none;
		padding: 15px;

		a {
			pointer-events: all;
		}
	}

	&__main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__content {
		flex: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__image {
		width: 100%;
		height: 260px;
		position: absolute;
		top: 0;
		left: 0;

		@include w768 {
			height: 230px;
		}

		@include w992 {
			height: 220px;
		}

		@include w1200 {
			height: 260px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px 4px 0 0;
		}
	}

	&__info {
		padding: 50px 15px 0;
		position: relative;
		background: $c-main-blue;
		background: linear-gradient(to top, $c-main-blue 35%, transparent);

		//&:before {
		//	position: absolute;
		//	top: -75px;
		//	left: 0;
		//	width: 100%;
		//	content: '';
		//	height: 75px;
		//	display: block;
		//	background: linear-gradient(to top, $c-main-blue, transparent);
		//}
	}

	&__title {
		font-size: 14px;
		font-weight: 700;
		color: $c-white;
	}

	&__price {
		margin-top: 10px;
		font-size: 12px;
		color: $c-second-blue;
	}

	&__author {
		display: flex;
		align-items: center;
		transition: 300ms ease;
		padding: 15px;
		position: relative;
		background: $c-main-blue;

		&:hover, &:focus {
			.advert__author-avatar {
				border-color: $c-green;
			}
		}

		&-avatar {
			width: 45px;
			height: 45px;
			padding: 2px;
			border: 2px solid $c-red;
			border-radius: 50%;
			margin-right: 10px;
			transition: 300ms ease-in-out;
			min-width: 45px;

			&--image {
				border-radius: 50%;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-name {
			color: $c-white;
			font-size: 12px;
			font-weight: 700;
		}

		&-role {
			color: $c-second-blue;
			font-size: 10px;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $c-second-blue;
		font-size: 12px;
		border-top: 1px solid lighten($c-main-blue, 5%);
		position: relative;
		background: $c-main-blue;
		border-radius: 0 0 4px 4px;
		padding: 15px;
	}
}

.adverts-list {
	padding-left: 15px;
	padding-right: 15px;

	@include w480 {
		display: flex;
		flex-wrap: wrap;
		padding-left: 7.5px;
		padding-right: 7.5px;
	}

	@include w1200 {
		padding-left: 12.5px;
		padding-right: 12.5px;
	}

	.advert {
		margin-bottom: 15px;

		@include w480 {
			margin: 0 7.5px 15px;
			width: calc(50% - 15px);
		}

		@include w992 {
			width: calc((100% / 3) - 15px);
		}

		@include w1200 {
			width: calc((100% / 3) - 25px);
			margin: 0 12.5px 25px;
		}
	}
}