@import "../../core/variables";

.article {
	width: 100%;
	height: 260px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;

	&:hover &__image:before {
		background: rgba($c-main-blue, 0.3);
	}

	&__image, &__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__image {
		background-color: $c-main-blue;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: transparent;
			transition: background-color 300ms ease;
		}

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: $c-main-blue;
		background: linear-gradient(0deg, $c-main-blue, rgba(255, 255, 255, 0) 50%);
	}

	&__buttons {
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
		padding: 15px;
		position: absolute;
		pointer-events: none;

		a {
			pointer-events: all;
		}
	}

	&__footer {
		padding: 30px 15px 15px;
	}

	&__title {
		color: $c-white;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__information {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		color: $c-second-blue;
	}

  &__views-counter {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 5px;
      width: 13.5px;
    }
  }
}

.articles-list {
	padding-left: 15px;
	padding-right: 15px;

	@include w480 {
		display: flex;
		flex-wrap: wrap;
		padding-left: 7.5px;
		padding-right: 7.5px;
	}

	@include w1200 {
		padding-left: 12.5px;
		padding-right: 12.5px;
	}

	.article {
		margin-bottom: 15px;

		@include w480 {
			margin: 0 7.5px 15px;
			width: calc(50% - 15px);
		}

		@include w992 {
			width: calc((100% / 3) - 15px);
		}

		@include w1200 {
			width: calc((100% / 3) - 25px);
			margin: 0 12.5px 25px;
		}
	}
}
