@import "../../core/variables";

.oc {
	width: 100%;
	height: 110px;
	border-radius: 4px;
	border: 1px solid $c-grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	background-position: center;
	position: relative;
	transition: all 300ms ease;

	&.active {
		background-color: $c-red;
		border-color: $c-red;
		border-radius: 4px 4px 0 0;

		&:hover, &:focus {
			.oc__title {
				color: $c-white;
			}
		}

		.oc__title, .oc__count, .oc__btn {
			color: $c-white;
		}

		.oc__btn {
			background: $c-white;
			border-color: $c-red;
			color: $c-red;
			transform: rotate(180deg);
		}

		.oc__subcategories {
			opacity: 1;
			z-index: 10;
			pointer-events: all;
			transform: scale(1);
		}
	}

	&__content {
		flex: 1;
		user-select: none;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: transparent;

		&:hover, &:focus {
			.oc__title {
				color: $c-blue-dark;
			}
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background: $c-white;
		border: 1px solid $c-second-blue;
		color: $c-second-blue;
		font-size: 13px;
		transition: all 300ms ease;
		cursor: pointer;

		@include w1200 {
			width: 33px;
			height: 33px;
			font-size: 14px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		color: $c-main-blue;
		line-height: 1.2em;
		transition: color 300ms ease;
	}

	&__count {
		margin-top: 3px;
		font-size: 12px;
		color: $c-second-blue;
		transition: color 300ms ease;
	}

	&__subcategories {
		background: $c-red;
		position: absolute;
		top: 100%;
		left: -1px;
		right: -1px;
		margin-top: 1px;
		font-size: 14px;
		padding: 15px;
		border-radius: 0 0 4px 4px;
		opacity: 0;
		z-index: 1;
		transition: all 300ms ease;
		pointer-events: none;
		transform: scale(0);

		li {
			margin: 8px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			display: flex;
			align-items: baseline;
			color: $c-white;

			&:hover, &:focus {
				&:before {
					color: $c-white;
				}
			}

			&:before {
				font-size: 12px;
				font-family: "Font Awesome 5 Pro";
				content: '\F105';
				margin-right: 6px;
				color: rgba($c-white, 0.25);
				transition: color 150ms ease;
			}
		}
	}
}

.oc-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
	padding-right: 15px;

	@include w480 {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}

	@include w1200 {
		padding-left: 12.5px;
		padding-right: 12.5px;
	}

	.oc {
		margin-bottom: 15px;

		@include w480 {
			margin: 0 7.5px 15px;
			width: calc(50% - 15px);
		}

		@include w992 {
			width: calc((100% / 3) - 15px);
		}

		@include w1200 {
			margin: 0 12.5px 25px;
			width: calc((100% / 3) - 25px);
		}
	}
}