@import "../../core/variables";

.organization {
	width: 100%;
	height: 180px;
	position: relative;

	&:hover {
		.organization__image:after {
			background: rgba($c-main-blue, 0.6);
		}
	}

	&__crown {
		position: absolute;
		z-index: 2;
		top: -14px;
		left: 50%;
		width: 32px;
		height: 32px;
		margin-left: -16px;
		border-radius: 50%;
		background: $c-white;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		color: $c-main-blue;
		//color: $c-orange;
		//color: $c-red;

		@include w1200 {
			top: -18px;
			margin-left: -18px;
			width: 36px;
			height: 36px;
		}

		&.lvl-2 {
			span {
				&:nth-child(1) {
					right: 13px;
					top: 6px;
				}

				&:nth-child(2) {
					left: 13px;
					top: 6px;
				}
			}
		}

		span {
			position: absolute;
			display: inline-flex;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: $c-red;

			&:nth-child(1) {
				top: 6px;
			}

			&:nth-child(2) {
				left: 9px;
				top: 9px;
			}

			&:nth-child(3) {
				right: 10px;
				top: 9px;
			}
		}

		i {
			margin-left: 1px;
			margin-top: 4px;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 5px;
		background: $c-main-blue;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($c-main-blue, 0.4);
			transition: background-color 300ms ease;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__header, &__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		left: 15px;
		right: 15px;
	}

	&__header {
		top: 15px;
		z-index: 1;
		pointer-events: none;
	}

	&__footer {
		bottom: 15px;
		pointer-events: none;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__buttons {
		pointer-events: all;
		display: flex;
		align-items: center;
	}

	&__button {
		display: inline-block;
		margin: 0 5px;
		color: $c-grey;
		font-size: 13px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__title {
		text-align: center;
		color: $c-grey;
		font-weight: 700;
		font-size: 18px;

		@include w480 {
			font-size: 16px;
		}

		@include w1200 {
			font-size: 18px;
		}
	}

	&__address {
		color: $c-grey;
		font-size: 12px;
		display: inline-flex;
		align-items: center;

		i {
			margin-right: 5px;
		}

    svg {
      width: 9px;
      margin-right: 5px;
    }
	}

	&__status {
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: $c-red;

		&.active {
			background: $c-green;
		}
	}
}

.organizations-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 7.5px;

	@include w1200 {
		padding: 0 12.5px;
	}

	.organization {
		margin: 0 7.5px 15px;

		@include w480 {
			width: calc(50% - 15px);
		}

		@include w992 {
			width: calc((100% / 3) - 15px);
		}

		@include w1200 {
			margin: 0 12.5px 25px;
			width: calc((100% / 3) - 25px);
		}
	}
}
