@import "../../core/variables";

.poll-card {
	border: 1px solid $c-grey-light;
	border-radius: 4px;
	padding: 15px;
	transition: 300ms ease;
	cursor: pointer !important;
	height: 116px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	@include w992 {
		padding: 20px;
	}

	&:before {
		font-family: "Font Awesome 5 Pro";
		display: none;
		content: '\f128';
		color: $c-grey;
		position: absolute;
		right: 10px;
		bottom: 10px;
		font-size: 35px;

		@include w768 {
			//display: block;
		}

		@include w1200 {
			right: 15px;
			bottom: 15px;
			font-size: 60px;
		}
	}

	&:hover, &:focus {
		border-color: darken($c-grey, 5%);
		background-color: lighten($c-grey, 5%);
	}

	&.big {
		min-height: 116px;
		height: auto;
		justify-content: space-between;

		.poll-card__title {
			font-size: 18px;
		}

		.buttons-container {
			margin-top: 15px;

			@include w1200 {
				margin-top: 20px;
			}
		}
	}

	&.disabled {
		.poll-card {
			&__title {
				opacity: 0.65;
			}

			&__title {
				color: $c-second-blue;
			}
		}

		.buttons-container {
			opacity: 0.65;
		}
	}

	&__title {
		position: relative;
		text-align: center;
		font-weight: 700;
		font-size: 14px;
		color: $c-main-blue;

		@media only screen and(min-width: 400px) {
			text-align: left;
		}
	}

	.buttons-container {
		text-align: center;
		margin-top: 0;

		@media only screen and(min-width: 400px) {
			text-align: left;
		}

		@include w1200 {
			margin-top: 20px;
		}

		button, a.btn {
			border: none;
			margin-right: 5px;
			transition: 300ms ease;

			@include w992 {
				margin-right: 15px;
			}
		}

		a.btn {
			&.btn-red {
				color: $c-white;
			}
		}

		span {
			display: block;
			margin-top: 10px;
			font-size: 12px;
			color: $c-second-blue;

			@media only screen and(min-width: 400px) {
				display: inline;
				margin-top: 0;
			}
		}
	}
}

.polls-list {
	@media only screen and(min-width: 640px) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -7.5px;
		margin-right: -7.5px;
	}

	@include w1200 {
		margin-left: -12.5px;
		margin-right: -12.5px;
	}

	.poll-card {
		margin-bottom: 15px;

		@media only screen and(min-width: 640px) {
			width: calc(50% - 15px);
			margin-left: 7.5px;
			margin-right: 7.5px;
		}

		@include w768 {
			width: 100%;
		}

		@include w992 {
			width: calc(50% - 15px);
		}

		@include w1200 {
			width: calc(50% - 25px);
			margin-left: 12.5px;
			margin-right: 12.5px;
			margin-bottom: 25px;
		}
	}
}
