@import "../../core/variables";

.tags-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -7.5px;

	@include w1200 {
		margin: 0 -12.5px;
	}

	.tag {
		width: calc(50% - 15px);
		margin: 0 7.5px 15px;

		@media only screen and(min-width: 400px) {
			width: calc((100% / 3) - 15px);
		}

		@include w480 {
			width: calc(25% - 15px);
			margin: 0 7.5px 15px;
		}

		@include w992 {
			width: calc((100% / 6) - 15px);
			margin: 0 7.5px 15px;
		}

		@include w1200 {
			width: calc((100% / 6) - 25px);
			margin: 0 12.5px 25px;
		}
	}
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	padding: 5px;

	@include w480 {
		height: 50px;
	}

	@include w992 {
		padding: 5px 10px;
	}

	&:hover, &:focus {

		.tag__image:after {
			background: rgba($c-main-blue, 0.8);
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: $c-main-blue;

		&:after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($c-main-blue, 0.6);
			transition: all 300ms ease;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		position: relative;
		color: $c-white;
		font-size: 12px;
		line-height: 1.1em;
	}
}