@import "../../core/variables";

.categories-list {
	text-align: center;
	border-bottom: 1px solid $c-grey;
	padding: 13px 0;

	@include w1200 {
		padding: 22px 0;
	}

	&__item {
		display: inline-flex;
		margin: 2px 0;

		@include w768 {
			margin: 3px 0;
		}
	}
}