@import "../../core/variables";

.recent-news {
	@include w480 {
		display: flex;
	}

	&__feed {
		@include w480 {
			margin-left: 15px;
			width: 50%;
		}

		@include w992 {
			width: 216.66px;
		}

		@include w1200 {
			width: 256.66px;
			margin-left: 25px;
		}
	}
}

.news-list {
	display: none;
	align-content: flex-start;

	@include w480 {
		display: block;
		width: 50%;
	}

	@include w992 {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		margin: 0 -7.5px -15px;
	}

	@include w1200 {
		margin: 0 -12.5px -25px;
	}

	.article {
		margin-bottom: 15px;

		@include w992 {
			width: calc(50% - 15px);
			margin: 0 7.5px 15px;
		}

		@include w1200 {
			margin: 0 12.5px 25px;
			width: calc(50% - 25px);
		}

		&:nth-child(4), &:nth-child(5), &:nth-child(6) {
			display: none;

			@include w992 {
				display: block;
			}
		}
	}
}

.news-feed {
	&__title {
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		border-left: 3px solid $c-red;
		padding: 4px 0 3px 10px;
		margin-bottom: 20px;
	}

	&__subtitle {
		font-size: 12px;
		font-weight: 700;
		color: $c-second-blue;
		text-transform: uppercase;
		margin: 15px 0;
	}

	&__button {
		margin-top: 15px;
		display: inline-flex;
		align-items: center;
		font-size: 10px;
		border-radius: 15px;
		height: 26px;
		padding: 1px 10px 0;
		color: #FFFFFF;
		background: $c-red;
	}

	&__item {
		display: flex;
		font-size: 12px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover, &:focus {
			a {
				color: $c-second-blue;
			}

			.news-feed__item-time {
				&.hover {
					color: $c-second-blue;
				}
			}

			&.news-feed__item_selected .news-feed__item-time{
				color: $c-red;
			}
		}

		&_selected {
			font-weight: 700;

			.news-feed__item-time {
				color: $c-red;
			}
		}

		&-time {
			margin-right: 10px;
			transition: color 300ms ease;
		}

		&-title {
			a {
				color: $c-main-blue;
			}
		}

		&-label {
			margin-bottom: 5px;
		}
	}
}