@import "../core/variables";

.alert {
	display: flex;
	align-items: center;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid $c-grey;
	background: rgba($c-grey, 0.35);
	color: $c-second-blue;

	&-success {
		background: rgba($c-green, 0.06);
		color: $c-green;
		border-color: rgba($c-green, 0.12);

		.alert__content a {
			font-weight: 700;
			color: $c-green;
		}
	}

	&-danger {
		background: rgba($c-red, 0.06);
		color: $c-red;
		border-color: rgba($c-red, 0.12);

		.alert__content a {
			font-weight: 700;
			color: $c-red;
		}
	}

	&__icon {
		margin-right: 15px;
		font-size: 20px;

		@include w992 {
			font-size: 28px;
		}
	}

	&__content {
		font-size: 14px;
		text-align: left;

		a {
			text-decoration: underline;
			cursor: pointer;
			font-weight: 700;
			color: $c-second-blue;
		}

		p {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}