@import "../core/variables";

.banner {
	height: 0;
	width: 100%;
	background: $c-blue-dark;
	position: relative;

	&-rounded {
		border-radius: 4px;

		.banner__link img {
			border-radius: 4px;
		}
	}

	&-social {
		.banner__content {
			padding-bottom: 63px;

			@include w1200 {
				padding-bottom: 83px;
			}
		}

		&--telegram {
			background: $c-telegram;

			.banner__icon {
				box-shadow: 0 0 5px 1px darken($c-telegram, 5%);

				&::before {
					color: $c-telegram;
					content: '\f3fe';
				}
			}
		}

		&--facebook {
			background: $c-facebook;

			.banner__icon {
				box-shadow: 0 0 5px 1px darken($c-facebook, 5%);

				&::before {
					color: $c-facebook;
					content: '\f39e';
				}
			}
		}

		&--twitter {
			background: $c-twitter;

			.banner__icon {
				box-shadow: 0 0 5px 1px darken($c-twitter, 5%);

				&::before {
					color: $c-twitter;
					content: '\f099';
				}
			}
		}

		&--vk {
			background: $c-vk;

			.banner__icon {
				box-shadow: 0 0 5px 1px darken($c-vk, 5%);

				&::before {
					color: $c-vk;
					content: '\f189';
				}
			}
		}
	}

	&-h100 {
		padding-bottom: 100%;
	}

	&-h150 {
		padding-bottom: 150%;
	}

	&-h200 {
		padding-bottom: 200%;
	}

	&-h250 {
		padding-bottom: 250%;
	}

	&-h300 {
		padding-bottom: 300%;
	}

	&__link, &__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__link {
		display: block;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__icon {
		font-family: "Font Awesome 5 Brands";
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background: $c-white;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 42px;
		margin-bottom: 15px;

		@include w992 {
			width: 100px;
			height: 100px;
			font-size: 54px;
		}

		@include w1200 {
			width: 125px;
			height: 125px;
			font-size: 66px;
		}
	}

	&__content {
		padding: 15px;
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		@include w1200 {
			padding: 25px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.2em;
		color: rgba($c-white, 0.99);

		&.uppercase {
			text-transform: uppercase;
		}

		&.lh15 {
			line-height: 1.5em;
		}

		@include w992 {
			font-size: 20px;
		}

		span {
			&.bigger {
				font-size: 1.35em;
			}
		}
	}

	&__subtitle {
		margin: 10px;
		font-size: 11px;
		color: rgba($c-white, 0.85);

		@include w992 {
			font-size: 12px;
		}
	}

	&__button-container {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 15px;
		pointer-events: none;

		@include w1200 {
			padding: 25px;
		}

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			height: 27px;
			padding: 0 10px;
			font-size: 10px;
			background: rgba($c-black, 0.2);
			color: $c-white;
			transition: all 300ms ease;
			pointer-events: all;

			@include w992 {
				padding: 0 18px;
				font-size: 12px;
				height: 33px;
			}

			&:hover {
				background: rgba($c-black, 0.1);
			}

      svg {
        height: 12px;
        margin-top: 2px;
        margin-left: 5px;
      }
		}
	}
}

.banner-horizontal {
	display: block;
	background: $c-grey;
	height: 0;
	position: relative;

	&.size-xs {
		padding-top: 12.06896551724138%;
	}

	&.size-sm {
		padding-top: 18.16091954022989%;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
