@import "../core/variables";

.breadcrumbs {
	padding: 10px 15px;
	border-bottom: 1px solid $c-grey;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include w1200 {
		padding: 10px 25px;
	}

	&-list {
		li {
			font-size: 12px;
			display: none;

			&.breadcrumbs-list__back-link {
				display: inline;

				&:hover {
					a:before, span {
						color: $c-main-blue;
					}
				}

				&:after {
					display: none;

					@include w768 {
						display: inline;
					}
				}

				a:before {
					font-family: "Font Awesome 5 Pro";
					font-weight: 300;
					content: '\f177';
					margin-right: 10px;
					color: $c-link-blue;
					transition: color 300ms ease;

					@include w768 {
						display: none;
					}
				}
			}

			@include w768 {
				display: inline;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			&:after {
				content: ' - ';
				color: $c-second-blue;
			}

			a span{
				color: $c-link-blue;
				transition: color 300ms ease;

				&:hover, &:focus {
					color: $c-main-blue;
				}
			}

			span {
				color: $c-second-blue;
			}
		}
	}

	&-controls {
		margin-left: 5px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include w480 {
			margin-left: 10px;
		}

		@include w1200 {
			margin-left: 15px;
		}

		i {
			color: $c-second-blue;
			margin-top: 5px;
			font-size: 20px;
		}
	}
}