@import "../core/variables";

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: $c-black;
	padding: 0 10px;
	border-radius: 50px;
	color: $c-white;
	font-size: 10px;
	cursor: pointer;
	outline: none;
	transition: 300ms all ease;

	&-xs {
		height: 21px;

		@include w992 {
			height: 25px;
		}

		&.circle {
			width: 21px;

			@include w992 {
				width: 25px;
			}
		}
	}

	&-sm {
		height: 25px;

		@include w992 {
			height: 27px;
		}

		&.circle {
			width: 25px;

			@include w992 {
				width: 27px;
			}
		}
	}

	&-md {
		height: 25px;

		@include w992 {
			height: 29px;
		}

		&.circle {
			width: 25px;

			@include w992 {
				width: 29px;
			}
		}
	}

	&-xl {
		height: 27px;

		@include w992 {
			height: 33px;
			font-size: 12px;
			padding: 0 18px;
		}

		&.circle {
			width: 27px;

			@include w992 {
				width: 33px;
			}
		}
	}

	&.circle {
		padding: 0;
		border-radius: 50%;
	}

	//Mixin для генерирования бэкграунда и ховер/фокус эффекта
	@mixin bg-hover($background) {
		background: $background;

		&.btn-hover {
			&:hover, &:focus {
				background: lighten($background, 10%);
			}
		}
	}

	//Mixin для генерирования стилей для категорий статей/новостей
	@mixin article-category($color) {
		&:hover, &:focus {
			color: $color;
		}

		&.active {
			color: $c-white;
			background: $color;
			border-color: $color;
		}
	}

	&-transparent {
		background: transparent;
		color: $c-second-blue;
	}

	&-bordered {
		border: 1px solid;
	}

	&-news {
		&-ukraine {
			@include article-category($c-n-ukraine);
		}
		&-organizations {
			@include article-category($c-n-organizations);
		}
		&-sport {
			@include article-category($c-n-sport);
		}
		&-culture {
			@include article-category($c-n-culture);
		}
		&-society {
			@include article-category($c-n-society);
		}
		&-economics {
			@include article-category($c-n-economics);
		}
		&-science {
			@include article-category($c-n-science);
		}
		&-emergency {
			@include article-category($c-n-emergency);
		}
		&-ecology {
			@include article-category($c-n-ecology);
		}
		&-crime {
			@include article-category($c-n-crime);
		}
		&-other {
			@include article-category($c-n-other);
		}
	}

	&-red {
		@include bg-hover($c-red);
	}

	&-green {
		@include bg-hover($c-green);
	}

	&-grey {
		color: $c-main-blue;
		@include bg-hover($c-grey);
	}

	&-blue {
		@include bg-hover($c-main-blue);
	}

	&-fb {
		@include bg-hover($c-facebook);
	}

	&-vk {
		@include bg-hover($c-vk);
	}

	&-twitter {
		@include bg-hover($c-twitter);
	}

	&-telegram {
		@include bg-hover($c-telegram);
	}

	&-gplus {
		@include bg-hover($c-gplus);
	}

	&-viber {
		@include bg-hover($c-viber);
	}

	&-container {
		&.align-center {
			text-align: center;
		}

		&.align-right {
			text-align: right;
		}

		&.margin-top {
			margin-top: 15px;
		}

		&.margin-bottom {
			margin-bottom: 15px;
		}

		.btn {
			margin: 0 3px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}