@import "../core/variables";

.float-alerts {
	z-index: 1002;
	position: fixed;
	right: 15px;
	top: 15px;
	width: 290px;

	@include w1200 {
		right: 25px;
		top: 25px;
	}
}

.float-alert {
	font-size: 12px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 5px;

	&__container {
		display: none;
	}

	&--danger {
		background: #FEF3F3;
		color: $c-red;
		border: 1px solid #FCDCDD;
	}

	&--info {
		background: #F7F8FC;
		color: $c-second-blue;
		border: 1px solid #E9ECF5;
	}

	&--success {
		background: #F8FCF3;
		color: $c-green;
		border: 1px solid #ECF6DD;
	}

	&__close {
		opacity: 0.6;
		font-size: 12px;
		margin-left: 10px;
		transition: all 300ms ease;

		&:hover, &:focus {
			opacity: 1;

			i {
				transform: rotate(180deg);
			}
		}

		i {
			transition: all 300ms ease;
		}
	}
}