@import "../core/variables";

.info-dropdown {
	display: inline-flex;
	transition: all 300ms ease;

	&.single {
		.info-dropdown__item--active {
			cursor: inherit;
		}
	}

	&.active {
		.info-dropdown__item--active > .info-dropdown__item--title i {
			transform: rotate(180deg);
		}
	}

	&__icon {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border: 1px solid $c-grey;
		color: $c-second-blue;
		font-size: 8px;
		margin-right: 10px;

		@media only screen and (min-width: 560px) {
			width: 32px;
			height: 32px;
			font-size: 10px;
		}
	}

	&__content {
		flex: 1;
		border-radius: 4px;
	}

	&__item {
		margin-top: 10px;
		font-size: 14px;

		&--active {
			cursor: pointer;
		}

		&:first-child {
			margin-top: 0;
		}

		&--title {
			color: $c-main-blue;

			i {
				margin-left: 5px;
				font-size: 12px;
				transition: transform 150ms ease;
			}

			a {
				color: $c-link-blue;
			}
		}

		&--description {
			font-size: 12px;
			color: $c-second-blue;

			strong {
				font-weight: 400;
				color: $c-main-blue;
			}

			i {
				margin-top: 2px;
			}
		}
	}

	&__list {
		padding-top: 10px;
		background: $c-white;
		border-radius: 0 0 4px 4px;
		display: none;
		opacity: 0;
		transition: opacity 150ms ease;

		&.active {
			opacity: 1;
		}
	}

	&__footer {
		margin-top: 10px;
	}
}