@import "../core/variables";

.lbl {
	display: inline-block;
	background: $c-red;
	color: $c-white;
	border-radius: 5px;

	&-md {
		font-size: 10px;
		padding: 2px 6px;
	}

	&-xl {
		font-size: 10px;
		padding: 4px 6px 3px;
	}

	&-blue {
		background: $c-main-blue;
	}

	&-green {
		background: $c-green;
	}

	&-orange {
		background: $c-orange;
	}

	&-grey {
		background: $c-second-blue;
	}
}