@import "../core/variables";

.loader {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		z-index: 998;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($c-main-blue, 0.25);
		border-radius: 4px;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: 999;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		margin-top: -15px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 5px solid;
		box-sizing: border-box;
		border-color: $c-red $c-green $c-white $c-orange;
		animation: spinner 1.6s infinite ease-in-out;

		@include w768 {
			margin-left: -20px;
			margin-top: -20px;
			width: 40px;
			height: 40px;
		}
	}

	@keyframes spinner {
		0% {
			transform: rotate(0);
		}
		25% {
			transform: rotate(180deg);
		}
		50% {
			transform: rotate(45deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	&-circle {
		&:before {
			border-radius: 50%;
		}
	}

	&-without-bg {
		&:before {
			content: none;
		}
	}
}