@import "../core/variables";

.m {
	&-t {
		margin-top: 15px;

		@include w1200 {
			margin-top: 25px;
		}
	}

	&-b {
		margin-bottom: 15px;

		@include w1200 {
			margin-bottom: 25px;
		}
	}

	&-tb {
		margin-top: 15px;
		margin-bottom: 15px;

		@include w1200 {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}

	&-lr {
		margin-left: 15px;
		margin-right: 15px;

		@include w1200 {
			margin-left: 25px;
			margin-right: 25px;
		}
	}

	&-full {
		margin: 15px;

		@include w1200 {
			margin: 25px;
		}
	}

	&--t {
		margin-top: -15px;

		@include w1200 {
			margin-top: -25px;
		}
	}

	&--b {
		margin-bottom: -15px;

		@include w1200 {
			margin-bottom: -25px;
		}
	}

	&--tb {
		margin-top: -15px;
		margin-bottom: -15px;

		@include w1200 {
			margin-top: -25px;
			margin-bottom: -25px;
		}
	}

	&--lr {
		margin-left: -15px;
		margin-right: -15px;

		@include w1200 {
			margin-left: -25px;
			margin-right: -25px;
		}
	}

	&--full {
		margin: -15px;

		@include w1200 {
			margin: -25px;
		}
	}
}

.p {
	&-t {
		padding-top: 15px;

		@include w1200 {
			padding-top: 25px;
		}
	}

	&-b {
		padding-bottom: 15px;

		@include w1200 {
			padding-bottom: 25px;
		}
	}

	&-tb {
		padding-top: 15px;
		padding-bottom: 15px;

		@include w1200 {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	&-lr {
		padding-left: 15px;
		padding-right: 15px;

		@include w1200 {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	&-full {
		padding: 15px;

		@include w1200 {
			padding: 25px;
		}
	}
}