@import "../core/variables";

.media-content {
	color: $c-main-blue;
	$base-font: 10px;

	h1, h2, h3, h4 {
		line-height: 1.3em;
		margin-bottom: 12px;

		a {
			color: $c-main-blue;
		}
	}

	h1 {
		font-size: $base-font * 2;

		@include w1200 {
			font-size: $base-font * 2.4;
		}
	}

	h2 {
		font-size: $base-font * 1.8;

		@include w1200 {
			font-size: $base-font * 2.1;
		}
	}

	h3 {
		font-size: $base-font * 1.6;

		@include w1200 {
			font-size: $base-font * 1.9;
		}
	}

	h4 {
		font-size: $base-font * 1.4;

		@include w1200 {
			font-size: $base-font * 1.7;
		}
	}

	h5 {
		font-size: $base-font * 1.2;

		@include w1200 {
			font-size: $base-font * 1.4;
		}
	}

	p, div {
		font-size: 14px;

		@include w1200 {
			line-height: 1.5em;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	blockquote {
		text-align: center;
		font-weight: 700;
		color: $c-main-blue;
		font-size: 14px;
		margin: 15px 0;

		@include w1200 {
			margin: 25px 0;
		}

		&:before {
			font-family: "Font Awesome 5 Pro";
			content: '\f10e';
			display: block;
			color: $c-red;
			font-size: 18px;
			margin-bottom: 10px;
		}
	}

	ul, ol {
		font-size: 14px;
		list-style: none;
		padding-left: 19px;

		li {
			margin-bottom: 2px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	//ul {
	//	li:before {
	//		font-weight: 700;
	//		content: '•';
	//		margin-right: 15px;
	//	}
	//}
	//
	//ol {
	//	counter-reset: li;
	//
	//	ol {
	//		margin-top: 2px;
	//		margin-left: 15px;
	//	}
	//
	//	li:before {
	//		font-weight: 700;
	//		counter-increment: li;
	//		content: counters(li, ".") ".";
	//		margin-right: 5px;
	//	}
	//}

	a {
		color: $c-link-blue;
		transition: all 150ms ease;
		word-wrap: break-word;

		&:visited {
			color: $c-second-blue;
		}

		&:hover, &:focus {
			color: #66a1cc;
		}
	}

	table {
		display: block;
		width: auto;
		max-width: 100%;
		overflow-x: auto;
		border: none;
		font-size: 14px;
		border-collapse: collapse;
		border-spacing: 0;
		padding-bottom: 5px;

		&::-webkit-scrollbar {
			height: 2px;
		}

		&::-webkit-scrollbar-track {
			background: rgba($c-blue-dark, 0.1);
		}

		&::-webkit-scrollbar-thumb {
			background: $c-main-blue;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: $c-blue-dark;
		}

		tbody {
			border: 1px solid $c-grey;
			border-radius: 4px;
			overflow: hidden;
		}

		tr {
			border: none;
			border-bottom: 1px solid $c-grey;
			border-left: 1px solid $c-grey;
			border-right: 1px solid $c-grey;

			&:first-child {
				border-top: 1px solid $c-grey;
			}
		}

		td {
			padding: 5px;
			border: none;
			border-right: 1px solid $c-grey;
			text-align: center;
			vertical-align: middle !important;

			@include w992 {
				padding: 10px 15px;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	&__image {
		&.m--lr {
			figcaption {
				padding-left: 15px;
				padding-right: 15px;

				@include w1200 {
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}

		&.m--r {
			figcaption {
				padding-right: 15px;

				@include w1200 {
					padding-right: 25px;
				}
			}
		}

		&-container {
			display: block;
			height: 0;
			padding-top: 56.25%;
			position: relative;
			background: $c-main-blue;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background: $c-main-blue;
		}

		figcaption {
			font-size: 11px;
			color: $c-second-blue;
			text-align: right;
			margin-top: 8px;

			@include w992 {
				font-size: 12px;
			}
		}
	}

	&__map {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.links-list {
	text-align: center;

	@include w480 {
		text-align: left;
	}

	a {
		display: inline-block;
		margin: 0 5px;
		font-size: 12px;
		font-weight: 700;
		color: $c-link-blue;
		transition: all 150ms ease;

		@include w1200 {
			margin: 0 10px;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover, &:focus {
			color: #66a1cc;
		}
	}
}