@import "../core/variables";

.popup {
	width: 100%;
	max-width: 360px;
	max-height: calc(100% - 30px);
	margin: 15px;
	padding: 15px;
	border-radius: 4px;
	position: relative;
	z-index: 1000;
	background: $c-white url("../images/icons/popup-header.png") no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;

	@media only screen and(min-width: 480px) and(min-height: 480px) {
		padding: 25px 35px;
		max-width: 374px;
	}

	&__wrapper {
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($c-main-blue, 0.5);
		display: none;
		align-items: center;
		justify-content: center;
	}

	&__controls {
		position: absolute;
		text-align: right;
		top: 15px;
		left: 15px;
		right: 15px;
		font-size: 12px;

		&.justify-between {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@media only screen and(min-width: 480px) and(min-height: 480px) {
			top: 25px;
			left: 25px;
			right: 25px;
		}
	}

	&__close {
		font-size: 14px;
		color: $c-second-blue;
		cursor: pointer;
		transition: all 150ms ease;

		@media only screen and(min-width: 480px) and(min-height: 480px) {
			font-size: 16px;
			top: 25px;
			right: 25px;
		}

		@include w992 {
			font-size: 18px;
		}

		&:hover, &:focus {
			color: $c-main-blue;
		}
	}

	&__back {
		color: $c-second-blue;
		cursor: pointer;
		transition: all 150ms ease;

		&:hover, &:focus {
			color: $c-main-blue;
		}

		i {
			margin-right: 5px;
		}
	}

	&__header {
		margin: 15px 0 15px;
		text-align: center;

		@media only screen and(min-width: 480px) and(min-height: 480px) {
			margin: 25px 0 15px;
		}

		@media only screen and(min-width: 480px) and(min-height: 680px) {
			margin-bottom: 30px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		color: $c-main-blue;
		margin-bottom: 10px;

		@media only screen and(min-width: 480px) and(min-height: 680px) {
			font-size: 20px;
		}
	}

	&__description {
		color: $c-second-blue;
		font-size: 12px;
		line-height: 1.2em;

		@include w480 {
			font-size: 13px;
			line-height: 1.3em;
		}
	}

	&__divider {
		text-align: center;
		position: relative;

		&:before {
			position: absolute;
			top: 50%;
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background: $c-grey;
		}

		span {
			position: relative;
			background: $c-white;
			color: $c-second-blue;
			display: inline-block;
			text-transform: uppercase;
			font-size: 12px;
			padding: 0 10px;
		}
	}

	&__block-button {
		display: block;
		width: 100%;
		padding: 8px 16px;
		font-size: 12px;
		background: $c-red;
		color: $c-white;
		border-radius: 20px;
		text-align: center;
		transition: all 300ms ease;

		@media only screen and(min-width: 480px) and(min-height: 680px) {
			padding: 12px 20px;
		}

		&:hover, &:focus {
			background: lighten($c-red, 10%);
		}
	}

	&__content {
		background: $c-white;
		text-align: justify;
		overflow-y: auto;
		margin-right: -15px;
		padding-right: 15px;

		@media only screen and(min-width: 480px) and(min-height: 480px) {
			margin-right: -35px;
			padding-right: 35px;
		}
	}

	&__socials {
		&-item {
			display: block;
			width: 100%;
			padding: 8px 16px;
			font-size: 12px;
			border-radius: 50px;
			background: $c-red;
			border: 1px solid transparent;
			margin-bottom: 15px;
			color: $c-white;
			text-align: center;
			position: relative;
			transition: all 300ms ease;
			user-select: none;

			@media only screen and(min-width: 480px) and(min-height: 680px) {
				padding: 12px 20px;
			}

			&.facebook {
				background: $c-facebook;

				&:hover, &:focus {
					background: lighten($c-facebook, 10%);
				}
			}

			&.gmail {
				background: $c-gplus;

				&:hover, &:focus {
					background: lighten($c-gplus, 10%);
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&--icon {
				position: absolute;
				display: inline-flex;
				align-items: center;
				width: 15px;
				padding-right: 25px;
				border-right: 1px solid rgba($c-black, 0.2);
				top: -1px;
				left: 16px;
				bottom: -1px;

				@media only screen and(min-width: 480px) and(min-height: 680px) {
					left: 20px;
					padding-right: 30px;
				}
			}
		}
	}

	&__form {
		&-group {
			@include w480 {
				display: flex;
				flex-direction: row;

				label {
					margin-top: 0;
					flex: 1;
					margin-right: 15px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		&-item {
			display: block;
			margin-top: 15px;

			&:first-child {
				margin-top: 0;
			}

			&.error input, &.error textarea {
				border-color: $c-red;
			}

			input, textarea {
				display: block;
				width: 100%;
				border-radius: 50px;
				border: 1px solid $c-grey;
				outline: none;
				padding: 8px 16px;
				font-size: 12px;
				transition: all 150ms ease;
				color: $c-main-blue;

				@media only screen and(min-width: 480px) and(min-height: 680px) {
					padding: 12px 20px;
				}

				&::placeholder {
					color: $c-second-blue;
				}

				&:focus {
					border-color: $c-second-blue;
				}
			}

			textarea {
				resize: none;
				height: 99px;
				border-radius: 16.5px;

				@include w480 {
					border-radius: 20.5px;
					height: 123px;
				}
			}

			.g-recaptcha {
				//transform: scale(0.77);
				//transform-origin: 0 0;
				//
				//div{
				//	width: 100% !important;
				//	height: 0 !important;
				//	padding-bottom: 25.65789473684211%;
				//	position: relative;
				//
				//	div {
				//		width: auto;
				//	}
				//}
				//
				iframe {
					transform: scale(0.95395);
					margin-left: -7px;

					@include w480 {
						transform: none;
						margin-left: 0;
					}

					@media only screen and(min-width: 480px) and(min-height: 480px) {

					}
				}
			}
		}

		&-line {
			margin-top: 15px;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			font-size: 12px;
			color: $c-second-blue;

			&--checkbox {
				display: flex;
				align-items: center;
				user-select: none;
				cursor: pointer;

				input {
					display: none;
				}

				input:checked + &-marker {
					i {
						opacity: 1;
					}
				}

				&-marker {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 15px;
					height: 15px;
					background: $c-red;
					margin-right: 10px;
					border-radius: 2px;

					i {
						color: $c-white;
						font-size: 7px;
						opacity: 0;
						transition: all 150ms ease;
					}
				}
			}

			a {
				margin-top: 1px;
				display: inline-block;
				cursor: pointer;

				&:hover, &:focus {
					&:after {
						width: 100%;
					}
				}

				&:after {
					content: '';
					display: block;
					height: 1px;
					width: 0;
					margin: 0 auto;
					transition: all 150ms ease;
					background: $c-second-blue;
				}
			}
		}

		&-error {
			display: block;
			margin-top: 5px;
			color: $c-red;
			font-size: 11px;
		}

		button {
			margin-top: 30px;
			display: block;
			width: 100%;
			padding: 8px 16px;
			font-size: 12px;
			border-radius: 50px;
			background: $c-red;
			color: $c-white;
			border: 1px solid transparent;
			cursor: pointer;
			transition: all 300ms ease;
			outline: none;

			@media only screen and(min-width: 480px) and(min-height: 680px) {
				padding: 12px 20px;
			}

			&:hover, &:focus {
				background: lighten($c-red, 10%);
			}

			&.width-auto {
				display: inline-block;
				width: auto;
			}
		}
	}

	&__footer {
		margin-top: 15px;
		text-align: center;
		font-size: 12px;
		color: $c-second-blue;

		&-line {
			margin-bottom: 2px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			display: inline-block;
			color: $c-red;
			cursor: pointer;

			&:hover, &:focus {
				&:after {
					width: 100%;
				}
			}

			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 0;
				background: $c-red;
				margin: 0 auto;
				transition: all 150ms ease;
			}
		}
	}
}