@import "../core/variables";

.search-section {
	display: flex;

	label {
		flex: 1;
	}

	input {
		font-size: 14px;
		width: 100%;
		border: 1px solid $c-grey;
		color: $c-main-blue;
		border-radius: 4px;
		padding: 5px 10px;
		outline: none;
		transition: border-color 300ms ease;

		@include w480 {
			padding: 10px 15px;
		}

		@include w1200 {
			padding: 15px 20px;
		}

		&::placeholder {
			color: $c-second-blue;
		}

		&:focus {
			border-color: $c-second-blue;
		}
	}

	&__button {
		margin-left: 10px;
		border-radius: 4px;
		background: $c-red;
		border: none;
		color: $c-white;
		text-transform: uppercase;
		font-size: 11px;
		padding: 0 10px;
		cursor: pointer;
		outline: none;
		transition: background-color 300ms ease;

		@include w480 {
			margin-left: 15px;
			padding: 0 20px;
		}

		@include w1200 {
			padding: 0 25px;
		}

		&:hover, &:focus {
			background: lighten($c-red, 10%);
		}
	}
}