@import "../core/variables";

.short-profile-block {
	display: flex;
	align-items: center;
	padding: 15px;
	background: $c-main-blue;
	position: relative;
	border-bottom: 1px solid lighten($c-main-blue, 5%);

	@include w1200 {
		padding: 25px;
	}

	.profile {
		&-avatar {
			display: block;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			padding: 2px;
			border: 2px solid $c-red;

			@include w992 {
				width: 60px;
				height: 60px;
			}

			@include w1200 {
				width: 65px;
				height: 65px;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&-information {
			margin-left: 5px;
			flex: 1;

			@include w480 {
				margin-left: 15px;
			}

			@include w768 {
				margin-left: 5px;
			}

			@include w992 {
				margin-left: 10px;
			}
		}

		&-name {
			font-size: 12px;
			line-height: 16px;
			font-weight: 700;

			@include w992 {
				font-size: 14px;
				line-height: 18px;
			}

			a {
				color: $c-white;
			}
		}

		&-role {
			font-size: 11px;
			line-height: 16px;
			color: $c-second-blue;

			@include w768 {
				display: none;
			}

			@include w1200 {
				display: block;
			}
		}

		&-buttons {
			position: absolute;
			right: 12px;
			top: 12px;

			@include w1200 {
				right: 20px;
				top: 20px;
			}

			a {
				color: $c-second-blue;
				margin-right: 5px;
				position: relative;

				&:last-child {
					margin-right: 0;
				}

				&:hover, &:focus {
					color: $c-white;
				}

        svg {
          height: 12px;

          @include w992 {
            height: 14px;
          }
        }
			}
		}

		&-button-marker {
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: $c-red;
			position: absolute;
			right: -5px;
			top: -5px;
		}
	}
}
