@import "../core/variables";

.sidebar-menu {
	padding: 10px 0;
	border-bottom: 1px solid lighten($c-main-blue, 5%);

	@include w1200 {
		padding: 15px 0;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 5px 15px;
		font-size: 12px;
		border-right: 2px solid transparent;
		transition: 150ms ease;

		@include w992 {
			padding: 8px 25px;
			font-size: 14px;
		}

		&:hover, &:focus {
			color: $c-white;
			//background: $c-blue-dark;
			border-right-color: $c-red;

			.sidebar-menu__link-title {
				color: $c-white;
			}

			.sidebar-menu__icon-container {
				color: $c-red;
			}
		}

		&-title {
			color: $c-second-blue;
			transition: 150ms ease;
		}

		&-label {
			margin-left: 10px;
			font-size: 11px;
			border-radius: 4px;
			padding: 0 4px;
			background: lighten($c-main-blue, 8%);
			color: $c-second-blue;
			transition: 150ms ease;

			@include w992 {
				font-size: 13px;
			}
		}
	}

	&__icon {
		color: $c-second-blue;
		transition: color 150ms ease;
		font-size: 11px;

		@include w992 {
			font-size: 13px;
		}

		&-container {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 12px;
			margin-right: 10px;
      color: $c-second-blue;

			@include w992 {
				width: 14px;
			}

      svg {
        height: 11px;
        transition: color 150ms ease;

        @include w992 {
          height: 13px;
        }
      }
		}

		&-bell {
			font-size: 12px;

			@include w992 {
				font-size: 14px;
			}
		}

		&-bullhorn {
			font-size: 10px;

			@include w992 {
				font-size: 12px;
			}
		}
	}
}

.sidebar-user-info {
	border-bottom: 1px solid lighten($c-main-blue, 5%);
	padding: 15px;
	display: flex;
	justify-content: space-around;

	@include w1200 {
		padding: 15px 25px;
	}

	&__item {
		text-align: center;
		line-height: 1em;
		flex: 1;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 100%;
			margin-top: -5px;
			height: 10px;
			width: 1px;
			background: lighten($c-main-blue, 5%);

			@include w992 {
				margin-top: -7px;
				height: 14px;
			}

			@include w1200 {
				margin-top: -10px;
				height: 20px;
			}
		}

		&:first-child {
			&:after {
				display: none;
			}
		}

		&-count {
			font-weight: 700;
			font-size: 16px;

			@include w992 {
				font-size: 18px;
			}

			@include w1200 {
				font-size: 20px;
			}
		}

		&-text {
			margin-top: 2px;
			font-size: 10px;
			color: $c-second-blue;

			@include w992 {
				font-size: 11px;
			}

			@include w1200 {
				margin-top: 5px;
				font-size: 12px;
			}
		}
	}
}
