@import "../core/variables";

.slider-section {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		//margin-bottom: 15px;
	}

	&__title {
		font-size: 18px;
		line-height: 1.1em;
		color: $c-main-blue;

		a {
			color: $c-main-blue;
			transition: color 300ms ease;

			&:hover, &:focus {
				color: $c-blue-dark;
			}
		}
	}

	&__controls {
		margin-left: 10px;
		display: flex;

		&--prev, &--next {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			font-size: 12px;
			border: 1px solid $c-grey;
			color: $c-second-blue;
			transition: border-color 300ms ease;
			cursor: pointer;
			user-select: none;

			@include w480 {
				width: 32px;
				height: 32px;
				font-size: 14px;
			}

			&:hover {
				border-color: $c-second-blue;
			}
		}

		&--prev {
			margin-right: 5px;

			i {
				margin: 2px 0 0 -1px;
			}
		}

		&--next {
			i {
				margin: 2px -2px 0 0;
			}
		}
	}

	&__content {
		padding-top: 15px;

		&.lightSlider {
			overflow: visible;
		}
	}
}