@import "../core/variables";

.social-buttons {

	&__wrapper {
		display: inline-flex;
		align-items: center;
	}

	&__title {
		display: none;
		font-size: 12px;
		margin-right: 10px;
		color: $c-second-blue;

		@include w480 {
			display: inline-block;
		}
	}

	&__list {
		display: inline-flex;

		&.share {
			.social-buttons__item {
				border-radius: 4px;
			}
		}

		li {
			display: inline-flex;
			margin: 0 3px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $c-white;
			}
		}
	}

	&__item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		font-size: 8px;
		transition: background-color 150ms ease;

		@include w480 {
			width: 27px;
			height: 27px;
			font-size: 10px;
		}

		@mixin bg-hover($background) {
			background: $background;

			&:hover, &:focus {
				background: lighten($background, 10%);
			}
		}

		&.facebook {
			@include bg-hover($c-facebook);
		}

		&.vkontakte {
			@include bg-hover($c-vk);
		}

		&.twitter {
			@include bg-hover($c-twitter);
		}

		&.telegram {
			@include bg-hover($c-telegram);
		}

		&.gplus {
			@include bg-hover($c-gplus);
		}

		&.skype {
			@include bg-hover($c-skype);
		}

		&.instagram {
			background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
			background-size: 1px 54px;
			transition: background-position 300ms ease;

			&:hover, &:focus {
				background-position: 27px;
			}
		}
	}
}