@import "../core/variables";

.social-banner {
	border-radius: 4px;
	position: relative;

	&.article {
		.social-banner__content {
			padding-top: 75px;
		}
	}

	&.organization-twitter {
		background-color: $c-twitter;
	}

	&.organization-facebook {
		background-color: $c-facebook;

		.social-banner__image img {
			right: 0;
		}
	}

	&.organization-telegram {
		background-color: $c-telegram;
	}

	&.organization-vk {
		background-color: $c-vk;

		.social-banner__image img {
			right: 0;
		}
	}

	&.organization-instagram {
		background: linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);

		.social-banner__image img {
			left: 50%;
			margin-left: -66px;
			bottom: 24px;
		}

		.social-banner__button {
			background: rgba($c-black, 0.3);

			&:hover, &:focus {
				background: rgba($c-black, 0.2);
			}
		}
	}

	&.article-twitter {
		background-color: $c-twitter;

		.social-banner__image img {
			bottom: 38.5px;
		}
	}

	&.article-facebook {
		background-color: $c-facebook;

		.social-banner__image img {
			right: 0;
		}
	}

	&.article-telegram {
		background-color: $c-telegram;

		.social-banner__image img {
			bottom: 37.5px;
		}
	}

	&.article-vk {
		background-color: $c-vk;

		.social-banner__image img {
			right: 0;
			bottom: 50.5px;
		}
	}

	&.article-instagram {
		background: linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);

		.social-banner__image img {
			left: 50%;
			margin-left: -98.5px;
			bottom: 29.8px;
		}

		.social-banner__button {
			background: rgba($c-black, 0.3);

			&:hover, &:focus {
				background: rgba($c-black, 0.2);
			}
		}
	}

	&__icon {
		position: absolute;
		font-size: 120px;
		color: rgba($c-white, 0.12);
	}

	&__image {
		width: 100%;
		height: 100%;
		position: relative;

		img {
			position: absolute;
			bottom: 0;
			max-width: 100%;
		}
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 15px;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		color: $c-white;
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
	}

	&__subtitle {
		font-size: 12px;
	}

	&__button {
		font-size: 10px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		padding: 0 10px;
		height: 27px;
		background: rgba($c-black, 0.2);
		transition: all 300ms ease;

		@include w992 {
			font-size: 12px;
			height: 33px;
			padding: 0 18px;
		}

		&:hover, &:focus {
			background: rgba($c-black, 0.1);
		}
	}
}