@import "../core/variables";

.tooltip {
	&-parent {
		position: relative;
		cursor: pointer;

		&:hover .tooltip {
			z-index: 999;
			transition-delay: 150ms, -300ms;
			pointer-events: all;
			opacity: 1;
		}
	}

	cursor: auto;
	z-index: -999;
	opacity: 0;
	width: auto;
	width: max-content;
	min-width: 130px;
	max-width: 200px;
	position: absolute;
	top: 100%;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	border-radius: 4px;
	line-height: 14px;
	pointer-events: none;
	transition: opacity 150ms ease, z-index 0s ease;
	transition-delay: 150ms, 300ms;
	font-size: 11px;
	font-weight: 400;

	a {
		color: $c-white;
	}

	&:after {
		position: absolute;
		top: -11px;
		content: '';
		display: inline-block;
		border: 6px solid transparent;
	}

	&-left {
		right: calc(50% - 16px);

		&:after {
			right: 9.5px;
		}
	}

	&-right {
		left: calc(50% - 16px);

		&:after {
			left: 9.5px;
		}
	}

	&-red {
		background: $c-red;
		color: $c-grey;

		a {
			text-decoration: underline;
		}

		&:after {
			border-bottom-color: $c-red;
		}
	}

	&-blue {
		background: $c-main-blue;
		color: $c-second-blue;

		&:after {
			border-bottom-color: $c-main-blue;
		}

		&.tooltip-controls a {
			color: $c-second-blue;
			border-bottom: 1px solid rgba($c-white, 0.05);

			&:hover, &:focus {
				color: $c-white;
			}
		}
	}

	&-w100 {
		max-width: 100px;
	}

	&-w150 {
		max-width: 150px;
	}

	&-w200 {
		max-width: 200px;
	}

	&-controls {
		a, span {
			display: block;
			text-align: left;
			border-bottom: 1px solid rgba($c-white, 0.1);
			padding-bottom: 4px;
			margin-bottom: 4px;
			text-decoration: none;
			position: relative;

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}

		a {
			&:hover:before, &:focus:before {
				color: $c-white;
			}

			&:before {
				margin-right: 5px;
				font-family: "Font Awesome 5 Pro";
				color: rgba($c-white, 0.35);
				content: '\f105';
				transition: color 150ms ease;
			}
		}
	}
}