* {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", system-ui, sans-serif;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.header {
  background: url('../images/logo-line.png') 50% 0 no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  padding-top: 30vw;
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 240px;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    padding-top: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding-top: 360px;
  }
}
.phone {
  text-align: center;
  font-size: 4vw;
  color: #62227e;
  margin-top: -15vw;
}
@media only screen and (min-width: 768px) {
  .phone {
    font-size: 24px;
    margin-top: -120px;
  }
}
@media only screen and (min-width: 992px) {
  .phone {
    margin-top: -150px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .phone {
    margin-top: -180px;
    font-size: 40px;
  }
}
.logo {
  text-align: center;
}
.logo img {
  max-width: 100px;
}
h2 {
  color: #62227e;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 48px;
  }
}
.top-services {
  margin-top: 30px;
}
@media only screen and (min-width: 480px) {
  .top-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .top-services {
    margin-top: 45px;
  }
}
@media only screen and (min-width: 1200px) {
  .top-services {
    margin-top: 60px;
  }
}
.top-services__item {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 480px) {
  .top-services__item {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .top-services__item {
    margin-bottom: 60px;
  }
}
.top-services__item--icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #62227e;
}
@media only screen and (min-width: 768px) {
  .top-services__item--icon {
    width: 60px;
    height: 60px;
    border-width: 6px;
  }
}
.top-services__item--title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px 0;
}
@media only screen and (min-width: 768px) {
  .top-services__item--title {
    font-size: 22px;
    margin: 10px 0;
  }
}
.top-services__item--list {
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .top-services__item--list {
    font-size: 16px;
  }
}
.services {
  margin-top: 15px;
}
@media only screen and (min-width: 480px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) {
  .services {
    margin-top: 30px;
  }
}
.services__item {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 480px) {
  .services__item {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .services__item {
    width: calc(100% / 3);
  }
}
@media only screen and (min-width: 992px) {
  .services__item {
    margin-bottom: 60px;
  }
}
.services__item--icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid #c81b15;
}
@media only screen and (min-width: 768px) {
  .services__item--icon {
    width: 40px;
    height: 40px;
    border-width: 6px;
  }
}
.services__item--title {
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px 0;
}
@media only screen and (min-width: 768px) {
  .services__item--title {
    font-size: 20px;
    margin: 8px 0;
  }
}
.services__item--list {
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .services__item--list {
    font-size: 15px;
  }
}
form {
  max-width: 290px;
  margin: 30px auto;
}
@media only screen and (min-width: 480px) {
  form {
    max-width: 320px;
  }
}
@media only screen and (min-width: 768px) {
  form {
    margin: 45px auto;
  }
}
form label {
  display: block;
  margin-bottom: 15px;
}
form input,
form textarea {
  padding: 8px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
form input:focus,
form textarea:focus {
  border-color: #62227e;
}
form textarea {
  min-height: 100px;
  resize: vertical;
}
form button {
  background: #62227e;
  color: white;
  border: 2px solid #62227e;
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
form button:hover,
form button:focus {
  background: #521d6a;
}
