@import "../_core/__mediaQ";
@import "../_core/variables";

/*Карточка статьи/новости*/

.ai {
	width: 100%;
	height: 260px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;

	&:hover .b-lazy.loaded {
		opacity: 0.75;
	}

	&__image, &__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__image {
		background-color: @c-grey;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background: @c-main-blue;
		background: linear-gradient(0deg, @c-main-blue, rgba(255, 255, 255, 0) 50%);
	}

	&__buttons {
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
		padding: 15px;
		position: absolute;
		pointer-events: none;

		a {
			pointer-events: all;
		}
	}

	&__footer {
		padding: 30px 15px 15px;
	}

	&__title {
		color: @c-white;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__information {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		color: @c-second-blue;
	}
}