@import "../_core/__mediaQ";
@import "../_core/variables";

* {
	padding: 0;
	margin: 0;
	font-family: system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;

	@media @w768 {
		font-family: "PT Sans", system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
	}
}

html, body {
	height: 100%;
}

body {
	background: @c-grey-light;
}

a {
	text-decoration: none;
	transition: color 150ms ease;
}

ul {
	list-style-type: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__content {
		flex: 1 0 auto;
	}
	&__footer {
		flex: 0 0 auto;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: fade(@c-blue-dark, 10%);
}

::-webkit-scrollbar-thumb {
	background: @c-main-blue;
}

::-webkit-scrollbar-thumb:hover {
	background: @c-blue-dark;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;

	@media @w768 {
		width: 750px;
		padding: 0;
	}

	@media @w992 {
		width: 970px;
	}

	@media @w1200 {
		width: 1170px;
	}
}

.header {
	&__main {
		background: @c-main-blue;
		position: relative;
		z-index: 999;

		&-wrapper {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}

		&-logo {
			margin: 15px 0;

			a {
				display: flex;
			}

			img {
				height: 40px;
			}
		}

		&-content {
			display: flex;
			align-items: center;
			flex: 1;
			margin-left: 15px;
		}

		&-flex {
			flex: 1;
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&-menu {
			height: 100%;
			display: none;
			margin-right: 30px;

			@media only screen and(min-width: 640px) {
				display: flex;
			}

			@media @w992 {
				margin-right: 45px;
			}

			@media @w1200 {
				margin-right: 60px;
			}

			a {
				display: inline-flex;
				align-items: center;
				font-weight: 700;
				font-size: 12px;
				color: @c-second-blue;
				margin-right: 16px;
				border-bottom: 3px solid transparent;
				transition: all 300ms ease;

				@media @w768 {
					margin-right: 20px;
				}

				@media @w992 {
					font-size: 14px;
					margin-right: 24px;
				}

				@media @w1200 {
					margin-right: 30px;
				}

				&:hover, &:focus {
					color: @c-white;
					border-bottom: 2px solid @c-red;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&-search {
			display: none;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			user-select: none;

			@media @w480 {
				display: flex;
			}

			svg {
				width: 14px;
				height: 14px;
				fill: @c-second-blue;
				transition: all 300ms ease;

				&:hover, &:focus {
					fill: @c-white;
				}
			}
		}

		&-search-form {
			position: absolute;
			height: 100%;
			top: -70px;
			left: 0;
			right: 0;
			background: @c-main-blue;
			align-items: center;
			display: none;
			transition: all 150ms ease-in-out;

			@media @w480 {
				display: flex;
			}

			&.active {
				top: 0;
			}

			input {
				flex: 1;
				border: none;
				border-left: 1px solid lighten(@c-main-blue, 5%);
				padding-left: 15px;
				height: 100%;
				outline: none;
				color: @c-second-blue;
				background: transparent;
				margin-right: 15px;

				&::placeholder {
					color: @c-second-blue;
				}
			}

			&--buttons {
				display: flex;
				align-items: center;

				button {
					background: @c-white;
					border: none;
					width: 27px;
					height: 27px;
					border-radius: 50%;
					margin-right: 15px;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					outline: none;

					@media @w992 {
						width: 33px;
						height: 33px;
					}

					svg {
						width: 10px;
						height: 10px;
						fill: @c-main-blue;

						@media @w992 {
							width: 13px;
							height: 13px;
						}
					}
				}

				a {
					display: inline-flex;
					cursor: pointer;
					user-select: none;

					svg {
						width: 12px;
						height: 12px;
					}
				}

				svg {
					fill: @c-white;
					transition: all 300ms ease;
				}
			}
		}

		&-auth {
			height: 27px;
			font-size: 10px;
			font-weight: 700;
			display: inline-flex;
			align-items: center;
			background: @c-blue-dark;
			border-radius: 30px;
			color: @c-second-blue;
			padding: 0 10px;
			margin-left: 15px;
			transition: all 300ms ease;
			cursor: pointer;
			user-select: none;

			@media @w768 {
				margin-right: 0;
			}

			@media @w992 {
				height: 33px;
				font-size: 12px;
				padding: 0 18px;
			}

			&:hover, &:focus {
				color: @c-white;
			}

			&.profile {
				@media @w768 {
					display: none;
				}
			}
		}

		&-hamburger {
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			transition: transform 300ms ease-in-out;
			margin-left: 15px;

			@media @w768 {
				display: none;
			}

			&.active {
				transform: rotate(90deg);

				span {
					background: rgba(255, 255, 255, 0);

					&:before {
						transform: rotate(-45deg);
						transform-origin: 19px 3px;
					}

					&:after {
						transform: rotate(45deg);
						transform-origin: 19px -1px;
					}
				}
			}

			span {
				background: @c-white;
				display: inline-block;
				width: 20px;
				height: 2px;
				transition: background-color 300ms ease-in-out;

				&:before, &:after {
					content: '';
					background: @c-white;
					display: inline-block;
					width: 20px;
					height: 2px;
					position: absolute;
					transition: all 300ms ease-in-out;
				}

				&:before {
					top: 2px;
				}

				&:after {
					bottom: 2px;
				}
			}
		}
	}

	&__second {
		background: @c-white;
		padding: 10px 0;
		display: none;

		@media @w768 {
			display: block;
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-list {
			display: flex;

			li {
				display: inline-block;
				font-size: 12px;
				font-weight: 700;
				margin: 0 10px;

				&:first-child {
					margin-left: 0;
				}

				&.visible-md, &.visible-lg {
					display: none;
				}

				&.visible-md {
					@media @w992 {
						display: inline-block;
					}
				}

				&.visible-lg {
					@media @w1200 {
						display: inline-block;
					}
				}

				a {
					color: @c-second-blue;

					&:hover, &:focus {
						color: @c-main-blue;
					}
				}
			}
		}

		&-button {
			height: 27px;
			display: inline-flex;
			align-items: center;
			padding: 0 10px;
			border: 1px solid;
			border-radius: 50px;
			font-size: 10px;
			font-weight: 700;
			color: @c-second-blue;
			transition: all 300ms ease;

			@media @w992 {
				height: 33px;
				font-size: 12px;
				padding: 0 18px;
			}

			&:hover, &:focus {
				color: @c-main-blue;
			}
		}
	}

	&__left {
		background: @c-blue-dark;
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		bottom: 0;
		width: 150px;
		padding-top: 85px;
		display: none;
	}
}