@import "../../core/variables";

footer {
	margin-top: 25px;
	padding: 15px 0;
	background: $c-white;
	font-size: 12px;
	font-weight: 700;

	a {
		white-space: nowrap;
		color: $c-second-blue;

		&:hover, &:focus {
			color: $c-main-blue;
		}
	}

	.footer {
		&-menus {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $c-grey;

			@include w480 {
				display: flex;
			}
		}

		&-menu {
			text-align: center;
			margin-top: 25px;

			@include w480 {
				width: 50%;
				flex: 1 1 50%;
				margin-top: 0;
			}

			@include w768 {
				width: 20%;
				flex: 1 1 20%;
				text-align: left;
				margin-left: 15px;
			}

			@include w992 {
				width: 15%;
				flex: 1 1 15%;
			}

			@include w1200 {
				margin-left: 30px;
			}

			&:first-child {
				margin-top: 0;

				@include w768 {
					margin-left: 0;
				}
			}

			&__title {
				text-transform: uppercase;
				color: $c-main-blue;
				margin-bottom: 5px;

				@include w768 {
					margin-bottom: 10px;
				}
			}

			&__item {
				display: inline;
				line-height: 16px;

				@include w480 {
					display: block;
				}

				@include w768 {
					line-height: 18px;
				}

				a {
					padding: 0 3px;
				}
			}

			&_inline {
				display: none;

				.footer-menu__item {
					display: inline;
				}
			}

			&_categories {
				@include w768 {
					display: block;
					width: 60%;
					flex: 2 2 60%;
				}

				@include w992 {
					width: 35%;
					flex: 3 3 35%;
				}
			}

			&_organizations {
				@include w992 {
					display: block;
					width: 35%;
					flex: 3 3 35%;
				}
			}
		}

		&-info {
			color: $c-second-blue;
			text-align: center;
			display: flex;
			flex-direction: column;

			@include w768 {
				flex-direction: row;
				justify-content: space-between;
			}

			&__copy-social {
				display: flex;
				flex-direction: column;

				@include w768 {
					flex-direction: row;
				}
			}

			&__copy {
				order: 1;
				text-align: center;
				margin: 10px 0;

				@include w768 {
					order: 0;
					margin: 0;
				}
			}

			&__social-buttons-list {
				order: 0;

				@include w768 {
					order: 1;
					font-size: 10px;
					margin-left: 10px;
					padding-left: 10px;
					border-left: 1px solid $c-grey;
					padding-top: 2px;
				}
			}

			&__social-buttons-item {
				display: inline-flex;
        align-items: center;

        &:first-child a {
          padding-left: 0;
        }

        &:last-child a {
          padding-right: 0;
        }

				a {
					padding: 0 5px;

          svg {
            height: 12px;
          }
				}
			}

			&__made-with-love {
				order: 2;

				svg {
          height: 12px;
					color: $c-red;
				}
			}
		}
	}
}
