@import "../../core/variables";

.header__banner-wrapper {
	position: relative;
	margin-bottom: 95px;

	@include w768 {
		margin-bottom: 142px;
	}

	@include w992 {
		margin-bottom: 148px;
	}
}

.header {
	position: absolute;
	z-index: 10;
	bottom: -70px;
	left: 0;
	right: 0;
	transition: 200ms ease;

	@include w768 {
		bottom: -117px;
	}

	@include w992 {
		bottom: -123px;
		transform: translateY(0);
	}

	&.menu-active {
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
	}

	&.fixed {
		position: fixed;
		top: 0;
		bottom: inherit;

		@include w768 {
			top: inherit;
			//bottom: -117px;
			position: absolute;
		}

		@include w992 {
			top: 0;
			//bottom: -123px;
			position: fixed;
			pointer-events: none;

			.header__second {
				border-bottom-color: $c-main-blue;

				&.active {
					padding-bottom: 10px;
					border-bottom: 0 solid transparent;
					box-shadow: 0 0 5px 0 $c-grey;
					//transition-delay: -400ms;
				}
			}
		}

		.header__content {
			transition: 300ms ease;
			pointer-events: all;
		}
	}

	&__banner {
		display: none;
		position: relative;
		z-index: 1000;

		@include w768 {
			display: block;
		}

		&-container {
			position: relative;
			background: no-repeat 50%;
		}

		&-background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&-image {
			display: flex;
			height: 40px;
			width: 750px;
			margin-left: auto;
			margin-right: auto;
		}

		&-content {
			padding: 10px 0;
			font-size: 12px;
			text-align: center;
			font-weight: 700;
			color: $c-second-blue;
			position: relative;

			a {
				color: $c-white;
				display: inline-block;
				white-space: nowrap;
				position: relative;

				&:after {
					display: inline-block;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					margin: 0 auto;
					content: '';
					height: 1px;
					width: 0;
					background: $c-white;
					transition: width 150ms ease;
				}

				&:hover, &:focus {
					&:after {
						width: 100%;
					}
				}
			}
		}

		&-close {
			display: inline-flex;
			position: absolute;
			z-index: 1001;
			right: 0;
			top: 50%;
			margin-top: -6px;
			cursor: pointer;

			&:hover, &:focus {
				svg {
					fill: $c-white;
				}
			}

			svg {
				width: 12px;
				height: 12px;
				fill: rgba($c-white, 0.7);
				transition: fill 300ms ease;
			}
		}
	}

	&__main {
		background: $c-main-blue;
		position: relative;
		z-index: 999;

		&-wrapper {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}

		&-logo {
			margin: 15px 0;

			a {
				display: flex;
			}

			img {
				height: 40px;
			}
		}

		&-content {
			display: flex;
			align-items: center;
			flex: 1;
			margin-left: 15px;
		}

		&-flex {
			flex: 1;
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&-menu {
			height: 100%;
			display: none;
			margin-right: 30px;

			@media only screen and(min-width: 640px) {
				display: flex;
			}

			@include w992 {
				margin-right: 45px;
			}

			@include w1200 {
				margin-right: 60px;
			}

			a {
				display: inline-flex;
				align-items: center;
				font-weight: 700;
				font-size: 12px;
				color: $c-second-blue;
				margin-right: 16px;
				border-bottom: 2px solid transparent;
				transition: all 300ms ease;
				padding-top: 1px;

				@include w768 {
					margin-right: 20px;
				}

				@include w992 {
					font-size: 14px;
					margin-right: 24px;
				}

				@include w1200 {
					margin-right: 30px;
				}

				&:hover, &:focus {
					color: $c-white;
					border-bottom-color: $c-red;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&-search {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			user-select: none;
			width: 12px;
			height: 12px;

			svg {
				width: 100%;
				height: 100%;
				fill: $c-second-blue;
				transition: all 300ms ease;

				&:hover, &:focus {
					fill: $c-white;
				}
			}
		}

		&-search-form {
			position: absolute;
			height: 100%;
			top: -120px;
			left: -127px;
			right: 0;
			background: $c-main-blue;
			align-items: center;
			display: flex;
			transition: opacity 150ms ease-in-out 150ms, top 150ms ease-in-out;
			opacity: 0;

			@include w480 {
				display: flex;
			}

			@include w768 {
				left: 0;
			}

			&.active {
				top: 0;
				opacity: 1;
				transition-delay: -150ms, 0s;
			}

			input {
				flex: 1;
				border: none;
				height: 100%;
				outline: none;
				color: $c-second-blue;
				background: transparent;
				margin-right: 15px;

				@include w768 {
					border-left: 1px solid lighten($c-main-blue, 5%);
					padding-left: 15px;
				}

				&::placeholder {
					color: $c-second-blue;
				}
			}

			&--buttons {
				display: flex;
				align-items: center;

				button {
					background: $c-white;
					border: none;
					width: 27px;
					height: 27px;
					border-radius: 50%;
					margin-right: 15px;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					outline: none;

					@include w992 {
						width: 33px;
						height: 33px;
					}

					svg {
						width: 10px;
						height: 10px;
						fill: $c-main-blue;

						@include w992 {
							width: 13px;
							height: 13px;
						}
					}
				}

				a {
					display: inline-flex;
					cursor: pointer;
					user-select: none;

					svg {
						width: 12px;
						height: 12px;
					}
				}

				svg {
					fill: $c-white;
					transition: all 300ms ease;
				}
			}
		}

		&-user {
			display: flex;
			align-items: center;
			margin-right: 15px;

			&--login, &--logout, &--profile {
				display: inline-flex;
				margin-right: 15px;
				cursor: pointer;

				&:last-child {
					margin-right: 0;
				}

				&:hover, &:focus {
					svg {
						fill: $c-white;
					}
				}
			}

			&--login, &--logout {
				width: 16px;
				height: 16px;
			}

			&--login {
				@include w768 {
					width: auto;
					height: auto;
					color: $c-second-blue;
					font-size: 12px;
				}

				&:hover, &:focus {
					span {
						color: $c-white;
					}
				}

				span {
					display: none;

					@include w768 {
						display: flex;
						height: 27px;
						align-items: center;
						justify-content: center;
						background: $c-blue-dark;
						padding: 0 10px;
						border-radius: 20px;
						font-size: 10px;
						font-weight: 700;
						transition: all 300ms ease;
					}

					@include w992 {
						padding: 0 18px;
						font-size: 12px;
						height: 33px;
					}
				}

				svg {
					@include w768 {
						display: none;
					}
				}
			}

			&--profile {
				width: 14px;
				height: 14px;
			}

			&--logout, &--profile {
				@include w768 {
					display: none;
				}
			}

			svg {
				width: 100%;
				height: 100%;
				fill: $c-second-blue;
				transition: fill 150ms ease;
			}
		}

		&-auth {
			height: 27px;
			font-size: 10px;
			font-weight: 700;
			display: inline-flex;
			align-items: center;
			background: $c-blue-dark;
			border-radius: 30px;
			color: $c-second-blue;
			padding: 0 10px;
			margin-right: 15px;
			transition: all 300ms ease;
			cursor: pointer;
			user-select: none;

			@include w992 {
				height: 33px;
				font-size: 12px;
				padding: 0 18px;
				margin-right: 25px;
			}

			&:hover, &:focus {
				color: $c-white;
			}

			&.profile {
				@include w768 {
					display: none;
				}
			}
		}

		&-hamburger {
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			transition: transform 300ms ease-in-out;
			margin-left: 15px;

			@include w768 {
				display: none;
			}

			&.active {
				transform: rotate(90deg);

				span {
					background: rgba(255, 255, 255, 0);

					&:before {
						transform: rotate(-45deg);
						transform-origin: 19px 3px;
					}

					&:after {
						transform: rotate(45deg);
						transform-origin: 19px -1px;
					}
				}
			}

			span {
				background: $c-second-blue;
				display: inline-block;
				width: 20px;
				height: 2px;
				transition: background-color 300ms ease-in-out;

				&:before, &:after {
					content: '';
					background: $c-second-blue;
					display: inline-block;
					width: 20px;
					height: 2px;
					position: absolute;
					transition: all 300ms ease-in-out;
				}

				&:before {
					top: 2px;
				}

				&:after {
					bottom: 2px;
				}
			}
		}
	}

	&__info {
		display: none;

		@include w768 {
			display: flex;
			align-items: center;
			margin: 0 15px;
			color: $c-second-blue;
			font-size: 12px;
			padding-bottom: 2px;
		}

		&-currency {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			&--up {
				color: $c-red;
			}

			&--down {
				color: $c-green;
			}
		}

		&-weather {
			display: flex;
			align-items: center;
			margin-right: 20px;

			svg {
				fill: $c-second-blue;
				height: 16px;
				margin-right: 5px;
			}

			i {
				font-size: 14px;
				margin-right: 5px;
			}
		}
	}

	&__second {
		background: $c-white;
		padding: 10px 0 5px;
		display: none;
		border-bottom: 5px solid $c-white;
		transition: border-bottom-color 200ms ease;

		@include w768 {
			display: block;
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-list {
			display: flex;

			&-item {
				display: inline-flex;
				align-items: center;
				font-size: 12px;
				font-weight: 700;
				margin: 0 10px;
				color: $c-second-blue;
				transition-duration: 300ms;

				&:hover, &:focus {
					color: $c-main-blue;

					.header__second-list-item--icon {
						background-position: bottom;
					}
				}

				&:first-child {
					margin-left: 0;
				}

				&.visible-md, &.visible-lg {
					display: none;
				}

				&.visible-md {
					@include w992 {
						display: inline-flex;
					}
				}

				&.visible-lg {
					@include w1200 {
						display: inline-flex;
					}
				}

				&--icon {
					width: 21px;
					height: 21px;
					transition: background-position 300ms ease 100ms;
				}

				span {
					margin-left: 10px;
				}
			}
		}

		&-button {
			height: 27px;
			display: inline-flex;
			align-items: center;
			padding: 0 10px;
			border: 1px solid;
			border-radius: 50px;
			font-size: 10px;
			font-weight: 700;
			color: $c-second-blue;
			transition: all 300ms ease;

			@include w992 {
				height: 33px;
				font-size: 12px;
				padding: 0 18px;
			}

			&:hover, &:focus {
				color: $c-main-blue;
			}
		}
	}

	&__left {
		background: $c-main-blue;
		position: fixed;
		z-index: 99;
		top: 0;
		left: -320px;
		height: 100vh;
		width: 320px;
		padding-top: 70px;
		transition: opacity 300ms ease-in-out 300ms, left 300ms ease-in-out;
		opacity: 0;

		@supports (-webkit-appearance:none) {
			min-height: calc(100vh - 56px);
		}

		&.active {
			opacity: 1;
			left: 0;
			transition-delay: -300ms, 0s;
		}

		@include w768 {
			display: none;
		}

		&-content {
			border-top: 1px solid lighten($c-main-blue, 5%);
			height: 100%;
			padding: 15px 25px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media only screen and(min-height: 480px) {
				padding: 25px;
			}

			&--main {
				overflow-y: auto;
				flex: 1;
				margin-right: -25px;
				padding-right: 25px;

				&::-webkit-scrollbar {
					width: 10px;
				}

				&::-webkit-scrollbar-track {
					background: lighten($c-main-blue, 5%);
				}

				&::-webkit-scrollbar-thumb {
					background: darken($c-blue-dark, 3%);
				}
			}

			&--footer {
				border-top: 1px solid lighten($c-main-blue, 5%);
				padding-top: 15px;
				margin-top: 15px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-weight: 700;
				font-size: 12px;
				color: $c-second-blue;

				@media only screen and(min-height: 480px) {
					padding-top: 25px;
					margin-top: 25px;
				}

				a {
					color: $c-second-blue;

					&:hover, &:focus {
						color: $c-white;
					}
				}
			}
		}

		&-socials {
			margin-right: 15px;

			a {
				margin: 0 5px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

        svg {
          height: 12px;
        }
			}
		}

		&-main-menu, &-second-menu {
			a {
				display: inline-block;
				color: $c-grey;
				font-weight: 700;

				&:hover, &:focus {
					&:after {
						width: 100%;
					}
				}

				&:after {
					content: '';
					display: block;
					height: 1px;
					width: 0;
					background: $c-grey;
					margin: 0 auto;
					transition: all 150ms ease;
				}
			}
		}

		&-main-menu {
			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a {
				font-size: 18px;
				letter-spacing: 0.05em;
			}
		}

		&-second-menu {
			li {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a {
				font-size: 13px;
				letter-spacing: 0.04em;
			}
		}

		hr {
			width: 30%;
			margin: 15px 0;
			background: lighten($c-main-blue, 5%);

			@media only screen and(min-height: 480px) {
				margin: 25px 0;
			}
		}
	}
}
