@import "../../core/variables";

.organization-brief {
	background: $c-white no-repeat center;
	background-size: cover;
	position: relative;

	&.bordered {
		border: 1px solid $c-grey;
		border-radius: 4px;
		transition: all 300ms ease;

		&:hover, &:focus {
			border-color: darken($c-grey, 5%);
			background-color: lighten($c-grey, 5%);
		}
	}

	&__link {
		display: block;
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__container {
		@include w992 {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__content {
		@media only screen and(min-width: 400px) {
			display: flex;
		}

		@include w992 {
			margin-right: 15px;
			flex: 1;
		}
	}

	&__image {
		display: none;
		min-width: 70px;
		width: 70px;
		height: 70px;
		background: $c-main-blue;
		border: 2px solid $c-main-blue;
		border-radius: 4px;
		margin-right: 15px;
		position: relative;

		@media only screen and(min-width: 400px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		a {
			display: inline-flex;
		}

		img	{
			border-radius: 2px;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__header {
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
	}

	h2.organization-brief__title {
		font-size: 14px;
		margin-bottom: 0;
		color: $c-main-blue;

		@include w768 {
			font-size: 16px;
		}

		@include w1200 {
			font-size: 18px;
			line-height: 1.4em;
		}

		&.bigger {
			font-size: 18px;
			line-height: 1.1em;

			@media only screen and(min-width: 400px) {
				font-size: 16px;
			}

			@media only screen and(min-width: 560px) {
				font-size: 18px;
			}

			@include w992 {
				font-size: 20px;
				line-height: 1.3em;
			}
		}
	}

	div.organization-brief__information {
		@media only screen and(min-width: 400px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	div.organization-brief__address {
		margin-top: 5px;
		font-size: 12px;
		color: $c-second-blue;

		i {
			margin-right: 5px;
		}
	}

	span.organization-brief__button {
		display: none;
		color: $c-white;
		transition-duration: 300ms;

		@include w992 {
			display: inline-flex;
		}
	}
}