@font-face {
	font-family: 'PT Sans';
	font-display: swap;
	src: url('../../fonts/PTSans/PTSans-Bold.eot');
	src: local('PT Sans Bold'), local('PTSans-Bold'),
	url('../../fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/PTSans/PTSans-Bold.woff') format('woff'),
	url('../../fonts/PTSans/PTSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	font-display: swap;
	src: url('../../fonts/PTSans/PTSans-Italic.eot');
	src: local('PT Sans Italic'), local('PTSans-Italic'),
	url('../../fonts/PTSans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/PTSans/PTSans-Italic.woff') format('woff'),
	url('../../fonts/PTSans/PTSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	font-display: swap;
	src: url('../../fonts/PTSans/PTSans-Regular.eot');
	src: local('PT Sans'), local('PTSans-Regular'),
	url('../../fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/PTSans/PTSans-Regular.woff') format('woff'),
	url('../../fonts/PTSans/PTSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	font-display: swap;
	src: url('../../fonts/PTSans/PTSans-BoldItalic.eot');
	src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
	url('../../fonts/PTSans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/PTSans/PTSans-BoldItalic.woff') format('woff'),
	url('../../fonts/PTSans/PTSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

//----------Font Awesome 5 Pro

@font-face {
	font-family: "Font Awesome 5 Brands";
	font-display: block;
	font-weight: 400;
	src: url('../../fonts/Font Awesome 5/fa-brands-400.eot');
	src: url('../../fonts/Font Awesome 5/fa-brands-400.eot?#iefix') format("embedded-opentype"),
	url('../../fonts/Font Awesome 5/fa-brands-400.woff2') format("woff2"),
	url('../../fonts/Font Awesome 5/fa-brands-400.ttf') format("truetype"),
	url('../../fonts/Font Awesome 5/fa-brands-400.svg#fontawesome') format("svg");
}

@font-face {
	font-family: "Font Awesome 5 Pro";
	font-display: swap;
	font-weight: 300;
	src: url('../../fonts/Font Awesome 5/fa-light-300.eot');
	src: url('../../fonts/Font Awesome 5/fa-light-300.eot?#iefix') format("embedded-opentype"),
	url('../../fonts/Font Awesome 5/fa-light-300.woff2') format("woff2"),
	url('../../fonts/Font Awesome 5/fa-light-300.woff') format("woff"),
	url('../../fonts/Font Awesome 5/fa-light-300.ttf') format("truetype"),
	url('../../fonts/Font Awesome 5/fa-light-300.svg#fontawesome') format("svg");
}

@font-face {
	font-family: "Font Awesome 5 Pro";
	font-display: swap;
	font-weight: 400;
	src: url('../../fonts/Font Awesome 5/fa-regular-400.eot');
	src: url('../../fonts/Font Awesome 5/fa-regular-400.eot?#iefix') format("embedded-opentype"),
	url('../../fonts/Font Awesome 5/fa-regular-400.woff2') format("woff2"),
	url('../../fonts/Font Awesome 5/fa-regular-400.woff') format("woff"),
	url('../../fonts/Font Awesome 5/fa-regular-400.ttf') format("truetype"),
	url('../../fonts/Font Awesome 5/fa-regular-400.svg#fontawesome') format("svg");
}

@font-face {
	font-family: "Font Awesome 5 Pro";
	font-display: swap;
	font-weight: 900;
	src: url('../../fonts/Font Awesome 5/fa-solid-900.eot');
	src: url('../../fonts/Font Awesome 5/fa-solid-900.eot?#iefix') format("embedded-opentype"),
	url('../../fonts/Font Awesome 5/fa-solid-900.woff2') format("woff2"),
	url('../../fonts/Font Awesome 5/fa-solid-900.woff') format("woff"),
	url('../../fonts/Font Awesome 5/fa-solid-900.ttf') format("truetype"),
	url('../../fonts/Font Awesome 5/fa-solid-900.svg#fontawesome') format("svg");
}

.fab {
	font-family: "Font Awesome 5 Brands";
	font-weight: 400;
}

.fal {
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
}

.far {
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
}

.fa, .fas {
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
}