$c-black: #000000;
$c-white: #FFFFFF;
$c-grey: #e9ecf5;
$c-grey-light: #F1F2F5;

$c-main-blue: #1E2039;
$c-blue-dark: #15172D;
$c-second-blue: #8488AB;
$c-link-blue: #3D91CD;
$c-link-blue-hover: #66a1cc;

$c-red: #F03539;
$c-orange: #FF9E28;
$c-green: #90C639;

$c-viber: #59267c;
$c-telegram: #2196d0;
$c-twitter: #00ACED;
$c-vk: #4c75a3;
$c-facebook: #3b5998;
$c-gplus: #D34836;
$c-skype: #00aff0;

$c-n-ukraine: #5863EC;
$c-n-organizations: #F4B64F;
$c-n-sport: #9BD243;
$c-n-culture: #D6AC69;
$c-n-society: #44C7B3;
$c-n-economics: #70BA5A;
$c-n-science: #A361C5;
$c-n-emergency: #f59148;
$c-n-ecology: #5596D3;
$c-n-crime: #f8494f;
$c-n-other: #9C9A97;

@mixin w480 {
	@media only screen and(min-width: 480px) {
		@content;
	}
}

@mixin w768 {
	@media only screen and(min-width: 768px) {
		@content;
	}
}

@mixin w992 {
	@media only screen and(min-width: 992px) {
		@content;
	}
}

@mixin w1200 {
	@media only screen and(min-width: 1200px) {
		@content;
	}
}