@import "core/variables";
@import "core/fonts";

.b-lazy {
	transition: all .3s ease-in;
	opacity: 0;

	&.loaded, &error-loaded {
		opacity: 1;
	}
}

img:not([src]) {
	visibility: hidden;
}

.clear-both {
	clear: both;
}

#sidebar, #main-floated-content-container {
	will-change: min-height;
}

#floated-content, #main-floated-content {
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

.floated-stub {
	background: transparent;
	height: 15px;

	@include w1200 {
		height: 25px;
	}
}

main {
	margin-top: 25px;

	.container {
		@include w768 {
			display: flex;
		}

		.main-content {
			background: $c-white;

			@include w768 {
				width: calc(100% - 220px);
			}

			@include w992 {
				width: calc(100% - 260px);
			}

			@include w1200 {
				width: calc(100% - 300px);
			}

			&.without-sidebar {
				width: 100%;
			}
		}

		.right-col {
			background: $c-main-blue;
			color: $c-white;
			box-sizing: content-box;
			display: none;

			@include w768 {
				display: block;
				width: 220px;
			}

			@include w992 {
				width: 260px;
			}

			@include w1200 {
				width: 300px;
			}
		}
	}
}

.section {
	&-title {
		font-weight: 700;
		font-size: 18px;
		color: $c-main-blue;
		margin-bottom: 12.5px;

		a {
			color: $c-main-blue;
			transition: color 300ms ease;

			&:hover, &:focus {
				color: $c-blue-dark;
			}
		}

		&__second-text {
			color: $c-second-blue;

			a {
				color: $c-second-blue;
			}
		}
	}

	&-description {
		margin-top: -10px;
		font-size: 12px;
		color: $c-second-blue;
	}
}

.block-message {
	height: 260px;
	border: 2px dashed $c-grey;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 18px;
	color: darken($c-grey, 25%);
}

.load-more {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $c-grey;
	border-radius: 30px;
	height: 27px;
	padding: 0 10px;
	font-size: 10px;
	color: $c-second-blue;
	transition: all 300ms ease;
	cursor: pointer;

	@include w992 {
		height: 33px;
		font-size: 12px;
		padding: 0 18px;
	}

	&:hover, &:focus {
		border-color: $c-second-blue;
	}
}

.error-code {
	color: $c-main-blue;
	font-weight: 700;
	font-size: 60px;

	@include w480 {
		font-size: 80px;
	}

	@include w768 {
		font-size: 100px;
	}
}

.sidebar-links {
	padding: 0 15px 10px;
	margin-top: -5px;
	text-align: center;
	line-height: 15px;

	@include w992 {
		text-align: left;
	}

	@include w1200 {
		margin-top: -10px;
		padding: 0 25px 15px;
	}

	a {
		display: block;
		color: $c-second-blue;
		font-size: 12px;
		font-weight: 700;

		@include w992 {
			display: inline;
			margin-right: 5px;
		}

		&:hover, :focus {
			color: $c-white;
		}
	}
}

.sidebar-instagram {
	&__photos {
		display: flex;
		flex-wrap: wrap;

		a {
			display: block;
			width: calc(100% / 3);
			height: 0;
			padding-bottom: calc(100% / 3);
			position: relative;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__footer {
		padding: 5px 15px 0;
		font-size: 12px;
		font-weight: 700;
		text-align: right;

		@include w1200 {
			padding: 10px 25px 0;
		}

		a {
			color: $c-second-blue;
		}

		i {
			margin-right: 5px;
		}
	}
}

hr {
	border: none;
	height: 1px;
	background-color: $c-grey;

	&.lr-full {
		margin-left: -15px;
		margin-right: -15px;

		@include w1200 {
			margin-left: -25px;
			margin-right: -25px;
		}
	}
}

.youtube-video {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	background: $c-grey-light;

	&.bordered {
		border-radius: 4px;
		overflow: hidden;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.counters {
	font-size: 12px;
	color: $c-second-blue;
	margin-right: 15px;

	span {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	i {
		margin-right: 5px;
	}
}

.gallery {
	margin-left: -7.5px;
	margin-right: -7.5px;
	display: flex;
	flex-wrap: wrap;

	@include w1200 {
		margin-left: -12.5px;
		margin-right: -12.5px;
	}

	&__item {
		display: inline-block;
		width: calc(50% - 15px);
		height: 0;
		padding-bottom: calc(50% - 15px);
		margin: 0 7.5px 15px;
		position: relative;

		@include w480 {
			width: calc((100% / 3) - 15px);
			padding-bottom: calc((100% / 3) - 15px);
		}

		@include w1200 {
			width: calc((100% / 3) - 25px);
			padding-bottom: calc((100% / 3) - 25px);
			margin: 0 12.5px 25px;
		}

		&-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 4px;
			}
		}
	}
}

.check-user {
	max-width: 340px;
	text-align: center;
	margin: 0 auto;

	&__title {
		font-weight: 700;
		color: $c-main-blue;
		font-size: 20px;
		margin-bottom: 15px;
	}

	&__description {
		color: $c-second-blue;
		font-size: 14px;
		margin-bottom: 15px;
	}

	&__profile {
		display: inline-flex;
		align-items: center;
		text-align: left;

		&-avatar {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			border: 2px solid $c-red;

			@media only screen and(min-width: 400px) {
				width: 65px;
				height: 65px;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border: 2px solid $c-white;
			}
		}

		&-info {
			flex: 1;
			margin-left: 15px;

			&--name {
				font-size: 14px;
				font-weight: 700;
				word-wrap: break-word;
				color: $c-main-blue;
			}

			&--email {
				font-size: 12px;
				word-wrap: break-word;
				color: $c-second-blue;
			}
		}
	}
}

@import "components/info-dropdown";
@import "components/social-banners";
@import "components/loader";
@import "components/float-alerts";
@import "components/tooltip";
@import "components/buttons";
@import "components/social-buttons";
@import "components/alerts";
@import "components/labels";
@import "components/margins-paddings";
@import "components/breadcrumbs";
@import "components/short-profile";
@import "components/sidebar-menu";
@import "components/banners";
@import "components/search-section";
@import "components/slider-section";
@import "components/popup";

.form {
	@include w992 {
		display: flex;
	}

	&__left {
		margin-bottom: 15px;
		//display: none;

		@include w992 {
			width: calc((100% - 30px) / 3);
			margin-bottom: 0;
			margin-right: 15px;
		}

		@include w1200 {
			width: calc((100% - 50px) / 3);
			margin-right: 25px;
		}
	}

	&__right {
		@include w992 {
			flex: 1;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}

		&.width-auto {
			align-items: flex-start;
		}

		&-header {
			display: flex;
			margin-bottom: 5px;
			align-items: center;
			justify-content: space-between;

			@include w1200 {
				margin-bottom: 10px;
			}
		}

		&-title {
			font-size: 14px;
			color: $c-main-blue;
			font-weight: 700;
			line-height: 1.2em;

			@include w1200 {
				font-size: 16px;
			}

			strong {
				color: $c-red;
			}
		}

		&-image {
			width: 260px;
			height: 260px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 4px;
			cursor: pointer;

			@include w992 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			&:before {
				content: '\f067';
				font-family: "Font Awesome 5 Pro";
				font-size: 60px;
				color: $c-second-blue;
			}

			&--container {
				@include w992 {
					width: 100%;
					height: 0;
					padding-bottom: calc(100% - 2px);
					position: relative;
				}
			}

			input {
				display: none;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				border-radius: 2px;
				object-fit: cover;
			}
		}

		&-checkbox {
			display: inline-flex;
			align-items: center;
			cursor: pointer;
			font-size: 12px;
			flex: content;

			input {
				display: none;
			}

			input:checked + &--marker {
				background: $c-red;
				border-color: $c-red;

				i {
					color: $c-white;
				}
			}

			&--marker {
				width: 15px;
				height: 15px;
				border-radius: 2px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 7px;
				border: 2px solid $c-second-blue;
				background: $c-second-blue;
				color: $c-white;
				margin-right: 5px;
				transition: 150ms ease;

				@include w1200 {
					margin-right: 7px;
				}

				i {
					color: transparent;
					transition: 150ms ease;
				}
			}

			&--marker + span {
				color: $c-second-blue;
				user-select: none;
			}
		}

		&-field {
			display: flex;
			align-items: center;
			position: relative;
			border: 1px solid $c-grey;
			border-radius: 4px;

			&:focus {
				border-color: $c-second-blue;
			}
		}

		&-prefix, &-counter {
			font-size: 12px;
			position: relative;
			color: $c-second-blue;
		}

		&-prefix {
			margin: 0 -3px 0 8px;

			@include w1200 {
				margin: 0 -9px 0 14px;
			}
		}

		&-counter {
			margin-right: 8px;
			font-weight: 700;

			@include w1200 {
				margin-right: 14px;
			}

			&.danger {
				color: $c-red;
			}

			&.warning {
				color: $c-orange;
			}

			&.recommended {
				color: $c-green;
			}
		}

		&-hint {
			color: darken($c-grey, 5%);
		}

		&-input, &-select, &-textarea {
			border: none;
			display: block;
			width: 100%;
			outline: none;
			transition: 150ms ease;
			font-size: 12px;
			color: $c-main-blue;
			border-radius: 4px;
			padding: 8px 12px;

			@include w1200 {
				padding: 14px;
			}
		}

		&-input {
			&::placeholder {
				color: $c-second-blue;
			}
		}

		&-select {
			//option:not(:first-of-type) {
			//	color: $c-second-blue;
			//}
		}

		&-textarea {
			height: 100px;
			resize: none;
		}

		&-alert {
			display: inline-block;
			margin-top: 5px;
			font-size: 12px;
			color: $c-second-blue;

			//&.error {
			//	color: $c-red;
			//}
		}

		&.error {
			.form__item {
				&-field {
					border-color: $c-red;
				}

				&-alert {
					color: $c-red;
				}
			}
		}
	}
}

@import "partials/_cards/tag";
@import "partials/other/footer";