@import "core/variables";

* {
	padding: 0;
	margin: 0;
	font-family: "PT Sans", system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;

	//@include w768 {
	//	font-family: "PT Sans", system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
	//}
}

html, body {
	height: 100%;
}

body {
	background: $c-grey-light;

	&.no-scroll {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	transition: color 150ms ease;
	cursor: pointer;
}

ul {
	list-style-type: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;

	//&.menu-active {
	//	padding-top: 70px;
	//}

	&__content {
		flex: 1 0 auto;
		//padding-top: 70px;

		//@include w768 {
		//	padding-top: 123px;
		//}
	}
	&__footer {
		flex: 0 0 auto;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgba($c-blue-dark, 0.1);
}

::-webkit-scrollbar-thumb {
	background: $c-main-blue;
}

::-webkit-scrollbar-thumb:hover {
	background: $c-blue-dark;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;

	@include w768 {
		width: 750px;
		padding: 0;
	}

	@include w992 {
		width: 970px;
	}

	@include w1200 {
		width: 1170px;
	}
}

@import "partials/other/header";