@import "core/variables";

.static-page {
	&__figure {
		width: 100%;
		height: 0;
		padding-bottom: 25.64102564102564%;
		background: $c-main-blue;
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		color: $c-main-blue;
		line-height: 1.4em;

		&-container {
			@include w768 {
				display: flex;
			}
		}
	}

	@include w768 {
		&__left {
			width: 40%;
		}

		&__right {
			width: 60%;
			margin-left: 15px;
		}
	}

	@include w1200 {
		&__right {
			margin-left: 25px;
		}
	}

	&__title {
		line-height: 1.2em;
		font-size: 24px;
		margin-bottom: 10px;

		@include w768 {
			font-size: 30px;
			margin-bottom: 15px;
		}
	}

	&__description {
		font-size: 14px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid $c-grey;

		@include w768 {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}

		a {
			color: $c-link-blue;
			transition: color 150ms ease;

			&:hover, &:focus {
				color: $c-link-blue-hover;
			}

			&:visited {
				color: $c-second-blue;
			}
		}
	}
}

@import "components/media-content";