@import "_core/__mediaQ";

@purple-color: #62227e;
@red-color: #c81b15;
@black-color: #000000;

* {
	padding: 0;
	margin: 0;
	font-family: "Century Gothic", system-ui, sans-serif;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;

	@media @w768 {
		width: 750px;
		padding: 0;
	}

	@media @w992 {
		width: 970px;
	}

	@media @w1200 {
		width: 1170px;
	}
}

.header {
	background: url('../images/logo-line.png') 50% 0 no-repeat;
	background-size: cover;
	margin-bottom: 30px;
	padding-top: 30vw;

	@media @w768 {
		padding-top: 240px;
	}

	@media @w992 {
		padding-top: 300px;
	}

	@media @w1200 {
		padding-top: 360px;
	}
}

.phone {
	text-align: center;
	font-size: 4vw;
	color: @purple-color;
	margin-top: -15vw;

	@media @w768 {
		font-size: 24px;
		margin-top: -120px;
	}

	@media @w992 {
		margin-top: -150px;
		font-size: 30px;
	}

	@media @w1200 {
		margin-top: -180px;
		font-size: 40px;
	}
}

.logo {
	text-align: center;

	img {
		max-width: 100px;
	}
}

h2 {
	color: @purple-color;
	text-align: center;
	font-size: 34px;
	text-transform: uppercase;

	@media @w992 {
		font-size: 48px;
	}
}

.top-services {
	margin-top: 30px;

	@media @w480 {
		display: flex;
	}

	@media @w768 {
		margin-top: 45px;
	}

	@media @w1200 {
		margin-top: 60px;
	}

	&__item {
		text-align: center;
		margin-bottom: 30px;
		padding: 0 15px;
		box-sizing: border-box;

		@media @w480 {
			width: 50%;
		}

		@media @w992 {
			margin-bottom: 60px;
		}

		&--icon {
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 4px solid @purple-color;

			@media @w768 {
				width: 60px;
				height: 60px;
				border-width: 6px;
			}
		}

		&--title {
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 5px 0;

			@media @w768 {
				font-size: 22px;
				margin: 10px 0;
			}
		}

		&--list {
			font-size: 14px;

			@media @w768 {
				font-size: 16px;
			}
		}
	}
}

.services {
	margin-top: 15px;

	@media @w480 {
		display: flex;
		flex-wrap: wrap;
	}

	@media @w768 {
		margin-top: 30px;
	}

	&__item {
		text-align: center;
		margin-bottom: 30px;
		padding: 0 15px;
		box-sizing: border-box;

		@media @w480 {
			width: 50%;
		}

		@media @w768 {
			width: calc(~"100% / 3");
		}

		@media @w992 {
			margin-bottom: 60px;
		}

		&--icon {
			display: inline-block;
			width: 30px;
			height: 30px;
			border: 4px solid @red-color;

			@media @w768 {
				width: 40px;
				height: 40px;
				border-width: 6px;
			}
		}

		&--title {
			text-transform: uppercase;
			font-weight: 700;
			margin: 5px 0;

			@media @w768 {
				font-size: 20px;
				margin: 8px 0;
			}
		}

		&--list {
			font-size: 14px;

			@media @w768 {
				font-size: 15px;
			}
		}
	}
}

form {
	max-width: 290px;
	margin: 30px auto;

	@media @w480 {
		max-width: 320px;
	}

	@media @w768 {
		margin: 45px auto;
	}

	label {
		display: block;
		margin-bottom: 15px;
	}

	input, textarea {
		padding: 8px 10px;
		width: 100%;
		box-sizing: border-box;
		border: 2px solid lightgray;
		border-radius: 4px;
		outline: none;
		transition: all 300ms ease;

		&:focus {
			border-color: @purple-color;
		}
	}

	textarea {
		min-height: 100px;
		resize: vertical;
	}

	button {
		background: @purple-color;
		color: white;
		border: 2px solid @purple-color;
		width: 100%;
		padding: 8px 10px;
		border-radius: 4px;
		font-weight: 700;
		cursor: pointer;
		transition: all 300ms ease;

		&:hover, &:focus {
			background: darken(@purple-color, 5%);
		}
	}
}