@import "_core/__mediaQ";
@import "_core/variables";
@import "components/article-item";

.article {
	border-bottom: 1px solid @c-grey;

	&-header {
		padding: 15px 0;
		margin: 0 15px;
		border-bottom: 1px solid @c-grey;

		@media @w480 {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@media @w1200 {
			margin: 0 25px;
		}
	}

	&-author {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;

		@media @w480 {
			flex-direction: row;
			text-align: left;
		}

		&__avatar {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			padding: 2px;
			border: 2px solid @c-red;
			margin-bottom: 5px;

			@media @w480 {
				margin-bottom: 0;
			}

			@media @w992 {
				display: flex;
				align-items: center;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&__information {
			margin-left: 10px;
		}

		&__name {
			font-size: 12px;
			font-weight: 700;

			a {
				color: @c-main-blue;
			}
		}

		&__role {
			font-size: 10px;
			color: @c-second-blue;
		}
	}

	&-information {
		text-align: center;
		margin: 15px 0 0;
		font-size: 10px;

		@media @w480 {
			margin: 0;
			text-align: right;
		}

		@media @w992 {
			display: flex;
			align-items: center;
			font-size: 12px;
		}

		&__datetime {
			color: @c-second-blue;
		}

		&__labels {
			margin-top: 5px;
			display: flex;
			align-items: center;
			justify-content: center;

			@media @w992 {
				margin: 0 0 0 10px;
			}
		}

		&__label {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 26px;

			@media @w992 {
				height: 33px;
			}
		}

		&__category {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			background: @c-red;
			color: @c-white;
			padding: 0 10px;
			border-radius: 15px;

			@media @w992 {
				padding-left: 18px;
				padding-right: 18px;
				border-radius: 18px;
			}

			a {
				display: flex;
			}
		}

		&__advertising {
			margin-left: 5px;
			background: @c-main-blue;
			color: @c-white;
			border-radius: 50%;
			width: 26px;
			font-size: 9px;

			@media @w992 {
				width: 33px;
				font-size: 11px;
			}
		}
	}

	&-content {
		font-size: 14px;
		margin: 15px 15px;
		line-height: 20px;
		color: @c-main-blue;

		@media @w1200 {
			margin: 25px;
		}

		p, div {
			@media @w1200 {
				line-height: 22px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		ul, ol {
			margin-left: 15px;

			@media @w1200 {
				margin-left: 30px;
			}

			li {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		ul {
			list-style-type: disc;
		}

		a {
			color: @c-link-blue;
			word-wrap: break-word;
		}
	}

	&-title {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 7.5px;
		color: @c-main-blue;

		@media @w1200 {
			font-size: 24px;
		}
	}

	&-source {
		font-size: 11px;
		color: @c-second-blue;
		margin-bottom: 10px;

		@media @w1200 {
			margin-bottom: 15px;
			font-size: 12px;
		}

		a {
			color: @c-link-blue;

			&:hover, &:focus {
				color: @c-main-blue;
			}
		}
	}

	&-image {
		margin: 0 -15px;

		@media @w1200 {
			margin: 0 -25px;
		}

		&.with-margins {
			margin: 10px -15px;

			@media @w1200 {
				margin: 20px -25px;
			}
		}

		&-container {
			display: block;
			height: 0;
			padding-top: 56.25%;
			position: relative;
			background: @c-main-blue;

			&:hover {
				.article-image__show-full {
					opacity: 1;
				}
			}
		}

		&-block {
			position: absolute;
			left: 25px;
			top: 25px;
			bottom: 25px;
			right: 0;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background: @c-white;
		}

		&__show-full {
			opacity: 0;
			position: absolute;
			right: 15px;
			bottom: 15px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: opacity 300ms ease-in-out;
			transition-delay: 300ms;
			width: 22px;
			height: 22px;
			font-size: 9px;
			border-radius: 50%;
			background: @c-main-blue;
			color: @c-white;
			border: 1px solid @c-white;

			@media @w480 {
				width: 32px;
				height: 32px;
				font-size: 13px;
			}

			@media @w992 {
				right: 25px;
				bottom: 25px;
			}

			i {
				margin-top: 1px;
			}
		}

		figcaption {
			font-size: 11px;
			color: @c-second-blue;
			text-align: right;
			padding-right: 15px;
			margin-top: 8px;

			@media @w992 {
				font-size: 12px;
			}

			@media @w1200 {
				padding-right: 25px;
			}
		}
	}

	&-slider {
		margin: 0 -15px;
		overflow: hidden;

		@media @w1200 {
			margin: 0 -25px;
		}

		.slider-img {
			position: relative;
			width: 100%;
			height: 0;
			padding-top: 56.25%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
				background: @c-white;
			}
		}

		.lSSlideOuter .lSPager.lSpg {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 16px;
			padding-top: 5px;

			li {
				display: inline-flex;
				align-items: center;
				margin-bottom: 0;

				a {
					width: 7px;
					height: 7px;
					background-color: @c-second-blue;
					border-radius: 50%;
					transition: width 150ms ease, height 150ms ease, background-color 150ms ease;
				}

				&.active {
					a {
						background-color: @c-main-blue;
					}
				}
			}
		}

		.lSPrev, .lSNext {
			display: flex;
			opacity: 1;
			background: fade(@c-main-blue, 30%);
			border: 1px solid fade(@c-white, 30%);
			color: fade(@c-white, 70%);
			align-items: center;
			justify-content: center;
			font-size: 14px;
			border-radius: 50%;
			transition: border-color 150ms ease, color 150ms ease;

			&:hover, &:focus {
				color: @c-white;
				border-color: fade(@c-white, 70%);
			}
		}

		.lSAction > .lSNext {
			right: 25px;

			i {
				margin: 2px -2px 0 0;
			}
		}

		.lSAction > .lSPrev {
			left: 25px;

			i {
				margin: 2px 0 0 -1px;
			}
		}
	}

	&-footer {
		margin: 15px;
		font-size: 12px;
		color: @c-second-blue;

		@media @w1200 {
			margin: 25px;
		}
	}

	&-interesting {
		margin-bottom: 10px;
		text-align: center;

		@media only screen and(min-width: 400px) {
			margin-bottom: 0;
			text-align: left;
		}

		span {
			margin-right: 10px;
		}

		a {
			display: inline-block;

			&.interesting {
				color: @c-green;
				margin-right: 5px;
			}

			&.not-interesting {
				color: @c-red;
			}
		}
	}

	&-counter {
		text-align: center;

		.article-comments {
			margin-left: 5px;

			@media only screen and(min-width: 400px) {
				margin-left: 10px;
			}
		}
	}

	&-tags, &-share-buttons {
		text-align: center;

		&-title {
			display: none;

			@media @w1200 {
				display: inline;
				margin-right: 10px;
			}
		}
	}

	&-tags-list {
		display: inline-block;

		li {
			display: inline-flex;
			margin-bottom: 5px;

			@media only screen and(min-width: 560px) {
				margin: 0;
			}

			a {
				border: 1px solid @c-second-blue;
				font-size: 11px;
				padding: 5px 9px 3.5px;
				border-radius: 15px;
				color: @c-second-blue;
				transition: color 150ms ease, border-color 150ms ease;

				@media @w992 {
					padding: 7px 9px 5px;
					margin: 0 1.5px;
				}

				&:hover, &:focus {
					color: @c-red;
					border-color: @c-red;
				}

				span:before {
					content: '#';
				}
			}
		}
	}

	&-share-buttons {
		margin-top: 15px;

		@media @w992 {
			margin-top: 0;
		}
	}
}

blockquote {
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	color: @c-main-blue;

	&:before {
		font-family: "Font Awesome 5 Pro";
		content: '\f10e';
		display: block;
		color: @c-red;
		font-size: 18px;
		margin-bottom: 10px;
	}
}

.poll {
	margin: 15px;
	padding: 15px;
	border: 1px solid @c-grey;
	border-radius: 4px;
	color: @c-main-blue;
	position: relative;

	@media @w992 {
		padding: 25px 35px;
	}

	@media @w1200 {
		margin: 25px;
	}

	&:before {
		font-family: "Font Awesome 5 Pro";
		display: none;
		content: '\f128';
		color: @c-grey;
		position: absolute;
		right: 35px;
		bottom: 35px;
		font-size: 85px;

		@media @w992 {
			display: block;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 15px;
		font-size: 16px;

		@media @w992 {
			font-size: 18px;
			text-align: left;
			margin-bottom: 25px;
		}
	}

	&__form {
		&-answer {
			margin-bottom: 15px;

			label {
				display: inline-flex;
				cursor: pointer;
				font-size: 14px;

				input[type="radio"] {
					display: none;
				}

				input[type="radio"]:checked + .marker:before {
					background: @c-red;
				}

				.marker {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					min-width: 16px;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					border: 1px solid @c-red;
					margin-right: 10px;

					&:before {
						content: '';
						display: inline-block;
						width: 8px;
						height: 8px;
						background: @c-white;
						border-radius: 50%;
						transition: background-color 150ms ease;
					}
				}
			}
		}
	}

	&__results {
		@media @w992 {
			width: 70%;
		}

		@media @w1200 {
			width: 60%;
		}

		//@media @w1400 {
		//	width: 50%;
		//}

		&-answer {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-title {
			font-size: 14px;
		}

		&-stripe {
			display: flex;
			align-items: center;

			div {
				margin-top: 1px;
				display: inline-block;
				height: 8px;
				background: @c-red;
				border-radius: 10px;
			}

			span {
				margin-left: 5px;
				flex: 1;
				font-size: 13px;
				color: @c-second-blue;
			}
		}
	}

	.buttons-container {
		text-align: center;
		margin-top: 15px;

		@media only screen and(min-width: 400px) {
			text-align: left;
		}

		@media @w1200 {
			margin-top: 20px;
		}

		button {
			border: none;
			margin-right: 5px;

			@media @w992 {
				margin-right: 15px;
			}
		}

		span {
			display: block;
			margin-top: 10px;
			font-size: 12px;
			color: @c-second-blue;

			@media only screen and(min-width: 400px) {
				display: inline;
				margin-top: 0;
			}
		}
	}
}

.first-floor {
	border-bottom: 1px solid @c-grey;
	padding-bottom: 15px;

	@media only screen and(min-width: 400px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.second-floor {
	margin-top: 15px;

	@media @w992 {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

//-------------------------NEWS FEED

.recent-news {
	@media @w480 {
		display: flex;
	}

	&__feed {
		@media @w480 {
			margin-left: 15px;
			width: 50%;
		}

		@media @w992 {
			width: 216.66px;
		}

		@media @w1200 {
			width: 256.66px;
			margin-left: 25px;
		}

		//@media @w1400 {
		//	width: 275px;
		//}
		//
		//@media @w1600 {
		//	width: 286.25px;
		//}
	}
}

.news-list {
	display: none;
	align-content: flex-start;

	@media @w480 {
		display: block;
		width: 50%;
	}

	@media @w992 {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		margin: 0 -7.5px -15px;
	}

	@media @w1200 {
		margin: 0 -12.5px -25px;
	}

	//@media @w1600 {
	//	flex: 3 3 75%;
	//}

	.ai {
		margin-bottom: 15px;

		@media @w992 {
			width: calc(~"50% - 15px");
			margin: 0 7.5px 15px;
		}

		@media @w1200 {
			margin: 0 12.5px 25px;
			width: calc(~"50% - 25px");
		}

		//@media @w1600 {
		//	width: calc(~"(100% / 3) - 25px");
		//}
	}
}

.news-feed {
	&__title {
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		border-left: 3px solid @c-red;
		padding: 4px 0 3px 10px;
		margin-bottom: 20px;
	}

	&__subtitle {
		font-size: 12px;
		font-weight: 700;
		color: @c-second-blue;
		text-transform: uppercase;
		margin: 15px 0;
	}

	&__button {
		margin-top: 15px;
		display: inline-flex;
		align-items: center;
		font-size: 10px;
		border-radius: 15px;
		height: 26px;
		padding: 1px 10px 0;
		color: #FFFFFF;
		background: @c-red;
	}

	&__item {
		display: flex;
		font-size: 12px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		&_selected {
			font-weight: 700;

			.news-feed__item-time {
				color: @c-red;
			}
		}

		&-time {
			margin-right: 10px;
		}

		&-title {

			a {
				color: @c-main-blue;
			}
		}
	}
}

.categories-list {
	text-align: center;
	border-bottom: 1px solid @c-grey;
	padding: 13px 0;

	@media @w1200 {
		padding: 22px 0;
	}

	&__item {
		display: inline-flex;
		margin: 2px 0;

		@media @w768 {
			margin: 3px 0;
		}
	}
}

.articles-list {
	padding-left: 15px;
	padding-right: 15px;

	@media @w480 {
		display: flex;
		flex-wrap: wrap;
		padding-left: 7.5px;
		padding-right: 7.5px;
	}

	@media @w1200 {
		padding-left: 12.5px;
		padding-right: 12.5px;
	}

	.ai {
		margin-bottom: 15px;

		@media @w480 {
			margin: 0 7.5px 15px;
			width: calc(~"50% - 15px");
		}

		@media @w992 {
			width: calc(~"(100% / 3) - 15px");
		}

		@media @w1200 {
			width: calc(~"(100% / 3) - 25px");
			margin: 0 12.5px 25px;
		}

		//@media @w1600 {
		//	width: calc(~"25% - 25px");
		//}

		&__more-btn {
			border: 2px dashed @c-grey;
			color: @c-main-blue;
			font-weight: 700;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			flex: 1;
		}
	}
}