@import "_core/__mediaQ";
@import "_core/variables";
@import "_core/fonts";

.b-lazy {
	transition: all .3s linear;
	opacity: 0;

	&.loaded, &error-loaded {
		opacity: 1;
	}
}

img:not([src]) {
	visibility: hidden;
}

.clear-both {
	clear: both;
}

#sidebar, #main-floated-content-container {
	will-change: min-height;
}

#floated-content, #main-floated-content {
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

.floated-stub {
	background: transparent;
	height: 15px;

	@media @w1200 {
		height: 25px;
	}
}

.tooltip {
	&-parent {
		position: relative;
		cursor: pointer;

		&:hover .tooltip {
			z-index: 999;
			transition-delay: 150ms, -300ms;
			pointer-events: all;
			opacity: 1;
		}
	}

	cursor: auto;
	z-index: -999;
	opacity: 0;
	width: auto;
	width: max-content;
	min-width: 130px;
	max-width: 200px;
	position: absolute;
	top: 100%;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	border-radius: 4px;
	line-height: 14px;
	pointer-events: none;
	transition: opacity 150ms ease, z-index 0s ease;
	transition-delay: 150ms, 300ms;
	font-size: 11px;

	a {
		color: @c-white;
	}

	&:after {
		position: absolute;
		top: -11px;
		content: '';
		display: inline-block;
		border: 6px solid transparent;
	}

	&-left {
		right: calc(~"50% - 16px");

		&:after {
			right: 9.5px;
		}
	}

	&-right {
		left: calc(~"50% - 16px");

		&:after {
			left: 9.5px;
		}
	}

	&-red {
		background: @c-red;
		color: @c-grey;

		a {
			text-decoration: underline;
		}

		&:after {
			border-bottom-color: @c-red;
		}
	}

	&-blue {
		background: @c-main-blue;
		color: @c-second-blue;

		&:after {
			border-bottom-color: @c-main-blue;
		}

		&.tooltip-controls a {
			color: @c-second-blue;
			border-bottom: 1px solid fade(@c-white, 5%);

			&:hover, &:focus {
				color: @c-white;
			}
		}
	}

	&-controls {
		a {
			display: block;
			text-align: left;
			border-bottom: 1px solid fade(@c-white, 10%);
			padding-bottom: 4px;
			margin-bottom: 4px;
			text-decoration: none;
			position: relative;

			&:hover:before, &:focus:before {
				color: @c-white;
			}

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}

			&:before {
				margin-right: 5px;
				font-family: "Font Awesome 5 Pro";
				color: fade(@c-white, 35%);
				content: '\f105';
				transition: color 150ms ease;
			}
		}
	}
}

.section {
	&-title {
		font-weight: 700;
		font-size: 18px;
		color: @c-main-blue;
		margin-bottom: 12.5px;

		&__second-text {
			color: @c-second-blue;
		}

		a {
			color: @c-main-blue;
			transition: color 300ms ease;

			&:hover, &:focus {
				color: @c-blue-dark;
			}
		}
	}

	&-description {
		margin-top: -10px;
		font-size: 12px;
		color: @c-second-blue;
	}
}

.pagination {
	text-align: center;

	&__item {
		display: inline-block;
	}
}

.share-buttons {
	&-list {
		display: inline-block;

		li {
			display: inline-flex;
			margin: 0 2px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			a {
				color: @c-white;
			}
		}
	}

	&-item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		font-size: 10px;
		transition: background-color 150ms ease;

		@media @w992 {
			width: 27px;
			height: 27px;
		}

		&_fb {
			background: @c-facebook;

			&:hover, &:focus {
				background: lighten(@c-facebook, 15%);
			}
		}

		&_vk {
			background: @c-vk;

			&:hover, &:focus {
				background: lighten(@c-vk, 15%);
			}
		}

		&_twitter {
			background: @c-twitter;

			&:hover, &:focus {
				background: lighten(@c-twitter, 15%);
			}
		}

		&_telegram {
			background: @c-telegram;

			&:hover, &:focus {
				background: lighten(@c-telegram, 15%);
			}
		}

		&_gplus {
			background: @c-gplus;

			&:hover, &:focus {
				background: lighten(@c-gplus, 15%);
			}
		}
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: @c-black;
	padding: 0 10px;
	border-radius: 50px;
	color: @c-white;
	font-size: 10px;
	cursor: pointer;
	outline: none;
	transition: 300ms all ease;

	&-xs {
		height: 21px;

		@media @w992 {
			height: 25px;
		}

		&.circle {
			width: 21px;

			@media @w992 {
				width: 25px;
			}
		}
	}

	&-sm {
		height: 25px;

		@media @w992 {
			height: 27px;
		}

		&.circle {
			width: 25px;

			@media @w992 {
				width: 27px;
			}
		}
	}

	&-md {
		height: 25px;

		@media @w992 {
			height: 29px;
		}

		&.circle {
			width: 25px;

			@media @w992 {
				width: 29px;
			}
		}
	}

	&-xl {
		height: 27px;

		@media @w992 {
			height: 33px;
			font-size: 12px;
			padding: 0 18px;
		}

		&.circle {
			width: 27px;

			@media @w992 {
				width: 33px;
			}
		}
	}

	&.circle {
		padding: 0;
		border-radius: 50%;
	}

	//Mixin для генерирования бэкграунда и ховер/фокус эффекта
	.bg-hover(@bg) {
		background: @bg;

		&.btn-hover {
			&:hover, &:focus {
				background: lighten(@bg, 10%);
			}
		}
	}

	//Mixin для генерирования стилей для категорий статей/новостей
	.article-category(@color) {
		&:hover, &:focus {
			color: @color;
		}
		&.active {
			color: @c-white;
			background: @color;
			border-color: @color;
		}
	}

	&-transparent {
		background: transparent;
		color: @c-second-blue;
	}

	&-bordered {
		border: 1px solid;
	}

	&-news {
		&-ukraine {
			.article-category(@c-n-ukraine);
		}
		&-organizations {
			.article-category(@c-n-organizations);
		}
		&-sport {
			.article-category(@c-n-sport);
		}
		&-culture {
			.article-category(@c-n-culture);
		}
		&-society {
			.article-category(@c-n-society);
		}
		&-economics {
			.article-category(@c-n-economics);
		}
		&-science {
			.article-category(@c-n-science);
		}
		&-emergency {
			.article-category(@c-n-emergency);
		}
		&-ecology {
			.article-category(@c-n-ecology);
		}
		&-crime {
			.article-category(@c-n-crime);
		}
		&-other {
			.article-category(@c-n-other);
		}
	}

	&-red {
		.bg-hover(@c-red);
	}

	&-green {
		.bg-hover(@c-green);
	}

	&-grey {
		color: @c-main-blue;
		.bg-hover(@c-grey);
	}

	&-blue {
		//color: @c-w;
		.bg-hover(@c-main-blue);
	}

	&-fb {
		.bg-hover(@c-facebook);
	}

	&-vk {
		.bg-hover(@c-vk);
	}

	&-twitter {
		.bg-hover(@c-twitter);
	}

	&-telegram {
		.bg-hover(@c-telegram);
	}

	&-gplus {
		.bg-hover(@c-gplus);
	}

	&-viber {
		.bg-hover(@c-viber);
	}

	&-container {
		&.align-center {
			text-align: center;
		}

		&.align-right {
			text-align: right;
		}

		&.margin-top {
			margin-top: 15px;
		}

		&.margin-bottom {
			margin-bottom: 15px;
		}

		.btn {
			margin: 0 3px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.lbl {
	display: inline-block;
	background: @c-red;
	color: @c-white;
	border-radius: 5px;

	&-blue {
		background: @c-main-blue;
	}

	&-green {
		background: @c-green;
	}

	&-orange {
		background: @c-orange;
	}

	&-grey {
		background: @c-second-blue;
	}

	&-md {
		font-size: 8px;
	}

	&-xl {
		font-size: 10px;
		padding: 4px 6px 3px;
	}
}

.alert {
	display: flex;
	align-items: center;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid @c-grey;
	background: fade(@c-grey, 35%);
	color: @c-second-blue;

	&-success {
		background: fade(@c-green, 6%);
		color: @c-green;
		border-color: fade(@c-green, 12%);

		.alert__content a {
			font-weight: 700;
			color: @c-green;
		}
	}

	&-danger {
		background: fade(@c-red, 6%);
		color: @c-red;
		border-color: fade(@c-red, 12%);

		.alert__content a {
			font-weight: 700;
			color: @c-red;
		}
	}

	&__icon {
		margin-right: 15px;
		font-size: 20px;

		@media @w992 {
			font-size: 28px;
		}
	}

	&__content {
		font-size: 14px;

		a {
			text-decoration: underline;
			font-weight: 700;
			color: @c-second-blue;
		}
	}
}

.block-message {
	height: 260px;
	border: 2px dashed @c-grey;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 18px;
	color: darken(@c-grey, 25%);
}

.m {
	&-t {
		margin-top: 15px;

		@media @w1200 {
			margin-top: 25px;
		}
	}

	&-b {
		margin-bottom: 15px;

		@media @w1200 {
			margin-bottom: 25px;
		}
	}

	&-tb {
		margin-top: 15px;
		margin-bottom: 15px;

		@media @w1200 {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}

	&-lr {
		margin-left: 15px;
		margin-right: 15px;

		@media @w1200 {
			margin-left: 25px;
			margin-right: 25px;
		}
	}

	&-full {
		margin: 15px;

		@media @w1200 {
			margin: 25px;
		}
	}

	&--t {
		margin-top: -15px;

		@media @w1200 {
			margin-top: -25px;
		}
	}

	&--b {
		margin-bottom: -15px;

		@media @w1200 {
			margin-bottom: -25px;
		}
	}

	&--tb {
		margin-top: -15px;
		margin-bottom: -15px;

		@media @w1200 {
			margin-top: -25px;
			margin-bottom: -25px;
		}
	}

	&--lr {
		margin-left: -15px;
		margin-right: -15px;

		@media @w1200 {
			margin-left: -25px;
			margin-right: -25px;
		}
	}

	&--full {
		margin: -15px;

		@media @w1200 {
			margin: -25px;
		}
	}
}

.p {
	&-t {
		padding-top: 15px;

		@media @w1200 {
			padding-top: 25px;
		}
	}

	&-b {
		padding-bottom: 15px;

		@media @w1200 {
			padding-bottom: 25px;
		}
	}

	&-tb {
		padding-top: 15px;
		padding-bottom: 15px;

		@media @w1200 {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	&-lr {
		padding-left: 15px;
		padding-right: 15px;

		@media @w1200 {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	&-full {
		padding: 15px;

		@media @w1200 {
			padding: 25px;
		}
	}
}

hr {
	border: none;
	height: 1px;
	background-color: @c-grey;

	&.lr-full {
		margin-left: -15px;
		margin-right: -15px;

		@media @w1200 {
			margin-left: -25px;
			margin-right: -25px;
		}
	}
}

.load-more {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid @c-grey;
	border-radius: 30px;
	height: 27px;
	padding: 0 10px;
	font-size: 10px;
	color: @c-second-blue;
	transition: all 300ms ease;
	cursor: pointer;

	@media @w992 {
		height: 33px;
		font-size: 12px;
		padding: 0 18px;
	}

	&:hover, &:focus {
		border-color: @c-second-blue;
	}
}

.breadcrumbs {
	padding: 10px 15px;
	border-bottom: 1px solid @c-grey;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media @w1200 {
		padding: 10px 25px;
	}

	&-list {
		li {
			font-size: 12px;
			display: none;

			&.breadcrumbs-list__back-link {
				display: inline;

				&:hover:before {
					color: @c-main-blue;
				}

				&:before {
					font-family: "Font Awesome 5 Pro";
					font-weight: 300;
					content: '\f177';
					margin-right: 10px;
					color: @c-link-blue;
					transition: color 300ms ease;

					@media @w768 {
						display: none;
					}
				}

				&:after {
					display: none;

					@media @w768 {
						display: inline;
					}
				}
			}

			@media @w768 {
				display: inline;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			&:after {
				content: '-';
				margin-left: 5px;
				color: @c-second-blue;
			}

			a {
				color: @c-link-blue;

				&:hover, &:focus {
					color: @c-main-blue;
				}
			}

			span {
				color: @c-second-blue;
			}
		}
	}

	&-controls {
		margin-left: 5px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media @w480 {
			margin-left: 10px;
		}

		@media @w1200 {
			margin-left: 15px;
		}

		i {
			color: @c-second-blue;
			margin-top: 5px;
			font-size: 20px;
		}
	}
}

main {
	margin-top: 25px;

	.container {
		@media @w768 {
			display: flex;
		}

		.main-content {
			background: @c-white;

			@media @w768 {
				width: calc(~"100% - 220px");
			}

			@media @w992 {
				width: calc(~"100% - 260px");
			}

			@media @w1200 {
				width: calc(~"100% - 300px");
			}

			&.without-sidebar {
				width: 100%;
			}
		}

		.right-col {
			background: @c-main-blue;
			color: @c-white;
			box-sizing: content-box;
			display: none;

			@media @w768 {
				display: block;
				width: 220px;
			}

			@media @w992 {
				width: 260px;
			}

			@media @w1200 {
				width: 300px;
			}
		}
	}
}

//------------------------------

.short-profile-block {
	display: flex;
	align-items: center;
	padding: 15px;
	background: @c-blue-dark;
	position: relative;
	margin-bottom: 15px;

	@media @w1200 {
		padding: 25px;
		margin-bottom: 25px;
	}

	.profile {
		&-avatar {
			display: block;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			padding: 2px;
			border: 2px solid @c-red;

			@media @w992 {
				width: 60px;
				height: 60px;
			}

			@media @w1200 {
				width: 65px;
				height: 65px;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&-information {
			margin-left: 5px;
			flex: 1;

			@media @w480 {
				margin-left: 15px;
			}

			@media @w768 {
				margin-left: 5px;
			}

			@media @w992 {
				margin-left: 10px;
			}
		}

		&-name {
			font-size: 12px;
			line-height: 16px;
			font-weight: 700;

			@media @w992 {
				font-size: 14px;
				line-height: 18px;
			}

			a {
				color: @c-white;
			}
		}

		&-role {
			font-size: 11px;
			line-height: 16px;
			color: @c-second-blue;

			@media @w768 {
				display: none;
			}

			@media @w1200 {
				display: block;
			}
		}

		&-buttons {
			position: absolute;
			right: 12px;
			top: 12px;
			font-size: 12px;

			@media @w992 {
				font-size: 14px;
			}

			@media @w1200 {
				right: 20px;
				top: 20px;
			}

			a {
				color: @c-second-blue;
				margin-right: 5px;
				position: relative;

				&:last-child {
					margin-right: 0;
				}

				&:hover, &:focus {
					color: @c-white;
				}
			}
		}

		&-button-marker {
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: @c-red;
			position: absolute;
			right: -5px;
			top: -5px;
		}
	}
}

.sidebar-links {
	padding: 0 15px 10px;
	margin-top: -5px;
	text-align: center;
	line-height: 15px;

	@media @w992 {
		text-align: left;
	}

	@media @w1200 {
		margin-top: -10px;
		padding: 0 25px 15px;
	}

	a {
		display: block;
		color: @c-second-blue;
		font-size: 12px;
		font-weight: 700;

		@media @w992 {
			display: inline;
			margin-right: 5px;
		}

		&:hover, :focus {
			color: @c-white;
		}
	}
}

.banner {
	height: 0;
	width: 100%;
	background: @c-blue-dark;
	position: relative;

	&-rounded {
		border-radius: 4px;

		.banner__link img {
			border-radius: 4px;
		}
	}

	&-social {
		.banner__content {
			padding-bottom: 63px;

			@media @w1200 {
				padding-bottom: 83px;
			}
		}

		&--telegram {
			background: @c-telegram;

			.banner__icon {
				box-shadow: 0 0 5px 1px darken(@c-telegram, 5%);

				&::before {
					color: @c-telegram;
					content: '\f3fe';
				}
			}
		}

		&--facebook {
			background: @c-facebook;

			.banner__icon {
				box-shadow: 0 0 5px 1px darken(@c-facebook, 5%);

				&::before {
					color: @c-facebook;
					content: '\f39e';
				}
			}
		}

		&--twitter {
			background: @c-twitter;

			.banner__icon {
				box-shadow: 0 0 5px 1px darken(@c-twitter, 5%);

				&::before {
					color: @c-twitter;
					content: '\f099';
				}
			}
		}

		&--vk {
			background: @c-vk;

			.banner__icon {
				box-shadow: 0 0 5px 1px darken(@c-vk, 5%);

				&::before {
					color: @c-vk;
					content: '\f189';
				}
			}
		}
	}

	&-h100 {
		padding-bottom: 100%;
	}

	&-h150 {
		padding-bottom: 150%;
	}

	&-h200 {
		padding-bottom: 200%;
	}

	&-h250 {
		padding-bottom: 250%;
	}

	&-h300 {
		padding-bottom: 300%;
	}

	&__link, &__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__link {
		display: block;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__icon {
		font-family: "Font Awesome 5 Brands";
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background: @c-white;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 42px;
		margin-bottom: 15px;

		@media @w992 {
			width: 100px;
			height: 100px;
			font-size: 54px;
		}

		@media @w1200 {
			width: 125px;
			height: 125px;
			font-size: 66px;
		}
	}

	&__content {
		padding: 15px;
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		@media @w1200 {
			padding: 25px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.2em;
		color: fade(@c-white, 99%);

		&.uppercase {
			text-transform: uppercase;
		}

		&.lh15 {
			line-height: 1.5em;
		}

		@media @w992 {
			font-size: 20px;
		}

		span {
			&.bigger {
				font-size: 1.35em;
			}
		}
	}

	&__subtitle {
		margin: 10px;
		font-size: 11px;
		color: fade(@c-white, 85%);

		@media @w992 {
			font-size: 12px;
		}
	}

	&__button-container {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 15px;
		pointer-events: none;

		@media @w1200 {
			padding: 25px;
		}

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			height: 27px;
			padding: 0 10px;
			font-size: 10px;
			background: fade(@c-black, 20%);
			color: @c-white;
			transition: all 300ms ease;
			pointer-events: all;

			@media @w992 {
				padding: 0 18px;
				font-size: 12px;
				height: 33px;
			}

			&:hover {
				background: fade(@c-black, 10%);
			}

			i {
				margin-top: 2px;
				margin-left: 5px;
			}
		}
	}
}

.banner-horizontal {
	background: @c-grey;
	height: 0;
	position: relative;

	&--h100 {
		padding-top: 12.82051282051282%;
	}

	&--h150 {
		padding-top: 19.23076923076923%;
	}

	&--h200 {
		padding-top: 25.64102564102564%;
	}

	&--double {
		background: transparent;
		display: none;

		@media @w480 {
			display: block;
		}
	}

	&__image, &__group {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__group {
		display: flex;
	}

	&__left, &__right {
		flex: 1;
		background: @c-grey;
		border-radius: 4px;

		img {
			border-radius: 4px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__left {
		margin-right: 15px;

		@media @w1200 {
			margin-right: 25px;
		}
	}
}

//------------------------------

footer {
	margin-top: 25px;
	padding: 15px 0;
	background: @c-white;
	font-size: 12px;
	font-weight: 700;

	a {
		white-space: nowrap;
		color: @c-second-blue;

		&:hover, &:focus {
			color: @c-main-blue;
		}
	}

	.footer {
		&-menus {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid @c-grey;

			@media @w480 {
				display: flex;
			}
		}

		&-menu {
			text-align: center;
			margin-top: 25px;

			@media @w480 {
				width: 50%;
				flex: 1 1 50%;
				margin-top: 0;
			}

			@media @w768 {
				width: 20%;
				flex: 1 1 20%;
				text-align: left;
				margin-left: 15px;
			}

			@media @w992 {
				width: 15%;
				flex: 1 1 15%;
			}

			@media @w1200 {
				margin-left: 30px;
			}

			&:first-child {
				margin-top: 0;

				@media @w768 {
					margin-left: 0;
				}
			}

			&__title {
				text-transform: uppercase;
				color: @c-main-blue;
				margin-bottom: 5px;

				@media @w768 {
					margin-bottom: 10px;
				}
			}

			&__item {
				display: inline;
				line-height: 16px;

				@media @w480 {
					display: block;
				}

				@media @w768 {
					line-height: 18px;
				}

				a {
					padding: 0 3px;
				}
			}

			&_inline {
				display: none;

				.footer-menu__item {
					display: inline;
				}
			}

			&_categories {
				@media @w768 {
					display: block;
					width: 60%;
					flex: 2 2 60%;
				}

				@media @w992 {
					width: 35%;
					flex: 3 3 35%;
				}
			}

			&_organizations {
				@media @w992 {
					display: block;
					width: 35%;
					flex: 3 3 35%;
				}
			}
		}

		&-info {
			color: @c-second-blue;
			text-align: center;
			display: flex;
			flex-direction: column;

			@media @w768 {
				flex-direction: row;
				justify-content: space-between;
			}

			&__copy-social {
				display: flex;
				flex-direction: column;

				@media @w768 {
					flex-direction: row;
				}
			}

			&__copy {
				order: 1;
				text-align: center;
				margin: 10px 0;

				@media @w768 {
					order: 0;
					margin: 0;
				}
			}

			&__social-buttons-list {
				order: 0;

				@media @w768 {
					order: 1;
					font-size: 10px;
					margin-left: 10px;
					padding-left: 10px;
					border-left: 1px solid @c-grey;
					padding-top: 2px;
				}
			}

			&__social-buttons-item {
				display: inline;

				a {
					padding: 0 3px;
				}
			}

			&__made-with-love {
				order: 2;

				i {
					color: @c-red;
				}
			}
		}
	}
}

.slider-section {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	&__controls {
		margin-left: 10px;
		display: flex;

		&--prev, &--next {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 23px;
			height: 23px;
			border-radius: 50%;
			font-size: 12px;
			border: 1px solid @c-grey;
			color: @c-second-blue;
			transition: border-color 300ms ease;
			cursor: pointer;
			user-select: none;

			@media @w480 {
				width: 33px;
				height: 33px;
				font-size: 14px;
			}

			&:hover {
				border-color: @c-second-blue;
			}
		}

		&--prev {
			margin-right: 5px;
		}
	}

	&__title {
		font-size: 18px;
		line-height: 1.1em;
		color: @c-main-blue;

		a {
			color: @c-main-blue;
			transition: color 300ms ease;

			&:hover, &:focus {
				color: @c-blue-dark;
			}
		}
	}
}

.error-section {
	color: @c-main-blue;

	&__code {
		font-weight: 700;
		font-size: 60px;

		@media @w480 {
			font-size: 80px;
		}

		@media @w768 {
			font-size: 100px;
		}
	}

	&__content {
		font-size: 14px;

		p {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.search-section {
	display: flex;

	label {
		flex: 1;
	}

	input {
		font-size: 14px;
		width: 100%;
		border: 1px solid @c-grey;
		color: @c-main-blue;
		border-radius: 4px;
		padding: 5px 10px;
		outline: none;
		transition: border-color 300ms ease;

		@media @w480 {
			padding: 10px 15px;
		}

		@media @w1200 {
			padding: 15px 20px;
		}

		&::placeholder {
			color: @c-second-blue;
		}

		&:focus {
			border-color: @c-second-blue;
		}
	}

	&__button {
		margin-left: 10px;
		border-radius: 4px;
		background: @c-red;
		border: none;
		color: @c-white;
		text-transform: uppercase;
		font-size: 11px;
		padding: 0 10px;
		cursor: pointer;
		outline: none;

		@media @w480 {
			margin-left: 15px;
			padding: 0 20px;
		}

		@media @w1200 {
			padding: 0 25px;
		}
	}
}

.popup {
	width: 100%;
	max-width: 360px;
	max-height: calc(~"100% - 30px");
	margin: 15px;
	padding: 15px;
	border-radius: 4px;
	position: relative;
	background: @c-white url("../images/icons/popup-header.png") no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;

	@media @w480 and(min-height: 480px) {
		padding: 25px 35px;
	}

	&__wrapper {
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: fade(@c-main-blue, 50%);
		display: none;
		align-items: center;
		justify-content: center;
	}

	&__controls {
		position: absolute;
		text-align: right;
		top: 15px;
		left: 15px;
		right: 15px;
		font-size: 12px;

		&.justify-between {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@media @w480 and(min-height: 480px) {
			top: 25px;
			left: 25px;
			right: 25px;
		}
	}

	&__close {
		font-size: 14px;
		color: @c-second-blue;
		cursor: pointer;
		transition: all 150ms ease;

		@media @w480 and(min-height: 480px) {
			font-size: 16px;
			top: 25px;
			right: 25px;
		}

		@media @w992 {
			font-size: 18px;
		}

		&:hover, &:focus {
			color: @c-main-blue;
		}
	}

	&__back {
		color: @c-second-blue;
		cursor: pointer;
		transition: all 150ms ease;

		&:hover, &:focus {
			color: @c-main-blue;
		}

		i {
			margin-right: 5px;
		}
	}

	&__header {
		margin: 15px 0 15px;
		text-align: center;

		@media @w480 and(min-height: 480px) {
			margin: 25px 0 15px;
		}

		@media @w480 and(min-height: 680px) {
			margin-bottom: 30px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		color: @c-main-blue;
		margin-bottom: 10px;

		@media @w480 and(min-height: 680px) {
			font-size: 20px;
		}
	}

	&__description {
		color: @c-second-blue;
		font-size: 12px;
		line-height: 1.2em;

		@media @w480 {
			font-size: 13px;
			line-height: 1.3em;
		}
	}

	&__divider {
		text-align: center;
		position: relative;
		//margin: 5px 0;

		&:before {
			position: absolute;
			top: 50%;
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background: @c-grey;
		}

		span {
			position: relative;
			background: @c-white;
			color: @c-second-blue;
			display: inline-block;
			text-transform: uppercase;
			font-size: 12px;
			padding: 0 10px;
		}
	}

	&__content {
		background: @c-white;
		text-align: justify;
		overflow-y: auto;
		margin-right: -15px;
		padding-right: 15px;

		@media @w480 and(min-height: 480px) {
			margin-right: -35px;
			padding-right: 35px;
		}
	}

	&__socials {
		&-item {
			display: block;
			width: 100%;
			padding: 8px 16px;
			font-size: 12px;
			border-radius: 50px;
			background: @c-red;
			border: 1px solid transparent;
			margin-bottom: 15px;
			color: @c-white;
			text-align: center;
			position: relative;
			transition: all 300ms ease;
			user-select: none;

			@media @w480 and(min-height: 680px) {
				padding: 12px 20px;
			}

			&.facebook {
				background: @c-facebook;

				&:hover, &:focus {
					background: lighten(@c-facebook, 10%);
				}
			}

			&.gmail {
				background: @c-gplus;

				&:hover, &:focus {
					background: lighten(@c-gplus, 10%);
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&--icon {
				position: absolute;
				display: inline-flex;
				align-items: center;
				width: 15px;
				padding-right: 25px;
				border-right: 1px solid fade(@c-black, 20%);
				top: -1px;
				left: 16px;
				bottom: -1px;

				@media @w480 and(min-height: 680px) {
					left: 20px;
					padding-right: 30px;
				}
			}
		}
	}

	&__form {
		&-item {
			display: block;
			margin-top: 15px;

			&:first-child {
				margin-top: 0;
			}

			&.error input{
				border-color: @c-red;
			}

			input {
				display: block;
				width: 100%;
				border-radius: 50px;
				border: 1px solid @c-grey;
				outline: none;
				padding: 8px 16px;
				font-size: 12px;
				transition: all 150ms ease;
				color: @c-main-blue;

				@media @w480 and(min-height: 680px) {
					padding: 12px 20px;
				}

				&::placeholder {
					color: @c-second-blue;
				}

				&:focus {
					border-color: @c-second-blue;
				}
			}
		}

		&-line {
			margin-top: 15px;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			font-size: 12px;
			color: @c-second-blue;

			&--checkbox {
				display: flex;
				align-items: center;
				user-select: none;
				cursor: pointer;

				input {
					display: none;
				}

				input:checked+&-marker {
					i {
						opacity: 1;
					}
				}

				&-marker {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 15px;
					height: 15px;
					background: @c-red;
					margin-right: 10px;
					border-radius: 2px;

					i {
						color: @c-white;
						font-size: 10px;
						opacity: 0;
						transition: all 150ms ease;
					}
				}
			}

			a {
				margin-top: 1px;
				display: inline-block;
				cursor: pointer;

				&:hover, &:focus {
					&:after {
						width: 100%;
					}
				}

				&:after {
					content: '';
					display: block;
					height: 1px;
					width: 0;
					margin: 0 auto;
					transition: all 150ms ease;
					background: @c-second-blue;
				}
			}
		}

		&-error {
			display: block;
			margin-top: 5px;
			color: @c-red;
			font-size: 11px;
		}

		button {
			margin-top: 30px;
			display: block;
			width: 100%;
			padding: 8px 16px;
			font-size: 12px;
			border-radius: 50px;
			background: @c-red;
			color: @c-white;
			border: 1px solid transparent;
			cursor: pointer;
			transition: all 300ms ease;
			outline: none;

			@media @w480 and(min-height: 680px) {
				padding: 12px 20px;
			}

			&:hover, &:focus {
				background: lighten(@c-red, 10%);
			}
		}
	}

	&__footer {
		margin-top: 15px;
		text-align: center;
		font-size: 12px;
		color: @c-second-blue;

		&-line {
			margin-bottom: 2px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			display: inline-block;
			color: @c-red;
			cursor: pointer;

			&:hover, &:focus {
				&:after {
					width: 100%;
				}
			}

			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 0;
				background: @c-red;
				margin: 0 auto;
				transition: all 150ms ease;
			}
		}
	}
}
