@import "_core/__mediaQ";
@import "_core/variables";

.comment {
	padding-bottom: 10px;
	border-bottom: 1px solid @c-grey;
	margin-bottom: 10px;

	@media @w480 {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	&:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}

	&.answer {
		padding-left: 20px;

		@media @w480 {
			padding-left: 40px;
		}

		@media @w768 {
			padding-left: 50px;
		}
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;

		@media @w768 {
			margin-bottom: 15px;
		}
	}

	&-buttons {
		@var: 25px;
		display: flex;
		align-items: center;

		.comment-link-button {
			font-size: 12px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: @var;
			color: @c-second-blue;
			margin-left: 10px;
			cursor: pointer;

			@media @w480 {
				margin-left: 15px;
			}
		}

		.comment-controls {
			margin-left: 10px;

			@media @w480 {
				margin-left: 15px;
			}

			i {
				color: @c-second-blue;
				font-size: 18px;
				position: relative;
				transition: color 150ms ease;

				&:hover {
					color: @c-main-blue;
				}
			}
		}
	}

	&-information {
		@media @w480 {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&-author {
		&__avatar {
			display: none;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			padding: 2px;
			border: 2px solid #F03539;
			margin-right: 15px;

			@media @w480 {
				display: inline-block;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&__name {
			font-size: 14px;
			line-height: 14px;
			font-weight: 700;
			color: @c-main-blue;

			&.selected {
				color: @c-red;
			}
		}
	}

	&-datetime {
		font-size: 12px;
		color: @c-second-blue;
	}

	&-body {
		font-size: 14px;
		line-height: 20px;
		color: @c-main-blue;
	}

	&-footer {
		font-size: 12px;
		margin-top: 10px;

		@media @w768 {
			margin-top: 15px;
		}

		.comment-action {
			display: inline-flex;

			&_reply, &_helpful, &_complain {
				color: @c-second-blue;
				margin: 0 5px;

				@media @w480 {
					margin: 0 7.5px;
				}

				&:first-child {
					margin-left: 0;
				}

				&:hover, &:focus {
					color: @c-main-blue;
				}

				&:before {
					font-family: "Font Awesome 5 Pro";
					display: none;
					margin-right: 6px;

					@media @w480 {
						display: inline-block;
					}
				}
			}

			&_reply:before {
				content: '\f4ad';
			}

			&_helpful:before {
				content: '\f164';
			}

			&_complain:before {
				content: '\f12a';
			}
		}
	}
}

.leave-comment {
	form {
		position: relative;
	}

	.author-avatar {
		display: none;
		position: absolute;
		top: 15px;
		left: 15px;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		padding: 2px;
		border: 2px solid @c-red;

		@media @w768 {
			display: inline-block;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}
	}

	textarea {
		width: 100%;
		display: flex;
		align-items: center;
		overflow: auto;
		resize: none;
		padding: 15px;
		border-radius: 4px;
		border: 1px solid @c-grey;
		outline: none;
		color: @c-main-blue;
		line-height: 20px;
		transition: padding 150ms ease;
		font-size: 14px;

		@media @w768 {
			padding: 15px 15px 15px 75px;
			min-height: 75px;

			&:placeholder-shown {
				padding: 28px 15px 25px 75px;
			}
		}

		&::-webkit-input-placeholder {
			color: @c-second-blue;
			transition: color, 150ms ease-in-out;
			font-size: 13.3333px;
		}
		&::-moz-placeholder {
			color: @c-second-blue;
			transition: color, 150ms ease-in-out;
			font-size: 13.3333px;
		}
		&:-moz-placeholder {
			color: @c-second-blue;
			transition: color, 150ms ease-in-out;
			font-size: 13.3333px;
		}
		&:-ms-input-placeholder {
			color: @c-second-blue;
			transition: color, 150ms ease-in-out;
			font-size: 13.3333px;
		}

		&:focus {
			&::-webkit-input-placeholder {
				color: transparent;
			}
			&::-moz-placeholder {
				color: transparent;
			}
			&:-moz-placeholder {
				color: transparent;
			}
			&:-ms-input-placeholder {
				color: transparent;
			}
		}
	}

	button {
		border: none;
	}
}