@import "_core/__mediaQ";
@import "_core/variables";

.org {
	&__main-img {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			//background: fade(@c-main-blue, 30%);
			z-index: 2;
		}

		&-container {
			position: relative;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}

		&-content {
			padding: 0 15px;

			@media @w480 {
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				padding: 0;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				z-index: 3;
			}

			@media @w1200 {
				top: 25px;
				left: 25px;
				right: 25px;
				bottom: 25px;
			}

			.top {
				margin-top: 15px;
				text-align: center;

				@media @w480 {
					margin-top: 0;
					display: flex;
					justify-content: space-between;
				}
			}

			.bottom {
				display: none;

				@media @w480 {
					display: block;
					margin-top: 0;
					text-align: right;
				}
			}
		}
	}

	&__back-button {
		display: none;

		@media @w480 {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			font-size: 10px;
			background: @c-grey;
			color: @c-main-blue;
		}

		@media @w768 {
			width: auto;
			background: transparent;
			color: @c-white;
		}

		span {
			display: none;

			@media @w768 {
				display: inline;
				margin-left: 10px;
			}

			@media @w992 {
				font-size: 12px;
			}
		}
	}

	&__short {
		position: relative;
		padding: 15px;
		border-bottom: 1px solid @c-grey;

		@media @w1200 {
			padding: 25px;
		}

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-content {
			position: relative;
			z-index: 1;
		}

		&-info {
			display: flex;
		}

		&-info-content {
			@media @w480 {
				flex: 1;
				margin-left: 15px;
			}
		}

		&-img {
			display: none;

			@media @w480 {
				display: block;
				width: 60px;
				height: 60px;
				background: @c-main-blue;
				border: 2px solid @c-main-blue;
				border-radius: 4px;
			}

			@media @w992 {
				width: 70px;
				height: 70px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-title {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			h1 {
				display: inline-block;
				font-size: 18px;
				color: @c-main-blue;
				margin-right: 5px;
				line-height: 1.15em;

				@media @w480 {
					line-height: 1.25em;
				}

				@media @w992 {
					font-size: 20px;
				}
			}
		}

		&-rating {
			display: inline-flex;
			align-items: center;
			color: @c-second-blue;
			font-size: 12px;

			.lbl {
				margin-right: 5px;
			}
		}

		&-location {
			display: inline-block;
			color: @c-second-blue;
			font-size: 12px;
			margin-top: 10px;

			@media @w480 {
				margin-top: 5px;
			}
		}
	}

	&__tabs-nav {
		padding: 20px 15px;
		border-bottom: 1px solid @c-grey;
		user-select: none;
		overflow: hidden;

		@media @w1200 {
			padding: 20px 25px;
		}

		a {
			display: inline-block;
			font-weight: 700;
			font-size: 13px;
			margin: 0 8px;
			color: @c-second-blue;
			cursor: pointer;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&.current {
				color: @c-main-blue;
			}
		}

		&-list {
			width: 100%;
			white-space: nowrap;
			outline: none;
		}

		.scroll-pane {
			height: 25px;
		}

		.jspHorizontalBar {
			height: 3px;
		}
	}

	&__tabs {
		font-size: 14px;
		color: @c-main-blue;

		.lSSlideOuter {
			user-select: auto;
		}
	}

	&__tab {
		overflow: hidden;
	}

	&__map {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&__advantages {
		&-list {
			@media only screen and(min-width: 480px) {
				display: flex;
				flex-wrap: wrap;
			}

			li {
				font-size: 14px;
				color: @c-second-blue;
				display: inline;

				@media only screen and(min-width: 480px) {
					display: inline-flex;
					width: 50%;


					&:before {
						font-family: 'Font Awesome 5 Pro';
						content: '\f00c';
						color: @c-red;
						margin-right: 8px;
					}

					&:after {
						display: none;
					}
				}

				@media only screen and(min-width: 560px) {
					width: calc(~"100% / 3");
				}

				@media @w992 {
					width: 25%;
				}

				@media @w1200 {
					width: calc(~"100% / 5");
				}

				//@media @w1400 {
				//	width: calc(~"100% / 6");
				//}

				&:after {
					content: ',';
				}

				&:last-child:after {
					display: none;
				}
			}
		}
	}

	&__rating {
		&-user {
			text-align: center;
			font-size: 14px;
			font-weight: 700;
			color: @c-main-blue;
		}
	}
}

.organizations-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 7.5px;

	@media @w1200 {
		padding: 0 12.5px;
	}

	.organization {
		margin: 0 7.5px 15px;

		@media @w480 {
			width: calc(~"50% - 15px");
		}

		@media @w992 {
			width: calc(~"(100% / 3) - 15px");
		}

		@media @w1200 {
			margin: 0 12.5px 25px;
			width: calc(~"(100% / 3) - 25px");
		}

		//@media @w1600 {
		//	width: calc(~"25% - 25px");
		//}
	}
}

.organization {
	height: 180px;
	overflow: hidden;
	border-radius: 5px;
	position: relative;

	&__more-button {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px dashed @c-grey;
		color: @c-main-blue;
		font-weight: 700;
		cursor: pointer;
	}

	&__image {
		width: 100%;
		height: 100%;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: fade(@c-main-blue, 40%);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__header, &__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		left: 15px;
		right: 15px;
	}

	&__header {
		top: 15px;
		z-index: 1;
		pointer-events: none;
	}

	&__footer {
		bottom: 15px;
		pointer-events: none;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__buttons {
		pointer-events: all;
		display: flex;
		align-items: center;
	}

	&__button {
		display: inline-block;
		margin: 0 5px;
		color: @c-grey;
		font-size: 13px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__title {
		text-align: center;
		color: @c-grey;
		font-weight: 700;
		font-size: 18px;

		@media @w480 {
			font-size: 16px;
		}

		@media @w1200 {
			font-size: 18px;
		}
	}

	&__address {
		color: @c-grey;
		font-size: 12px;
		display: inline-flex;
		align-items: center;

		i {
			margin-right: 5px;
		}
	}

	&__status {
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: @c-red;

		&.active {
			background: @c-green;
		}
	}
}

.oc-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
	padding-right: 15px;

	@media @w480 {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}

	@media @w1200 {
		padding-left: 12.5px;
		padding-right: 12.5px;
	}

	.oc {
		margin-bottom: 15px;

		@media @w480 {
			margin: 0 7.5px 15px;
			width: calc(~"50% - 15px");
		}

		@media @w992 {
			width: calc(~"(100% / 3) - 15px");
		}

		@media @w1200 {
			margin: 0 12.5px 25px;
			width: calc(~"(100% / 3) - 25px");
		}

		//@media @w1400 {
		//	width: calc(~"25% - 25px");
		//}
	}
}

.oc {
	width: 100%;
	height: 110px;
	border-radius: 4px;
	border: 1px solid @c-grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	background-position: center;
	position: relative;
	transition: all 300ms ease;

	&.active {
		background-color: @c-red;
		border-color: @c-red;
		border-radius: 4px 4px 0 0;

		&:hover, &:focus {
			.oc__title {
				color: @c-white;
			}
		}

		.oc__title, .oc__count, .oc__btn {
			color: @c-white;
		}

		.oc__btn {
			background: @c-white;
			border-color: @c-red;
			color: @c-red;
			transform: rotate(180deg);
		}

		.oc__subcategories {
			opacity: 1;
			z-index: 10;
			pointer-events: all;
			transform: scale(1);
		}
	}

	&__content {
		flex: 1;
		user-select: none;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: transparent;

		&:hover, &:focus {
			.oc__title {
				color: @c-blue-dark;
			}
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background: @c-white;
		border: 1px solid @c-second-blue;
		color: @c-second-blue;
		font-size: 13px;
		transition: all 300ms ease;
		cursor: pointer;

		@media @w1200 {
			width: 33px;
			height: 33px;
			font-size: 14px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		color: @c-main-blue;
		line-height: 1.2em;
		transition: color 300ms ease;
	}

	&__count {
		margin-top: 3px;
		font-size: 12px;
		color: @c-second-blue;
		transition: color 300ms ease;
	}

	&__subcategories {
		background: @c-red;
		position: absolute;
		top: 100%;
		left: -1px;
		right: -1px;
		margin-top: 1px;
		font-size: 14px;
		padding: 15px;
		border-radius: 0 0 4px 4px;
		opacity: 0;
		z-index: 1;
		transition: all 300ms ease;
		pointer-events: none;
		//transform: translateY(20px);
		transform: scale(0);

		li {
			margin: 8px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			display: flex;
			align-items: baseline;
			color: @c-white;

			&:hover, &:focus {
				&:before {
					color: @c-white;
				}
			}

			&:before {
				font-size: 12px;
				font-family: "Font Awesome 5 Pro";
				content: '\F105';
				margin-right: 6px;
				color: fade(@c-white, 25%);
				transition: color 150ms ease;
			}
		}
	}
}