@import "_core/__mediaQ";
@import "_core/variables";

.static-page {
	&__figure {
		width: 100%;
		height: 0;
		padding-bottom: 25.64102564102564%;
		background: @c-main-blue;
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		color: @c-main-blue;
		line-height: 1.4em;

		&-container {
			@media @w768 {
				display: flex;
			}
		}
	}

	@media @w768 {
		&__left {
			width: 40%;
		}

		&__right {
			width: 60%;
			margin-left: 15px;
		}
	}

	@media @w1200 {
		&__right {
			margin-left: 25px;
		}
	}

	//@media @w1400 {
	//	&__left {
	//		width: 30%;
	//	}
	//
	//	&__right {
	//		width: 70%;
	//	}
	//}

	&__main-content {
		margin-top: 25px;
		font-size: 14px;

		@media @w768 {
			margin-top: 0;
		}

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			font-weight: 700;
			color: @c-link-blue;
		}
	}

	&__title {
		line-height: 1.2em;
		font-size: 24px;
		margin-bottom: 10px;

		@media @w768 {
			font-size: 30px;
			margin-bottom: 15px;
		}
	}

	h2, h3 {
		line-height: 1.2em;
		font-size: 18px;
		margin: 15px 0;

		@media @w768 {
			&:first-child {
				margin-top: 0;
			}
		}

		a {
			color: @c-main-blue;
		}
	}

	h3 {
		font-size: 14px;
	}

	&__description {
		font-size: 16px;
	}

	&__footer {
		a {
			display: inline-block;
			margin: 0 5px;
			font-size: 12px;
			font-weight: 700;
			color: @c-link-blue;

			@media @w1200 {
				margin: 0 10px;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}