@import "../../core/variables";

.advert-single {
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
	border-bottom: 1px solid $c-grey;

	@include w992 {
		flex-direction: row;
	}

	&__left {
		order: 1;
		margin-top: 15px;

		@include w992 {
			order: 0;
			width: calc((100% - 30px) / 3);
			margin-right: 15px;
			margin-top: 0;
		}

		@include w1200 {
			width: calc((100%  - 50px) / 3);
			margin-right: 25px;
		}
	}

	&__images {
		display: flex;
		flex-wrap: wrap;
		margin-left: -7.5px;
		margin-right: -7.5px;
		margin-bottom: -15px;

		@include w1200 {
			margin-left: -10px;
			margin-right: -10px;
			margin-bottom: -20px;
		}

		&-item {
			width: calc(50% - 15px);
			margin-left: 7.5px;
			margin-right: 7.5px;
			margin-bottom: 15px;

			@include w480 {
				width: calc(25% - 15px);
			}

			@include w992 {
				width: calc((100% / 3) - 15px);

				&:first-child {
					width: 100%;
				}
			}

			@include w1200 {
				width: calc((100% / 3) - 20px);
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 20px;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			position: relative;
			background: $c-grey-light;
			border-radius: 4px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}

	&__buttons {
		@include w480 {
			display: flex;
		}

		@include w992 {
			display: block;
		}

		&-item {
			display: block;
			margin-bottom: 10px;
			color: $c-white;
			text-align: center;
			font-size: 12px;
			padding: 10px;
			border-radius: 4px;
			border: 1px solid;
			transition: 300ms ease;
			cursor: pointer;
			position: relative;

			@include w480 {
				margin-bottom: 0;
				margin-right: 15px;
				flex: 1;
			}

			@include w992 {
				margin-bottom: 15px;
				margin-right: 0;
			}

			@include w1200 {
				margin-bottom: 15px;
				padding: 15px 10px;
			}

			&:last-child {
				margin-bottom: 0;
				margin-right: 0;
			}

			&.email {
				color: $c-second-blue;

				&:hover, &:focus {
					color: $c-main-blue;
				}
			}

			&.phone {
				background: $c-red;
				border-color: $c-red;

				&:hover, &:focus {
					background: lighten($c-red, 10%);
				}
			}
		}
	}

	&__right {
		order: 0;

		@include w992 {
			order: 1;
			flex: 2;
		}
	}

	&__title {
		font-size: 20px;
		line-height: 1.3em;
		margin-bottom: 5px;

		@include w1200 {
			font-size: 24px;
		}
	}

	&__price {
		font-size: 18px;
		font-weight: 700;
		color: $c-second-blue;

		@include w1200 {
			font-size: 22px;
		}
	}

	&__author {
		margin: 15px 0;
		padding: 15px 0;
		border-top: 1px solid $c-grey;
		border-bottom: 1px solid $c-grey;
	}

	&__description {
		font-size: 14px;
	}

	&__social-buttons {
		margin-top: 15px;
	}

	&__footer {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid $c-grey;
	}
}