@import "../../core/variables";
@import "../../components/media-content";

.article-slider {
	overflow: hidden;

	.slider-img {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 56.25%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background: $c-main-blue;
		}
	}

	.lSSlideOuter .lSPager.lSpg {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 16px;
		padding-top: 5px;

		li {
			display: inline-flex;
			align-items: center;
			margin-bottom: 0;

			&:before {
				content: none;
			}

			a {
				width: 7px;
				height: 7px;
				background-color: $c-second-blue;
				border-radius: 50%;
				transition: width 150ms ease, height 150ms ease, background-color 150ms ease;
			}

			&.active {
				a {
					background-color: $c-main-blue;
				}
			}
		}
	}

	.lSPrev, .lSNext {
		display: flex;
		opacity: 1;
		background: rgba($c-main-blue, 0.5);
		border: 1px solid rgba($c-white, 0.7);
		color: rgba($c-white, 0.7);
		align-items: center;
		justify-content: center;
		font-size: 14px;
		border-radius: 50%;
		transition: border-color 150ms ease, color 150ms ease;
		width: 24px;
		height: 24px;
		margin-top: -12px;

		@include w480 {
			width: 32px;
			height: 32px;
			margin-top: -16px;
		}

		&:hover, &:focus {
			color: $c-white;
			border-color: $c-white;
		}
	}

	.lSAction > .lSNext {
		right: 15px;

		@include w480 {
			right: 25px;
		}

		i {
			margin: 2px -2px 0 0;
		}
	}

	.lSAction > .lSPrev {
		left: 15px;

		@include w480 {
			left: 25px;
		}

		i {
			margin: 2px 0 0 -1px;
		}
	}
}

.article-single {
	border-bottom: 1px solid $c-grey;

	&__header {
		padding: 15px 0;
		margin: 0 15px;
		border-bottom: 1px solid $c-grey;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__author {
		margin-right: 15px;

		@media only screen and(min-width: 560px) {
			display: flex;
			align-items: center;
		}

		&-avatar {
			display: none;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			padding: 2px;
			border: 2px solid $c-red;

			@media only screen and(min-width: 560px) {
				display: block;
				margin-right: 10px;
			}

			@include w992 {
				display: flex;
				align-items: center;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&-name {
			font-size: 12px;
			font-weight: 700;
			color: $c-main-blue;

			@include w992 {
				font-size: 14px;
			}

			a {
				color: $c-main-blue;
			}
		}

		&-role {
			font-size: 10px;
			color: $c-second-blue;

			@include w992 {
				font-size: 12px;
			}
		}
	}

	&__information {
		text-align: center;
		font-size: 10px;
		display: flex;
		align-items: center;

		@include w480 {
			margin: 0;
			text-align: right;
		}

		@include w992 {
			display: flex;
			align-items: center;
			font-size: 12px;
		}

		&-datetime {
			color: $c-second-blue;
			text-align: right;
			margin-right: 5px;

			@include w480 {
				margin-right: 10px;
			}

			span {
				display: block;

				@media only screen and(min-width: 560px) {
					display: inline;
				}

				&:first-child:after {
					@media only screen and(min-width: 560px) {
						content: ' -';
					}
				}
			}
		}

		&-labels {
			display: flex;
			align-items: center;
			justify-content: center;

			@include w992 {
				margin: 0 0 0 10px;
			}
		}

		&-category {
			display: none;

			@include w480 {
				display: flex;
			}
		}
	}

	&__content {
		padding: 15px;

		@include w1200 {
			padding: 25px;
		}

		div.article-single__content-source {
			font-size: 12px;
			color: $c-second-blue;
			margin-bottom: 10px;

			@include w1200 {
				margin-bottom: 15px;
			}

			a {
				color: $c-link-blue;

				&:hover, &:focus {
					color: $c-main-blue;
				}
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}