@import "../../core/variables";

.leave-comment {
	&__title {
		.section-title__second-text {
			display: inline-flex;
			align-items: center;

			i {
				margin-left: 10px;
				font-size: 14px;
			}
		}
	}

	form {
		position: relative;
	}

	.author-avatar {
		display: none;
		position: absolute;
		top: 15px;
		left: 15px;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		padding: 2px;
		border: 2px solid $c-red;

		@include w480 {
			display: inline-block;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}
	}

	textarea {
		width: 100%;
		display: flex;
		align-items: center;
		overflow: auto;
		resize: none;
		padding: 15px;
		border-radius: 4px;
		border: 1px solid $c-grey;
		outline: none;
		color: $c-main-blue;
		line-height: 20px;
		transition: padding 150ms ease;
		font-size: 14px;
		min-height: 100px;

		@include w480 {
			padding: 28px 15px 15px 75px;
			min-height: 75px;
		}

		&::-webkit-input-placeholder {
			color: $c-second-blue;
			transition: color, 150ms ease-in-out;
			font-size: 13.3333px;
		}

		&::-moz-placeholder {
			color: $c-second-blue;
			transition: color, 150ms ease-in-out;
			font-size: 13.3333px;
		}

		&:-moz-placeholder {
			color: $c-second-blue;
			transition: color, 150ms ease-in-out;
			font-size: 13.3333px;
		}

		&:-ms-input-placeholder {
			color: $c-second-blue;
			transition: color, 150ms ease-in-out;
			font-size: 13.3333px;
		}

		&:focus {
			&::-webkit-input-placeholder {
				color: transparent;
			}

			&::-moz-placeholder {
				color: transparent;
			}

			&:-moz-placeholder {
				color: transparent;
			}

			&:-ms-input-placeholder {
				color: transparent;
			}
		}
	}

	button {
		border: none;
	}

	&__footer {
		text-align: right;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.with-rating {
			display: block;

			@include w480 {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			.leave-comment__footer-interactions {
				flex: 1;
				display: flex;
				justify-content: space-between;
				margin-right: 0;
				margin-bottom: 15px;

				@include w480 {
					margin-bottom: 0;
					margin-right: 15px;
				}

				@include w1200 {
					margin-right: 25px;
				}
			}
		}

		&-interactions {
			flex: 1;
			margin-right: 15px;

			@include w1200 {
				margin-right: 25px;
			}
		}
	}

	&__rating {
		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: flex-start;

		@media only screen and(min-width: 360px) {
			flex-direction: row;
			align-items: baseline;
		}

		&-title {
			color: $c-second-blue;
			display: inline-block;
			margin-bottom: 5px;

			@media only screen and(min-width: 360px) {
				margin: 0 10px 0 0;
			}
		}
	}

	&__anonymous {
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		input {
			display: none;
		}

		input:checked + &-marker {
			i {
				color: $c-white;
			}
		}

		&-marker {
			width: 15px;
			height: 15px;
			border-radius: 2px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 7px;
			border: 2px solid $c-red;
			background: $c-red;
			color: $c-white;
			margin-right: 5px;
			transition: 150ms ease;

			@include w1200 {
				margin-right: 7px;
			}

			i {
				color: transparent;
				transition: 150ms ease;
			}
		}

		&-marker + span {
			color: $c-second-blue;
			user-select: none;
		}
	}
}

.rating {
	display: inline-flex;

	&--form {
		direction: rtl;
		unicode-bidi: bidi-override;

		.rating__item:hover, .rating__item:hover ~ .rating__item {
			color: $c-red;
		}

		.rating__item {
			cursor: pointer;

			&:first-child {
				padding-right: 0;
				padding-left: 2px;
			}

			&:last-child {
				padding-left: 0;
				padding-right: 2px;
			}
		}
	}

	&__item {
		display: inline-flex;
		font-size: 10px;
		color: $c-second-blue;
		transition: all 150ms ease;
		padding: 0 2px;

		@include w992 {
			font-size: 12px;
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&.active {
			color: $c-red;
		}

		input[type="radio"] {
			display: none;
		}
	}
}