@import "../../core/variables";

.comment {
	padding-bottom: 10px;
	border-bottom: 1px solid $c-grey;
	margin-bottom: 10px;

	@include w480 {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	&:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}

	&.answer {
		padding-left: 20px;

		@include w480 {
			padding-left: 40px;
		}

		@include w768 {
			padding-left: 50px;
		}
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;

		@include w768 {
			margin-bottom: 15px;
		}
	}

	&-buttons {
		$var: 25px;
		display: flex;
		align-items: center;

		&__useful {
			font-size: 12px;
			color: $c-red
		}

		.comment-link-button {
			font-size: 12px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: $var;
			color: $c-second-blue;
			margin-left: 10px;
			cursor: pointer;

			@include w480 {
				margin-left: 15px;
			}

			&:hover, &:focus {
				color: $c-main-blue;
			}
		}

		.comment-controls {
			margin-left: 10px;

			@include w480 {
				margin-left: 15px;
			}

			i {
				color: $c-second-blue;
				font-size: 18px;
				position: relative;
				transition: color 150ms ease;

				&:hover {
					color: $c-main-blue;
				}
			}
		}
	}

	&-information {
		@include w480 {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&-author {
		&__avatar {
			display: none;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			padding: 2px;
			border: 2px solid #F03539;
			margin-right: 15px;

			@include w480 {
				display: inline-block;
			}

			@include w992 {
				width: 65px;
				height: 65px;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&__name {
			font-size: 14px;
			line-height: 14px;
			font-weight: 700;
			color: $c-main-blue;

			&.selected {
				color: $c-red;
			}
		}

		&__rating {
			color: $c-red;
			font-size: 10px;

			@include w992 {
				font-size: 12px;
			}
		}
	}

	&-datetime {
		display: block;
		font-size: 12px;
		color: $c-second-blue;
		margin-bottom: 5px;
	}

	&-body {
		font-size: 14px;
		line-height: 20px;
		color: $c-main-blue;
	}

	&-footer {
		font-size: 12px;
		margin-top: 10px;

		@include w768 {
			margin-top: 15px;
		}

		.comment-action {
			display: inline-flex;

			&_reply, &_helpful, &_complain {
				color: $c-second-blue;
				margin: 0 5px;

				@include w480 {
					margin: 0 7.5px;
				}

				&:first-child {
					margin-left: 0;
				}

				&:hover, &:focus {
					color: $c-main-blue;
				}

				&:before {
					font-family: "Font Awesome 5 Pro";
					display: none;
					margin-right: 6px;

					@include w480 {
						display: inline-block;
					}
				}

				&.active {
					color: $c-green;
				}
			}

			&_reply:before {
				content: '\f4ad';
			}

			&_helpful:before {
				content: '\f164';
			}

			&_complain:before {
				content: '\f12a';
			}
		}
	}
}