@import "../../core/variables";

.org {
	&__tabs {
		font-size: 14px;
		color: $c-main-blue;

		.lSSlideOuter {
			user-select: auto;
		}
	}

	&__tab {
		overflow: hidden;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 0.1px;
		}
	}

	&__map {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
		background: $c-grey-light;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&__advantages {
		&-list {
			@media only screen and(min-width: 480px) {
				display: flex;
				flex-wrap: wrap;
			}

			li {
				font-size: 14px;
				color: $c-second-blue;
				display: inline;

				@media only screen and(min-width: 480px) {
					display: inline-flex;
					width: 50%;

					&:before {
						font-family: 'Font Awesome 5 Pro';
						content: '\f00c';
						color: $c-red;
						margin-right: 8px;
					}

					&:after {
						display: none;
					}
				}

				@media only screen and(min-width: 560px) {
					width: calc(100% / 3);
				}

				@include w992 {
					width: 25%;
				}

				@include w1200 {
					width: calc(100% / 5);
				}

				&:after {
					content: ',';
				}

				&:last-child:after {
					display: none;
				}
			}
		}
	}
}

.organization-single {
	&__image {
		position: relative;

		&-content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			&--top, &--bottom {
				position: absolute;
				left: 0;
				right: 0;
				padding: 15px;

				@include w1200 {
					padding: 25px;
				}
			}

			&--top {
				top: 0;
				display: flex;
			}

			&--bottom {
				display: block;
				text-align: right;
				bottom: 0;
			}
		}
	}

	&__navigation {
		padding: 0;
		border-bottom: 1px solid $c-grey;
		user-select: none;
		overflow: hidden;

		&-wrapper {
			width: 100%;
			height: 47px;
			white-space: nowrap;
			overflow: hidden;
			padding-bottom: 15px;
			position: relative;

			@include w1200 {
				height: 67px;
			}

			&:before, &:after {
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				content: '';
				width: 15px;
			}

			&:before {
				left: 0;
				background: linear-gradient(to right, $c-white, transparent);
			}

			&:after {
				right: 0;
				background: linear-gradient(to left, $c-white, transparent);
			}
		}

		&-list {
			display: flex;
			overflow-x: -moz-scrollbars-none;
			overflow-x: scroll;

			&::-webkit-scrollbar {
				width: 0;
			}

			&::-webkit-scrollbar-track-piece {
				background-color: transparent;
				-webkit-border-radius: 6px;
			}
		}

		&-item {
			padding-right: 15px;

			@include w1200 {
				padding-right: 25px;
			}

			&:first-child {
				padding-left: 15px;

				@include w1200 {
					padding-left: 25px;
				}
			}
		}

		&-link {
			display: inline-block;
			font-weight: 700;
			font-size: 13px;
			color: $c-second-blue;
			cursor: pointer;
			padding: 15px 0;
			box-sizing: border-box;
			position: relative;

			@include w1200 {
				padding: 25px 0;
			}

			&.active {
				color: $c-main-blue;

				&:after {
					background: $c-red;
				}
			}

			&:after {
				background: transparent;
				width: 100%;
				height: 2px;
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				transition: background-color 150ms ease;
			}

			&:hover, &:focus {
				color: $c-main-blue;
			}
		}
	}

	&__info {
		@include w992 {
			display: flex;
			align-items: flex-start;
		}

		&-left {
			@include w480 {
				display: flex;
				flex-wrap: wrap;
				margin: 0 -7.5px;
			}

			@include w992 {
				flex: 2;
				margin-bottom: -15px;
			}

			@include w1200 {
				margin: 0 -12.5px;
				margin-bottom: -25px;
			}
		}

		&-right {
			@include w992 {
				flex: 1;
				margin-left: 15px;
			}
		}

		&-item {
			margin-bottom: 15px;

			@include w480 {
				width: calc(50% - 15px);
				margin: 0 7.5px 15px;
			}

			@include w1200 {
				width: calc(50% - 25px);
				margin: 0 12.5px 25px;
			}
		}

		&--schedule-marker {
			font-size: 12px;
			position: relative;
			padding-left: 10px;

			&:before {
				left: 0;
				content: '';
				display: inline-block;
				width: 4px;
				height: 4px;
				position: absolute;
				top: 50%;
				border-radius: 50%;
				margin-top: -2px;
			}

			&.open {
				color: $c-green;

				&:before {
					background: $c-green;
				}
			}

			&.closed {
				color: $c-red;

				&:before {
					background: $c-red;
				}
			}
		}
	}

	&__rating {
		font-size: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-left {
			display: flex;
			align-items: center;
		}

		&-right {
			display: flex;
			align-items: center;

			span {
				display: none;
				margin-right: 10px;
				color: $c-second-blue;

				@include w480 {
					display: inline-block;
				}
			}
		}

		&-avatars {
			display: none;
			margin-right: 10px;

			@media only screen and(min-width: 560px) {
				display: flex;
			}
		}

		&-avatar {
			width: 30px;
			height: 30px;
			border: 2px solid $c-white;
			border-radius: 50%;
			overflow: hidden;
			margin-left: -8px;
			background: $c-second-blue;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $c-white;
			font-size: 11px;

			@include w992 {
				border-width: 3px;
				width: 38px;
				height: 38px;
				font-size: 12px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		&-votes {
			font-weight: 700;
			color: $c-main-blue;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}