@import "../../core/variables";
@import "../../components/media-content";

.poll {
	padding: 15px;
	border: 1px solid $c-grey;
	border-radius: 4px;
	color: $c-main-blue;
	position: relative;

	@include w992 {
		padding: 25px 35px;
	}

	&:before {
		font-family: "Font Awesome 5 Pro";
		display: none;
		content: '\f128';
		color: $c-grey;
		position: absolute;
		right: 35px;
		bottom: 35px;
		font-size: 85px;
		line-height: normal;

		@include w992 {
			//display: block;
		}
	}

	h3.poll__title {
		text-align: center;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 700;

		@include w480 {
			text-align: left;
		}

		@include w992 {
			font-size: 18px;
			margin-bottom: 25px;
		}
	}

	&__form {
		&-answer {
			margin-bottom: 10px;

			label {
				display: inline-flex;
				align-items: center;
				cursor: pointer;
				font-size: 14px;

				input[type="radio"] {
					display: none;
				}

				input[type="radio"]:checked + .marker:before {
					background: $c-red;
				}

				.marker {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					min-width: 16px;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					border: 1px solid $c-red;
					margin-right: 10px;

					&:before {
						content: '';
						display: inline-block;
						width: 8px;
						height: 8px;
						background: $c-white;
						border-radius: 50%;
						transition: background-color 150ms ease;
					}
				}
			}
		}
	}

	&__results {
		@include w992 {
			width: 70%;
		}

		@include w1200 {
			width: 60%;
		}

		&-answer {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-title {
			font-size: 14px;
		}

		&-stripe {
			display: flex;
			align-items: center;

			div {
				margin-top: 1px;
				display: inline-block;
				min-width: 8px;
				height: 8px;
				background: $c-red;
				border-radius: 10px;
			}

			span {
				margin-left: 5px;
				flex: 1;
				font-size: 12px;
				color: $c-second-blue;
				white-space: nowrap;
			}
		}
	}

	.buttons-container {
		text-align: center;
		margin-top: 15px;

		@media only screen and(min-width: 400px) {
			text-align: left;
		}

		@include w1200 {
			margin-top: 20px;
		}

		button, a.btn {
			border: none;
			margin-right: 5px;
			transition: 300ms ease;

			@include w992 {
				margin-right: 15px;
			}
		}

		a.btn {
			&.btn-red {
				color: $c-white;
			}
		}

		span {
			display: block;
			margin-top: 10px;
			font-size: 12px;
			color: $c-second-blue;

			@media only screen and(min-width: 400px) {
				display: inline;
				margin-top: 0;
			}
		}
	}
}
